.pop-up-item {
  .pop-up-item-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bfbfbf;
    color: #1890ff;

    i {
      font-size: 36px;
      cursor: pointer;
    }
  }
}
