<div class="card-container">
  <nz-tabset
    *ngIf="!loading"
    [nzSelectedIndex]="selectedTabIndex"
    [nzTabPosition]="'top'"
    [nzType]="'card'"
    class="tabs-main-component">
    <ng-container *ngFor="let wsIdentifier of data | keys;let k= index;">
      <ng-template #titleTemplate>
        <ng-container
          [ngTemplateOutlet]="tabTitle"
          [ngTemplateOutletContext]="{
            title: data[wsIdentifier]?.cedantName,
            workspaceName: data[wsIdentifier]?.workspaceName,
            workSpaceId: data[wsIdentifier]?.wsId,
            year: data[wsIdentifier]?.uwYear,
            years: data[wsIdentifier]?.years
          }"
        ></ng-container>
      </ng-template>

      <nz-tab (nzSelect)="selectWorkspace(wsIdentifier,k)" [nzTitle]="titleTemplate">
        <div nz-row>
          <div nz-col nzSpan="24">
            <div class="row tab-detail p-2 header-tab-wrapper">
              <div class="detail-wrapper">
                <button (click)="patchWorkspaceDetail(wsIdentifier)"
                        class="mx-4 btn-detail d-flex justify-content-center align-items-center"
                        nz-button nzType="primary" nzSize="default" nzShape="circle">
                  <i *ngIf="data[wsIdentifier]?.collapseWorkspaceDetail" nz-icon style="color: #16617a;font-size: 14px;"
                     type="down"
                     theme="outline"></i>
                  <i *ngIf="!data[wsIdentifier]?.collapseWorkspaceDetail" nz-icon
                     style="color: #16617a;font-size: 14px;" type="up"
                     theme="outline"></i>
                </button>
                <span *ngIf="data[wsIdentifier]?.collapseWorkspaceDetail" class="span-detail">Detail</span>
                <span *ngIf="!data[wsIdentifier]?.collapseWorkspaceDetail" class="span-detail">Hide</span>
              </div>
              <div style="display: flex; flex: 1;">
                <div class="workspace-title-wrapper">
                  <div class="d-inline-flex flex-column">
                    <h3 class="workspace-title"
                        [ngClass]="{'fac-title': data[wsIdentifier]?.workspaceType === 'fac'}">
                      {{data[wsIdentifier]?.cedantName}}
                      <i (click)="toggleFavorite(wsIdentifier, data[wsIdentifier])"
                         *ngIf="!data[wsIdentifier].isFavorite; else favoriteIcon" class="icon-star_border_24px"></i>
                      <ng-template #favoriteIcon>
                        <i (click)="toggleFavorite(wsIdentifier, data[wsIdentifier])" class="icon-star_24px"></i>
                      </ng-template>
                    </h3>
                    <h4 class="workspace-title" [ngClass]="{'fac-title': data[wsIdentifier]?.workspaceType === 'fac'}">
                      {{data[wsIdentifier]?.workspaceName}} | {{data[wsIdentifier]?.uwYear}} | {{data[wsIdentifier]?.wsId}}
                    </h4>
                    <span style="display: flex; align-items: center" *ngIf="data[wsIdentifier]?.workspaceType === 'fac'">
                      <span [ngClass]="{'fac-title': data[wsIdentifier]?.workspaceType === 'fac'}"
                            class="tab-metadata-title">Selected Project:</span>
                      <span>
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown>
                            <span class="d-flex align-items-center">
                              <span class="dropdown-project-style">
                                <ng-container *ngIf="filterSelected()?.projectType === 'fac'">
                                  {{filterSelected()?.id | trimFormat}} [{{filterSelected()?.projectId | trimSecondaryFormat}}] - {{filterSelected()?.carStatus}}
                                </ng-container>
                                <ng-container *ngIf="filterSelected()?.projectType === 'treaty'">
                                  {{filterSelected()?.name}} [{{filterSelected()?.projectId | trimSecondaryFormat}}] - Manual
                                </ng-container>
                              </span>
                              <span class="d-flex">
                                 <i class="pl-3 drop-icon" *ngIf="filterListProject().length > 0"
                                    style="font-size: 12px; margin: 0 !important;" nz-icon type="down"></i>
                              </span>
                            </span>
                          </a>
                          <ul style="padding:0" *ngIf="filterListProject().length > 0 && data[wsIdentifier]?.workspaceType === 'fac'" nz-menu>
                            <li (click)="selectProject(item.id)" *ngFor="let item of filterListProject()" nz-menu-item>
                              <ng-container *ngIf="item.projectType === 'fac'">
                                {{item?.id | trimFormat}} [{{item?.projectId | trimSecondaryFormat}}] - {{item?.carStatus}}
                              </ng-container>
                              <ng-container *ngIf="item.projectType === 'treaty'">
                                {{item?.name}} [{{item?.projectId | trimSecondaryFormat}}] - Manual
                              </ng-container>
                            </li>
                          </ul>
                        </nz-dropdown>
                      </span>
                    </span>
                  </div>
                </div>
                <div [ngClass]="{'collapse':!data[wsIdentifier]?.collapseWorkspaceDetail}" class="header-tab-right">
                  <div nzTitle="Scope" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-location_searching_24px mb-2"></i>
                    <span><b>4/6</b></span>
                  </div>
                  <div nzTitle="Exposures" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-adjust-half mb-2"></i>
                    <span><b>1</b></span>
                  </div>
                  <div nzTitle="Qualifying PLTs" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-box mb-2"></i>
                    <span><b>3</b></span>
                  </div>
                  <div nzTitle="Published For Pricing" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-note mb-2"></i>
                    <span><b>2</b></span>
                  </div>
                  <div nzTitle="Priced" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-dollar-alt mb-2"></i>
                    <span><b>2</b></span>
                  </div>
                  <div nzTitle="Published For Accumulation" nzPlacement="bottom" nz-tooltip
                       class="text-center my-2 px-4 d-inline-flex flex-column">
                    <i style="font-size: 1.6em" class="icon-focus-add mb-2"></i>
                    <span><b>0</b></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="{'collapse':data[wsIdentifier]?.collapseWorkspaceDetail}" [nzSpan]="24" nz-col>
            <div class="row tab-detail p-2 pb-6" style="padding-bottom: 2rem !important;">

              <div class="col-md-12 col-lg-6 " style="padding-left: 65px; padding-right: 0;">
                <div nz-row class="pt-lg-5 pt-md-0" style="padding-top:0px !important;">
                  <div nz-col nz-row [nzSpan]="8">
                    <div class="row">
                      <span style="flex: 0 0 49.333333%;" class="col-7 tab-metadata-title">Subsidary :</span>
                      <span class="col-5 tab-metadata-value">{{data[wsIdentifier]?.subsidiaryId}}
                        - {{data[wsIdentifier]?.subsidiaryName}}</span>
                    </div>
                    <div class="row">
                      <span style="flex: 0 0 49.333333%;" class="col-7 tab-metadata-title">Subsidary Ledger :</span>
                      <span class="col-5 tab-metadata-value">{{data[wsIdentifier]?.subsidiaryLedgerId}}
                        - {{data[wsIdentifier]?.ledgerName}}</span>
                    </div>
                    <div class="row">
                        <span style="flex: 0 0 49.333333%;"
                              class="col-7 tab-metadata-title">Contract Source :</span>
                      <span class="col-5 tab-metadata-value">{{data[wsIdentifier]?.contractDatasource}}</span>
                    </div>
                  </div>
                  <div nz-col style="padding-left: 20px; border-left: 1px solid rgba(255,255,255,0.5);" nz-row
                       [nzSpan]="16">
                    <div style="display:flex;" nz-col [nzSpan]="8">
                      <i style="font-size: 1.6em;"
                         class="icon-calendar-alt mb-4"></i>
                      <div style="display:flex; flex-direction: column; padding-left: 15px;">
                        <span class="d-block tab-metadata-title">Inception Date :</span>
                        <span
                          class="d-block tab-metadata-value">{{data[wsIdentifier]?.inceptionDate | date:'dd/MM/yyyy'}}</span>
                        <span class="d-block tab-metadata-title">Expiry Date :</span>
                        <span
                          class="d-block tab-metadata-value">{{data[wsIdentifier]?.expiryDate | date:'dd/MM/yyyy'}}</span>
                      </div>
                    </div>
                    <div nz-col style="border-left: 1px solid rgba(255,255,255,0.5);" class="pl-3" *ngIf="data[wsIdentifier]?.workspaceType === 'treaty'" [nzSpan]="16">
                      <span style="line-height: 17px; padding-bottom: 4px;" class="d-block tab-metadata-title">Treaty Section :</span>
                      <ul class="treaty-list">
                        <li
                          *ngFor="let section of sliceContent(data[wsIdentifier]?.treatySections, state?.sliceValidator)">
                          {{section}}
                        </li>
                      </ul>
                      <ng-container *ngIf="data[wsIdentifier]?.treatySections?.length > 2">
                        <span (click)="patchSliceValue(false)" *ngIf="state?.sliceValidator" class="tab-metadata-more">See All</span>
                        <span (click)="patchSliceValue(true)" *ngIf="!state?.sliceValidator" class="tab-metadata-more">Hide</span>
                      </ng-container>
                    </div>
                    <div nz-col style="border-left: 1px solid rgba(255,255,255,0.5);" class="pl-3" *ngIf="data[wsIdentifier]?.workspaceType === 'fac'" [nzSpan]="16">
                      <span style="line-height: 17px; padding-bottom: 4px;" class="d-block tab-metadata-title">Division :</span>
                      <ul class="treaty-list">
                        <li *ngFor="let division of filterSelectedDivision()">
                          Division N°{{division}}
                        </li>
                      </ul>
                      <ng-container *ngIf="data[wsIdentifier]?.treatySections?.length > 2">
                        <span (click)="patchSliceValue(false)" *ngIf="state?.sliceValidator" class="tab-metadata-more">See All</span>
                        <span (click)="patchSliceValue(true)" *ngIf="!state?.sliceValidator" class="tab-metadata-more">Hide</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div class="pl-md-4 col-md-12 col-lg-6" style="margin-top: -60px;">
                <h5 class="tab-kpi-title">In Scope Region Perils</h5>
                <div class="d-flex">
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-location_searching_24px mb-3"></i>
                    <span style="flex:1;" class="d-flex align-items-start mb-1 kpi-icon-title">Region Perils</span>
                    <span class="kpi-icon-value">4/6</span>
                  </div>
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-adjust-half mb-3"></i>
                    <span style="flex:1;" class="d-flex align-items-start mb-1 kpi-icon-title">Exposures</span>
                    <span class="kpi-icon-value">1</span>
                  </div>
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-box mb-3"></i>
                    <span style="flex:1;" class="d-flex align-items-start mb-1 kpi-icon-title">Qualifying PLTs</span>
                    <span class="kpi-icon-value">3</span>
                  </div>
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-note mb-3"></i>
                    <span style="flex:1;"
                          class="d-flex align-items-start mb-1 kpi-icon-title">Published For Pricing</span>
                    <span class="kpi-icon-value">2</span>
                  </div>
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-dollar-alt mb-3"></i>
                    <span style="flex:1;" class="d-flex align-items-start mb-1 kpi-icon-title">Priced</span>
                    <span class="kpi-icon-value">1</span>
                  </div>
                  <div style="flex:1" class="d-inline-flex flex-column justify-content-end pl-md-3">
                    <i style="font-size: 1.6em" class="icon-focus-add mb-3"></i>
                    <span style="flex:1;" class="d-flex align-items-start mb-1 kpi-icon-title">Published For Accumulation</span>
                    <span class="kpi-icon-value">0</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div [nzSpan]="24" nz-col>
            <div style="display: flex">
              <workspace-router (action)="dispatch($event)"
                                [state]="{wsIdentifier: wsIdentifier , data: data[wsIdentifier]}"></workspace-router>
              <!-- <app-left-menu [isCollapsed]="data[wsIdentifier]?.leftNavbarCollapsed" (navigate)="leftMenuNavigation($event, data[wsIdentifier])" (toggleCollapse)="toggleLeftMenu(wsIdentifier)" ></app-left-menu>-->
              <!-- <router-outlet></router-outlet> -->
            </div>
          </div>
        </div>
      </nz-tab>
    </ng-container>
  </nz-tabset>
</div>

<ng-template
  let-title='title'
  let-name="workspaceName"
  let-workSpaceId="workSpaceId"
  let-year='year'
  let-years='years'
  #tabTitle>
  <div class="tab-title-container pl-3">
    <ng-container *ngIf="!loading">
      <div class="tab-title">
        <span class="tab-title-main">{{title}}</span>
        <span class="tab-title-sub" [nz-tooltip]="name" nzPlacement="bottom">{{name}}</span>
      </div>
      <nz-dropdown [nzTrigger]="'click'">
        <a nz-dropdown>
          <h6 class="d-flex align-items-center sub-title">
            {{year}}
            <i class="pl-3 drop-icon" *ngIf="generateYear(year, years, workSpaceId).length >0" nz-icon type="down"></i>
          </h6>
        </a>
        <ul style="padding:0" nz-menu>
          <li (click)="addWs(workSpaceId, y)" *ngFor="let y of generateYear(year, years, workSpaceId)"
              nz-menu-item>{{y}}</li>
        </ul>
      </nz-dropdown>
      <i (click)="close(workSpaceId, year)" class="icon-clear_24px"></i>
    </ng-container>
    <ng-container *ngIf="loading">
      <nz-skeleton class="skeleton-title-header"></nz-skeleton>
    </ng-container>
  </div>
</ng-template>
