::ng-deep.ui-dropdown {
  background: #ffffff;
  border: 1px solid #a6a6a6;
  width: 95%;
  margin-left: 10px;
}

.add-adjustment-input {
  width: 250px;
  /*height: 40px;
  background: #f9f9f9;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid black;
  color: #0700CF !important;*/
}

/*::ng-deep.adjustment-modal{
  height: 800px !important;
  width: 450px !important;
}*/
