<p-dialog
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal-m-74 adjustment-modal'"
  [visible]="isVisible">
  <p-header>
    <div class="header">
      <h4>
        {{modalTitle}}
      </h4>
      <i (click)="hide()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content" style="display: unset;">
    <div class="ui-g">
      <div class="ui-g-3">
        <label style="margin-top: 15px;"> Basis </label>
      </div>
      <div class="ui-g-9">
        <div class="body-wrap-dropDowns-calibration">
          <nz-select
            (ngModelChange)="emitSelectCategory($event)"
            [(ngModel)]="categorySelectedFromAdjustement"
            class="a-dropdown-small input-wrapper"
            nzPlaceHolder="Select Adjustment Basis"
            nzShowSearch
            style="padding: 10px 0; width: 300px"
          >
            <nz-option-group *ngIf="favoredBasis.length">
              <nz-option *ngFor="let option of favoredBasis" [nzLabel]="option.name" [nzValue]="option"
                         nzCustomContent>{{option.name}}<i (click)="unfavorise(option)"
                                                           class="icon-star_24px favoredStar"
                                                           style="font-size: 22px;"></i></nz-option>
            </nz-option-group>
            <nz-option-group>
              <nz-option *ngFor="let option of unFavoredBasis" [nzLabel]="option.name" [nzValue]="option"
                         nzCustomContent>{{option.name}}<i (click)="favorise(option)"
                                                           class="icon-star_border_24px unfavoredStar"
                                                           style="font-size: 22px;"></i></nz-option>
            </nz-option-group>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div *ngIf="categorySelectedFromAdjustement?.description" class="ui-g-12"
           style="border-bottom: 1px solid #c7c7c7a6;">
        <nz-collapse [nzBordered]="false">
          <nz-collapse-panel [nzActive]="true" [nzHeader]="categorySelectedFromAdjustement?.adjustmentBasis">
            <p>{{categorySelectedFromAdjustement?.description}}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label> Category </label>
      </div>
      <div class="ui-g-9">
        <b>{{categorySelected}}</b>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label> Narrative </label>
      </div>
      <div class="ui-g-9">
        <textarea [(ngModel)]="inputValue" nz-input rows="4" style="margin-left: 10px; width: 300px"></textarea>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-3">
        <label style="margin-top: 15px;"> Type </label>
      </div>
      <div class="ui-g-9">
        <div class="body-wrap-dropDowns-calibration">
          <nz-select
            (ngModelChange)="selectBasis($event)"
            [(ngModel)]="singleValue"
            class="a-dropdown-small input-wrapper"
            nzPlaceHolder="Select a type"
            nzShowSearch
            style="padding: 10px 0; width: 300px">
            <nz-option *ngFor="let option of AdjustementType" [nzLabel]="option.name" [nzValue]="option"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div *ngIf="categorySelectedFromAdjustement" class="ui-g">
      <div class="ui-g-3">
        <label> Capped </label>
      </div>
      <div class="ui-g-9">
        <nz-switch [ngModel]="categorySelectedFromAdjustement?.exposureFlag == 'CAP'"
                   [nzDisabled]="true"
                   nzSize="small">

        </nz-switch>
      </div>
    </div>
    <div *ngIf="linear" class="ui-g">
      <div class="ui-g-3">
        <label> Loss Modification Factor (LMF) </label>
      </div>
      <div class="ui-g-9">
        <input [(ngModel)]="columnPosition" class="a-textfield-mini add-adjustment-input" nz-input nz-tooltip
               style="width: 300px; !important;"/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="footer">
      <button (click)="hide()" class="a-button-text">Close</button>
      <button
        (click)="emitAddAdjustmentFromPlusIcon(global ? true : false,singleValue,categorySelectedFromAdjustement,columnPosition)"
        *ngIf="!modifyModal" class="a-buttons-contained">
        Save
      </button>
      <button (click)="emitSaveAdjModification(categorySelectedFromAdjustement,singleValue,columnPosition)"
              *ngIf="modifyModal"
              class="a-buttons-contained">
        Save
      </button>
    </div>
  </p-footer>
</p-dialog>
