<p-dialog
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal-m-74 borderless'"
  [visible]="isVisible"
  appendTo="body">
  <p-header>
    <div class="header">
      <h4>
        {{modalTitle}}
      </h4>
      <i (click)="hide()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content" style="display: unset;">
    <div class="ui-g">
      <div class="ui-g-4">
        <label> Basis </label>
      </div>
      <div class="ui-g-8">
        <div class="body-wrap-dropDowns-calibration">
          <p-dropdown (ngModelChange)="emitSelectCategory($event)"
                      [(ngModel)]="categorySelectedFromAdjustement"
                      [ngStyle]="{'width':'100%'}"
                      [options]="allAdjsArray"
                      [showClear]="true"
                      optionLabel="name"
                      placeholder="Select a basis"></p-dropdown>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12">
        <nz-collapse *ngIf="categorySelectedFromAdjustement?.description" [nzBordered]="false">
          <nz-collapse-panel [nzActive]="true" [nzHeader]="categorySelectedFromAdjustement?.adjustmentBasis">
            <p>{{categorySelectedFromAdjustement?.description}}</p>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <label> Category </label>
      </div>
      <div class="ui-g-8">
        <b>{{categorySelected}}</b>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <label> Narrative </label>
      </div>
      <div class="ui-g-8">
        <textarea [(ngModel)]="inputValue" nz-input rows="4" style="margin-left: 10px; width: 95%"></textarea>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-4">
        <label> Type </label>
      </div>
      <div class="ui-g-8">
        <div class="body-wrap-dropDowns-calibration">
          <p-dropdown (ngModelChange)="selectBasis($event)"
                      [(ngModel)]="singleValue"
                      [ngStyle]="{'width':'100%'}"
                      [options]="AdjustementType"
                      [showClear]="true"
                      optionLabel="name" placeholder="Select a type">

          </p-dropdown>
        </div>
      </div>
    </div>
    <div *ngIf="categorySelectedFromAdjustement" class="ui-g">
      <div class="ui-g-4">
        <label> Capped </label>
      </div>
      <div class="ui-g-8">
        <nz-switch [ngModel]="categorySelectedFromAdjustement?.exposureFlag == 'CAP'"
                   [nzDisabled]="true"
                   nzSize="small">

        </nz-switch>
      </div>
    </div>
    <div *ngIf="linear" class="ui-g">
      <div class="ui-g-4">
        <label> Loss Modification Factor (LMF) </label>
      </div>
      <div class="ui-g-8">
        <input [(ngModel)]="columnPosition" class="add-adjustment-input" nz-input nz-tooltip/>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="footer">
      <button (click)="hide()" class="a-button-text">Close</button>
      <button (click)="emitAddAdjustmentFromPlusIcon(true,singleValue,categorySelectedFromAdjustement)"
              *ngIf="!modifyModal" class="a-buttons-contained">
        Save
      </button>
      <button (click)="emitSaveAdjModification(categorySelectedFromAdjustement)" *ngIf="modifyModal"
              class="a-buttons-contained">
        Save
      </button>
    </div>
  </p-footer>
</p-dialog>
