<p-table [value]="data">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <ng-container *ngFor="let col of cols">
        <ng-container [ngSwitch]="col.field">
          <td *ngSwitchCase="'lock'">
            Lock
          </td>
          <td *ngSwitchCase="'actions'">
            Actions
          </td>
          <td *ngSwitchDefault>
            {{car[col.field]}}
          </td>

        </ng-container>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
