<div (click)="redirectWorkspace()"
     class="pointer">{{!!selectedWorkspace ? selectedWorkspace?.name : 'My Workspaces'}}</div>
<div (click)="togglePopup()" class="dropdown-icon" nz-popover [(nzVisible)]="visible"
     [nzContent]="workspacePopoverContent" nzTrigger="click">
  <i nz-icon type="down" theme="outline" style="float: right; margin-top: 8px"></i>
</div>
<ng-template #workspacePopoverContent>

  <div class="tabs-popover-content" style="height:415px;">
    <nz-tabset class="a-tab-minitab">
      <nz-tab [nzTitle]="RecentHeaderContent">
        <div class="popup-tab-content popover-menu">
<!--          <nz-alert-->
<!--            nzType="info"-->
<!--            nzCloseable-->
<!--            nzShowIcon-->
<!--            nzMessage="Select multiple workspaces to display them on new pages or pop out, or just click to open them in current window"-->
<!--          ></nz-alert>-->
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" (input)="searchNewWorkspace($event)"/>
          </div>
          <ul>
            <ng-container *ngFor="let workspace of recentWs$ | async; let i = index">
              <li (click)="toggleWorkspace('workspacePopIn.recent',workspace, i)"
                  (dblclick)="openSingleWorkspaces(workspace)"
                  [ngClass]="{'a-active-item': workspace.selected}">
                <div class="items-popover-wrapper">
                  <label class="item-checkbox" nz-checkbox [ngModel]="workspace.selected"
                         (ngModelChange)="toggleWorkspace('workspacePopIn.recent', workspace,i)"></label>

                  <!--                  <i class="icon-window-section"></i>-->
                  <div class="item-popover-context">
                    <span class="item-popover-context-header">{{workspace?.cedantName}}</span>
                    <span
                      class="item-popover-context-footer">{{workspace?.uwYear}}
                      - {{workspace?.workspaceName}} {{workspace?.programName}} </span>
                  </div>
                </div>
                <div class="items-popover-info">
                  {{workspace?.workSpaceId}}
                </div>
              </li>
            </ng-container>
          </ul>
          <div class="footer-workspace-menu mt-2">
            <nz-select  [(ngModel)]="favoriteSize" [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" nz-button nzType="default">OPEN</button>
            </div>
          </div>
          <!--          <div class="mt-2">-->
          <!--            &lt;!&ndash;            <nz-select [(ngModel)]="lastOnes" (ngModelChange)="searchWorkspace($event)" [nzAllowClear]="false"-->
          <!--                                   class="float-left a-dropdown-small" style="width: 120px;" nzAllowClear-->
          <!--                                   nzPlaceHolder="Choose">-->
          <!--                          <nz-option *ngFor="let label of state.workspacePagination.paginationList ; let i = index"-->
          <!--                                     [nzValue]="label?.id" [nzLabel]="label?.value"></nz-option>-->
          <!--                        </nz-select>&ndash;&gt;-->
          <!--            <div class="float-right">-->
          <!--              <button (click)="popOutWorkspaces()" class="a-button-text">POP OUT</button>-->
          <!--              <button (click)="openWorkspaces()" class="a-button-text">OPEN</button>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="FavouriteHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" [(ngModel)]="favoriteSearch"/>
          </div>
          <ul>
            <ng-container
              *ngFor="let workspace of favorites | showLast: [favoriteSize] | inputSearch: [favoriteSearch]; let i = index">
              <li (click)="toggle(workspace, 'favorite', workspace?.selectedF)"
                  [ngClass]="{'a-active-item': workspace.selectedF}">
                <div class="items-popover-wrapper">
                  <label class="item-checkbox" nz-checkbox [(ngModel)]="workspace.selectedF"></label>

                  <!--                  <i class="icon-window-section"></i>-->
                  <div class="item-popover-context">
                    <span class="item-popover-context-header">{{workspace?.cedantName}}</span>
                    <span
                      class="item-popover-context-footer">{{workspace?.uwYear}}
                      - {{workspace?.workspaceName}} {{workspace?.programName}} </span>
                  </div>
                </div>
                <div class="items-popover-info">
                  {{workspace?.workSpaceId}}
                </div>
              </li>
            </ng-container>
          </ul>
          <div class="footer-workspace-menu mt-2">
            <nz-select [(ngModel)]="favoriteSize" [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="AssignedHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search"/>
          </div>
          <ul>
            <li *ngFor="let workspace of workspaces; let i=index"
                (click)="toggleWorkspace('', workspace,i)"
                [ngClass]="{'a-active-item': workspace.selected}">
              <i class="icon-window-section"></i> &nbsp; {{workspace?.name}}
              <i class="float-right mr-1 mt-1"
                 [ngClass]="{'icon-check_24px': workspace.selected, 'icon-radio_button_unchecked_24px': !workspace.selected}"></i>
            </li>
          </ul>
          <div class="footer-workspace-menu mt-2">
            <nz-select [(ngModel)]="lastOnes" [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="0" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="1" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="2" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="3" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="PinnedHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" [(ngModel)]="pingedSearch"/>
          </div>
          <ul>
            <ng-container
              *ngFor="let workspace of pinged | showLast: [pingedSize] | inputSearch: [pingedSearch]; let i = index">
              <li (click)="toggle(workspace, 'pinged', workspace?.selectedP)"
                  [ngClass]="{'a-active-item': workspace.selectedP}">
                <div class="items-popover-wrapper">
                  <label class="item-checkbox" nz-checkbox [(ngModel)]="workspace.selectedP"></label>

                  <!--                  <i class="icon-window-section"></i>-->
                  <div class="item-popover-context">
                    <span class="item-popover-context-header">{{workspace?.cedantName}}</span>
                    <span
                      class="item-popover-context-footer">{{workspace?.uwYear}}
                      - {{workspace?.workspaceName}} {{workspace?.programName}} </span>
                  </div>
                </div>
                <div class="items-popover-info">
                  {{workspace?.workSpaceId}}
                </div>
              </li>
            </ng-container>
          </ul>
          <div class="footer-workspace-menu mt-2">
            <nz-select [(ngModel)]="pingedSize" [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>


  <ng-template #RecentHeaderContent>
    <span style="width: 5px">Recent &nbsp; <span
      class="tags-info">{{(recent | keys)?.length}}</span></span>
  </ng-template>

  <ng-template #FavouriteHeaderContent>
    <span style="width: 90px">Favorites &nbsp; <span class="tags-info">{{(favorites | keys)?.length}}</span></span>
  </ng-template>

  <ng-template #AssignedHeaderContent>
    <span style="width: 80px">Assigned &nbsp; <span class="tags-info">0</span></span>
  </ng-template>

  <ng-template #PinnedHeaderContent>
    <span style="width: 72px">Pinned &nbsp; <span class="tags-info">{{(pinged | keys)?.length}}</span></span>
  </ng-template>

</ng-template>

