@import "~src/assets/scss/variables";

.pointer{
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}
:host{
  ::ng-deep {
    i.ant-menu-submenu-arrow{
      right: 0px !important;
    }
    .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane{
      margin-bottom: 5px !important;
    }
  }
  .workspace-list-item{
    cursor: pointer;
  }

  .workspace-list-item:hover{
    //background-color: $color-dark-green;
  }

  .icon-window-section{
    color: $color-secondary;
  }
}



