@import "~src/assets/scss/variables";

.pointer {
  cursor: pointer;
  padding: 5px 11px 5px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  user-select: none;

  &:focus {
    outline: 0;
  }
}

.last-label {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'List Limit';
      width: fit-content;
    }
  }
}

.dropdown-icon {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  display: flex;
  user-select: none;
  padding-left: 11px;
}

:host {
  ::ng-deep {
    i.ant-menu-submenu-arrow {
      right: 0px !important;
    }

    .ant-tabs .ant-tabs-top-content > .ant-tabs-tabpane {
      margin-bottom: 5px !important;
    }
  }

  .workspace-list-item {
    cursor: pointer;
  }

  .workspace-list-item:hover {
    //background-color: $color-dark-green;
  }

  .icon-window-section {
    color: $color-secondary;
  }
}

.gray-search-input {
  &:focus {
    outline: 0;
  }
}

.tabs-popover-content {
  width: 500px;

  ::ng-deep {
    .ant-alert-info {
      background-color: #FbF177;
      border: none;
    }

    .ant-alert-info .ant-alert-icon {
      font-size: 15px;
      color: #fbf177;
      background-color: #0700CF;
      border-radius: 21px;
      border: 2px solid #0700CF;
    }

    span.ant-alert-message {
      display: flex;
      margin-left: 9px;
      color: #0700CF;
      font-family: Rubik;
      font-size: 16.26px;
      letter-spacing: 0.5px;
      line-height: 20px;
    }
  }
}

nz-alert {
  padding-bottom: 10px;
}

.popover-menu {
  margin: 5px 20px;

  ul {
    height: 180px;

    li {
      padding: 0 7px;
      margin-right: 7px;

      .items-popover-wrapper {
        display: flex;
        width: 65%;
        flex: 1;

        .item-checkbox {
          line-height: 35px;
          margin-right: 12px;
        }

        .icon-window-section {
          font-size: 22px;
          color: #40e2c8;
          padding: 7px;
        }

        .item-popover-context {
          display: flex;
          flex-direction: column;
          width: 100%;

          .item-popover-context-header {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 100%;
            color: rgba(0, 0, 0, 0.87);
            font-family: Rubik;
            font-weight: 500;
            font-size: 13px;
            letter-spacing: 0.08px;
            line-height: 21px;
          }

          .item-popover-context-footer {
            color: rgba(0, 0, 0, 0.5);
            font-family: Rubik;
            font-size: 11px;
            letter-spacing: 0.08px;
            line-height: 12px;
          }
        }
      }

      .items-popover-info {
        display: flex;
        justify-content: flex-end;
        width: 35%;
        align-items: center;

        i.icon-check_24px {
          font-size: 13px;
          margin-left: 4px;
          padding: 2px;
          color: #fff;
          width: 17px;
          height: 17px;
          background: #40e2c8;
          border-radius: 0px;
          font-weight: bold;
        }

        i.icon-radio_button_unchecked_24px {
          font-size: 17px;
          margin-left: 4px;
        }
      }
    }
  }

}

.footer-workspace-menu {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding-top: 80px;
  align-items: flex-end;
  padding-left: 25px;
}

.popup-tab-content-term {
  height: 350px;
  display: flex;
  flex-direction: column;
}
