<div (click)="redirectWorkspace()"
     class="pointer">{{!!selectedWorkspace ? selectedWorkspace?.name : 'My Workspaces'}}</div>
<div (click)="togglePopup()" class="dropdown-icon" nz-popover [(nzVisible)]="visible"
     [nzContent]="workspacePopoverContent" nzTrigger="click">
  <i nz-icon type="down" theme="outline" style="float: right; margin-top: 8px"></i>
</div>
<ng-template #workspacePopoverContent>

  <div class="tabs-popover-content" style="height:415px;">
    <nz-tabset (nzSelectedIndexChange)="loadTabData($event)" class="a-tab-minitab">
      <nz-tab [nzTitle]="RecentHeaderContent">
        <div class="popup-tab-content popover-menu">
          <!--          <nz-alert nzType="info" nzCloseable nzShowIcon
                              nzMessage="Select multiple workspaces to display them on new pages or pop out, or just click to open them in current window"
                    ></nz-alert>-->
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" [(ngModel)]="recentSearch" (input)="searchNewWorkspace($event, 'recent')"/>
          </div>
          <div class="summary-info list-workspace">
            <p-table #kt [columns]="workspaceCols" (selectionChange)="getSelection($event, 'recent')"
                     [value]="recentWs | showLast: [recentPageable]" selectionMode="multiple"
                     [(selection)]="selectedRowsRecent" [metaKeySelection]="true"
                     [scrollable]="true" scrollHeight="260px" [rowTrackBy]="rowTrackBy" [dataKey]="'workspaceId'">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i">
                  <td *ngFor="let col of columns"
                      [ngClass]="{'selected-item': rowData?.selected}">
                    <div class="items-popover-wrapper" >
                      <div style=" display: flex; padding-top: 5px;" *ngIf="col.type === 'select'">
                        <label nz-checkbox (ngModelChange)="singleLineSelect('recent', rowData, $event)"
                               [ngModel]="rowData.selected"></label>
                      </div>
                      <div (click)="toggleWorkspace('recent', rowData, rowData?.selected)" *ngIf="col.type === 'multi'"
                           class="item-popover-context">
                        <span class="item-popover-context-header">{{rowData?.cedantName}}</span>
                        <span class="item-popover-context-footer text-wrap-ellipsis">{{rowData?.workspaceUwYear}}
                          - {{rowData?.workspaceName}} {{rowData?.programName}} </span>
                      </div>
                      <div class="items-popover-info" *ngIf="col.type === 'text'"
                           (click)="toggleWorkspace('recent', rowData, rowData?.selected)">
                        {{rowData?.workspaceContextCode}}
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="mt-2">
            <nz-select [(ngModel)]="recentPageable" [nzAllowClear]="false"
                       class="a-dropdown-label last-label" (ngModelChange)="pageableChange($event ,'recent')"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>
            <div class="float-right">
              <button (click)="popOutWorkspaces('recent')" class="a-button-text">POP OUT</button>
              <button (click)="openWorkspaces('recent')" class="a-button-text">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="FavouriteHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" (ngModelChange)="searchNewWorkspace($event, 'favorite')" [(ngModel)]="favoriteSearch"/>
          </div>
          <div class="summary-info list-workspace">
            <p-table #kt [columns]="workspaceCols" (selectionChange)="getSelection($event, 'favorite')"
                   [value]="favoriteWs | showLast: [favoritePageable]" selectionMode="multiple"
                   [(selection)]="selectedRowsFavorites" [metaKeySelection]="true"
                   [scrollable]="true" scrollHeight="260px" [rowTrackBy]="rowTrackBy" [dataKey]="'workspaceId'">
            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
              </colgroup>
            </ng-template>
            <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
              <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i">
                <td *ngFor="let col of columns"
                    [ngClass]="{'selected-item': rowData?.selected}">
                  <div class="items-popover-wrapper" >
                    <div style=" display: flex; padding-top: 5px;" *ngIf="col.type === 'select'">
                      <label nz-checkbox (ngModelChange)="singleLineSelect('favorite', rowData, $event)"
                             [ngModel]="rowData.selected"></label>
                    </div>
                    <div (click)="toggleWorkspace('favorite', rowData, rowData?.selected)" *ngIf="col.type === 'multi'"
                         class="item-popover-context">
                      <span class="item-popover-context-header">{{rowData?.cedantName}}</span>
                      <span class="item-popover-context-footer text-wrap-ellipsis">{{rowData?.workspaceUwYear}}
                        - {{rowData?.workspaceName}} {{rowData?.programName}} </span>
                    </div>
                    <div class="items-popover-info" *ngIf="col.type === 'text'"
                         (click)="toggleWorkspace('favorite', rowData, rowData?.selected)">
                      {{rowData?.workspaceContextCode}}
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          </div>
          <div class="mt-2">
            <nz-select [(ngModel)]="favoritePageable" [nzAllowClear]="false" (ngModelChange)="pageableChange($event ,'favorite')"
                       class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" (click)="popOutWorkspaces('favorite')" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" (click)="openWorkspaces('favorite')" nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="AssignedHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input [(ngModel)]="assignedSearch" (ngModelChange)="searchNewWorkspace($event, 'assigned')" class="input-search"/>
          </div>
          <div class="summary-info list-workspace">
            <p-table #kt [columns]="workspaceCols" (selectionChange)="getSelection($event, 'assigned')"
                     [value]="assignedWs | showLast: [assignedPageable]" selectionMode="multiple"
                     [(selection)]="selectedRowsAssigned" [metaKeySelection]="true"
                     [scrollable]="true" scrollHeight="260px" [rowTrackBy]="rowTrackBy" [dataKey]="'workspaceId'">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i">
                  <td *ngFor="let col of columns"
                      [ngClass]="{'selected-item': rowData?.selected}">
                    <div class="items-popover-wrapper" >
                      <div style=" display: flex; padding-top: 5px;" *ngIf="col.type === 'select'">
                        <label nz-checkbox (ngModelChange)="singleLineSelect('assigned', rowData, $event)"
                               [ngModel]="rowData.selected"></label>
                      </div>
                      <div (click)="toggleWorkspace('assigned', rowData, rowData?.selected)" *ngIf="col.type === 'multi'"
                           class="item-popover-context">
                        <span class="item-popover-context-header">{{rowData?.cedantName}}</span>
                        <span class="item-popover-context-footer text-wrap-ellipsis">{{rowData?.workspaceUwYear}}
                          - {{rowData?.workspaceName}} {{rowData?.programName}} </span>
                      </div>
                      <div class="items-popover-info" *ngIf="col.type === 'text'"
                           (click)="toggleWorkspace('assigned', rowData, rowData?.selected)">
                        {{rowData?.workspaceContextCode}}
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="mt-2">
            <nz-select [(ngModel)]="assignedPageable" (ngModelChange)="pageableChange($event ,'assigned')"
                       [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" (click)="popOutWorkspaces('assigned')" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" (click)="openWorkspaces('assigned')"
                      nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="PinnedHeaderContent">
        <div class="popup-tab-content popover-menu">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input class="input-search" (ngModelChange)="searchNewWorkspace($event, 'pinned')" [(ngModel)]="pinnedSearch"/>
          </div>
          <div class="summary-info list-workspace">
            <p-table #kt [columns]="workspaceCols" (selectionChange)="getSelection($event, 'pinned')"
                     [value]="pinnedWs | showLast: [pinnedPageable]" selectionMode="multiple"
                     [(selection)]="selectedRowsPinned" [metaKeySelection]="true"
                     [scrollable]="true" scrollHeight="260px" [rowTrackBy]="rowTrackBy" [dataKey]="'workspaceId'">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="i">
                  <td *ngFor="let col of columns"
                      [ngClass]="{'selected-item': rowData?.selected}">
                    <div class="items-popover-wrapper" >
                      <div style=" display: flex; padding-top: 5px;" *ngIf="col.type === 'select'">
                        <label nz-checkbox (ngModelChange)="singleLineSelect('pinned', rowData, $event)"
                               [ngModel]="rowData.selected"></label>
                      </div>
                      <div (click)="toggleWorkspace('pinned', rowData, rowData?.selected)" *ngIf="col.type === 'multi'"
                           class="item-popover-context">
                        <span class="item-popover-context-header">{{rowData?.cedantName}}</span>
                        <span class="item-popover-context-footer text-wrap-ellipsis">{{rowData?.workspaceUwYear}}
                          - {{rowData?.workspaceName}} {{rowData?.programName}} </span>
                      </div>
                    </div>
                    <div class="items-popover-info" *ngIf="col.type === 'text'"
                         (click)="toggleWorkspace('pinned', rowData, rowData?.selected)">
                      {{rowData?.workspaceContextCode}}
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div class="mt-2">
            <nz-select [(ngModel)]="pinnedPageable" (ngModelChange)="pageableChange($event ,'pinned')" [nzAllowClear]="false" class="a-dropdown-label last-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <nz-option [nzValue]="10" nzLabel="Last 10"></nz-option>
              <nz-option [nzValue]="50" nzLabel="Last 50"></nz-option>
              <nz-option [nzValue]="100" nzLabel="Last 100"></nz-option>
              <nz-option [nzValue]="150" nzLabel="Last 150"></nz-option>
            </nz-select>

            <div class="float-right">
              <button class="a-button-text" (click)="popOutWorkspaces('pinned')" nz-button nzType="default">POP OUT</button>
              <button class="a-button-text" (click)="openWorkspaces('pinned')"
                      nz-button nzType="default">OPEN</button>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>


  <ng-template #RecentHeaderContent>
    <span style="width: 5px">Recent &nbsp; <span
      class="tags-info">{{countWs?.recent}}</span></span>
  </ng-template>

  <ng-template #FavouriteHeaderContent>
    <span style="width: 90px">Favorites &nbsp; <span class="tags-info">{{countWs?.favorite}}</span></span>
  </ng-template>

  <ng-template #AssignedHeaderContent>
    <span style="width: 80px">Assigned &nbsp; <span class="tags-info">{{countWs?.assigned}}</span></span>
  </ng-template>

  <ng-template #PinnedHeaderContent>
    <span style="width: 72px">Pinned &nbsp; <span class="tags-info">{{countWs?.pinned}}</span></span>
  </ng-template>

</ng-template>

