
.missing-icon-process-none {
  height: 20px;
  width: 20px;
  background-color: #EEEEEE;
  display: block;
  border-radius: 20px;
  margin: auto;
}

nz-tabset {
  background-color: #FFFFFF;
}

.renewal-contract-table {
  ::ng-deep div.ant-tabs-tab {
    height: 60px;
    width: 350px;
    border-top: 3px solid #0700CF;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: bold;
    font-size: 20.32px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
  }

  ::ng-deep div.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none !important;
  }

  i.icon-menu_24px {
    color: rgba(0, 0, 0, 0.38);
  }

  table {
    * {
      text-align: center;
    }
    thead {
      th {
        color: rgba(0, 0, 0, 0.4) !important;
        font-size: 12px;
        letter-spacing: 0.08px;
        line-height: 14px;
      }
    }
  }

  .select-sections {
    ::ng-deep .ant-select-selection {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #0700CF;
    }
    ::ng-deep .ant-select-selection__rendered {
      color: #0700CF;
    }
  }

}


