:host{
  position: relative;
  display: block;
  ::ng-deep {
    .ui-table .ui-sortable-column.ui-state-highlight{
      background-color: #c8c8c8;
      color: #333333;
    }
     .ui-table .ui-table-thead:nth-child(1) > tr > th{
       color: rgba(0,0,0,0.6); font-size: 11px;
       letter-spacing: 0.08px;	line-height: 14px
    }
    .ui-table-resizable>.ui-table-wrapper{
      table thead:nth-child(1){
        background: white;
        border-bottom: 2px solid #DDDDDD;
      }
    }
    .ui-table .ui-table-thead > tr > th{
      border: 1px solid transparent;
      background-color: white;
    }
    .ui-table .ui-sortable-column:not(.ui-state-highlight):hover{
      background-color: transparent;
    }
    .ui-table .ui-sortable-column.ui-state-highlight{
      background-color: transparent;
    }
    .ui-table .ui-table-tbody > tr > td {
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #DDDDDD;
      height: 24px;
      width: 56px;
      color: rgba(0,0,0,0.87);
      font-family: Rubik;
      font-size: 12px;
      letter-spacing: 0.08px;
      line-height: 24px;
    }
    .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
      color: #848484;
    }
    .ui-table-wrapper.ng-star-inserted > table > tbody {
      zoom: 0.8;
    }
    .ui-table .ui-table-tbody > tr:nth-child(even){
      background-color: white;
    }
  }
}
.missing-icon-process-none {
  height: 20px;
  width: 20px;
  background-color: #EEEEEE;
  display: block;
  border-radius: 20px;
  margin: auto;
}

nz-tabset {
  background-color: #FFFFFF;
}

.renewal-contract-table {
  ::ng-deep div.ant-tabs-tab {
    height: 60px;
    width: 350px;
    border-top: 3px solid #0700CF;
    border-bottom: none;
    color: rgba(0, 0, 0, 0.87) !important;
    font-weight: bold;
    font-size: 20.32px;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
  }

  ::ng-deep div.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    display: none !important;
  }

  i.icon-menu_24px {
    color: rgba(0, 0, 0, 0.38);
  }

  table {
    * {
      text-align: center;
    }
    thead {
      th {
        color: rgba(0, 0, 0, 0.4) !important;
        font-size: 12px;
        letter-spacing: 0.08px;
        line-height: 14px;
      }
    }
  }

  .select-sections {
    ::ng-deep .ant-select-selection {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #0700CF;
    }
    ::ng-deep .ant-select-selection__rendered {
      color: #0700CF;
    }
  }

}


