<nz-tabset class="renewal-contract-table">
  <nz-tab [nzTitle]="title">

    <table class="table">
      <thead>
        <th>Country</th>
        <th style="width: 18%">Cedant</th>
        <th style="width: 18%">Treaty</th>
        <th>UW year</th>
        <th>Pricing Version</th>
        <th>RR Status</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Exposures</th>
        <th>PLT</th>
        <th>Published to Pricing</th>
        <th>Used in pricing</th>
        <th>Accumulation</th>
      </thead>
      <tbody>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
        <tr>
          <td>Italy</td>
          <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
          <td>334675 Donec & Nulla</td>
          <td>2019</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td>-</td>
          <td>-</td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
          <td><span class="missing-icon-process-none"></span></td>
        </tr>
      </tbody>
    </table>

  </nz-tab>
</nz-tabset>

<ng-template #title>
  Renewal Contract Scope <i class="icon-menu_24px float-right mr-1 mt1"></i>
</ng-template>
