<nav class="p-0 p navbar navbar-expand-lg navbar-light bg-white border-bottom align-items-stretch">
  <img style="cursor: pointer" (click)="collapseLeftNavbar()" src="./assets/images/rr-logo.svg" class="pl-2 pr-2 rr-logo img-fluid border-right" alt="Risk Reveal Logo">
  <button (click)="expandMenu = !expandMenu" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-items-stretch">
    <ul style="flex:1" class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item d-flex align-items-center">
        <a class="pl-3 pr-3 icon-size icon-home-alt nav-link" routerLink="/home" routerLinkActive="active"></a>
      </li>
      <li class="nav-item border-right d-flex align-items-center">
        <a class="pl-3 pr-3 icon-size icon-copy-landscape nav-link" routerLink="/copy" routerLinkActive="active"></a>
      </li>
      <li class="px-4 border-right nav-item d-flex align-items-center">
        <workspaces-menu-item ></workspaces-menu-item>
      </li>
      <li style="flex: 1" class="d-flex align-items-center nav-item px-3">
        <search-menu-item></search-menu-item>
      </li>
    </ul>
    <div class="d-flex align-items-center my-2 my-lg-0">
      <ul class="navbar-nav align-self-stretch">
        <li class="px-3 border-left nav-item d-flex align-items-center">
          <tasks-menu-item></tasks-menu-item>
        </li>
        <li class="px-3 border-left nav-item d-flex align-items-center">
          <notifications-menu-item></notifications-menu-item>
        </li>
        <li class="pl-3 border-left nav-item d-flex align-items-center">
          <user-menu-item></user-menu-item>
        </li>
        <li class="px-3 border-left nav-item d-flex align-items-center"><a href="#"
                                                                           class="icon-help_outline_24px icon-size"></a>
        </li>
      </ul>
    </div>
  </div>

  <div [ngClass]="{'d-flex':expandMenu,'d-none':!expandMenu}" class=" border-top  " style="flex-basis: 100%;">
    <hr>

    <ul nz-menu [nzMode]="'inline'" style="width: 100%;">
      <li nz-submenu>
        <span nz-row nzType="flex" title><i nz-col nzSpan="3" class="icon-home-alt align-self-center"></i> <span nz-col
                                                                                                                 nzSpan="21">Dashboard</span></span>
        <ul>
          <li nz-menu-item>Dashboard item</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title><i nz-col nzSpan="3" class="icon-copy-landscape align-self-center"></i> <span
          nz-col nzSpan="21">Comparer</span></span>
        <ul>
          <li nz-menu-item>Comparer item</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title><i nz-col nzSpan="3" class="icon-window-section align-self-center
"></i><span nz-col nzSpan="21"> Recent Workspaces</span></span>
        <ul>
          <li nz-menu-item>Workspaces item</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title>
          <span nz-col nzSpan="3">
          <nz-badge class="" style="zoom:0.8" [nzCount]="5">
            <!-- <a href="#"
                class="icon-help_outline_24px icon-size"></a>-->
            <nz-progress class="circular-progress-bar" [nzPercent]="60"
                         [nzFormat]="formatter"
                         [nzStrokeWidth]="8"
                         nzType="circle" [nzWidth]="26">

            </nz-progress>
          </nz-badge>
        </span> <span nz-col nzSpan="21">Jobs in progress</span></span>
        <ul>
          <li nz-menu-item>Jobs in progress item</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title>
          <span nz-col nzSpan="3">
          <nz-badge [nzCount]="5">
            <a style="font-size: 1.5em;zoom:0.8" href="#" class="icon-notifications_24px ">
            </a>
          </nz-badge>
        </span> <span nz-col nzSpan="21">Notifications</span></span>
        <ul>
          <li nz-menu-item>Notifications item</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title>
          <span nz-col nzSpan="3">
            <nz-avatar [ngStyle]="{'zoom':0.8}"
                       nzIcon="user">
          </nz-avatar>
          </span>
          <span nz-col nzSpan="21">Hassan BASSI</span>
        </span>
        <ul>
          <li nz-menu-item>User Details</li>
        </ul>
      </li>
      <li nz-submenu>
        <span nz-row nzType="flex" title>
          <span class="align-self-center" nz-col nzSpan="3">
          <i class="icon-help_outline_24px
"></i>
        </span> <span nz-col nzSpan="21">Help</span></span>

      </li>

    </ul>

  </div>
</nav>
