<div class="content">
  <div style="margin: 5px 5px 14px 5px;">
    <h6>{{data.details.name}}</h6>
  </div>
  <div style="display: flex">
    <div *ngIf="!collapsedCanvas" style="background-color: #fff;">
      <inuring-canvas-tab
        [wsConfig]="{wsId: data?.wsId,year: data?.year}"
        [appendedNodes]="appendedNodes"
        (changeAppendedNodes)="appendedNodes = $event"
        (showCreationPopup)="onShowCreationPopup($event)"
      ></inuring-canvas-tab>
    </div>
    <div style="background-color: #ffffff; margin-right: 5px; display: flex;">
      <i (click)="collapseCanvas()"
         [ngClass]="{'icon-chevron_right_24px':collapsedCanvas,'icon-chevron_left_24px':!collapsedCanvas}"
         style="font-size: 25px; cursor: pointer; margin-top: 10px"></i>
    </div>
    <div style="width: -webkit-fill-available;">
      <div class="col-content mt-1">
        <!--        <nz-tabset class="a-tab-large">-->
        <!--          <nz-tab [nzTitle]="'IP0000055 Structure graph'">-->
        <inuring-graph
          [inuringPackage]="data.details.id"
          [wsIdentifier]="stepConfig.wsId+'-'+stepConfig.uwYear"
          (editNode)="editNode($event)"
          (editEdge)="editEdge($event)"
          (appendNode)="appendNode($event)"
        >

        </inuring-graph>
        <!--          </nz-tab>-->
        <!--        </nz-tabset>-->
      </div>
    </div>


  </div>

</div>
<app-plt-selection-pop-up
  [isVisible]="showCreationPopup"
  [multiSteps]="false"
  [stepConfig]="stepConfig"
  (onVisibleChange)="showCreationPopup = $event"
  (onSelectWorkspace)="setSelectedWs($event)"
  (onSelectItems)="setSelectedPlts($event)"
>
</app-plt-selection-pop-up>
<app-edit-contract-pop-up
  [showEditContractPopup]="showEditContractPopup"
  (closePop)="showEditContractPopup = false"
>
</app-edit-contract-pop-up>
<app-edit-edge-pop-up
  [showEditEdgePopup]="showEditEdgePopup"
  (closePop)="showEditEdgePopup = false"
>
</app-edit-edge-pop-up>
