:host {
  ::ng-deep {
    div.cdk-virtual-scroll-content-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0 50px;
      margin: 0 auto;
      justify-content: flex-start;
    }
  }

  .project-link {
    &:hover {
      cursor: pointer;
      text-decoration: underline !important;
      color: black !important;
    }
  }
}

.card-holder-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
  padding: 10px 0 50px;
  margin: 0 auto;
  justify-content: flex-start;
  height: 100%;

  @media screen and (max-width: 950px) {
    justify-content: center;
  }


  /*
  @media screen and (min-width: 2200px) {
    width: 2250px;
  }
  @media screen and (max-width: 1650px) and (min-width: 1500px) {
    width: 1315px;
  }

  @media screen and (max-width: 1350px) and (min-width: 1024px) {
    width: 970px;
  }
  @media screen and (max-width: 1024px) and (min-width: 780px) {
    width: 95%;
    margin: 15px auto;
  }
  */
}

.card-holder {
  margin: 10px 0;
  width: 33%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 2200px) {
    width: 25%;
  }

  @media screen and (max-width: 950px) {
    margin: 10px auto;
    width: 80%;
  }

  &:hover {
    .icon-card-wrapper {
      display: flex !important;
    }
  }
}

::ng-deep .project-card {
  width: 98%;
  border: 3px solid transparent;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.1), 0 3px 16px 2px rgba(0, 0, 0, 0.08), 0 5px 6px -3px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.3), 0 3px 16px 2px rgba(0, 0, 0, 0.2), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 768px) {
    margin: auto;
    min-width: 400px !important;
    max-width: 500px !important;
  }

  .project-header {
    height: 80px;
    display: flex;

    .project-header-icon {
      width: 80px;

      i {
        color: white;
        font-size: 2em;
      }
    }

    .standard-flag-icon {
      background-color: #F5A623;
    }

    .standard-fac-flag-icon {
      background-color: #14617A;
    }

    .link-flag-icon {
      background-color: #36C6FE;
    }

    .inuring-flag-icon {
      background-color: #B482FE;
    }

    .project-header-title {
      padding-left: 1rem;

      span:nth-child(1) {
        color: rgba(0, 0, 0, 0.87);
        font-family: Rubik;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 24px;

        @media screen and (min-width: 1250px) and (max-width: 1450px) {
          font-size: 17px;
          line-height: 24px;
        }

        @media screen and (max-width: 1250px) {
          font-size: 16px;
          line-height: 20px;
        }
      }

      span:nth-child(2) {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 28px;

        @media screen and (min-width: 1250px) and (max-width: 1450px) {
          font-size: 13px;
          line-height: 24px;
        }

        @media screen and (max-width: 1250px) {
          font-size: 12px;
          line-height: 20px;
        }
      }

      flex: 1;
      background: #F9FAFE;
    }

    .icon-card-wrapper {
      align-items: center;
      background-color: #F9FAFE;
      display: flex;

      i {
        cursor: pointer;
        margin-right: 15px;
        font-size: 22px;
      }

      .icon-check_24px {
        border-radius: 20px;
        background-color: #06B8FF;
        color: #fff;
        padding: 1px;
      }

      span {
        width: 22px;
        cursor: pointer;
        height: 22px;
        border: 1px solid #000;
        border-radius: 20px;
        margin-right: 15px
      }
    }

    @media screen and (min-width: 1450px) and (max-width: 1690px) {
      height: 70px;
      .project-header-icon {
        width: 70px;

        i{
          font-size: 1.7em;
        }
      }

      .project-header-title {
        span:nth-child(1) {
          font-size: 16px;
        }

        span:nth-child(2) {
          font-size: 13px;
        }
      }
    }

    @media screen and (min-width: 1250px) and (max-width: 1450px) {
      height: 60px;
      .project-header-icon {
        width: 60px;

        i{
          font-size: 1.4em;
        }
      }

      .project-header-title {

        span:nth-child(1) {
          font-size: 14px;
        }

        span:nth-child(2) {
          font-size: 12px;
        }
      }
    }

    @media screen and (max-width: 1250px) {
      height: 50px;
      .project-header-icon {
        width: 50px;

        i{
          font-size: 1.1em;
        }
      }

      .project-header-title {
        padding-left: 0.5rem;

        span:nth-child(1) {
          font-size: 10px;
        }

        span:nth-child(2) {
          font-size: 9px;
        }
      }
    }
  }

  .project-progress {
    height: 80px;
    background-color: #fff;

    @media screen and (min-width: 1450px) and (max-width: 1690px) {
      height: 70px;
    }

    @media screen and (min-width: 1250px) and (max-width: 1450px) {
      height: 60px;
    }

    @media screen and (max-width: 1250px) {
      height: 50px;
    }

    .project-flag {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;

      hr {
        border-top: 2px solid #03DAC4;
      }
    }

    .steper-icon {
      width: 15px;
      height: 15px;
      border: 2px solid #03DAC4;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      //position: absolute;
      margin-top: -24px;
      margin-left: 50px;
      background: #fff;

      @media screen and (min-width: 1300px) and (max-width: 1650px) {
        margin-left: 40px;
      }

      @media screen and (max-width: 1300px) {
        width: 10px;
        height: 10px;
        margin-top: -22px;
        margin-left: 30px;
      }

      .check-true-span {
        background: #FFFFFF;
        display: flex;
        width: 5px;
        height: 5px;
        border-radius: 20px;
      }
    }
  }

  .project-kpi {
    font-size: 0.7em;
    background-color: #fff;

    .project-component {
      justify-content: space-between;
      padding: 10px 12px;

      @media screen and (min-width: 1450px) and (max-width: 1690px) {
        padding: 10px;
      }

      @media screen and (min-width: 1250px) and (max-width: 1450px) {
        padding: 10px 8px;
      }

      @media screen and (max-width: 1250px) {
        padding: 9px 7px;
      }
    }

    div {
      i {
        height: 19.89px;
        width: 16.89px;
        font-size: 2.6em;

        @media screen and (min-width: 1450px) and (max-width: 1690px) {
          height: 17.89px;
          width: 15.89px;
          font-size: 2.3em;
        }

        @media screen and (min-width: 1250px) and (max-width: 1450px) {
          height: 15.89px;
          width: 13.89px;
          font-size: 2em;
        }

        @media screen and (max-width: 1250px) {
          height: 13.89px;
          width: 11.89px;
          font-size: 1.7em;
        }
      }

      .project-kpi-span {
        padding-top: 12px;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;

        @media screen and (min-width: 1450px) and (max-width: 1690px) {
          font-size: 13px;
          padding-top: 10px;
        }

        @media screen and (min-width: 1250px) and (max-width: 1450px) {
          font-size: 11px;
          padding-top: 8px;
        }

        @media screen and (max-width: 1250px) {
          font-size: 9px;
          padding-top: 3px;
          line-height: 16px;
        }
      }

      span:nth-child(3) {
        font-size: 30px;

        @media screen and (min-width: 1450px) and (max-width: 1690px) {
          font-size: 26px;
        }

        @media screen and (min-width: 1250px) and (max-width: 1450px) {
          font-size: 22px;
        }

        @media screen and (max-width: 1250px) {
          font-size: 18px;
        }
      }
    }

    .badge {
      margin-top: 11px;
      background: #e700104f;
      border-radius: 12px;
      font-size: 15px !important;
    }
  }

  .project-kpi-details {
    background: #F9FAFE;

    .project-kpi-details-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 0.9em;

      .source-Ws {
        font-weight: bold;
        margin-right: 10px;
      }

      @media screen and (min-width: 1450px) and (max-width: 1690px) {
        font-size: 0.8em;
      }

      @media screen and (min-width: 1250px) and (max-width: 1450px) {
        font-size: 0.7em;
      }

      @media screen and (max-width: 1250px) {
        font-size: 0.6em;
      }
    }

    .flex-align-Ws {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}


.icon-generic {
  font-size: 22px;
  margin-left: 20px;
  margin-top: 6px;
}

.contextMenu {
  display: flex;

  i {
    margin-right: 10px;
    font-size: 17px;
    padding-top: 2px;
  }
}

.project-kpi-creat-wrap {
  flex: 1;
  font-weight: 700;
  letter-spacing: 0.08px;
  white-space: nowrap;
  overflow: hidden;
}

.line-height-m {
  line-height: 32px;
  height: 32px;
  font-size: 14px;
  padding-left: 1.5rem;

  @media screen and (min-width: 1450px) and (max-width: 1690px) {
    line-height: 28px;
    height: 28px;
    font-size: 13px;
  }

  @media screen and (min-width: 1250px) and (max-width: 1450px) {
    line-height: 24px;
    height: 24px;
    font-size: 11px;
    padding-left: 1rem;
  }

  @media screen and (max-width: 1250px) {
    line-height: 20px;
    height: 20px;
    font-size: 9px;
    padding-left: 0.5rem;
  }
}

.status-naming {
  font-size: 16px;

  @media screen and (min-width: 1450px) and (max-width: 1690px) {
    font-size: 13px;
  }

  @media screen and (min-width: 1250px) and (max-width: 1450px) {
    font-size: 11px;
  }

  @media screen and (max-width: 1250px) {
    font-size: 9px;
  }
}

.car-status-temp {
  font-size: 13.26px;
  padding: 3px 12px;
  background: lightblue;
  color: white;
  text-shadow: -15px 5px 20px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin: 0 5px;

  @media screen and (min-width: 1450px) and (max-width: 1690px) {
    font-size: 12.26px;
    padding: 3px 11px;
  }

  @media screen and (min-width: 1250px) and (max-width: 1450px) {
    font-size: 11.26px;
    padding: 3px 10px;
  }

  @media screen and (max-width: 1250px) {
    font-size: 10.26px;
    padding: 3px 9px;
  }
}

.field-car-status {
  flex: 0 0 32%;
  letter-spacing: 0.08px;
}

.fac-detail-panel {
  height: 64px;

  @media screen and (min-width: 1450px) and (max-width: 1690px) {
    height: 56px;
  }

  @media screen and (min-width: 1250px) and (max-width: 1450px) {
    height: 48px
  }

  @media screen and (max-width: 1250px) {
    height: 40px;
  }
}
