$custom-bg-color:white;

$color-primary:#0700CF;
$color-secondary:#03DAC4;
$color-red:#D0021B;
$color-dark-green:#005738;
$color-light-green:#7ED321;
$color-yellow:#F8E71C;
$color-orange:#F5A623;
$color-white:#FFFFFF;
$color-grey:#F4F6FC;
$color-light-bleu:#06B8FF;

