@import "./variables";
@import "./scrollbar";

* {
  font-family: Rubik;
}


#cdk-overlay-0 > div > div > div.ant-popover-inner > div > div {
  padding: 0px;
}

.tabs-popover-content {
  padding: 5px;
  width: 400px;

  .popup-tab-content {
    margin: 5px 20px;
  }

  .ant-tabs-tab {
    height: 14.61px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 0.08px;
    line-height: 24px;
    text-align: center;
    margin: 0px !important;
  }

  .ant-tabs-tab-active {
    height: 14.61px;
    color: #0700CF !important;
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 0.08px;
    line-height: 24px;
    text-align: center;
    .tab-badge {
      color: #0700CF;
      opacity: 0.9;
    }
  }

  .ant-tabs-ink-bar {
    background-color: #0700CF !important;
  }

  .poover-menu-item {
    margin: 5px 0px;
    padding: 3px 5px;
    cursor: pointer;
  }

  .poover-menu-item-active {
    background-color: $color-light-yellow;
    .icon-check_24px {
      color: $color-secondary;
    }
  }

  ul {
    list-style: none;
    padding-left: 5px;
    height: 280px;
    overflow-y: auto;
  }

  .popover-menu-control-button {
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    border: none;
    font-weight: bold;
  }

  //.popover-menu-control-select{
    ::ng-deep .ant-select-selection{
      border: none !important;
    }
  //}
}

.tab-search-input {
  height: 24px;
  width: 100%;
  background-color: #F5F5F5;
  margin-left: 3px;
  margin-bottom: 10px;
  input {
    height: 24px;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    width: 92%;
  }
  i {
    width: 4%;
    margin-left: 5px;
  }

}

