$custom-bg-color:white;

$color-primary:#0700CF;
$color-secondary:#03DAC4;
$color-red:#D0021B;
$color-dark-green:#005738;
$color-light-green:#7ED321;
$color-yellow:#F8E71C;
$color-light-yellow: #FCF9D6;
$color-orange:#F5A623;
$color-white:#FFFFFF;
$color-grey:#F4F6FC;
$color-grey-1:#CDCFD2;
$color-light-bleu:#06B8FF;

//color-primary

$color-primary-list: (
  "primary": (#0800cf, #0000a0, #0700cf, #3b00dd, #4f00e5, #6200ee, #893eff, #a363ff, #c38fff, #e3b8ff, #ffdbff),
  "secondary": (#03dac4, #005738, #007456, #008464, #009575, #00a282, #00b396, #00c4aa, #71efdf, #a7fffa),
  "ui": (#1c607c, #fcf9d6, #06b8ff),
  "surface": (#ffffff, #f5f5f5, #ededed, #dddddd, #cccccc, #999999, #666666, #212121),
  "scor-peril": (#e70010, #f5a623, #f8e71c, #7bbe31, #008694),
  "other": (#f4f6fc, #e5e9fa)
);

:root {
  @each $color-type, $color-list in $color-primary-list {
    @each $color in $color-list {
      $i: index($color-list, $color);
      --#{$color-type}-#{$i}: #{$color};
    }
  }
}
