@import "./variables";
@import "./scrollbar";

* {
  font-family: Rubik;
}


#cdk-overlay-0 > div > div > div.ant-popover-inner > div > div {
  padding: 0px;
}

.tabs-popover-content {
  padding: 5px;
  width: 400px;



  .ant-tabs-tab {
    height: 14.61px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 0.08px;
    line-height: 24px;
    text-align: center;
    margin: 0px !important;
  }

  .ant-tabs-tab-active {
    height: 14.61px;
    color: #0700CF !important;
    font-family: Rubik;
    font-size: 11px;
    letter-spacing: 0.08px;
    line-height: 24px;
    text-align: center;
    .tab-badge {
      color: #0700CF;
      opacity: 0.9;
    }
  }

  .ant-tabs-ink-bar {
    background-color: #0700CF !important;
  }

  .poover-menu-item {
    cursor: pointer;
  }

  .poover-menu-item-active {
    background-color: $color-light-yellow;
    .icon-check_24px {
      color: $color-secondary;
    }
  }

  .popover-menu-control-button {
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    letter-spacing: 1.25px;
    line-height: 16px;
    border: none;
    font-weight: bold;
  }

  //.popover-menu-control-select{
    ::ng-deep .ant-select-selection{
      border: none !important;
    }
  //}
}

gridster .gridster-row {
  border: none !important;
}
gridster .gridster-column {
  border: none !important;
}

.ant-popover-inner-content{
  padding: 8px 8px !important;
}
.ant-popover-buttons button:nth-child(1){
  background: transparent;
  box-shadow: none;
  color: rgba(0,0,0,0.6);
  border: 0px;
}
.ant-popover-buttons button:nth-child(2){
  background: transparent;
  box-shadow: none;
  color: #D4172E;
  border: 0px;
}
