@import "./variables";
@import "./scrollbar";
@import "/theme/font";
@import "/theme/button";
@import "/theme/input";
@import "/theme/dropdown";
@import "/theme/tabs";
@import "/theme/tags";
@import "/theme/radio";
@import "/theme/chips";
@import "/theme/list";
@import "/theme/modal";
@import "/theme/layout";

.clickable-item {
  cursor: pointer;
}

/*

* {
  font-family: Rubik, sans-serif;
}


#cdk-overlay-0 > div > div > div.ant-popover-inner > div > div {
  padding: 0px;
}

.tabs-popover-content {
  padding: 5px;
  width: 400px;

  .poover-menu-item {
    cursor: pointer;
  }

  .poover-menu-item-active {
    background-color: $color-light-yellow;
    .icon-check_24px {
      color: $color-secondary;
    }
  }

  .popover-menu-control-button {
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    letter-spacing: 1.25px;
    line-height: 16px;
    border: none;
    font-weight: bold;
  }

  //.popover-menu-control-select{
    ::ng-deep .ant-select-selection{
      border: none !important;
    }
  //}
}

gridster .gridster-row {
  border: none !important;
}
gridster .gridster-column {
  border: none !important;
}

.ant-popover-inner-content{
  padding: 8px 8px !important;
}
.ant-popover-buttons button:nth-child(1){
  background: transparent;
  box-shadow: none;
  color: rgba(0,0,0,0.6);
  border: 0px;
}
.ant-popover-buttons button:nth-child(2){
  background: transparent;
  box-shadow: none;
  color: #D4172E;
  border: 0px;
}
*/
/*

* {
  font-family: Rubik, sans-serif;
}


#cdk-overlay-0 > div > div > div.ant-popover-inner > div > div {
  padding: 0px;
}

.tabs-popover-content {
  padding: 5px;
  width: 400px;

  .poover-menu-item {
    cursor: pointer;
  }

  .poover-menu-item-active {
    background-color: $color-light-yellow;
    .icon-check_24px {
      color: $color-secondary;
    }
  }

  .popover-menu-control-button {
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    letter-spacing: 1.25px;
    line-height: 16px;
    border: none;
    font-weight: bold;
  }

  //.popover-menu-control-select{
    ::ng-deep .ant-select-selection{
      border: none !important;
    }
  //}
}

gridster .gridster-row {
  border: none !important;
}
gridster .gridster-column {
  border: none !important;
}

.ant-popover-inner-content{
  padding: 8px 8px !important;
}
.ant-popover-buttons button:nth-child(1){
  background: transparent;
  box-shadow: none;
  color: rgba(0,0,0,0.6);
  border: 0px;
}
.ant-popover-buttons button:nth-child(2){
  background: transparent;
  box-shadow: none;
  color: #D4172E;
  border: 0px;
}
*/
