td {
  background-color: red;
  user-select: none;
}
.dropdownMenu {
  margin-bottom: 150px;
  margin-right: 20px;
}

.iconYellow {
  color: #fde729;
  font-size: 17px;
}

.iconYellow2 {
  color: #d8880f;
  font-size: 17px;
}

.iconGreen {
  color: #00B396;
  font-size: 17px;
}

.iconBlue {
  color: #21aae6;
  font-size: 17px;
}

.iconRed {
  color: #b8200c;
  font-size: 17px;
}

.iconRed2 {
  color: #ff2126;
  font-size: 17px;
}

.ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 0px solid #c8c8c8 !important;
  font-weight: 700;
  color: #333333;
  background-color: #fff;
}

