.idea
.idea/
*.iws
*.iml
/RR-Front/node/
/RR-Front/node
/RR-Front/node/**
/RR-Front/node_modules/**
/RR-Backend/src/main/resources/static/
/RR-Import/target
.project
/RR-IO/target/
/RRADJUSTMENT/target/
*/*.iml
*/target


# Ignore propeties files
/RR-Backend/src/main/resources/application.properties
/RR-Calibration/src/main/resources/application.properties
/RR-Import/src/main/resources/application.properties
/RR-Inuring/src/main/resources/application.properties
/RR-Proxy/src/main/resources/application.properties
