<app-left-menu></app-left-menu>
<div class="plt-browser-wrapper">
  <div class="left mr-1 ml-1">
    <div class="title-wrapper" nz-row>
      <div class="title-section">
        <h4>Calibration Editor</h4>
      </div>
    </div>
    <div class="my-tabs" style="margin-bottom: 10px;">
      <div class="noMargin row" [ngStyle]="{'height': collapsedTags ? '' : '44px'}">
        <div *ngIf="collapsedTags" class="col-10" style="padding:unset">
          <nz-tabset class="tabset-left">
            <nz-tab [nzTitle]="path" *ngIf="mode==='pltManager'">
              <ng-template #path>
                <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;">Path</span>
              </ng-template>
              <div class="path-content">
                <div class="title">
                    <span (click)="resetPath()">
                      <i class="icon-window-section"></i>
                      {{workspaceId}} - {{uwy}}
                    </span>
                  <ul class="title-list">
                    <li *ngFor="let project of projects" (click)="filter('project',project.projectId)"
                        style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                        [ngClass]="{'active-path': project.selected}">
                      <i class="icon-assignment_24px"></i>
                      <span class="tooltipMsg"
                            [nz-tooltip]="project.projectId + ' ' +  project.name + ' ' + (toDate(project.creationDate) | date: 'y')">{{project.projectId + ' ' + project.name + ' ' + (toDate(project.creationDate) | date: 'y')}}</span>
                    </li>
                  </ul>
                </div>
                <div *ngIf="(deletedPlts | toArray).length > 0" class="plt-trash">
                  <div class="cnt" (click)="showDeleted= !showDeleted">
                    <i class="icon-trash-alt"></i>
                    <span> Deleted Plts </span>
                  </div>
                  <span class="deleted-counter">{{(deletedPlts | toArray).length}}</span>
                </div>
              </div>
            </nz-tab>

            <nz-tab [nzTitle]="tags">
              <ng-template #tags>
                <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;"> Tags</span>
              </ng-template>
              <div class="Tags-content">
                <div nz-row class="button-reset-filter-by-tag">
                  <button (click)="resetFilterByTags()" nz-button nzType="default" nzShape="circle"
                          style=" float: right; border: 0px solid;position: relative;top: 14px;right: 2px;">
                    <i nz-icon nzType="undo" nzTheme="outline"></i></button>
                </div>
                <nz-modal
                  nzWrapClassName="addTagModal"
                  [nzVisible]="addTagModal"
                  [nzTitle]="addTagModalTitle"
                  (nzOnCancel)="initColorPicker();toggleModal()"
                  [nzClosable]="false"
                  [nzFooter]="addTagModalFooter"
                  [nzContent]="addTagModalContent">
                </nz-modal>

                <ng-template #addTagModalTitle>
                  <div class="header">
                  <span>
                    Tag Manager
                  </span>
                    <i style="cursor: pointer" (click)="addTagModal =false" class="icon-close_24px"></i>
                  </div>
                </ng-template>

                <ng-template #addTagModalContent>
                  <nz-tabset class="tab-content-cnt" [(nzSelectedIndex)]="addTagModalIndex">
                    <nz-tab [nzTitle]="renamingTag ? 'Rename Tag' : 'Create New Tag'">
                      <div class="content">
                        <nz-input-group [nzSuffix]="suffixTemplate">
                          <input class="input-default" [(ngModel)]="addModalInput" type="text" nz-input
                                 placeholder="Tag Name"/>
                        </nz-input-group>
                        <div *ngIf="!renamingTag" class="color" [ngStyle]="{'background-color': initColor}"
                             (click)="toggleColorPicker('color')">
                        </div>

                        <ng-template #suffixTemplate
                        ><i
                          nz-icon
                          nz-tooltip
                          class="ant-input-clear-icon"
                          nzTheme="fill"
                          nzType="close-circle"
                          *ngIf="false"
                          (click)="inputValue = null"
                        ></i
                        ></ng-template>
                      </div>
                    </nz-tab>
                    <nz-tab *ngIf="fromPlts" nzTitle="Assign Existing">
                      <div class="content">

                      </div>
                    </nz-tab>
                  </nz-tabset>
                </ng-template>

                <ng-template #addTagModalFooter>
                  <div class="footer">
                    <button (click)="handlePopUpCancel()" nz-button class="button-no-outline">cancel</button>
                    <button class="button-standard" (click)="handlePopUpConfirm()" nz-button>
                      {{renamingTag ? 'Rename' : addTagModalIndex == 0 ? fromPlts ? 'Create & Assign' : 'Create' : 'Assign'}}
                    </button>
                  </div>
                </ng-template>
                <div nz-row class="tags-title-section" style="margin-top: -20px;">User tags<i
                  *ngIf="mode==='pltManager'"
                  (click)="addTagModal = true;fromPlts=false"
                  style="cursor:pointer;"
                  class="icon-plus-circle"></i>
                </div>
                <div *ngFor="let key of userTags | keys" nz-row class="ml-3 mt-1">
                  <p-contextMenu appendTo="body" [target]="tagMenu" [model]="tagContextMenu"></p-contextMenu>
                  <span
                    #tagMenu
                    (contextmenu)="tagFormenu = userTags[key]"
                    [ngClass]="{'active-tag': userTags[key]?.selected}"
                    class="chips"
                    [ngStyle]="{'background-color': userTags[key]?.tagColor}"
                    (click)="setFilter('userTag', userTags[key])">
                      <span class="chips-content">{{userTags[key]?.tagName}}</span>
                      <span class="chips-counter">
                        {{userTags[key]?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
                    </span>
                </div>

                <div nz-row class="tags-title-section">System Tags</div>
                <nz-collapse
                  [nzAccordion]="false"
                >
                  <ng-container *ngFor="let section of (systemTagsCount | keys)">
                    <ng-container *ngIf="(systemTagsCount[section] | keys).length > 0">
                      <nz-collapse-panel
                        [nzHeader]="section"
                      >
                        <ul class="title-list" style="position: relative;left:-24px">
                          <li *ngFor="let tag of ( systemTagsCount[section] | keys)"
                              style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
                    <span
                      [ngClass]="{'active-tag': systemTagsCount[section][tag].selected }"
                      class="chips"
                      [ngStyle]="{
                      'background-color': systemTagsCount[section][tag].count ? 'orange' : 'grey',
                      'cursor': systemTagsCount[section][tag].count ? 'pointer' : 'not-allowed'
                      }"
                      (click)="setFilter('systemTag', tag, section);selectSystemTag(section,tag)"
                    >
                      <span
                        [ngStyle]="{
                      'cursor': systemTagsCount[section][tag].count ? 'pointer' : 'not-allowed'
                      }"
                        class="chips-content">{{tag}}</span>
                      <span [ngStyle]="{
                      'background-color': 'black',
                      'cursor': systemTagsCount[section][tag].count ? 'pointer' : 'not-allowed'}"
                            class="chips-counter">{{systemTagsCount[section][tag].count}}</span>
                </span>
                          </li>
                        </ul>
                      </nz-collapse-panel>
                    </ng-container>
                  </ng-container>
                </nz-collapse>

              </div>
            </nz-tab>
          </nz-tabset>
        </div>
        <div class="collapseTags col-2" style="padding:10px 0px 0px 0px"
             [ngStyle]="{'width':collapsedTags ? '16.6666%' : 'none'}">
          <i *ngIf="!collapsedTags" (click)="collapseTags()" class="icon-chevron_right_24px"
             style="font-size: 25px; cursor: pointer"></i>
          <i *ngIf="collapsedTags" (click)="collapseTags()" class="icon-chevron_left_24px"
             style="font-size: 25px; cursor: pointer"></i>
        </div>
      </div>
      <div class="tabset-right" style="flex: 1"
           [ngStyle]="{'max-width': collapsedTags ? 'calc(100vw - 190px - 80px - 174px)' : 'calc(100vw - 190px + 80px - 174px)'}">
        <div style="background-color: #ffffff">


          <div class="PLTs-content">
            <p-contextMenu #cm appendTo="body" [model]="contextMenuItems"></p-contextMenu>
            <p-table
              [columns]="pltColumns"
              [value]="(showDeleted ? deletedPlts : listOfPltsData) | tableSortAndFilter : [sortData,filterData] | systemTagFilter: [filters.systemTag]"
              [resizableColumns]="true"
              [contextMenu]="cm"
              [scrollHeight]="'500px'"
              [scrollable]="true"
              [totalRecords]="listOfPltsData.length"
              (onSort)="onSort($event)"
              [responsive]="true"
            >
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col style="min-width: 43px">
                  <col *ngFor="let col of dataColumns" [ngStyle]="{'width': col?.width+'px'}">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr style="background-color: #ffffff !important;">
                  <th [ngStyle]="{'width': '43px','overflow':'visible'}" class="checkBoxHead"
                      style="background-color: #ffffff !important;height: 70px!important;">
                    <span
                      style="width: 90px; padding: 0px 50px 0px 12px; font-size: 15px; font-weight: bold;margin-left: 20px;">PLT Selection</span>
                  </th>
                  <th [ngStyle]="{'width': '60px'}"
                      style="background-color: #ffffff !important;height: 70px!important;"></th>
                  <ng-container *ngFor="let col of columns;">
                    <th *ngIf="col?.filtred && col.extended"
                        style="background-color: #ffffff !important;height: 70px!important;">
                    </th>
                  </ng-container>
                  <th
                    style="border-right: none !important;background-color: #ffffff !important;height: 70px!important;">
                    <i *ngIf="!extended" (click)="extend()" class="icon-chevron_right_24px"
                       style="font-size: 25px; cursor: pointer;"></i>
                    <i *ngIf="extended" (click)="extend()" class="icon-chevron_left_24px"
                       style="font-size: 25px; cursor: pointer;"></i>
                  </th>
                  <th style="background-color: #ffffff !important;"></th>
                  <th class="separator-left"
                      style="background-color: #ffffff !important; height: 70px!important;  position: relative;"
                      colspan="5">
                    <i class="icon-plus-circle" nz-dropdown
                       style="font-size: 20px;color: #000; cursor: pointer;position: absolute;left: 7px;"
                       (click)="clickButtonPlus(true)"></i>
                    <div
                      style="margin-left: 33px; border: 3px dotted #9F9F9F; height: 57px;overflow-x: auto;overflow-y: hidden;white-space: nowrap;">
                      <ng-container *ngFor="let adj of adjsArray;let adjIndex=index">
                        <div class="dashbordAdj" [ngStyle]="{'margin-left' :'5px'}">
                          <div [nzTitle]="adj.name" nzPlacement="bottom" nz-tooltip
                               style="height: 20px;margin: 0px 2px 0px 2px; text-overflow: ellipsis; white-space: nowrap;overflow: hidden;">{{adj.name}}</div>
                          <nz-dropdown [nzPlacement]="'bottomLeft'">
                            <i class="icon-menu_24px" nz-dropdown style="font-size: 18px;float: right;"></i>
                            <ul nz-menu>
                              <li nz-menu-item>
                                <a (click)="applyToSelected(adj)">Apply to Selected</a>
                              </li>
                              <li nz-menu-item>
                                <a (click)="applyToAll(adj)"
                                >Apply to All</a>
                              </li>
                              <li nz-menu-item>
                                <a (click)="replaceToSelectedPlt(adj)">Replace Selected</a>
                              </li>
                              <li nz-menu-item>
                                <a (click)="replaceToAllAdjustement(adj)"
                                >Replace All</a>
                              </li>
                              <li nz-menu-item>
                                <a (click)="ModifyAdjustement(adj)"
                                >Modify</a>
                              </li>
                            </ul>
                          </nz-dropdown>
                          <input (change)="onChangeAdjValue(adj,$event)" [disabled]="adj.linear" [value]="adj.value"
                                 class="templateInput"
                                 style="height: 17px;">
                        </div>
                      </ng-container>
                    </div>

                  </th>
                  <th style="background-color: #ffffff !important;">
                    <nz-dropdown [nzPlacement]="'bottomRight'">
                      <i class="icon-menu_24px" nz-dropdown
                         style="font-size: 25px; float: right; margin-right: 7px"></i>
                      <ul nz-menu>
                        <li nz-menu-item>
                          <a>Save template</a>
                        </li>
                        <li nz-menu-item>
                          <a>Load template</a>
                        </li>
                        <li nz-menu-item>
                          <a>Apply template</a>
                        </li>
                      </ul>
                    </nz-dropdown>
                  </th>
                </tr>
                <tr>
                  <th [ngStyle]="{'width': '43px'}" class="checkBoxHead">
                    <label nz-checkbox [nzChecked]="selectAll" (nzCheckedChange)="checkAll($event)"
                           [nzIndeterminate]="someItemsAreSelected"></label>
                    <i (click)="checkBoxsort()" style="cursor: pointer;" nz-icon nzType="down" nzTheme="outline"></i>
                  </th>
                  <th [ngStyle]="{'width': '60px'}">
                      <span style="display:flex;justify-content: space-between;font-weight: bold">
                        User Tags
                      </span>
                  </th>

                  <ng-container *ngFor="let col of dataColumns; let i = index">
                    <th *ngIf="i > 0 && col.extended" [ngStyle]="{'width': col?.width}"
                        [ngClass]="{ 'inuring-header':col.fields=='inuring','separator-left':col?.fields == 'overallLMF','draggable': col?.dragable}">
                      <span style="display:flex;justify-content: space-between;">
                        {{col?.header}}
                        <ng-container *ngIf="col?.sorted" [ngSwitch]="sortData[col?.fields]">
                          <i *ngSwitchCase="'asc'" class="icon-keyboard_arrow_up_24px"
                             (click)="sortChange(col?.fields,sortData[col.fields])" style="font-size: 1.4em;"></i>
                          <i *ngSwitchCase="'desc'" class="icon-keyboard_arrow_down_24px"
                             (click)="sortChange(col?.fields,sortData[col.fields])" style="font-size: 1.4em;"></i>
                          <i *ngSwitchDefault class="icon-direction"
                             (click)="sortChange(col?.fields,sortData[col.fields])" style="font-size: 1.4em;"></i>
                        </ng-container>
                      </span>
                      <i #iconNote *ngIf="col.icon === 'icon-note'" [ngClass]="col.icon"></i>
                      <nz-dropdown *ngIf="col.icon === 'icon-focus-add'" [nzPlacement]="'bottomLeft'">
                        <i [ngClass]="col.icon" nz-dropdown style="font-size: 15px;"></i>
                        <ul nz-menu>
                          <li nz-menu-item>
                            <div class="checkboxInput">
                              <label [(ngModel)]="inProgressCheckbox"
                                     nzChecked
                                     nz-checkbox
                                     style="margin-right: 12px;">
                                <i class="icon-history-alt iconYellow"></i> In progress
                              </label>
                            </div>
                          </li>
                          <li nz-menu-item>
                            <div class="checkboxInput">
                              <label [(ngModel)]="checkedCheckbox"
                                     nzChecked
                                     nz-checkbox
                                     style="margin-right: 12px;">
                                <i class="icon-check-circle iconGreen"></i> Checked
                              </label>
                            </div>
                          </li>
                          <li nz-menu-item>
                            <div class="checkboxInput">
                              <label [(ngModel)]="lockedCheckbox"
                                     nzChecked
                                     nz-checkbox
                                     style="margin-right: 12px;">
                                <i class="icon-lock-alt iconRed"></i> Locked
                              </label>
                            </div>
                          </li>
                        </ul>
                      </nz-dropdown>
                    </th>
                  </ng-container>
                </tr>
                <tr>
                  <th colspan="2"></th>
                  <ng-container *ngFor="let col of columns;">
                    <th *ngIf="col?.filtred && col.extended">
                      <div class="filter-input">
                        <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
                        <input *ngIf="col.header.length > 0" pInputText type="text"
                               (input)="filter(col?.fields, $event.target.value)">
                      </div>
                    </th>
                  </ng-container>
                  <th></th>
                  <th style="border-right: none !important;"></th>
                  <th style="border-left: 8px solid #F4F6FC !important;"></th>
                  <th colspan="3"></th>
                  <th style="background-color: #FAEBD7 !important;"></th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
                <tr (contextmenu)="selectedItemForMenu=rowData.pltId" [pContextMenuRow]="rowData"
                    [ngClass]="{'active_plt_item': rowData.selected && !rowData.opened, 'opened_plt_item': rowData.opened }"
                    *ngIf="filters.systemTag.length == 0 ? rowData?.visible :  rowData?.visible && rowData?.tagFilterActive">
                  <td [ngStyle]="{'width': '43px'}">
                    <label nz-checkbox [nzChecked]="rowData.selected"
                           (nzCheckedChange)="selectSinglePLT(rowData.pltId,$event)"></label>
                  </td>
                  <td
                    pDroppable="adjustment"
                    (onDrop)="onDrop(rowData.pltId)"
                    (onDragEnter)="ondragEnter(col,rowData.pltId)"
                    (onDragLeave)="ondragLeave(col)"
                    [ngClass]="{'draggable':col?.dragable,'fixed':!col?.dragable,'separator-right':col?.icon == 'icon-note'}"
                    *ngFor="let col of dataColumns; let i = index"
                    (click)="handlePLTClick(rowData.pltId,rowIndex,$event)"
                    [ngStyle]="{'width': i ==0 ?'60px':'','background-color':getDragableColor(col.fields),'border-right': col?.icon == 'icon-note' ? '8px solid #F4F6FC' : 'none'}">

                    <ng-container *ngIf="i === 0">
                      <div class="td-wrapper-tags">
                        <ng-container *ngFor="let tag of rowData.userTags;let i= index;">
                          <span class="tag-el" *ngIf="i < 2"
                                [ngStyle]="{ 'background-color': tag.tagColor}">&nbsp;</span>
                          <span class="tag-ellipsis" *ngIf="i == 2" style="background-color: #E0E0E0"><i
                            class="icon-ellipsis-h"></i></span>
                        </ng-container>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="i === 1">
                      <div class="text-elipsice" style="font-weight: bold">{{rowData.pltId | textLength}}</div>
                    </ng-container>
                    <ng-container *ngIf="i > 1">
                      <ng-container *ngIf="col?.type == 'field' && col?.type != 'checkbox'&& !col?.dragable ">
                        <div class="text-elipsice"
                             [ngStyle]="{'font-weight': i == 2 ? 'bold' : 'normal'}">{{ i == 2 ? (rowData[col.fields]) : rowData[col.fields]}}</div>
                      </ng-container>
                      <ng-container *ngIf="col?.type == 'icon'">
                        <div class="td-wrapper-check">
                          <div *ngIf="col.icon=='icon-focus-add'">
                            <i
                              [ngClass]="{ 'icon-history-alt iconYellow': rowData?.status=='in progress', 'icon-check-circle iconGreen': rowData?.status=='locked' ,'icon-lock-alt iconRed': rowData?.status=='checked' }"></i>
                          </div>
                          <div *ngIf="col.icon=='icon-note'">
                            <i class="icon-plus-circle ant-dropdown-trigger" style="color: #000; cursor: pointer"
                               (click)="clickButtonPlus(false,rowData)"></i>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="col?.dragable">
                        <div
                          style="display: flex;"
                          class="text-elipsice border-dragable"
                          [ngStyle]="{'font-weight': i == 2 ? 'bold' : 'normal'}">
                          <div *ngIf="col.fields=='default'" style="display: flex;height: max-content">
                            <div
                              class="adjustDiv" style=" background: #f3f3f3;">
                                          <span
                                            class="spanStyle">Model Calib</span>
                              <input class="templateInput" disabled
                                     style=" background: #f3f3f3;" value="2.1">
                            </div>
                          </div>

                          <ng-container *ngFor="let adjs of adjutmentApplication">
                            <div
                              *ngIf="col.fields=='base' && adjs.pltId == rowData.pltId && adjs.adj.category == 'Base'"
                              style="display: flex;height: max-content;">
                              <div pDraggable="adjustment"
                                   (onDragEnd)="onDragEnd($event,adjs)"
                                   (onDragStart)="onDragStart($event,adjs.adj)"
                                   (onDrag)="onDragged(adjs)"
                                   class="adjustDiv">
                                <span class="spanStyle">{{adjs?.adj?.name}}</span>
                                <nz-dropdown [nzPlacement]="'bottomLeft'" class="dropD">
                                  <i [id]="threadIndex" class="icon-menu_24px" nz-dropdown
                                     style="font-size: 18px;float: right"></i>
                                  <ul nz-menu>
                                    <li nz-menu-item>
                                      <a (click)="addAdjustmenet(adj)">Apply adjustement</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="deleteAdjs(adjs.adj,rowData.pltId)"
                                      >Delete</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a>Copy</a>
                                    </li>
                                  </ul>
                                </nz-dropdown>
                                <input class="templateInput" [value]="adjs?.adj?.value">
                              </div>
                            </div>
                            <div
                              *ngIf="col.fields=='client' && adjs.pltId == rowData.pltId && adjs.adj.category == 'Client'"
                              style="display: flex;height: max-content">
                              <div pDraggable="adjustment"
                                   (onDragEnd)="onDragEnd($event,adjs)"
                                   (onDragStart)="onDragStart($event,adjs.adj)"
                                   (onDrag)="onDragged(adjs)"
                                   class="adjustDiv">
                                <span class="spanStyle">{{adjs?.adj?.name}}</span>
                                <nz-dropdown [nzPlacement]="'bottomLeft'" class="dropD">
                                  <i [id]="threadIndex" class="icon-menu_24px" nz-dropdown
                                     style="font-size: 18px;float: right"></i>
                                  <ul nz-menu>
                                    <li nz-menu-item>
                                      <a (click)="addAdjustmenet(adjs,rowData.pltId)">Apply adjustement</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a (click)="deleteAdjs(adjs.adj,rowData.pltId)"
                                      >Delete</a>
                                    </li>
                                    <li nz-menu-item>
                                      <a>Copy</a>
                                    </li>
                                  </ul>
                                </nz-dropdown>
                                <input class="templateInput" [value]="adjs?.adj?.value">
                              </div>
                            </div>
                          </ng-container>

                          <div *ngIf="col.fields=='inuring'" class="adjustDiv">
                            <span class="spanStyle"></span>
                            <nz-dropdown [nzPlacement]="'bottomLeft'" class="dropD">
                              <i [id]="threadIndex" class="icon-menu_24px" nz-dropdown
                                 style="font-size: 18px;float: right"></i>
                              <ul nz-menu>
                                <li nz-menu-item>
                                  <a (click)="addAdjustmenet(adj)">Apply adjustement</a>
                                </li>
                                <li nz-menu-item>
                                  <a
                                  >Delete</a>
                                </li>
                                <li nz-menu-item>
                                  <a>Copy</a>
                                </li>
                              </ul>
                            </nz-dropdown>
                            <input class="templateInput" disabled
                                   value="P00002">
                          </div>
                          <div *ngIf="dragPlaceHolderId == rowData.pltId && dragPlaceHolderCol == col?.fields"
                               class="dndPlaceholder"></div>
                        </div>
                      </ng-container>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <div style="margin: 20px 12px 13px 26px;" class="templateFooter pull-right">
            <button class="ant-btn ant-btn-default"
                    style="background-color: #ffffff !important;color: #070acf;border-color:#070acf;margin-right: 20px; width: 100px;height: 30px; ">
              Export
            </button>
            <button class="ant-btn ant-btn-default"
                    style="background-color: #ffffff !important;color: #0b2ccf;border-color:#070acf;margin-right: 20px;width: 100px;height: 30px; ">
              Save As
            </button>
            <button class="ant-btn ant-btn-default" style="width: 100px;height: 30px; ">APPLY</button>
          </div>
        </div>
      </div>

    </div>
    <app-last-adjustment-matrix style="height: 25vh"></app-last-adjustment-matrix>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzFooter]="modalFooter" class="modelAdjustment"
          (nzOnCancel)="handleCancel()"
          [nzTitle]="modalTitle">
  <div nz-row>
    <div nz-col nzSpan="24">
      &nbsp;
    </div>
  </div>
  <div nz-row>
    <div class="modal-left-item" nz-col nzSpan="8" style="margin-top: 10px">
      <b>Basis</b>
    </div>
    <div nz-col nzSpan="16">
      <!-- (ngModelChange)="selectCategory(categorySelectedFromBasis)"-->
      <nz-select [(ngModel)]="categorySelectedFromAdjustement"
                 (ngModelChange)="selectCategory(categorySelectedFromAdjustement)"
                 [nzPlaceHolder]="'Select Adjustment'"
                 [nzSize]="size" style="width: 260px;">
        <ng-container *ngFor="let option of allAdjsArray">
          <nz-option *ngIf="option.name!='Default'" [nzLabel]="option.name"
                     [nzValue]="option"></nz-option>
        </ng-container>
      </nz-select>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-collapse *ngIf="categorySelectedFromAdjustement?.description" [nzBordered]="false">
        <nz-collapse-panel [nzHeader]="categorySelectedFromAdjustement?.adjustmentBasis" [nzActive]="true">
          <p>{{categorySelectedFromAdjustement?.description}}</p>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>
  <div nz-row>
    <div class="modal-left-item" nz-col nzSpan="8">
      <b>Category</b>
    </div>
    <div nz-col nzSpan="16" style="line-height: 2.2rem;">
      <!-- (ngModelChange)="selectCategory(categorySelectedFromBasis)"-->
      <b style="margin-left: 10px;">{{categorySelected}}</b>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      &nbsp;
    </div>
  </div>
  <div nz-row>
    <div class="modal-left-item" nz-col nzSpan="8" style="margin-top: 10px">
      <b>Narrative</b>
    </div>
    <div nz-col nzSpan="16">
      <textarea style="margin-left: 10px; width: 95%" rows="4" nz-input [(ngModel)]="inputValue"></textarea>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="24">
      &nbsp;
    </div>
  </div>
  <div nz-row>
    <div class="modal-left-item" nz-col nzSpan="8" style="margin-top: 10px">
      <b>Type</b>
    </div>
    <div nz-col nzSpan="16">
      <nz-select [(ngModel)]="singleValue" (ngModelChange)="selectBasis(singleValue)"
                 [nzPlaceHolder]="'choose Type'"
                 [nzSize]="size" style="width: 260px;">
        <nz-option *ngFor="let option of AdjustementType" [nzLabel]="option.name" [nzValue]="option"></nz-option>
      </nz-select>
    </div>
  </div>
  <div nz-row style="margin-top: 20px;" *ngIf="categorySelectedFromAdjustement">
    <div class="modal-left-item" nz-col nzSpan="8" style="margin: 5px;">
      Capped
    </div>
    <div nzSpan="16" style="line-height: 2.2rem;">
      <nz-switch [nzDisabled]="true" [ngModel]="categorySelectedFromAdjustement?.exposureFlag == 'CAP'" nzSize="small"
                 style="margin-left: 15px;"></nz-switch>
    </div>
  </div>

  <ng-container *ngIf="linear">
    <div nz-row>
      <div nz-col nzSpan="24" style="margin: 5px;">
        <hr>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="24" style="margin: 5px;">
        <b>Parameter</b>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="2">
        &nbsp;
      </div>
      <div nz-col nzSpan="11">
        Loss Modification Factor (LMF)
      </div>
      <div nz-col nzSpan="9">
        <input
          #inputElement
          [(ngModel)]="columnPosition"
          nz-input
          nz-tooltip
          style="width: 200px;
        height: 40px;
        background: #f9f9f9;
        border-radius: 0;
        border:0;
        border-bottom: 1px solid black;
        color:#0700CF"
        />
      </div>
    </div>
  </ng-container>
  <ng-template #modalFooter>
    <button (click)="handleCancel()"
            class="ant-btn"
            style="color: rgba(82,89,95,0.68); margin-right: 20px; border: none; width: 100px;height: 30px; "> CANCEL
    </button>
    <button *ngIf="!modifyModal"
            (click)="addAdjustmentFromPlusIcon(false,singleValue,categorySelectedFromAdjustement)"
            class="ant-btn ant-btn-default"
            style="background-color: #ffffff !important; color: #0b2ccf;border-color:#070acf;margin-right: 20px;width: 70px;height: 30px; ">
      ADD
    </button>
    <button *ngIf="!modifyModal" (click)="addAdjustmentFromPlusIcon(true,singleValue,categorySelectedFromAdjustement)"
            class="ant-btn ant-btn-default"
            style="width: 130px; height: 30px; ">ADD & CLOSE
    </button>
    <button *ngIf="modifyModal" (click)="saveAdjModification(categorySelectedFromAdjustement)"
            class="ant-btn ant-btn-default"
            style="width: 130px; height: 30px; ">SAVE
    </button>
  </ng-template>
</nz-modal>


