<div class="plt-browser-wrapper">
  <div class="a-app-wrapper">
    <div class="a-app-header">
      <h4>Calibration Editor</h4>
    </div>
    <div class="my-tabs" style="margin-bottom: 10px; height: 95%">
      <div *ngIf="!collapsedTags" class="noMargin row" style="position: relative;width: 175px;">
        <div class="col-10" style="padding:unset; position: absolute;min-width: 175px">
          <app-plt-left-menu
            [menuInputs]="{
            tagContextMenu: tagContextMenu,
            wsId: workspaceId,
            uwYear: uwy,
            projects: projects,
            showDeleted: showDeleted,
            filterData: filterData,
            filters: filters,
            addTagModalIndex: tagModalIndex,
            fromPlts: fromPlts,
            deletedPltsLength: (listOfDeletedPlts | keys).length,
            userTags: userTags,
            systemTags: systemTags,
            selectedListOfPlts: selectedListOfPlts,
            systemTagsCount: systemTagsCount,
            _tagModalVisible: tagModalVisible,
            _editingTag: editingTag,
            _modalSelect: modalSelect,
            tagForMenu: tagForMenu,
            wsHeaderSelected: wsHeaderSelected,
            pathTab:false
          }"
            (onAssignPltsToTag)="assignPltsToTag($event)"
            (onCreateTag)="createTag($event)"
            (onProjectFilter)="filter($event)"
            (onEditTag)="editTag()"
            (onResetPath)="resetPath()"
            (onSelectProjects)="setSelectedProjects($event)"
            (onSelectSysTagCount)="selectSystemTag($event)"
            (onSetFilters)="setFilters($event)"
            (onSetFromPlts)="setFromPlts($event)"
            (onSetSelectedUserTags)="setUserTags($event)"
            (onToggleDeletedPlts)="toggleDeletePlts($event)"
            (setTagModalIndex)="setModalIndex($event)"
            (setTagModalVisibility)="setTagModal($event)"
            (onSetTagForMenu)="setTagForMenu($event)"
            (onSetRenameTag)="setRenameTag($event)"
            (emitFilters)="emitFilters($event)"
            (unCkeckAllPlts)="unCheckAll()"
            (onWsHeaderSelection)="setWsHeaderSelect($event)"
            (onModalSelect)="setModalSelectedItems($event)"
          ></app-plt-left-menu>
        </div>
        <div class="collapseTags col-2" style="padding:10px 0px 0px 145px; position: absolute;width: 16.6666%">
          <i *ngIf="!collapsedTags" (click)="collapseTags()" class="icon-chevron_left_24px"
             style="font-size: 25px; cursor: pointer"></i>
        </div>
      </div>
      <div *ngIf="collapsedTags" class="noMargin row a-closed-sidebar" style="position: relative;width: 37px">
        <div class="collapseTags col-2" style="padding:15px 0px 0px 8px; position: absolute;">
          <i (click)="collapseTags()" class="icon-chevron_right_24px"
             style="font-size: 20px; cursor: pointer"></i>
        </div>
      </div>
      <div class="tabset-right" style="flex: 1;background: #fff;">
        <div>
          <div class="PLTs-content">
            <p-contextMenu #cm appendTo="body" [model]="contextMenuItems"></p-contextMenu>
            <div *ngIf="!extended" class="table-header1" [ngStyle]="{'width': headerWidth}"
                 style="float: left;background-color: #fff">
              <div class="title-as-tab" style="height: 42px; width: 100% !important;justify-content: space-between;">
                  <span class="title">
                    PLTs
                   <nz-dropdown [nzPlacement]="'bottomLeft'"
                                style=" left: 100px; margin-top: 20px;">
                    <i class="icon-menu_24px" nz-dropdown
                       style="font-size: 25px; float: right; margin-left: 7px;margin-top: 3px;"></i>
                    <ul nz-menu>
                      <li nz-submenu>
                        <span title>Create</span>
                        <ul nz-menu>
                          <li nz-menu-item>New Default Thread</li>
                          <li nz-menu-item>New Non-default Thread</li>
                        </ul>
                      </li>
                      <li nz-submenu>
                        <span title>Clone</span>
                        <ul nz-menu>
                          <li nz-menu-item>New Default Thread</li>
                          <li nz-menu-item>New Non-default Thread</li>
                        </ul>
                      </li>
                      <li nz-submenu>
                        <span title>Regenerate</span>
                        <ul nz-menu>
                          <li nz-menu-item *ngIf="selectedListOfPlts.length > 1">Selected Threads Only</li>
                          <li nz-menu-item>All Threads</li>
                        </ul>
                      </li>
                      <li nz-menu-item>Remove</li>
                      <li nz-menu-item>Manage Tags</li>
                      <li nz-menu-item>Edit PLT Name</li>
                      <li nz-menu-item>Publish to Princing</li>
                      <li nz-menu-item>Publish to Accumulation</li>
                      <li nz-submenu>
                        <span title>Inuring</span>
                        <ul nz-menu>
                          <li nz-menu-item>Add to New Inuring Package</li>
                          <li nz-menu-item>Add to Existing Inuring Package</li>
                        </ul>
                      </li>
                      <li nz-menu-item>Add to Comparer</li>
                      <li nz-menu-item>Export</li>
                      <li nz-menu-item>Delete</li>
                    </ul>
                  </nz-dropdown>
                  </span>
                <div class="pull-right" style="margin-top: 8px; margin-right: 3px;">
                  <i (click)="extend()" *ngIf="!extended && tableType=='adjustments'" class="icon-chevron_right_24px"
                     style="font-size: 25px; cursor: pointer;color: rgba(0, 0, 0, 0.65);right: 3px;"></i>
                  <i (click)="extend()" *ngIf="extended && tableType=='adjustments'" class="icon-chevron_left_24px"
                     style="font-size: 25px; cursor: pointer;color: rgba(0, 0, 0, 0.65);right: 3px;"></i>
                </div>
              </div>
              <div class=" radio-container"
                   style="height: 46px;margin-top: 42px;justify-content: space-between;display: flex;">
                <label (click)="addRemoveModal=true" class="addRemove">Add/Remove</label>
                <i class="icon-history-alt regenerate-all" nz-tooltip="Regenerate All"></i>
              </div>
            </div>
            <div *ngIf="!extended && tableType=='adjustments'" class="table-header2"
                 [ngStyle]="{'margin-left': headerWidth}"
                 style="background-color: #fff">
              <div class="title-as-tab" style="height: 42px; width: 100% !important;">
                  <span class="title">
                    Generic Thread
                     <nz-dropdown [nzPlacement]="'bottomLeft'"
                                  style=" left: 100px; margin-top: 20px;">
                       <i class="icon-menu_24px" nz-dropdown
                          style="font-size: 25px; float: right; margin-left: 7px; margin-top: 3px;"></i>
                            <ul nz-menu>
                              <li nz-menu-item (click)="clickButtonPlus(true)">Add New Adjustment</li>
                              <li nz-menu-item>Add from Template</li>
                              <li nz-menu-item>Reset/Clear</li>
                              <li nz-menu-item>Save</li>
                              <li nz-menu-item>Save As</li>
                               <li nz-submenu>
                                  <span title>Apply For All Threads</span>
                                  <ul nz-menu>
                                    <li nz-menu-item>Add to Existing Threads</li>
                                    <li nz-menu-item>New Alternate Threads</li>
                                    <li nz-menu-item>Replace Existing Threads</li>
                                  </ul>
                                <li nz-submenu>
                                  <span title>Apply For Selected Threads only</span>
                                  <ul nz-menu>
                                    <li nz-menu-item>Add to Existing Threads</li>
                                    <li nz-menu-item>New Alternate Threads</li>
                                    <li nz-menu-item>Replace Existing Threads</li>
                                  </ul>
                                </li>
                            </ul>
                    </nz-dropdown>
                  </span>
                <div
                  *ngIf="adjsArray.length > 0"
                  class="generic-thread-container"
                  dnd-sortable-container [sortableData]="adjsArray" [dropZones]="['adjustment-dropZone']"
                  style="margin-top: 10px; margin-left: 25px; max-width: calc(100% - 230px);z-index: 100;border: 1px solid #dddddd; height: 50px;overflow-x: auto;overflow-y: hidden;white-space: nowrap;">
                  <ng-container *ngFor="let adj of adjsArray;let adjIndex=index">
                    <div class="adjustDiv"
                         style="margin: 8px!important;"
                         (mouseover)="shownDropDown = adj.id"
                         (mouseleave)="onLeaveAdjustment(adj.id)"
                         dnd-sortable
                         [sortableIndex]="adjIndex"
                         [dragEnabled]="true"
                         (click)="selectedAdjust(adj.id)"
                         [ngClass]="{'selectedAdjustment':selectedAdjustment===adj.id}"
                         [dragData]="adj" (onDropSuccess)="dropThreadAdjustment()">
                            <span
                              style="font-weight: normal !important;text-overflow: ellipsis;max-width: 85px;overflow: hidden;display:inline-block;">{{adj?.name}}</span>
                      <nz-dropdown *ngIf="shownDropDown === adj.id" [(nzVisible)]="dropdownVisible"
                                   (nzVisibleChange)="shownDropDown = $event ? shownDropDown : null"
                                   [nzPlacement]="'bottomLeft'" class="dropD">
                        <i class="icon-menu_24px" nz-dropdown
                           style="font-size: 14px;float: right;margin-right: 2px;"></i>
                        <ul nz-menu>
                          <li nz-menu-item (click)="ModifyAdjustement(adj)">Edit</li>
                          <li nz-menu-item (click)="DeleteAdjustement(adj)">Delete</li>
                          <li nz-submenu>
                            <span title>Apply For All Threads</span>
                            <ul nz-menu>
                              <li (click)="applyToAll(adj)" nz-menu-item>Add to Existing Threads</li>
                              <li nz-menu-item>New Alternate Threads</li>
                              <li (click)="replaceToAllAdjustement(adj)" nz-menu-item>Replace Existing Threads</li>
                            </ul>
                          <li nz-submenu>
                            <span title>Apply For Selected Threads only</span>
                            <ul nz-menu>
                              <li (click)="applyToSelected(adj)" nz-menu-item>Add to Existing Threads</li>
                              <li nz-menu-item>New Alternate Threads</li>
                              <li (click)="replaceToSelectedPlt(adj)" nz-menu-item>Replace Existing Threads</li>
                            </ul>
                          </li>
                        </ul>
                      </nz-dropdown>
                      <input (change)="onChangeAdjValue(adj,$event)" [disabled]="adj.linear" [value]="adj.value"
                             class="templateInput"
                      >
                    </div>
                  </ng-container>
                </div>
              </div>
              <div class="pull-right radio-container">
                <div class="Deltas" style="position: unset;">Impact on EP Metrics &nbsp;
                  <div class="button-toggle">
                    <nz-switch class="switch-input" (ngModelChange)="onTableTypeChange($event)"
                               [(ngModel)]="EPMetricsTable"></nz-switch>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!extended && tableType=='EP Metrics'" class="table-header2"
                 [ngStyle]="{'margin-left': headerWidth}"
                 style="background-color: #fff">
              <div class="title-as-tab" style="height: 42px; width: 100% !important;">
                  <span class="title">
                    Thread Level EP Metrics
                  </span>
                <div class="body-wrap-dropDowns-calibration">
                  <nz-dropdown [nzTrigger]="'click'" style="margin-left: 10px;margin-top: 15px;">
                    <div class="dropdown-wrap-calibration" nz-dropdown>
                      <div class="dropdown-wrap-title-calibration">
                        <span class="dropdown-title-calibration">Change Display</span>
                        <span class="dropdown-item-selected-calibration">
                        {{selectedEPM}}
                      </span>
                      </div>
                      <div class="dropdown-icon">
                        <i nz-icon type="down"></i>
                      </div>
                    </div>
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let epm of EPMS" (click)="changeEPM(epm)">{{epm}}
                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
                <div class="body-wrap-dropDowns-calibration">
                  <nz-dropdown [nzTrigger]="'click'" style="margin-left: 10px;margin-top: 15px;">
                    <div class="dropdown-wrap-calibration" nz-dropdown>
                      <div class="dropdown-wrap-title-calibration">
                        <span class="dropdown-title-calibration">Financial Perspective</span>
                        <span class="dropdown-item-selected-calibration">
                        {{financialPerspectives.selected}}
                      </span>
                      </div>
                      <div class="dropdown-icon">
                        <i nz-icon type="down"></i>
                      </div>
                    </div>
                    <ul nz-menu>
                      <li (click)="changeFinancialPerspective(financialPerspective)"
                          *ngFor="let financialPerspective of financialPerspectives.data" nz-menu-item>
                        {{financialPerspective}}
                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
                <div class="body-wrap-dropDowns-calibration">
                  <nz-dropdown [nzTrigger]="'click'" style="margin-left: 10px;margin-top: 15px;">
                    <div class="dropdown-wrap-calibration" nz-dropdown>
                      <div class="dropdown-wrap-title-calibration">
                        <span class="dropdown-title-calibration">Change Currency</span>
                        <span class="dropdown-item-selected-calibration">
                        {{currencies.selected}}
                      </span>
                      </div>
                      <div class="dropdown-icon">
                        <i nz-icon type="down"></i>
                      </div>
                    </div>
                    <ul nz-menu>
                      <li (click)="changeCurrency(currency)" *ngFor="let currency of currencies.data" nz-menu-item>
                        {{currency}}
                      </li>
                    </ul>
                  </nz-dropdown>
                </div>
              </div>
              <div class="pull-right radio-container" style="width: 100% !important;">
                <div class="Deltas" style="position: unset; justify-content: space-between">
                  <nz-radio-group [(ngModel)]="EPMDisplay" class="default-radio" style="margin-left: 25px;">
                    <label nz-radio nzValue="percentage" style="color:  #0700e4">Delta by % Basis</label>
                    <label nz-radio nzValue="amount" style="color:  #0700e4">Delta by amount</label>
                  </nz-radio-group>
                  <div class="button-toggle">
                    Impact on EP Metrics &nbsp;
                    <nz-switch class="switch-input" (ngModelChange)="onTableTypeChange($event)"
                               [(ngModel)]="EPMetricsTable"></nz-switch>
                  </div>
                </div>
              </div>
            </div>
            <app-calibration-main-table
              (clickButtonPlus)="clickButtonPlus($event.bool,$event.data)"
              (extend)="extend()"
              (toggleSelectPlts)="toggleSelectPlts($event)"
              [adjutmentApplication]="adjutmentApplication"

              [EPMColumns]="EPMColumns"

              [frozenColumns]="frozenColumns"
              [cm]="cm"
              [dataColumns]="dataColumns"
              [extended]="extended"

              [headerWidth]="headerWidth"
              [frozenWidth]="frozenWidth"

              [EPMDisplay]="EPMDisplay"
              [randomMetaData]="randomMetaData"

              [pltColumns]="pltColumns"
              [tableType]="tableType"
              [selectedAdjustment]="selectedAdjustment"
              [deletedPlts]="deletedPlts"
              [listOfDeletedPltsData]="listOfDeletedPltsData"
              [listOfDeletedPlts]="listOfDeletedPlts"
              [listOfPltsData]="listOfPltsData"
              [listOfPlts]="listOfPlts"
              [showDeleted]="showDeleted"
              [systemTagsCount]="systemTagsCount"

              [selectedEPM]="selectedEPM"
            >
            </app-calibration-main-table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-adjustment-pop-up
  [isVisible]="isVisible"
  [allAdjsArray]="allAdjsArray"
  [AdjustementType]="AdjustementType"
  [modalTitle]="modalTitle"
  [singleValue]="singleValue"
  [modifyModal]="modifyModal"
  [global]="global"
  [categorySelectedFromAdjustement]="categorySelectedFromAdjustement"
  (selectCategory)="selectCategory($event)"
  (handleCancel)="handleCancel()"
  (addAdjustmentFromPlusIcon)="addAdjustment($event)"
  (saveAdjModification)="saveAdjModification($event)">
</app-adjustment-pop-up>
<app-add-remove-pop-up
  [isVisible]="addRemoveModal"
  [selectionStep]="'plt'"
  [stepConfig]=" {wsId: workspaceId,
    uwYear: uwy,
    plts: listOfPltsData}"
  (onVisibleChange)="addRemoveModal= $event">
</app-add-remove-pop-up>
