/*
:host {
  width: 100%;
}
.calibration{
  ::ng-deep{
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #f0f2f5 !important;
    }
  }
}

::ng-deep {

  nz-layout.ant-layout {
    width: 100% !important;
  }

  .card-container[_ngcontent-c14] .ant-tabs-card .ant-tabs-bar {
    border-color: #c8c8c8 !important;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: #1538cf;
    font-weight: 500;
  }

  .ant-tabs-ink-bar {
    position: absolute;
    bottom: 1px;
    left: 6px;
    z-index: 1;
    box-sizing: border-box;
    height: 2px;
    background-color: #1538cf;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .textCalibrationMatrix {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 34.54px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 41px;
    margin-bottom: 15px;

  }

  .card-container[_ngcontent-c14] .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
    background: #f0f2f5;
    height: 100%;
  }

  .textLastAdjustement {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 17.54px;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 41px;
    margin-bottom: 15px;

  }

  .AdjustementTextGray {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 13.26px;
    letter-spacing: 0.3px;
    line-height: 20px;
  }

  .ant-select-selection {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2421e0;
    border-radius: 0;
    border-top-width: 1.02px;
    !* border-radius: 4px; *!
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ant-select-arrow {
    color: rgb(7, 0, 207);
  }

  .ant-table-tbody > tr > td {
    padding: 4px 2px 3px 4px;
  }

  .iconYellow {
    color: #FDC228;
  }

  .iconGreen {
    color: #00B396;
  }

  .iconRed {
    color: #d81206;
  }

  nz-tabset.card2.ant-tabs.ant-tabs-top.ant-tabs-line {
    padding: 7px;
  }

  .right-column {
    background-color: #FFFFFF;
    height: auto;
    min-height: 900px;
    //height: 100%;

    .navigation-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      i {
        padding: 5px;
        border-radius: 25px;
        border: 2px solid #F5F5F5;
        color: #9C99EC;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  nz-drawer {
    ::ng-deep .ant-drawer-content-wrapper {
      width: 600px;
    }

    ::ng-deep .tabset-drawer {
      color: #0700CF;

      ::ng-deep .ant-tabs-ink-bar {
        background-color: #0700CF;
      }
    }

    ::ng-deep {
      span .ant-tabs-tab-next .ant-tabs-tab-arrow-show .ant-tabs-tab-next .ant-tabs-tab-arrow-show {
        display: none;
      }
    }
  }
  .ant-drawer .ant-drawer-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 209px;
  }
}

::ng-deep {



}

.ant-modal-title {
  margin: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.ant-modal-content {
  border-radius: 0px;
}

.card1 {
  ::ng-deep {

    ::ng-deep .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #fcfdff !important;
      height: 100%;
      padding-top: 5px;
      padding-left: 2px;
    }

    ::ng-deep .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #fcfdff !important;
    }

    ::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      font-size: 19.54px;
      font-weight: 300;
      letter-spacing: 0.25px;
      //line-height: 41px;
      margin-bottom: 17px;
      padding-top: 22px;
    }

    ::ng-deep .ant-tabs-ink-bar {
      position: absolute;
      bottom: 77px;
      left: 1px;
      z-index: 81;
      box-sizing: border-box;
      height: 20px;
      width: 130px !important;
      background-color: #0700cf;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #ffffff !important;
    }
    .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-default-bar {
      border-bottom: none !important;;
    }

    ::ng-deep .ant-table-tbody > tr > td {
      padding: 4px 2px 4px 4px;
      width: 10%;
    }

    button.ant-btn.ant-btn-default {
      background-color: #0700CF !important;
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 14.22px;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      height: 36px;
      width: 96px;
      border-radius: 18px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    ::ng-deep .ant-input {
      height: 32px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      line-height: 1.5;
      background-color: #fff;
      background-image: none;
      border: 1px solid rgba(102, 102, 102, 0.19);
      border-radius: 0px;
    }

    ::ng-deep .ant-input-affix-wrapper {
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      width: 80%;
      text-align: start;
    }

    .ant-table-thead > tr > th > div {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ant-table-thead > tr > th {

      padding: 4px;
      min-width: 80px;
      max-width: 80px;
    }

    .ant-table-thead > tr > th[colspan] {

      text-align: left;
    }

    .ant-input-affix-wrapper .ant-input {
      padding-right: 20px;
      padding-left: 2px;
    }

    .ant-input {
      height: 25px;
    }

    .ant-tabs-nav-wrap {
      margin-bottom: -9px;
    }

    .ant-table-thead > tr, .ant-table-tbody > tr {
      height: 35px !important;
    }
    ::-webkit-scrollbar {
      width: 3px;
      height: 7px;
    }
    .fixedHeadder thead > :first-child > th {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .fixedHeadder thead > :nth-child(2) > th {
      position: sticky;
      top: 35px;
      z-index: 1000;
    }

    .ant-select-selection__rendered ul {
      display: none;

    }
    .ant-select-selection__rendered div {
      display: block !important;
      user-select: text !important;;
    }
  }
}

.card2 {
  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #f0f2f5;
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #f0f2f5;
    }

    .ant-table-thead > tr, .ant-table-tbody > tr {
      height: 35px !important;
    }
  }
}

.AdjustmentCanvas {
  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: rgba(255, 255, 255, 0.76);
      height: 100%;
      padding: 2px;
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #ffffff;
    }
  }
}

.modelAdjustment {
  ::ng-deep {
    .ant-select-selection {
      height: 40px;
      width: 300px;
      border: 1px solid #b6e4da;
      background-color: #fff;
      border-radius: 0;
      margin: 10px;
    }

    .ant-switch-small {
      min-width: 35px;
      height: 18px;
      line-height: 14px;
    }

    .ant-switch {
      min-width: 44px;
      height: 18px;
      line-height: 20px;
      vertical-align: middle;
      background-color: #E5E9FA;
      border: 1px solid transparent;
      border-radius: 100px;

    }

    .ant-switch-loading-icon {
      position: absolute;
      top: 0px;
      left: 1px;
      width: 18px;
      height: 18px;
      background-color: #0700CF;
      border-radius: 18px;
      cursor: pointer;
      transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      content: ' ';
    }

    .ant-switch-loading-icon, .ant-switch::after {
      background-color: #0700CF;
    }

    .ant-switch-small::after {
      width: 16px;
      height: 16px;
    }

    .ant-modal-footer {
      padding: 35px 16px;

    }

    button.ant-btn.ant-btn-default {
      background-color: #0700CF !important;
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 14.22px;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      height: 36px;
      width: 96px;
      border-radius: 18px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }
  }

}

.fixed_header{
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
  overflow: auto;
  height: 50px;
}

.fixed_header thead {
  background: black;
  color: #ffaf7d;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}


*/
.userTagStyle {
  border-radius: 20px;
  border: 2px solid #fff;
  font-size: 10px;
  margin-left: -8px;
  padding: 1px 6px 1px 6px;
}

.table-Header {
  background: #fafafa;
  height: 38px;
  margin-top: -6px;
}

.active-tag {
  border: 2px solid #666666;
  border-radius: 18px;
}

.chips {
  padding: 4px 10px;
  color: #fff;
  font-family: rubik;
  border-radius: 10px;
  font-size: 12px;
  cursor: pointer;

  .inner-chip {
    margin-left: 5px;
    opacity: 0.8;
    font-size: 10px;
    border-radius: 11px;
    padding: 2px 8px;
  }
}

.tags-title-section[_ngcontent-c19] {
  color: #646464;
  font-size: 14.54px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 41px;
  padding-left: 18px;
  display: flex;
  font-family: rubik;
  flex: 1;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dashbordAdj {
  margin: 4px;
  border: solid 1px #CCCCCC;
  font-size: 14px;
  background: white;
  width: max-content;
  display: inline-block;
  color: black;
  min-width: 107px;
  max-width: 107px;
}

.spanStyle {
  position: relative;
  bottom: -1px;
  height: 30px;
  margin: 0px 2px 0px 2px;
}

.dropD {
  position: relative;
  left: 7px;
}

.inputOfdachboard {
  display: block;
  background: white;
  box-shadow: none;
  border: 0;
  width: 40px;
  position: relative;
  bottom: 3px;
  margin-left: 2px;
}

.divInTd {
  margin: 4px;
  border: solid 1px #cccccc;
  font-size: 10px;
  background: white;
  width: 86px;
  height: 32px !important;
  display: inline-block;
  color: black;
}

.dndPlaceholder {

  list-style: none;
  margin: 5px;
  padding: 16px;
  box-shadow: 0 0 5px 2px rgba(220, 207, 207, 0.4);
  border: 1px solid #d4e2f1;
  width: 0px;
  max-height: 10px;
  transition: width 1s ease-in-out;
}

.tablePlt .ant-table-tbody > tr {
  height: 49px !important;
}

/*
.hrStyle{
  background: #0700CF;
  height: 4px;
  margin-top: 0px;
  margin-left: 0px;
  width: 300px;
}
.textStyle{
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 17px;
  margin-bottom: 17px;
}
::ng-deep{

  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    line-height: 4px;
    font-weight: bold;
    box-shadow:#000c17  ;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    position: absolute;
    left: 100%;
  }
  .ant-input {
    background-color: #fcf6b1;
    border: none;
    font-weight: 700;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    right: 27px;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 4px;
  }
  textarea.ant-input {
    height: 145px;
    padding: 0;
  }
  .ant-collapse-content.ng-trigger.ng-trigger-collapseMotion.ant-collapse-content-active {
    height: auto;
  }
}


*/
:host {
  width: 100%;
  overflow: hidden;
  display: flex;

  ::ng-deep submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    padding-right: 15px !important;
  }

  ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    //border-left: 4px solid #00c2a8;
  }
}

.calibration {
  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #f0f2f5 !important;
    }
  }
}

::ng-deep {

  nz-layout.ant-layout {
    width: 100% !important;
  }

  .card-container[_ngcontent-c14] .ant-tabs-card .ant-tabs-bar {
    border-color: #c8c8c8 !important;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: #1538cf;
    font-weight: 500;
  }

  .ant-tabs-ink-bar {
    position: absolute;
    bottom: 1px;
    left: 6px;
    z-index: 1;
    box-sizing: border-box;
    height: 2px;
    background-color: #1538cf;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .textCalibrationMatrix {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 34.54px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 41px;
    margin-bottom: 15px;

  }

  .card-container[_ngcontent-c14] .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
    background: #f0f2f5;
    height: 100%;
  }

  .textLastAdjustement {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 20.54px;
    font-weight: bold;
    letter-spacing: 0.25px;
    line-height: 41px;
    margin-bottom: 25px;
    margin-top: -17px;

  }

  .AdjustementTextGray {
    color: rgba(0, 0, 0, 0.87);
    font-family: Rubik;
    font-size: 13.26px;
    letter-spacing: 0.3px;
    line-height: 20px;
  }

  .ant-select-selection {
    display: block;
    box-sizing: border-box;
    background-color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #2421e0;
    border-radius: 0;
    border-top-width: 1.02px;
    /* border-radius: 4px; */
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .ant-select-arrow {
    color: rgb(7, 0, 207);
  }

  .ant-table-tbody > tr > td {
    padding: 4px 2px 3px 4px;
  }

  .iconYellow {
    color: #FDC228;
  }

  .iconGreen {
    color: #00B396;
  }

  .iconRed {
    color: #d81206;
  }

  nz-tabset.card2.ant-tabs.ant-tabs-top.ant-tabs-line {
    padding: 7px;
  }

  .right-column {
    background-color: #FFFFFF;
    height: auto;
    min-height: 900px;
    //height: 100%;

    .navigation-icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      i {
        padding: 5px;
        border-radius: 25px;
        border: 2px solid #F5F5F5;
        color: #9C99EC;
        font-size: 24px;
        cursor: pointer;
      }
    }
  }

  nz-drawer {
    ::ng-deep .ant-drawer-content-wrapper {
      width: 600px;
    }

    ::ng-deep .tabset-drawer {
      color: #0700CF;

      ::ng-deep .ant-tabs-ink-bar {
        background-color: #0700CF;
      }
    }

    ::ng-deep {
      span .ant-tabs-tab-next .ant-tabs-tab-arrow-show .ant-tabs-tab-next .ant-tabs-tab-arrow-show {
        display: none;
      }
    }
  }

  .ant-drawer .ant-drawer-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 209px;
  }
}

::ng-deep {


}

.ant-modal-title {
  margin: 20px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.ant-modal-content {
  border-radius: 0px;
}

.card1 {
  ::ng-deep {

    ::ng-deep .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #fcfdff !important;
      height: 100%;
      padding-top: 5px;
      padding-left: 2px;
    }

    ::ng-deep .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #fcfdff !important;
    }

    ::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      font-size: 19.54px;
      font-weight: 300;
      letter-spacing: 0.25px;
      //line-height: 41px;
      margin-bottom: 17px;
      padding-top: 22px;
    }

    ::ng-deep .ant-tabs-ink-bar {
      position: absolute;
      bottom: 77px;
      left: 1px;
      z-index: 81;
      box-sizing: border-box;
      height: 20px;
      width: 130px !important;
      background-color: #0700cf;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #ffffff !important;
    }

    .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-default-bar {
      border-bottom: none !important;;
    }

    ::ng-deep .ant-table-tbody > tr > td {
      padding: 4px 2px 4px 4px;
    }

    button.ant-btn.ant-btn-default {
      background-color: #0700CF !important;
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 14.22px;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      height: 36px;
      width: 96px;
      border-radius: 18px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }

    ::ng-deep .ant-input {
      height: 32px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      line-height: 1.5;
      background-color: #fff;
      background-image: none;
      border: 1px solid rgba(102, 102, 102, 0.19);
      border-radius: 0px;
    }

    ::ng-deep .ant-input-affix-wrapper {
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5;
      list-style: none;
      -webkit-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum';
      position: relative;
      display: inline-block;
      width: 80%;
      text-align: start;
    }

    .ant-table-thead > tr > th > div {

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .ant-table-thead > tr > th {

      padding: 4px;
      min-width: 25% !important;
      max-width: 25% !important;
    }

    .ant-table-tbody > tr > td {
      border-left: 1px solid #e8e8e8;
    }

    .ant-table-thead > tr > th[colspan] {

      text-align: left;
    }

    .ant-input-affix-wrapper .ant-input {
      padding-right: 20px;
      padding-left: 2px;
    }

    .ant-input {
      height: 25px;
    }

    .ant-tabs-nav-wrap {
      margin-bottom: -4px;
    }

    .ant-table-thead > tr, .ant-table-tbody > tr {
      height: 35px !important;
    }

    ::-webkit-scrollbar {
      width: 3px;
      height: 7px;
    }

    .fixedHeadder thead > :first-child > th {
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .fixedHeadder thead > :nth-child(2) > th {
      position: sticky;
      top: 35px;
      z-index: 1000;
    }

    .ant-select-selection__rendered ul {
      display: none;

    }

    .ant-select-selection__rendered div {
      display: block !important;
      user-select: text !important;;
    }
  }
}

.card2 {
  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: #f0f2f5;
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #f0f2f5;
    }

    .ant-table-thead > tr, .ant-table-tbody > tr {
      height: 40px !important;
    }
  }
}

.AdjustmentCanvas {
  ::ng-deep {
    .ant-tabs-tab.ant-tabs-tab-active.ng-star-inserted {
      background: rgba(255, 255, 255, 0.76);
      height: 100%;
      padding: 2px;
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active.ng-star-inserted {
      background: #ffffff;
    }
  }
}

.modelAdjustment {
  ::ng-deep {
    .ant-select-selection {
      height: 40px;
      width: 300px;
      border: 1px solid #b6e4da;
      background-color: #fff;
      border-radius: 0;
      margin: 10px;
    }

    .ant-switch-small {
      min-width: 35px;
      height: 18px;
      line-height: 14px;
    }

    .ant-switch {
      min-width: 44px;
      height: 18px;
      line-height: 20px;
      vertical-align: middle;
      background-color: #E5E9FA;
      border: 1px solid transparent;
      border-radius: 100px;

    }

    .ant-switch-loading-icon {
      position: absolute;
      top: 0px;
      left: 1px;
      width: 18px;
      height: 18px;
      background-color: #0700CF;
      border-radius: 18px;
      cursor: pointer;
      transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      content: ' ';
    }

    .ant-switch-loading-icon, .ant-switch::after {
      background-color: #0700CF;
    }

    .ant-switch-small::after {
      width: 16px;
      height: 16px;
    }

    .ant-modal-footer {
      padding: 35px 16px;

    }

    button.ant-btn.ant-btn-default {
      background-color: #0700CF !important;
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 14.22px;
      font-weight: 500;
      letter-spacing: 1.25px;
      line-height: 16px;
      text-align: center;
      height: 36px;
      width: 96px;
      border-radius: 18px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    }
  }

}

.fixed_header {
  width: 400px;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  overflow: auto;
  height: 50px;
}

.fixed_header thead {
  background: black;
  color: #ffaf7d;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: left;
  width: 200px;
}





