:host {
  width: 100%;
  overflow: hidden;
  display: flex;
  @media  screen and (min-width: 1900px) {
    height: 100vh;
  }

  ::ng-deep submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    padding-right: 15px !important;
  }

  ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    //border-left: 4px solid #00c2a8;
  }
}

.title-project-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-left: 30px;
  padding-top: 15px;
}

.workspace-main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex: 1;
  background: #f4f6fc;
}

.pine-btn {
  box-sizing: border-box;
  height: 57px;
  width: 57px;
  background: transparent;
  border: 1px solid #E5E9FA;
  position: absolute;
  right: 0;
  top: 20px;
}

.workspace-title {
  height: 28px;
  color: #FFFFFF;
  font-size: 16.26px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-container {
  ::ng-deep {
    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #14617A;
    }

    .ant-dropdown-menu {
      padding: 0;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      border-radius: 0px !important;
      background: #2C6B81;
      border: 0;
      margin: 0;
      width: 120px;
      flex-direction: column;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: stretch;
      padding: 0;
      color: white;
      height: 60px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      background: #2C6B81;
    }

    .ant-tabs-card .ant-tabs-content {
      height: 100%;
      margin-top: -16px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      height: auto;
    }

    .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
      background: #fff;
      height: 100%;
      padding: 16px;
    }

    .ant-tabs-card .ant-tabs-bar {
      border-color: #fff;
    }

    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
    }

    /* .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
       border-color: #fff;
       background: #fff;
     }*/
    .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
      padding: 0;
    }

    .tab-metadata-title {
      color: rgba(255, 255, 255, 0.6);
      font-size: 13px;
      letter-spacing: 0.25px;
      line-height: 20px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 11px;
      }
    }

    .tab-metadata-value {
      color: #FFFFFF;
      font-size: 11px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .tab-metadata-more {
      color: #03DAC4;
      font-family: Rubik;
      font-size: 14.22px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .kpi-icon-title {
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 12.75px;
      letter-spacing: 0.08px;
      line-height: 16px;
      word-break: break-word;
      @media screen and (max-width: 768px) {
        font-size: 11px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 9px;
      }
    }

    .kpi-icon-value {
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 28.54px;
      letter-spacing: 0.25px;
      line-height: 41px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 22px;
      }
    }
  }
}

.workspace-main-content {
  ::ng-deep {
    .ant-menu-horizontal > .ant-menu-item {
      color: rgb(115, 115, 118);
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-selected {
      color: rgb(5, 37, 216);
      border-bottom: 2px solid rgb(5, 37, 216);
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-selected i {
      color: rgb(5, 37, 216) !important;
    }

    .ant-select-selection__rendered {
      color: #0700CF;
    }

  }

  .card-holder-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    flex: 1;
    padding: 0 20px 300px;
    margin: 0 auto;
    justify-content: flex-start;
    @media screen and (max-width: 1550px) and (min-width: 1200px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 1200px) {
      justify-content: center;
    }
    /*
    @media screen and (min-width: 2200px) {
      width: 2250px;
    }
    @media screen and (max-width: 1650px) and (min-width: 1500px) {
      width: 1315px;
    }

    @media screen and (max-width: 1350px) and (min-width: 1024px) {
      width: 970px;
    }
    @media screen and (max-width: 1024px) and (min-width: 780px) {
      width: 95%;
      margin: 15px auto;
    }
    */
  }

  .card-holder {
    margin: 10px 0;
    width: 50%;
    @media screen and (min-width: 2200px) {
      width: 25%;
    }

    @media screen and (min-width: 1800px) and (max-width: 2200px) {
      width: 33%;
    }

    @media screen and (max-width: 1350px) {
      margin: 10px auto;
      width: 60%;
    }

    &:hover {
      .icon-card-wrapper {
        display: flex !important;
      }
    }
  }

  .project-card {
    width: 95%;
    border: 3px solid transparent;
    border-radius: 2px;
    background-color: #FAFAFA;
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.1), 0 3px 16px 2px rgba(0, 0, 0, 0.08), 0 5px 6px -3px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.3), 0 3px 16px 2px rgba(0, 0, 0, 0.2), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
    }

    @media screen and (max-width: 768px) {
      margin: auto;
      min-width: 400px !important;
      max-width: 500px !important;
    }

    .project-header {
      height: 80px;
      display: flex;

      .project-header-icon {
        background-color: #F5A623;
        width: 80px;

        i {
          color: white;
          font-size: 2em;
        }
      }

      .project-header-title {
        span:nth-child(1) {
          color: rgba(0, 0, 0, 0.87);
          font-family: Rubik;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 0.25px;
          line-height: 24px;
        }

        span:nth-child(2) {
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          letter-spacing: 0.5px;
          line-height: 28px;
        }

        flex: 1;
        background: #F9FAFE;
      }

      .icon-card-wrapper {
        align-items: center;
        background-color: #F9FAFE;

        i {
          cursor: pointer;
          margin-right: 15px;
          font-size: 22px;
        }

        .icon-check_24px {
          border-radius: 20px;
          background-color: #06B8FF;
          color: #fff;
          padding: 1px;
        }

        span {
          width: 22px;
          cursor: pointer;
          height: 22px;
          border: 1px solid #000;
          border-radius: 20px;
          margin-right: 15px
        }
      }
    }

    .project-progress {
      height: 80px;
      background-color: #fff;

      .project-flag {
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        hr{
          border-top: 2px solid #03DAC4;
        }
      }
      .steper-icon {
        width: 15px;
        height: 15px;
        border: 2px solid #03DAC4;
        border-radius: 20px;
        display: flex;
        position: absolute;
        margin-top: -24px;
        margin-left: 70px;
        background: #fff;
      }
    }

    .project-kpi {
      font-size: 0.7em;
      background-color: #fff;

      .project-component {
        justify-content: space-between;
      }
       div {
        i {
          height: 19.89px;
          width: 16.89px;
        }

        .project-kpi-span {
          padding-top: 12px;
          font-size: 15px;
          letter-spacing: 0.5px;
          line-height: 20px;
        }

        span:nth-child(3) {
          font-size: 30px;
        }
      }

      .badge {
        margin-top: 11px;
        background: #e700104f;
        border-radius: 12px;
        font-size: 15px !important;
      }
    }

    .project-kpi-details {
      background: #F9FAFE;

      .project-kpi-details-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 35px;
        padding: 10px !important;
        font-size: 0.9em;
        @media screen and (max-width: 1500px) and (min-width: 1350px) {
          font-size: 0.7em;
        }
      }

      .dt-11 {
        font-size: 11px;
        @media screen and (max-width: 1500px) and (min-width: 1350px) {
          font-size: 10px;
        }
      }
    }
  }
}

.icon-generic {
  font-size: 22px;
  margin-top: 15px !important;
  margin-left: 20px;
}

.contextMenu {
  display: flex;

  i {
    margin-right: 10px;
    font-size: 17px;
    padding-top: 2px;
  }
}

.project-kpi-creat-wrap {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.08px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
}
