:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;

  ::ng-deep submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    padding-right: 15px !important;
  }

  ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    //border-left: 4px solid #00c2a8;
  }
}

.title-project-wrapper {
  display: flex;
  flex-direction: column;
}

.workspace-main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;
  flex: 1;
  background: #f4f6fc;
}

.workspace-title {
  height: 28px;
  color: #FFFFFF;
  font-size: 16.26px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-transform: uppercase;
}

.card-container {
  ::ng-deep {
    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #14617A;
    }

    .ant-dropdown-menu {
      padding: 0;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
      border-radius: 0px !important;
      background: #2C6B81;
      border: 0;
      margin: 0;
      width: 120px;
      flex-direction: column;
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: stretch;
      padding: 0;
      color: white;
      height: 60px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      background: #2C6B81;
    }

    .ant-tabs-card .ant-tabs-content {
      height: 100%;
      margin-top: -16px;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container {
      height: auto;
    }

    .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
      background: #fff;
      height: 100%;
      padding: 16px;
    }

    .ant-tabs-card .ant-tabs-bar {
      border-color: #fff;
    }

    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
      border-color: transparent;
      background: transparent;
    }

    /* .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
       border-color: #fff;
       background: #fff;
     }*/
    .ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
      padding: 0;
    }

    .tab-metadata-title {
      color: rgba(255, 255, 255, 0.6);
      font-size: 13px;
      letter-spacing: 0.25px;
      line-height: 20px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 11px;
      }
    }

    .tab-metadata-value {
      color: #FFFFFF;
      font-size: 11px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .tab-metadata-more {
      color: #03DAC4;
      font-family: Rubik;
      font-size: 14.22px;
      letter-spacing: 0.25px;
      line-height: 20px;
    }

    .kpi-icon-title {
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 12.75px;
      letter-spacing: 0.08px;
      line-height: 16px;
      word-break: break-word;
      @media screen and (max-width: 768px) {
        font-size: 11px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 9px;
      }
    }

    .kpi-icon-value {
      color: #FFFFFF;
      font-family: Rubik;
      font-size: 28.54px;
      letter-spacing: 0.25px;
      line-height: 41px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
      @media screen and (max-width: 1024px) and (min-width: 769px) {
        font-size: 22px;
      }
    }
  }
}

.workspace-main-content {
  ::ng-deep {
    .ant-menu-horizontal > .ant-menu-item {
      color: rgb(115, 115, 118);
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-selected {
      color: rgb(5, 37, 216);
      border-bottom: 2px solid rgb(5, 37, 216);
    }

    .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-item-selected i {
      color: rgb(5, 37, 216) !important;
    }

    .ant-select-selection__rendered {
      color: #0700CF;
    }
  }
}



/*
===================================================================================
PROJECT MODAL STYLE
===================================================================================
*/
.title-project-wrapper {
  ::ng-deep {

    .ui-dialog-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-top {
      display: flex;
      justify-content: space-between;
      background-color: white;
    }

    .ui-dialog-content.ui-widget-content {
      padding: 15px !important;
    }

    .ui-dialog-title {
      display: flex;
      flex: 1;
    }

    .ui-dialog-footer.ui-widget-content {
      padding: 0 !important;
    }

    label.ant-radio-wrapper {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      padding-bottom: 7px;
    }

    span.ant-radio + * {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .a-info-data-left {
        display: flex;
        flex-direction: column;

        .a-info-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          color: rgba(0, 0, 0, 0.87);
          font-weight: bold;
          font-size: 13px;
          letter-spacing: 0.08px;
          line-height: 21px;
        }

        .a-info-subtitle {
          color: rgba(0, 0, 0, 0.5);
          font-size: 11px;
          letter-spacing: 0.08px;
          line-height: 12px;
        }
      }
    }
  }

  .search-width {
    ::ng-deep {
      .ant-modal {
        width: 650px !important;
      }
    }
  }

  .standard-width {
    ::ng-deep {
      .ant-modal {
        width: 520px !important;
      }
    }
  }

  .header-modal {
    height: 100%;
    display: flex;
    align-items: center;

    ::ng-deep {
      .anticon {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 40px;
        cursor: pointer;
      }
    }

  }

  .a-card-list-wrap {

    .a-card-item-right {
      height: 100%;
      flex: 0 0 33%;

      &:hover {
        cursor: pointer;
        padding-right: 18px;
        color: #1890FF;
      }

      .a-card-item-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 80%;
        border-left: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }

  .a-info-card {
    margin-bottom: 10px;
  }

  .reception-label {
    ::ng-deep {
      .ant-calendar-picker:after {
        content: 'Reception On';
      }
    }
  }

  .due-label {
    ::ng-deep {
      .ant-calendar-picker:after {
        content: 'Due On';
      }
    }
  }

  .search-area-wrapper {
    display: flex;
    justify-content: space-between;

    .search-result {
      background-color: #FFFFFF;
      display: flex;
      padding: 10px 5px;
      width: 49%;
    }

    .project-inputs {
      display: flex;
      width: 50%;

      .a-info-card {
        height: 50px;
        width: 100%;
        margin: 0 2px 1px;
      }

    }
  }
}

::ng-deep .ui-table-scrollable-wrapper.ng-star-inserted > div {
  min-height: 0 !important;
}

::ng-deep tr.ui-state-highlight {
  color: #565656 !important;
}

::ng-deep tr.active_contract_item {
  color: #565656 !important;
}

.ui-listbox-list {
  width: 600px;
}
