<div class="workspace-main-content">
  <div class="a-app-wrapper">
    <div class="a-app-header">
      <div class="title-project-wrapper">
        <app-hyper-links [routes]="hyperLinksRoutes" [links]="hyperLinks" [activeItem]="'Projects'" [RoutingConfig]="workspaceUrl"></app-hyper-links>
        <div style="display: flex;">
          <h4>Projects</h4>
          <nz-dropdown [nzTrigger]="'hover'">
            <i nz-dropdown  style="padding-left: 6px; padding-top: 6px; cursor: pointer; font-size: 27px" class="icon-menu_24px float-right mr-1 mt1"></i>
            <ul nz-menu nzSelectable>
              <li (click)="newProject=true; searchWorkspace=false;" nz-menu-item> New Project</li>
              <li (click)="searchWorkspace=true; newProject=false;" nz-menu-item> New Linked Project</li>
            </ul>
          </nz-dropdown>
        </div>
      </div>
      <div style="display: flex">
        <nz-select class="float-right mt-2 a-dropdown-small" style="width: 150px; margin-right: 70px;" nzShowSearch
                   [(ngModel)]="selectedPrStatus">
          <nz-option nzLabel="Active Projects" nzValue="1"></nz-option>
        </nz-select>
        <app-pin
          [active]="!workspace?.isPinned"
          (pinWs)="pinWorkspace()"
          (unpinWs)="unPinWorkspace()"
        >
        </app-pin>
      </div>
    </div>
    <div style="height: 60vw">
      <projects-list (select)="selectProject($event)" [projects]="workspace?.projects"
                     (delete)="delete($event)"></projects-list>
    </div>

    <app-workspace-project-popup [isVisible]="searchWorkspace"
                                 (onVisibleChange)="cancelCreateExistingProjectPopup()"
                                 [selectionStep]="'project'"
                                 (onSelectProjectNext)="selectProjectNext($event)">
    </app-workspace-project-popup>

    <app-create-project-popup [isVisible]="newProject"
                              [workspace]="workspace"
                              [newProject]="selectedProject"
                              (onCancelCreateProject)="onCancelCreateProject()"
    ></app-create-project-popup>
  </div>


</div>

<!--<p-toast></p-toast>-->
