<nz-layout>


  <div nz-row class="row top-separator">
    <div nz-col nzSpan=24>
      <span>
        SEARCH ENVIRONMENT &nbsp; <i class="icon-close_24px" (click)="navigateBack()"></i>
      </span>
    </div>
  </div>

  <div nz-row class="search-container">
    <div style="  width: 100% ">
      <div class="mr-3 ml-3">

        <div class="title-wrapper" nz-row style="margin-top: 10px;">
          <div class="title-section">
            <h6 style="margin-bottom: 0; display:flex; align-items: center">
              <ng-container *ngIf="!paginationOption?.total; else paginationHighlight">
                0 Results
              </ng-container>
              <ng-template #paginationHighlight>
                Showing {{paginationOption?.currentPage+1 + ' to ' }}{{paginationOption?.total > paginationOption?.currentPage + 100 ? (paginationOption?.currentPage + 100) : paginationOption?.total}}{{' of ' + paginationOption?.total}}
                Results
              </ng-template>
            </h6>
          </div>

          <div class="search-actions-container">
            <button class="search-opt-btn" nz-button>Advanced Search &nbsp; <i
              class="icon-keyboard_arrow_down_24px"></i></button>
            <button class="search-opt-btn" nz-button>Saved Search &nbsp; <i class="icon-keyboard_arrow_down_24px"></i>
            </button>
            <button class="search-opt-rounded-btn" nz-button>SAVE SEARCH</button>
          </div>
        </div>

        <div class="chips-wrapper">
          <div *ngIf="globalSearchItem" style="padding: 15px 4px;">
            <app-chip-tag key='Global Search' (onclick)="closeGlobalSearch()"
                          [value]="globalSearchItem" [closeStatus]="true"></app-chip-tag>
          </div>
          <ng-container *ngIf="searchContent && searchContent?.length">
            <div *ngFor="let items of searchContent; let i = index" style="padding: 15px 4px;">
              <app-chip-tag [key]='items.key' (onclick)="closeSearchBadge($event, i, items.key)" [value]="items.value"
                            [closeStatus]="true"></app-chip-tag>
            </div>
          </ng-container>
          <span (click)="clearChips()" *ngIf="searchContent?.length > 0">Clear All</span>
        </div>
        <app-table [tableColumn]="columns" [sortable]="false" [totalRecords]="paginationOption?.total" #dt
                   [listOfData]="contracts" [virtualScroll]="true" (selectOne)="openWorkspaceInSlider($event)"
                   [tableWidth]="'1000px'" (loadMore)="loadMore($event)"
                   (filterData)="filterData($event.searchValue, $event.searchAddress)"
                   (dbClickItem)="openWorkspace($event?.workSpaceId,$event?.uwYear)"
                   [tableHeight]="'640px'"
                   [loading]="loading">
        </app-table>

      </div>

    </div>
    <app-search-main-detail-component [expandWorkspaceDetails]="expandWorkspaceDetails"
                                      [currentWorkspace]="currentWorkspace"
                                      [selectedWorkspace]="selectedWorkspace"
                                      [sliceValidator]="sliceValidator"
                                      (openWorkspaceEvent)="openWorkspace($event.wsId, $event.year)"
                                      (popOutWorkspaceEvent)="popUpWorkspace($event.wsId, $event.year)"
    ></app-search-main-detail-component>

  </div>
</nz-layout>
