.icon-size {
  font-size: 2em;
}

.text-avatar {
  display: flex;
  padding: 8px 4px 8px 6px;
  border-radius: 83px;
  background: rgb(204, 204, 204);
  width: 35px;
}

.notif-wrapper {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 320px;
}

.empty-wrapper {
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-fuse {
  height: auto;
  margin-right: 10px;
}

i.notifications_24px {
  color: rgba(0, 0, 0, 0.7) !important;
}

.notification-item {
  padding: 13px;
  border-radius: 5px;
}

.notification-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16.26px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.center-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-icon {
  font-size: 2rem;
}

.notification-content{
  font-size: 14.22px;
}

.notification-footer {
  display: flex;
  justify-content: flex-end;
}
