<!--<nz-badge (click)="updateNotif()" style="cursor: pointer; margin-top: 7px;" [nzCount]="notifCount"
          nzPlacement="bottomRight" [(nzVisible)]="visible" nz-popover [nzContent]="notificationsPopoverContent"
          nzTrigger="click">
  <i class="icon-notifications_24px icon-size"></i>
</nz-badge>
<ng-template #notificationsPopoverContent>
  <div class="tabs-popover-content" style="width: 465px; height:455px;">
    <nz-tabset class="a-tab-minitab">
      <nz-tab [nzTitle]="AllHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('all') > 0 && filteredNotification.length > 0">
            <ng-container *ngFor="let date of getDates()">
              <div *ngIf="getItemWithDate(date, 'all').length > 0">
                <p class="notification-title mt-2">
                  {{getDayFormat(date)}}
                </p>
                <ul class="list-group-fuse">
                  <ng-container *ngFor="let notification of getItemWithDate(date, 'all')">
                    <li class=" row poover-menu-item notification-item"
                        (click)="toggleNotification(notification)"
                        [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                      <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                        <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                        <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                           *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                      </div>
                      <div class="col-md-10">
                        <span class="notification-content" [innerHtml]="notification?.content"></span>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>
          <div class="empty-wrapper" *ngIf="countNotif('all') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals()">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button (click)="clearNotif('all')" class="a-button-text">CLEAR ALL</button>
              <button (click)="navigateToNotification()" class="a-button-text">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="ErrorsHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue"  class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('Error') > 0 && filteredNotification.length > 0">
            <ng-container *ngFor="let date of getDates()">
              <div *ngIf="getItemWithDate(date, 'Error').length > 0">
                <p class="notification-title mt-2">
                  {{getDayFormat(date)}}
                </p>
                <ul class="list-group-fuse">
                  <ng-container *ngFor="let notification of getItemWithDate(date, 'Error')">
                    <li class=" row poover-menu-item notification-item"
                        (click)="toggleNotification(notification)"
                        [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                      <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                        <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                        <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                           *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                      </div>
                      <div class="col-md-10">
                        <span class="notification-content" [innerHtml]="notification?.content"></span>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('Error') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('Error')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="WarningsHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('warning') > 0 && filteredNotification.length > 0">
            <ng-container *ngFor="let date of getDates()">
              <div *ngIf="getItemWithDate(date, 'warning').length > 0">
                <p class="notification-title mt-2">
                  {{getDayFormat(date)}}
                </p>
                <ul class="list-group-fuse">
                  <ng-container *ngFor="let notification of getItemWithDate(date, 'warning')">
                    <li class=" row poover-menu-item notification-item"
                        (click)="toggleNotification(notification)"
                        [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                      <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                        <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                        <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                           *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                      </div>
                      <div class="col-md-10">
                        <span class="notification-content" [innerHtml]="notification?.content"></span>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('warning') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('warning')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="InformationalHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('informational') > 0 && filteredNotification.length > 0">
            <ng-container *ngFor="let date of getDates()">
              <div *ngIf="getItemWithDate(date, 'Informational').length > 0">
                <p class="notification-title mt-2">
                  {{getDayFormat(date)}}
                </p>
                <ul class="list-group-fuse">
                  <ng-container *ngFor="let notification of getItemWithDate(date, 'Informational')">
                    <li class=" row poover-menu-item notification-item"
                        (click)="toggleNotification(notification)"
                        [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                      <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                        <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                        <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                           *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                      </div>
                      <div class="col-md-10">
                        <span class="notification-content" [innerHtml]="notification?.content"></span>
                      </div>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </ng-container>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('informational') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [ngModel]="date" (ngModelChange)="changeDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('informational')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

  <ng-template #AllHeaderContent>
    <span style="width: 5px">All Notifications &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('all')}}</span></span>
  </ng-template>

  <ng-template #ErrorsHeaderContent>
    <span style="width: 90px">Errors &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('Error')}}</span></span>
  </ng-template>

  <ng-template #WarningsHeaderContent>
    <span style="width: 80px">Warnings &nbsp; <span class="badge badge-light tab-badge">{{countNotif('warning')}}</span></span>
  </ng-template>

  <ng-template #InformationalHeaderContent>
    <span style="width: 72px">Informational &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('informational')}}</span></span>
  </ng-template>

</ng-template>-->

<nz-badge (click)="updateNotif()" style="cursor: pointer; margin-top: 7px;" [nzCount]="notifCount"
          nzPlacement="bottomRight" [(nzVisible)]="visible" nz-popover [nzContent]="notificationsPopoverContent"
          nzTrigger="click">
  <i class="icon-notifications_24px icon-size"></i>
</nz-badge>
<ng-template #notificationsPopoverContent>
  <div class="tabs-popover-content" style="width: 465px; height:455px;">
    <nz-tabset class="a-tab-minitab">
      <nz-tab [nzTitle]="AllHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('all') > 0 && filteredNotification.length > 0">
            <div *ngIf="filterByToDay('today').length > 0">
              <p class="notification-title mt-2">
                Today
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('today')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('yesterday').length > 0">
              <p class="notification-title mt-2">
                Yesterday
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('yesterday')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('lastWeek').length > 0">
              <p class="notification-title mt-2">
                02 July 2019
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('lastWeek')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
          <div class="empty-wrapper" *ngIf="countNotif('all') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeToDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals()">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button (click)="clearNotif('all')" class="a-button-text">CLEAR ALL</button>
              <button (click)="navigateToNotification()" class="a-button-text">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="ErrorsHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('Error') > 0 && filteredNotification.length > 0">
            <div *ngIf="filterByToDay('today', 'Error').length > 0">
              <p class="notification-title mt-2">
                Today
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('today', 'Error')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('yesterday', 'Error').length > 0">
              <p class="notification-title mt-2">
                Yesterday
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('yesterday', 'Error')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('lastWeek', 'Error').length > 0">
              <p class="notification-title mt-2">
                02 July 2019
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('lastWeek', 'Error')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('Error') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeToDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('Error')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="WarningsHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('warning') > 0 && filteredNotification.length > 0">
            <div *ngIf="filterByToDay('today', 'warning').length > 0">
              <p class="notification-title mt-2">
                Today
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('today', 'warning')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('yesterday', 'warning').length > 0">
              <p class="notification-title mt-2">
                Yesterday
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('yesterday', 'warning')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('lastWeek', 'warning').length > 0">
              <p class="notification-title mt-2">
                02 July 2019
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('lastWeek', 'warning')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('warning') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [(ngModel)]="date" (ngModelChange)="changeToDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('warning')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="InformationalHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchNotification($event)" [(ngModel)]="searchValue" class="input-search"/>
          </div>
          <div class="notif-wrapper" *ngIf="countNotif('informational') > 0 && filteredNotification.length > 0">
            <div *ngIf="filterByToDay('today', 'informational').length > 0">
              <p class="notification-title mt-2">
                Today
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('today', 'informational')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('yesterday', 'informational').length > 0">
              <p class="notification-title mt-2">
                Yesterday
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('yesterday', 'informational')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
            <div *ngIf="filterByToDay('lastWeek', 'informational').length > 0">
              <p class="notification-title mt-2">
                02 July 2019
              </p>
              <ul class="list-group-fuse">
                <ng-container *ngFor="let notification of filterByToDay('lastWeek', 'informational')">
                  <li class=" row poover-menu-item notification-item"
                      (click)="toggleNotification(notification)"
                      [ngStyle]="{'backgroundColor': notification?.backgroundColor, 'color': notification?.textColor}">
                    <div class="col-md-2" [ngClass]="{'center-icon': notification?.icon}">
                      <span *ngIf="notification.avatar" class="text-avatar">H.P</span>
                      <i class="notification-icon" [ngStyle]="{'color': notification?.iconColor}"
                         *ngIf="notification?.icon" [ngClass]="notification?.icon"></i>
                    </div>
                    <div class="col-md-10">
                      <span class="notification-content" [innerHtml]="notification?.content"></span>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>

          <div class="empty-wrapper" *ngIf="countNotif('informational') === 0 || filteredNotification.length === 0">
            <nz-empty></nz-empty>
          </div>

          <div class="mt-2 task-footer">
            <nz-select [ngModel]="date" (ngModelChange)="changeToDate($event)" [nzAllowClear]="false"
                       class="a-dropdown-label date-label"
                       style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
              <ng-container *ngFor="let date of getDateIntervals(); ">
                <nz-option [nzValue]="formatString(date)" [nzLabel]="date"></nz-option>
              </ng-container>
            </nz-select>

            <div class="notification-footer">
              <button class="a-button-text" (click)="clearNotif('informational')">CLEAR ALL</button>
              <button class="a-button-text" (click)="navigateToNotification()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

  <ng-template #AllHeaderContent>
    <span style="width: 5px">All Notifications &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('all')}}</span></span>
  </ng-template>

  <ng-template #ErrorsHeaderContent>
    <span style="width: 90px">Errors &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('Error')}}</span></span>
  </ng-template>

  <ng-template #WarningsHeaderContent>
    <span style="width: 80px">Warnings &nbsp; <span class="badge badge-light tab-badge">{{countNotif('warning')}}</span></span>
  </ng-template>

  <ng-template #InformationalHeaderContent>
    <span style="width: 72px">Informational &nbsp; <span
      class="badge badge-light tab-badge">{{countNotif('informational')}}</span></span>
  </ng-template>

</ng-template>
