<p-dialog [(visible)]="isVisible"
          [closable]="false"
          [styleClass]="'m-dialog-modal-lg plt-selection-pop-up' + (browesing ? ' borderless' : '')"
          [modal]="true"
          [responsive]="true"
          [baseZIndex]="1"
          [autoZIndex]="false"
          [maximizable]="true"
          (onHide)="onHide()"
          appendTo="body"
          (onShow)="onShow()"
          (resized)="onTableContainerResize($event)"
>

  <p-header>
    <div class="header">
      <ng-container *ngIf="browesing">
        <div class="previous-container">
          <button class="a-buttons-contained override">
            <i (click)="goToSearchWorkspace()" class="icon-arrow_back_ios_24px"></i>
          </button>
          <h6>
            Select PLTs
          </h6>
        </div>
      </ng-container>

      <ng-container *ngIf="!browesing">
        <h6>
          Select Workspace
        </h6>

        <div [formGroup]="keywordFormGroup">

          <nz-input-group style="z-index: 1001"
                          class="global-search-input-grp"
                          [ngClass]="{'global-search-input-grp-active': 1===1}"
                          [nzSuffix]="suffixIconSearch">
            <input searchInput [ngClass]="{'search-page-active-border': 1===1}"
                   (onEnter)="onEnter()"
                   #searchInput
                   formControlName="keyword"  (click)="search()"
                   class="search-input" type="text" nz-input [placeholder]="'Search for Treaty' ">
          </nz-input-group>

          <ng-template #suffixIconSearch>
            <i nz-icon *ngIf=" searchInput?.value?.length>=1" class="item-close clickable-item" (click)="clearSearchValue()" nzType="close"
               nzTheme="outline"></i>
            <i [ngClass]="{'search-page-active-shape': 1===1}" (click)="onEnter()" style="cursor: pointer"
               class="icon-search_24px"></i>
          </ng-template>

        </div>
      </ng-container>
      <i (click)="isVisible=false" style="cursor: pointer" class="icon-close_24px"></i>
    </div>
  </p-header>

  <ng-container *ngIf="!browesing">
    <div style="height:600px;">

      <app-table [tableColumn]="selectWsTable" [sortable]="false" [totalRecords]="paginationOption?.total" #dt
                 [listOfData]="contracts" [virtualScroll]="true" (selectOne)="openWorkspaceInSlider($event)"
                 [tableWidth]="'1000px'" (loadMore)="loadMore($event)"
                 (filterData)="filterData($event.searchValue, $event.searchAddress)"
                 (dbClickItem)="onRowSelect($event);getBrowesingItems($event)"
                 (onRowSelect)="onRowSelect($event.data)"
                 (onRowUnselect)="onRowUnselect($event)"
                 [selectionMode]="'single'"
                 [loading]="loading">
      </app-table>

    </div>
  </ng-container>

  <ng-container *ngIf="browesing">
    <div class="content">
      <div class="left">
        <div
          #leftMenu
        >
          <div
            *ngIf="!collapsedTags"
            ngResizable
            [rzHandles]="'e,w'"
            (rzResizing)="resizing()"
            [rzMinWidth]="200"
            [rzMaxWidth]="350"
            style="position: relative;width: 280px;"
          >
            <app-plt-left-menu
              [leftMenuInputs]="leftMenuInputs"
              (actionDispatcher)="leftMenuActionDispatcher($event)"
            >
            </app-plt-left-menu>
            <i (click)="collapseLeftMenu();" *ngIf="!collapsedTags" class="icon-chevron_left_24px"
               style="font-size: 25px; cursor: pointer;position: absolute;top: 12px;right: 12px;"></i>
          </div>
          <div *ngIf="collapsedTags" class="a-closed-sidebar" style="position: relative;width: 37px;height: calc( 100vh - 280px);">
            <div class="collapseTags col-2" style="padding:15px 0px 0px 8px; position: absolute;">
              <i (click)="collapseLeftMenu()" class="icon-chevron_right_24px"
                 style="font-size: 20px; cursor: pointer"></i>
            </div>
          </div>
        </div>
        <plt-tag-manager
          [tagsInputs]="tagsInputs"
          (actionDispatcher)="tagsActionDispatcher($event)"
        >
        </plt-tag-manager>
      </div>
      <div class="center">
        <div class="title-as-tab">
          <span>
            PLTs
          </span>
        </div>
        <div class="PLTs-content">
          <app-plt-main-table
            [tableInputs]="tableInputs"
            (actionDispatcher)="tableActionDispatcher($event)"
          ></app-plt-main-table>
        </div>
      </div>
      <!--
      <div [ngStyle]="{'width': rightMenuInputs['visible'] ? '500px' : '60px'}" class="right">
        <app-plt-right-menu
          (actionDispatcher)="rightMenuActionDispatcher($event)"
          [tableInputs]="rightMenuInputs"
        ></app-plt-right-menu>
      </div>
      -->
    </div>
  </ng-container>

  <p-footer>
    <div class="a-control-buttons">
      <button class="a-button-text-cancel" (click)="onHide()" >CANCEL</button>
      <ng-container *ngIf="!browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : !selectedWorkspace, 'a-buttons-contained': selectedWorkspace}"
                [disabled]="!selectedWorkspace" (click)="getBrowesingItems(selectedWorkspace)">{{ multiSteps ? 'NEXT' : 'SELECT'}}</button>
      </ng-container>
      <ng-container *ngIf="browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : tableInputs['selectedListOfPlts'].length == 0, 'a-buttons-contained': tableInputs['selectedListOfPlts'].length > 0 }"
                [disabled]="tableInputs['selectedListOfPlts'].length == 0" (click)="setBrowesingItems()">SELECT</button>
      </ng-container>
    </div>
  </p-footer>

</p-dialog>
