<div class="table-wrapper" *ngIf="tableConfig != null else spinner">
    <p-table *ngIf="tableConfig.data != null  else noDataFound"
             [columns]="tableConfig.columns" [frozenColumns]="tableConfig.frozenColumns"
             [frozenValue]="tableConfig.frozenRow" [value]="tableConfig.data"
             [scrollable]="true"
             syncScroll
             [resizableColumns]="true"
             [customSort]="true"
             (sortFunction)="onSort($event)"
             scrollHeight="calc( 100vh - 435px )" frozenWidth="520px">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns"
                     [ngStyle]="{'width':col.field == 'country'?'120px':'100px'}">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="frozenheader" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th [colSpan]="col.field == 'country' ? 2 : 1"
                        pResizableColumn
                        [pSortableColumn]="col.field">
                        <span>{{col.header}}</span>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <ng-container *ngFor="let col of columns">
                    <th [pSortableColumn]="col.field"
                        pResizableColumn
                        [ngClass]="{'filtered-column':filteredColumn == col.field}">
                        <span>{{col.header}}</span>
                    </th>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="frozenrows" let-rowIndex="rowIndex" let-rowData let-columns="columns">
            <tr (mouseenter)="hoveredRow = rowIndex"
                (mouseleave)="hoveredRow = null">
                <ng-container *ngFor="let col of columns">
                    <td [colSpan]="col.field == 'country' ? 2 : 1">
                        <b *ngIf="rowData[col.field] == 'TOTAL'">{{rowData[col.field]}}</b>
                        <div   *ngIf="rowData[col.field] != 'TOTAL'"
                               appRrNumber [number]="rowData[col.field]" [config]="numberConfig"class="total-row">
                        </div>
                    </td>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="frozenbody" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr (mouseenter)="hoveredRow = rowIndex;"
                (mouseleave)="hoveredRow = null"
                [ngClass]="{'row-hover':hoveredRow == rowIndex}">
                <ng-container *ngFor="let col of columns">
                    <ng-container *ngIf="col.field == 'country'">
                        <td class="ui-resizable-column"
                            [ngClass]="{'grouped-metric-first' : rowIndex < tableConfig.data.length - 1 &&
                                         rowData['country'] == tableConfig.data[rowIndex + 1]['country'],
                                        'grouped-metric-next':rowIndex > 0 && rowIndex < tableConfig.data.length - 1 &&
                                         rowData['country'] == tableConfig.data[rowIndex - 1]['country'] &&
                                         rowData['country'] == tableConfig.data[rowIndex + 1]['country'],
                                         'grouped-metric-last': rowIndex > 0 &&
                                         rowData['country'] == tableConfig.data[rowIndex - 1]['country'] &&
                                         (tableConfig.data[rowIndex + 1] == undefined || 
                                         rowData['country'] != tableConfig.data[rowIndex + 1]['country'])}">

                            <i *ngIf="hoveredRow == rowIndex || selectedRowRegionPeril == rowIndex"
                               (click)="filterRowRegionPeril(rowData,rowIndex)"
                               class="icon-remove_red_eye_24px"
                               [ngClass]="{'eye-icon': selectedRowRegionPeril != rowIndex,
                                           'eye-icon-selected': selectedRowRegionPeril == rowIndex}"></i>
                            {{rowData[col.field]}}
                        </td>
                        <td>
                            {{rowData['admin1']}}
                        </td>
                    </ng-container>
                    <ng-container *ngIf="col.field != 'country'">
                        <td class="ui-resizable-column">
                            <div    appRrNumber [number]="rowData[col.field]" [config]="numberConfig"
                                    class="text-ellipsis"
                                    style="font-size: 12px;font-weight: 400;text-align: right">
                            </div>
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
            <tr (mouseenter)="hoveredRow = rowIndex"
                (mouseleave)="hoveredRow = null"
                [ngClass]="{'row-hover':hoveredRow == rowIndex}">
                <ng-container *ngFor="let col of columns">
                    <ng-container>
                        <td class="ui-resizable-column" style="text-align: start; !important;">
                            <div    appRrNumber [number]="rowData[col.field]" [config]="numberConfig">
                            </div>
                        </td>
                    </ng-container>
                </ng-container>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-template #metricRow let-class="class" let-rowIndex let-rowData="rowData" >
    <td [ngClass]="class">
        <i *ngIf="hoveredRow == rowIndex || selectedRowRegionPeril == rowIndex"
           (click)="filterRowRegionPeril(rowData,rowIndex)"
           class="icon-remove_red_eye_24px"
           [ngClass]="{'eye-icon': selectedRowRegionPeril != rowIndex,
                       'eye-icon-selected': selectedRowRegionPeril == rowIndex}">
        </i>
        {{rowData['country']}}
    </td>
    <td>
        {{rowData['admin1']}}
    </td>
</ng-template>

<ng-template #spinner>
    <div style="margin: auto">
        <p-progressSpinner  [style]="{width: '50px', height: '50px'}"
                            strokeWidth="5" fill="#EEEEEE" animationDuration=".3s">
        </p-progressSpinner>
    </div>
</ng-template>
<ng-template #noDataFound>
    <div style="margin: auto">
        No Records Found
    </div>
</ng-template>

