<p-dialog
  [visible]="visible"
  [styleClass]="'m-dialog-modal-col-manager'"
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  (onHide)="onHide()"
  (onShow)="onShow()"
>
  <p-header>
    <div class="header">
      <h6>Manage Columns</h6>
      <i style="cursor: pointer" (click)="resetColumns()" class="icon-close_24px"></i>
    </div>
  </p-header>

  <div class="content">

    <div style="display: flex;flex-direction: column;">
      <h6>Available columns:</h6>
      <div
        cdkDropList
        [id]="'availableListOfColumns'"
        #availableListOfColumns="cdkDropList"
        [cdkDropListConnectedTo]="[usedListOfColumns]"
        [cdkDropListData]="listOfAvailableColumns"
        class="m-box-d"
        (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let col of listOfAvailableColumns; let i=index">
          <div class="m-box-drag" cdkDrag>
            <div class="m-box-overlay">
              <div class="left">
                <div class="burger" cdkDragHandle>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <span class="subtitle-2">
              {{col.header}}
              </span>
              </div>
              <!--
              <div class="right">
                <i *ngIf="col?.active" (click)="toggleCol(i)" class="icon-visibility_24px"></i>
                <i *ngIf="!col?.active" (click)="toggleCol(i)" class="icon-visibility_off_24px"></i>
              </div>
              -->
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="toolkit">
      <div class="toolkit-cnt">
        <div class="all right">
          <i (click)="dropAll('right')" style="cursor: pointer" class="icon-arrow_forward_ios_24px"></i>
        </div>
        <span>
          All
        </span>
        <div class="all left">
          <i (click)="dropAll('left')" style="cursor: pointer" class="icon-arrow_back_ios_24px"></i>
        </div>
      </div>
    </div>

    <div style="display: flex;flex-direction: column;">
      <h6>Show these columns in order:</h6>
      <div
        cdkDropList
        [id]="'usedListOfColumns'"
        #usedListOfColumns="cdkDropList"
        [cdkDropListConnectedTo]="[availableListOfColumns]"
        [cdkDropListData]="listOfUsedColumns"
        class="m-box-d"
        (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let col of listOfUsedColumns;let i=index">
          <div class="m-box-drag" cdkDrag>
            <div class="m-box-overlay">
              <div class="left">
                <div class="burger" cdkDragHandle>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
                <span class="subtitle-2">
              {{col?.header || col?.tooltip}}
              </span>
              </div>
              <!--
              <div class="right">
                <i *ngIf="col?.active" (click)="toggleCol(i)" class="icon-visibility_24px"></i>
                <i *ngIf="!col?.active" (click)="toggleCol(i)" class="icon-visibility_off_24px"></i>
              </div>
              -->
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="footer">
      <button (click)="resetColumns()" class="a-button-text-cancel">cancel</button>
      <button class="a-buttons-contained" (click)="saveColumns()">
        Save
      </button>
    </div>
  </p-footer>
</p-dialog>
