.button-standard {
  background-color: #0700CF;
  color: #FFFFFF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px;
  border-radius: 36px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  padding: 8px 20px 6px;
  border: none;
  background-position: center;
  transition: background 1s;
  text-transform: uppercase;

  &:hover {
    background: #0700CF radial-gradient(circle, transparent 1%, #0700CF 1%) center/15000%;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.32) !important;
    background-size: 100% !important;
    transition: background 0s !important;
  }

  &:focus {
    outline: 0 !important;
  }
}

.button-disabled {
  background-color: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.38);
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  border-radius: 36px;
  letter-spacing: 1.25px;
  padding: 8px 20px 6px;
  border: none;
  line-height: 16px;
  text-align: center;
  background-position: center;
  transition: background 0.8s;
  text-transform: uppercase;
}

.button-outlined {
  border: 1px solid #0700CF;
  border-radius: 18px;
  background-color: rgba(98, 2, 238, 0);
  color: #0700CF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-align: center;
  padding: 7px 11px 5px;
  cursor: pointer;
  background-position: center;
  transition: background 1s;
  text-transform: uppercase;

  &:hover {
    background: transparent radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
  }

  &:active {
    background-color: #D5D5EF !important;
    background-size: 100% !important;
    transition: background 0s !important;
  }

  &:focus {
    outline: 0 !important;
  }
}

.button-no-outline {
  border: none;
  background-color: #FFFFFF;
  color: #0700CF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: bold;
  letter-spacing: 1.25px;
  text-align: center;
  padding: 8px 20px 6px;
  cursor: pointer;
  background-position: center;
  transition: background 1s;
  text-transform: uppercase;

  &:hover {
    background: #FFFFFF radial-gradient(circle, transparent 1%, #FFFFFF 1%) center/15000%;
  }

  &:active {
    background-color: #D5D5EF !important;
    background-size: 100% !important;
    transition: background 0s !important;
  }

  &:focus {
    outline: 0 !important;
  }

}

.button-outlined-disabled {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.38);
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px;
  padding: 8px 20px 6px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.button-no-outline-disabled {
  border-radius: 18px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #FFFFFF;
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: bold;
  letter-spacing: 1.25px;
  padding: 8px 20px 6px;
  border: none;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.button-icon-default {
  background-color: #0700CF;
  color: #FFFFFF;
  padding: 1px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  &:focus {
    outline: 0 !important;
  }
}

.button-icon-outlined {

}

.button-icon-disabled {

}
