@mixin chips-layer {
  .chips-layer {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 34px;
    height: 79%;
    width: 83%;
    opacity: .3;
    -webkit-transform: translate(10%, 10%);
    transform: translate(10%, 10%);
  }
}
@mixin pos-icon($left,$right) {
  display: flex;
  @if $left == 'left' {
    margin-#{$left}: 0;
    margin-#{$right}: 3px;
  } @else {
    margin-#{$left}: 5px;
    margin-#{$right}: 20px;
  }
  i {
    background-color: inherit !important;
  }
}
@mixin disabled($isDisabled) {
  @if($isDisabled) {
    color: rgba(0,0,0,0.87);
  }
}
@mixin chips-content($isDisabled) {
  @if($isDisabled == 'disabled') {
  .chips-content-#{$isDisabled} {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
      @include disabled(true)
  }
  } @else {
    .chips-content {
      cursor: pointer;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      @include disabled(false)
    }
  }
}

@mixin chips($mini) {
  $class: '';
  $padding: 1px 0 0 10px;

  @if($mini == true) {
    $class: 'mini';
    $padding: 1px 0 0 10px;
  } @else {
    $class: 'filled-textonly';
    $padding: 3px 0 3px 10px;
  }

  .a-chips-input-#{$class} {
    padding: $padding;
    max-width: 150px;
    width: max-content;
    color: #fff;
    font-family: Rubik, sans-serif;
    border-radius: 10px;
    font-size: .9em;
    display: flex;
    cursor: pointer;
    margin: 0 2px;
    .right-icon {
      @include pos-icon('right','left');
      position: relative;
      @include chips-layer;
    }
    .left-icon {
      @include pos-icon('left','right');
    }

    @include chips-content(true);
    @include chips-content(false);

    .chips-counter {
      margin-left: 16px;
      border-radius: 11px;
      padding: 0px 14px;
      color: white;
      position: relative;
      display: flex;

      @include chips-layer;
    }
  }
}

.active-tag {
  border: 2px solid #666666;
  border-radius: 25px;
}

@include chips(true);
@include chips(false);
