.a-dropdown-small,.a-dropdown-label {
  .ant-select-selection.ant-select-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #0700CF;
    color: #0700cf;
  }
  .ant-select-selection {
    &:focus {
      box-shadow: none;
    }
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #0700CF;
  border-radius: 0;
}

.ant-select-selection--multiple {
  height: 32px;
  display: flex;
  border: none;
  border-bottom: 2px solid #0700cf;
  border-radius: 0;
  background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #0700CF;
}

.a-dropdown-label {
  .ant-select-selection__rendered::after {
    display: inline-block;
    width: 0;
    visibility: visible;
    position: absolute;
    pointer-events: none;
    content: '';
    font-size: 10px;
    left: 0;
    margin-top: -10px;
    margin-left: -8px;
    opacity: 0.5;
  }

  .ant-select-selection-selected-value {
    padding-top: 4px;
    font-size: 13px;
    margin-left: -8px;
  }

  .ant-select-search--inline .ant-select-search__field {
    height: auto;
    margin-top: 8px;
  }

  .ant-select ul, .ant-select ol {
    display: flex;
  }
}

.a-datepicker-standard {
  .ant-calendar-picker:after {
    position: absolute;
    pointer-events: none;
    content: '';
    font-size: 10px;
    left: 0;
    margin-top: -6px;
    margin-left: 7px;
    opacity: 0.7;
  }

  input.ant-calendar-picker-input.ant-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0700cf;
    color: #0700cf;
    background-color: #F4F6FC;
    padding-top: 4px;
    font-size: 13px;
    margin-left: -4px;

    &::-webkit-input-placeholder {
      color: #0700CF;
    }

    &::-moz-placeholder {
      color: #0700CF;
    }

    &:-ms-input-placeholder {
      color: #0700CF;
    }

    &:-moz-placeholder {
      color: #0700CF;
    }
  }

  .ant-calendar-picker-icon {
    color: #0700cf;
  }

}
