.a-dropdown-small, .a-dropdown-label {
  .ant-select-selection.ant-select-selection--single {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #0700CF;
    color: #0700cf;
  }

  .ant-select-selection {
    &:focus {
      box-shadow: none;
    }
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #0700CF;
  border-radius: 0;
}

.ant-select-selection--multiple {
  height: 32px;
  border: none;
  border-bottom: 2px solid #0700cf;
  border-radius: 0;
  background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #0700CF;
}

.a-dropdown-label {
  .ant-select-selection__rendered::after {
    display: inline-block;
    width: 0;
    visibility: visible;
    position: absolute;
    pointer-events: none;
    content: '';
    font-size: 10px;
    left: 0;
    margin-top: -10px;
    margin-left: -8px;
    opacity: 0.5;
  }

  .ant-select-selection-selected-value {
    padding-top: 4px;
    font-size: 13px;
    margin-left: -8px;
  }

  .ant-select-search--inline .ant-select-search__field {
    height: auto;
    margin-top: 8px;
  }

  .ant-select ul, .ant-select ol {
    display: flex;
  }
}

.a-datepicker-standard {
  .ant-calendar-picker:after {
    position: absolute;
    pointer-events: none;
    content: '';
    font-size: 10px;
    left: 0;
    margin-top: -6px;
    margin-left: 7px;
    opacity: 0.7;
  }

  input.ant-calendar-picker-input.ant-input, input.ui-inputtext.ui-widget.ui-state-default.ui-corner-all {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #0700cf;
    color: #0700cf;
    background-color: #F4F6FC;
    padding-top: 10px;
    font-size: 13px;
    margin-left: 1px;

    &::-webkit-input-placeholder {
      color: #0700CF;
    }

    &::-moz-placeholder {
      color: #0700CF;
    }

    &:-ms-input-placeholder {
      color: #0700CF;
    }

    &:-moz-placeholder {
      color: #0700CF;
    }
  }

  .ant-calendar-picker-icon {
    color: #0700cf;
  }

}

.dropdown-wrap {
  display: flex;
  width: 165px;
  height: 35px;
  margin-right: 10px;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #1FCBB4;
  cursor: pointer;

  .dropdown-wrap-title {
    display: flex;
    width: 87%;
    font-family: Rubik;
    flex-direction: column;
    padding: 3px 6px;

    .dropdown-title {
      font-size: 10px;
      line-height: 10px;
      color: rgba(0, 0, 0, 0.4);
    }

    .dropdown-item-selected {
      font-size: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .dropdown-icon {
    display: flex;
    font-size: 8px;
    align-items: center;
    padding-right: 8px;
  }
}

body .ui-multiselect {
  border: none;
  border-bottom: 2px solid #0700CF;
  border-radius: 0;

  .ui-multiselect-label {
    color: #0700CF;
    min-height: 30px;
  }

  &:hover {
    border-color: #0700CF !important;
  }
}

body .ui-multiselect .ui-multiselect-trigger {
  background-color: transparent;
}

::ng-deep .body-wrap-dropDowns {
  display: flex;

  .dropdown-wrap {
    display: flex;
    padding-right: 13px;
    height: 35px;
    margin-right: 10px;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #1FCBB4;
    cursor: pointer;

    .dropdown-wrap-title {
      display: flex;
      width: 100%;
      font-family: Rubik;
      flex-direction: column;
      padding: 3px 6px;

      .dropdown-title {
        font-size: 10px;
        line-height: 10px;
        color: rgba(0, 0, 0, 0.4);
      }

      .dropdown-item-selected {
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100px;
      }
    }

    .dropdown-icon {
      display: flex;
      font-size: 8px;
      align-items: center;
      padding-right: 8px;
    }
  }
}
