@import "mixins";
@import "variables";


@each $size in $h-sizes {
  $i: index($h-sizes, $size);
  h#{$i} {
    @include font-source-sans($size, rgba(0, 0, 0, 0.87), nth($h-weights, $i), nth($h-ls, $i));
  }
}

.body-1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 16.26px;
  letter-spacing: 0.5px;
}

.body-2 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14.22px;
  letter-spacing: 0.25px;
}

.subtitle-1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 16.26px;
  letter-spacing: 0.15px;
}

.subtitle-2 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.subtitle-3 {
  color: rgba(0, 0, 0,1);
  font-family: Rubik;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
}

.button-text {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  font-size: 14.22px;
  font-weight: 500;
  letter-spacing: 1.25px
}

.caption {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12.19px;
  letter-spacing: 0.4px;
}

.overline {
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12.19px;
  font-weight: 500;
  letter-spacing: 2px;
}

.mini-bold {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.08px;
}

.mini-regular {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  font-size: 11px;
  letter-spacing: 0.08px;
}

.regular {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  font-size: 20px;
  letter-spacing: 0.08px;
}
