.m-box-d {
  min-width: 241px;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  flex: 1 1 auto;
}

.m-box-drag {
  padding: 2px 7px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;

  .m-box-overlay {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .burger {
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        margin-right: 16px;
        cursor: move;

        .line {
          padding: 1.2px 8px;
          background-color: var(--primary-11);
          margin: 1.2px;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      i {
        font-size: 21px;
      }

      .icon-visibility_24px {
        color: var(--primary-1);
      }

      .icon-visibility_off_24px {
        color: var(--surface-6);
      }

    }

  }
}

.m-box-drag:hover {
  background-color: var(--other-1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 9999999999999 !important;
  border: 2px solid var(--scor-peril-2) !important;

  .line {
    background-color: var(--primary-2) !important;
  }

}

.cdk-drag-placeholder {
  background-color: var(--surface-5);

  .m-box-overlay {
    visibility: hidden;
  }
}

.cdk-drag-placeholder:hover {
  background-color: var(--surface-5);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.m-box-d.cdk-drop-list-dragging .m-box-drag:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
