@mixin font-source-sans($size: false, $colour: false, $weight: false,  $ls: false) {
  font-family: Rubik, sans-serif;
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $ls { letter-spacing: $ls; }
  margin: 0;
  padding: 0;
}

@mixin border-divider( $direction ) {
  @if $direction {
    border-#{$direction}: 1px solid #c8c8c8;
  } @else {
    border: 1px solid #c8c8c8;
  }
}
