@import "sizes";
@import "mixins";
// diffrent size modifier for m-dialog as class
//tips: m-dialog-modal-sm || m-dialog-modal for auto width && hight

/*
<p-dialog
        styleClass="m-dialog-modal-lg"
        appendTo="body"
        [responsive]="true"
      >
        <p-header>
          <hn>
            #Title
          </hn>
          <i style="cursor: pointer" (click)="tagModal(false)" class="icon-close_24px"></i>
        </p-header>
        #content
        <p-footer>
          #footer content
        </p-footer>
</p-dialog>
*/

$modal-sizes: (
  "auto": ( "height": auto, "width": auto ),
  "sm": ( "height": 35vh, "width": 40vw ),
  "sm-h": ( "height": 35vh, "width": auto ),
  "sm-f": ("height": auto, "width": 30vw, "minWidth": 450px),
  "sm-l": ( "height": auto, "width": 45vw, "minWidth": 450px ),
  "m": ( "height": 50vh, "width": 60vw ),
  "m-h": ( "height": 70vh, "width": auto ),
  "m-74": ("height": auto, "width": 450px),
  "m-f": ( "height": auto, "width": 55vw, "minWidth": 750px ),
  "spec-def": ( "height": 80vh, "width": 1200px ),
  "lg": ( "height": 90vh, "width": 90vw ),
  "lg-h": ( "height": 90vh, "width": auto ),
);

body {
  @each $abbreviation, $size in $modal-sizes {
    $expr: "";

    @if $abbreviation == auto {
      $expr: "";
    } @else {
      $expr: "-" + $abbreviation;
    }

    .m-dialog-modal#{ $expr } {
      width: map_get($size, "width");
      min-width: map_get($size, "minWidth");
      z-index: 1002 !important;

      .ui-dialog-titlebar {
        border: none;
        background-color: white;

        p-header {

          .header {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            margin-right: 34px;

            .previous-container {
              display: flex;
              align-items: center;

              button,h4 {
                margin: 0 12px;
              }
            }
          }

          span.pi.pi-times, .icon-close_24px {
            position: relative;
            left: 34px;
            bottom: 14px;
            margin: 12px;
            font-size: 1.6em;
          }
        }
      }

      .ui-dialog-content {
        height: calc(#{map_get($size, "height")} - 100px);
        border: none;
        @include border-divider("top");

        .content {
          display: flex;
        }
      }

      .ui-dialog-footer {
        border: none;
        @include border-divider("top");

        .footer {
          padding: 7px;
        }
      }
    }

    .borderless {
      .ui-dialog-content {
        height: calc(#{map_get($size, "height")} - 100px);
        border: none;

        .content {
          display: flex;
        }
      }
    }
  }
}
