.ant-popover-inner-content {
  box-shadow: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.2);
}

.ant-popover-buttons {
	.ant-btn.ant-btn-default, .ant-btn.ant-btn-primary, .ant-btn.ant-btn-danger {
	  border: none;
    background-color: #FFFFFF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: bold;
    letter-spacing: 1.25px;
    text-align: center;
    padding: 2px 20px 6px;
    cursor: pointer;
    background-position: center;
    transition: background 1s;
    text-transform: uppercase;
    border-radius: 20px;

      &:hover {
        background: #EBEBF8 radial-gradient(circle, transparent 1%, #EBEBF8 1%) center/15000%;
        border-radius: 20px;
      }

      &:active {
        background-color: #D5D5EF !important;
        background-size: 100% !important;
        transition: background 0s !important;
      }

      &:focus {
        outline: 0 !important;
      }
	}

	.ant-btn.ant-btn-default {
	  color: #A1A1A1;
	}

	.ant-btn.ant-btn-primary {
	  color: #0700CF;
	}

	.ant-btn.ant-btn-danger {
		color: #D0021B;
	}
}
