.tabs-main-component {
  .ant-tabs-tab:hover {
    /* background-color: rgb(20, 97, 122, 0.3) !important; */
    background-color: rgba(255, 255, 255, 0.15) !important;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    background: #1C607C !important;
  }
}

.a-tab-minitab {
  .ant-tabs-tab {
    padding: 11px 10px;
    font-size: 12px;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: #0700CF;
    background: transparent !important;
    .tags-info {
      background-color: #D5D6F6;
      color: #0700CF;
    }
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }

  .ant-tabs-ink-bar {
    background-color: #0700CF;
  }
}

.tabs-standard-top {
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #0700CF;
    background: transparent !important;
    .tags-info {
      background-color: #D5D6F6;
      color: #0700CF;
    }
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }

  .ant-tabs-ink-bar {
    top: 0;
    background-color: #0700CF;
  }
}

.tabs-standard-top-secondary {
  .ant-tabs-nav .ant-tabs-tab-active {
    color: #000000;
    font-weight: bold;
    background: transparent !important;
    .tags-info {
      background-color: #D5D6F6;
      color: #03DAC4;
    }
  }
  .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }

  .ant-tabs-ink-bar {
    top: 0;
    background-color: #03DAC4;
    height: 3px
  }
}
