.tags-info {
  font-size: 10px;
  padding: 2px 8px 1px;
  border-radius: 20px;
  background-color: #E2E4E9;
  color: #B9BBBF;
  margin-left: 14px;
}

.tags-secondary {
  color: #FFFFFF;
  background-color: #11C8AF;
  padding: 4px 7px 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  font-weight: 500;
  width: 55px;
}
