<div class="plt-details-full-section-view">
  <div class="header">
    <i class="icon-arrow_back_ios_24px" (click)="closeSection()"></i>
    <div class="title">
      <span>
        {{inputs?.title}}
      </span>
    </div>
  </div>
  <div class="body">
    <div *ngFor="let section of inputs?.cols?.sections" class="section">
      <div class="title">
        {{section?.title}}
      </div>
      <table>
        <tbody>
        <tr *ngFor="let row of section?.rows">
          <td style="min-width: 150px;padding: 5px 16px;">{{row?.label}}</td>
          <ng-container *ngIf="!row?.type">
            <td>{{plt[row?.field]}}</td>
          </ng-container>
          <ng-container *ngIf="row?.type == 'tags'">
              <td style="min-width: 150px;padding: 5px 16px;">
                <ng-container *ngFor="let tag of plt[row?.field];">
                  <span class="tag-el" [ngStyle]="{ 'background-color': tag.defaultColor}">&nbsp;</span>
                </ng-container>
              </td>
          </ng-container>
          <ng-container *ngIf="row?.type == 'indicator'">
            <td style="min-width: 150px;padding: 5px 16px;" class="indicator">
              <i nz-dropdown [ngClass]="{ 'icon-check': plt[row?.field], 'icon-remove_24px': !plt[row?.field] }"></i>
            </td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
