:host {
  position: relative;
  display: block;
  height: 100%;

  ::ng-deep {
    .ant-tabs-bar {
      display: none;
    }

    .ui-table .ui-sortable-column.ui-state-highlight {
      background-color: #c8c8c8;
      color: #333333;
    }

    .ui-table .ui-table-thead:nth-child(1) > tr > th {
      color: rgba(0, 0, 0, 0.6);
      font-size: 11px;
      letter-spacing: 0.08px;
      line-height: 14px
    }

    .ui-table-resizable > .ui-table-wrapper {
      table thead:nth-child(1) {
        background: white;
        border-bottom: 2px solid #DDDDDD;
      }
    }

    .ui-table .ui-table-thead > tr > th {
      border: 1px solid transparent;
      background-color: white;
    }

    .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
      background-color: transparent;
    }

    .ui-table .ui-sortable-column.ui-state-highlight {
      background-color: transparent;
    }

    .ui-table .ui-table-tbody > tr > td {
      padding: 4px 7px !important;
      font-size: 12px !important;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #DDDDDD;
      height: 24px;
      width: 56px;
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      letter-spacing: 0.08px;
      line-height: 24px;

      div {
        align-items: center;
      }
    }

    .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
      color: #848484;
    }

    .ui-table-wrapper.ng-star-inserted > table > tbody {
      zoom: 0.8;
    }

    .ui-table .ui-table-tbody > tr:nth-child(even) {
      background-color: white;
    }
  }
}

.uw-units {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'UW Units';
      width: fit-content;
    }
  }
}

.renewal-periode {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'Renewal Periode';
      width: fit-content;
    }
  }
}

.country {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'Country';
    }
  }
}


.title-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #0700cf;
  width: 310px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;

  .edit-dashboard-section {
    width: 100%;

    input {
      width: 100%;
      color: rgba(0, 0, 0, 0.4);
      border: none;

      &:focus {
        outline: 0;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
      }

      &:hover {
        border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
      }
    }
  }

  .title-wrapper-name {
    flex: 1;
    cursor: pointer;
    user-select: none;
  }
}

.missing-icon-process-none {
  height: 20px;
  width: 20px;
  background-color: #EEEEEE;
  display: block;
  border-radius: 20px;
  margin: auto;
}

.renewal-contract-table {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;

  i.icon-menu_24px {
    color: rgba(0, 0, 0, 0.38);
  }

  table {
    * {
      text-align: center;
    }

    thead {
      th {
        color: rgba(0, 0, 0, 0.4) !important;
        font-size: 12px;
        letter-spacing: 0.08px;
        line-height: 14px;
      }
    }
  }

  .select-sections {
    display: flex;
    padding: 15px;

    ::ng-deep .ant-select-selection {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #0700CF;
    }

    ::ng-deep .ant-select-selection__rendered {
      color: #0700CF;
    }
  }

}

app-table {
  padding: 0 15px;
  flex: 1;
  min-height: 10px;
  overflow: hidden;
  overflow-x: scroll;

  ::ng-deep {
    .ui-table.ui-widget.ui-table-responsive.ui-table-resizable.ui-table-resizable-fit {
      height: 100%;
    }

    .ui-table-scrollable-wrapper.ng-star-inserted {
      height: 100%;
    }

    .ui-table-scrollable-view {
      height: 100%;
    }

    .ui-table-scrollable-body {
      height: 100%;
      overflow: auto;
    }
  }
}

.menu-right-wrapper-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;

  .icon-wrapper {
    i {
      font-size: 28px;
      margin-right: 5px;
    }

    .tag-number {
      font-size: 11px;
      color: #FFF;
      background-color: #f5222d;
      padding: 2px 7px;
      border-radius: 8px;
      position: relative;
      top: -18px;
      right: 16px;
    }

    .selected-Filter {
      color: #0700CF;
    }
  }

  .icon-wrapper-active {
    i {
      color: #0700CF;
    }
  }
}

.tab-index {
  cursor: pointer;
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  margin: 8px 10px;
}

.selectedTab {
  font-weight: bold;
}
