<i style="position: absolute;right: 0px;top:5px; cursor: grab;  z-index: 9999999;color: black;font-size: 1.5em;"
   class="icon-drag_indicator_24px drag-handler"></i>

<div class="renewal-contract-table">
  <ng-container *ngTemplateOutlet="title"></ng-container>
    <app-table [sortable]="true"
               [tableColumn]="cols"
               [listOfData]="mockData"
               [virtualScroll]="false"
               [totalRecords]="mockData.length">
    </app-table>
  <div class="select-sections">
    <nz-select class="country a-dropdown-label" style="width: 140px;" nzShowSearch nzAllowClear
               [(ngModel)]="activeCountry"
               (ngModelChange)="setFilter('country', $event)"
    >
      <nz-option *ngFor="let country of Countries" [nzLabel]="country.COUNTRYSHORTNAME"
                 [nzValue]="country.COUNTRYSHORTNAME"></nz-option>
    </nz-select>

    <nz-select class="uw-units a-dropdown-label" style="width: 140px;" nzShowSearch nzAllowClear
               [ngModel]="activeUwUnit"
               (ngModelChange)="setFilter('UNDERWRITINGUNITCODE', $event)"
    >
      <nz-option *ngFor="let uwUnit of uwyUnits" [nzLabel]="uwUnit.UNDERWRITINGUNITNAMELL"
                 [nzValue]="uwUnit.UNDERWRITINGUNITCODE"></nz-option>
    </nz-select>

    <nz-select
      class="renewal-periode a-dropdown-label"
      style="width: 140px;"
      nzShowSearch
      nzAllowClear
      [(ngModel)]="renewalPeriod">
      <nz-option nzLabel="Renewal Period" nzValue="1"></nz-option>
    </nz-select>
  </div>
</div>
<ng-template #title>
  <div class="title-wrapper">
    <span *ngIf="!editName" (click)="activeEdit()" class="title-wrapper-name">{{itemName}}</span>
    <div *ngIf="editName" class="edit-dashboard-section">
      <input class="hover-input" placeholder="" (keydown)="validateName($event, identifier)" [(ngModel)]="itemName">
    </div>
    <nz-dropdown [nzTrigger]="'click'">
      <i nz-dropdown style="cursor: pointer; font-size: 27px" class="icon-menu_24px float-right mr-1 mt1"></i>
      <ul nz-menu nzSelectable>
        <li (click)="duplicateItem(itemName)" nz-menu-item><i class="icon-file_copy_24px"></i> Duplicate</li>
        <li (click)="deleteItem(identifier)" nz-menu-item><i class="icon-trash-alt"></i> Delete</li>
      </ul>
    </nz-dropdown>

    <div style="position: absolute;top: 7px;right: 30px">
      <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'">
        <a style="max-height: 28px;display: flex;" nz-dropdown>
          <i class="icon-settings_24px"></i>
        </a>
        <ul nz-menu style="font-size: 12px">
          <li nz-menu-item>Reset Sort</li>
          <li nz-menu-item>Reset Filters</li>
          <li nz-menu-item>Reset Sort/Filters</li>

          <li nz-menu-divider></li>

          <li nz-menu-item>Manage Columns</li>

          <li nz-menu-divider></li>

          <li nz-menu-item>Unselect All</li>

        </ul>
      </nz-dropdown>
    </div>
  </div>
</ng-template>

<!--
p-table #dt [columns]="cols" [value]="mockData" [responsive]="true" [resizableColumns]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
        {{col.header}}
        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td nowrap *ngFor="let col of columns" class="ui-resizable-column">
        <span *ngIf="!rowData[col.field]" class="missing-icon-process-none"></span>
        <ng-container *ngIf="rowData[col.field]"> {{rowData[col.field] }}</ng-container>

      </td>
    </tr>
  </ng-template>
</p-table
<table class="table">
  <thead>
    <th>Country</th>
    <th style="width: 18%">Cedant</th>
    <th style="width: 18%">Treaty</th>
    <th>UW year</th>
    <th>Pricing Version</th>
    <th>RR Status</th>
    <th>Owner</th>
    <th>Date</th>
    <th>Exposures</th>
    <th>PLT</th>
    <th>Published to Pricing</th>
    <th>Used in pricing</th>
    <th>Accumulation</th>
  </thead>
  <tbody>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
    <tr>
      <td>Italy</td>
      <td style="font-weight: bold">383477 Lorem Ipsum Colores</td>
      <td>334675 Donec & Nulla</td>
      <td>2019</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td>-</td>
      <td>-</td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
      <td><span class="missing-icon-process-none"></span></td>
    </tr>
  </tbody>
</table>
<ng-template #template>
  <ul nz-menu nzInDropDown (nzClick)="close($event)">
    <li (click)="duplicate.emit('')" nz-menu-item><i class="icon-file_copy_24px"></i> Duplicate</li>
    <li (click)="delete.emit('')" nz-menu-item><i class="icon-trash-alt"></i> Delete</li>
  </ul>
</ng-template>
-->
