:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;
  background-color: #F4F6FC;

  @media screen and (max-width: 1700px) {
    width: 94%;
  }
}

/*
=======================================================================================
COMPONENT STYLE
=======================================================================================
*/

.app-body{
  display: block;

  .menu-left-header {
    padding: 6px 10px 0;
    display: flex;
    width: 55%;
    font-weight: bold;
    color: #000000;
  }

  .menu-left-wrapper {
    float: left;
    background-color: #FFFFFF;
    width: 20%;
    height: 655px;

    ::ng-deep {
      .ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable {
        border: none;
        padding: 0;
        width: 100%;
      }

      ul.ui-tree-container {
        height: 215px;
      }
    }

    .menu-left-header {
      padding: 6px 10px 0;
      display: flex;
      width: 55%;
      white-space: nowrap;
    }

    .menu-left-footer {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 0 10px 10px;
    }

    .search-document-wrap {
      width: 94%;
      margin: 3px auto 10px;
    }

    .tree-menu-wrapper {
      width: fit-content;
      max-width: 98%;
      margin: 10px auto;
    }

    .files-selection-wrap {
      width: 91%;
      margin: 10px auto 20px;
      height: 210px;

      ul {
        height: 210px;

        li {
          height: 30px;
          align-items: center;
        }
      }

      ::ng-deep {
        label.ant-checkbox-wrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .empty-data-wrap {
      margin: 11px 15px;
      background: #F4F6FC;
      height: 210px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-right-wrapper {
    float: right;
    background: #FFFFFF;
    width: 79%;
    height: 655px;

    .menu-left-header {
      border-top: 4px solid #0700CF;
      display: flex;
      font-weight: bold;
      color: #000000;
      padding: 12px 25px 0;
      width: 33%;
    }

    ::ng-deep {
      .ui-table-scrollable-wrapper.ng-star-inserted > div {
        width: 100% !important;
      }
    }
  }
}

.body-wrapper-header-right {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  padding-right: 10px;
  align-items: center;

  .icon-filter {
    margin: 4px 15px 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
  }

  .icon-keyboard_arrow_down_24px, .icon-keyboard_arrow_up_24px {
    color: #fff;
    border-radius: 24px;
    font-size: 19px;
    width: 19px;
    height: 19px;
    display: flex;
    cursor: pointer;
  }

  .icon-keyboard_arrow_down_24px {
    background-color: #0700CF;
  }

  .icon-keyboard_arrow_up_24px {
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.35);
  }

}

/*
=======================================================================================
TABLE STYLE
=======================================================================================
*/

.summary-info {
  padding: 20px 0;
  margin: auto;
  width: 97%;
  overflow: hidden;
  display: flex;

  .menu-icon-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    font-size: 20px;
  }

  p-table {
    display: block;
    width: 100%;
  }

  ::ng-deep {
    .ui-table-scrollable-view.ui-table-frozen-view {
      border-right: 6px solid rgba(0, 0, 0, 0.09);
    }

    .ui-table-scrollable-body {
      margin-left: 3px;
      margin-right: 3px;
    }

    .ui-table-thead {
      .icon-menu_24px {
        font-size: 20px;
        cursor: pointer;
      }

      th {
        padding: 15px 10px 5px 3px;
        font-size: 10px;
        vertical-align: top;
        color: rgba(0, 0, 0, 0.38);
        background-color: #fff;
        font-family: Rubik;
        height: 45px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .search-bar-table {
          display: flex;
          background-color: #F5F5F5;

          input {
            width: 80%;
            background-color: #F5F5F5;
            height: 24px;
            font-size: 10px;
            border: none;

            &:focus {
              outline: 0;
            }
          }
        }
      }
    }

    .ui-table .ui-editable-column input:focus {
      outline: 0;
    }

    .ui-table-tbody {
      .icon-trash-alt {
        font-size: 20px;
        cursor: pointer;
        opacity: 0.5;
      }

      .indicator-icon {
        margin: 0 8px 0 2px;
        color: #FFFFFF;
        padding: 2px 5px 2px 4px;
        font-family: Rubik;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.17px;
        line-height: 24px;
        text-align: center;
      }

      tr, tr:nth-child(even) {
        background-color: #FFFFFF;
        user-select: none;
      }

      tr.ui-contextmenu-selected {
        background-color: #f4f6fc !important;
      }

      .ant-progress-text {
        display: block;
        color: #03DAC4;
      }

      .ant-progress-circle-path {
        stroke: #03DAC4;
        stroke-width: 8px;
      }

      .hidden-text {

        .ant-progress-text {
          display: none;
        }
      }

      th {
        padding: 0;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 12px;
        letter-spacing: 0.08px;
        height: 25px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .text-data {
          width: 100%;
          height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-top: 4px;
          font-weight: 400;
        }

        .branched-data {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .highlight-temp {
          color: #0700CF;
          border-bottom: 1px solid #0700CF;
          font-weight: bold !important;
          width: fit-content;
          height: 50%;
        }

        .indicator-flag {
          display: flex;
          height: 10px;
          width: 10px;
          border-radius: 20px;
        }

        .icon-block_24px {
          color: #B20626;
          font-size: 20px;
        }
      }

      .selected-item {
        background-color: #FDFBDF !important;
      }

      .icon-check_circle_24px {
        color: #F0F2FC;
        font-size: 17px;
      }

      .icon-check_24px {
        background-color: #00C4AA;
        color: #fff;
        padding: 1px;
        width: 15px;
        height: 15px;
        font-size: 13px;
        border-radius: 18px;
        margin-top: 4px;
      }
    }

    table {
      overflow: auto;
      width: 100%;
    }
  }
}

.table-width {
  p-table {
    width: 98%;
  }
}

.empty-table {
  ::ng-deep {
    .ui-table-scrollable-body-table {
      display: flex;
      flex-direction: column;
    }

    .ui-table-tbody {
      diaply: flex;
    }

  }

  .empty-notif-wrapper {
    background-color: #f4f6fc;
    margin: 4px 2px 0;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fixed-table-height {
  .empty-notif-wrapper {
    height: 445px;
  }
}
