<div class="a-app-wrapper">
  <div class="a-app-header">
    <div style="display: flex;flex-direction: column;align-items: flex-start;">
      <app-hyper-links [routes]="hyperLinksRoutes" [links]="hyperLinks" [activeItem]="'File-based'" [RoutingConfig]="hyperLinksConfig"></app-hyper-links>
      <h4>File-Based Import</h4>
    </div>
    <app-pin
      (pinWs)="pinWorkspace()"
      (unpinWs)="unPinWorkspace()"
      [active]="!workspaceInfo?.isPinned"
    >
    </app-pin>
  </div>
  <div class="app-body">

  </div>
</div>
