<p-dialog
  (onShow)="onShow()"
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal-lg borderless'"
  [visible]="isVisible"
  appendTo="body"
>

  <p-header>
    <div class="header">
      <h6>Select PLTs to Calibrate</h6>
      <i (click)="onHide()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content">
    <div class="left">
      <app-plt-left-menu
        (actionDispatcher)="leftMenuActionDispatcher($event)"
        [tagsInput]="tagsInput"
      >
      </app-plt-left-menu>
    </div>
    <div class="center">
      <div class="title-as-tab">
          <span>
            PLTs
          </span>
      </div>
      <div class="PLTs-content">
        <app-pop-up-plt-table
          (onCheckAll)="checkAll($event)"
          (onFilter)="filterPlts($event)"
          (onItemSelectForMenu)="setSelectedPlt($event)"
          (onPltClick)="calibrateSelectPlts($event)"
          (onSelectSinglePlt)="selectSinglePLT($event)"
          (openPltInDrawer)="openPltInDrawer($event)"
          [tableInputs]="Inputs | pickKeys : tableInputs"
          [listOfPltsThread]="listOfPltsThread"
        ></app-pop-up-plt-table>
      </div>
    </div>
    <div class="right">
      <!--<app-plt-right-menu
        (actionDispatcher)="rightMenuActionDispatcher($event)"
        [Inputs]="rightMenuInputs"
      ></app-plt-right-menu>-->
    </div>
  </div>

  <p-footer>
    <div class="footer">
      <button (click)="onHide()" class="a-button-text">Cancel</button>
      <button (click)="onSave()" class="a-buttons-contained">
        Save
      </button>
    </div>
  </p-footer>

</p-dialog>
