@import "/~src/assets/scss/variables";
:host {
  ::ng-deep {
    .ant-tabs-close-x{
      color: rgba(0,0,0,0.5);
      margin-left: 20px;
      margin-top: 6px;
    }

    .ant-tabs-nav .ant-tabs-tab:hover {
      color: rgba(0,0,0,0.7);
      background-color: #E7E9F8;
    }

    .ant-tabs-nav .ant-tabs-tab {
      padding: 5px 1px 5px 16px;
    }
  }
 overflow: hidden;
}

.popover-title {
  color: rgba(0,0,0,0.6);
  font-size: 16.26px;
  letter-spacing: 0.5px;
  line-height: 28px;

}


nz-header {
  background-color: transparent;
}





.dashboard-slider {
  background-color: #FFF;
  height: 100%;
  overflow: auto;

  ::ng-deep .ant-layout-sider-children {
    height: 86.5%;
  }
}

::ng-deep .ant-tabs-tab {
  height: 14.61px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 11px;
  letter-spacing: 0.08px;
  line-height: 24px;
  text-align: center;
  margin: 0px !important;
}

::ng-deep .ant-tabs-tab-active {
  height: 14.61px;
  color: #0700CF !important;
  font-family: Rubik;
  font-size: 11px;
  letter-spacing: 0.08px;
  line-height: 24px;
  text-align: center;
  .tab-badge {
    color: #0700CF;
    opacity: 0.9;
  }
}

.slider-header-item {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  background-color: #008694;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: #FFFFFF;
  font-size: 16.26px;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.slider-content {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  height: 100%;
  padding: 15px 24px;
  padding-bottom: 500px;
}

.add-workspace-btn {
  position: absolute;
  bottom: -46px;
  right: 15px;
  border: 5px solid;
  background-color: #00C4AA;
  line-height: 0rem;
  width: 45px;
  height: 45px;
  box-shadow: none;
  text-shadow: none;
}

::ng-deep {
  .ant-popover-message {
    position: relative;
    padding: 4px 15px 15px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    width: 250px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}


.clickable-item {
  cursor: pointer;
}

.selected-item-icon {
  float: right;
  margin-right: 5px;
  color: #0700CF;
  margin-top: 5px;
}

.hover-input {
  border: none;
  width: 80%;
  font-size: 14.26px;
  letter-spacing: 0.5px;
  line-height: 20px;
  &:focus{
    outline:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  &:hover{
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
}

.delete-icon {
  display: none;
  color: rgba(0, 0, 0, 0.6);
}

.edit-dashboard-section {
  margin-top: 30px;
}

.edit-dashboard-section:hover {
  .hover-input {
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  }
  .delete-icon {
    display: inline;
  }
}

.highlight {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14.22px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: 30px;
  .title {
    letter-spacing: 2px;
  }
}

ul.widgets-list {
  list-style: none;
  padding-left: 5px;
  height: 170px;
  overflow-y: auto;
  .widget-item {
    margin: 5px 0px;
    padding: 3px 5px;
    cursor: pointer;
  }
  .active-widget-item {
    background-color: $color-light-yellow;
    .icon-check_24px {
      color: $color-secondary;
    }
  }
}

.collapse-command {
  width: 40%;
  cursor: pointer;
  background-color: #FFF;
  line-height: 30px;
  vertical-align: middle;
  i {
    font-size: 17px;
  }
}

.button-apply-function{
  width: 100%;
  border: none;
  background-color: #008694;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
}


::ng-deep .dashboard-content {
  padding: 20px 15px !important;
}

::ng-deep {
  .ant-tabs-nav .ant-tabs-tab {
    &:hover {
      .ant-tabs-close-x{
        visibility: visible !important;
      }
    }
  }
}

.dashboard-wrapper{
  display: flex;
  background-color: #F4F6FC;
  flex: 1;
  .collapsed-slider {
    min-width: 300px !important;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    z-index: 100;
    background: #fff;
    box-shadow: -2px 0px 7px rgba(0,0,0,0.3);
  }

  .closed-slider {
    position: absolute;
    display: flex;
    height: 50px;
    width: 40px;
    right: 0;

    .collapsed-setting-icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

.search-Mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.icon-visibility_24px {
  color: var(--primary-1);
}

.icon-visibility_off_24px {
  color: var(--surface-6);
}

.dashboard-wrapper {
  ::ng-deep {
    .ant-tabs-content {
      height: calc(100vh - 150px);
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active {
      height: calc(100vh - 150px);
    }
  }

}
