@import "~src/assets/scss/variables";

:host {
  overflow: hidden;
  display: flex;
  width: 100%;
}

::ng-deep {
  .ant-modal {
    display: flex;
    justify-content: center;
  }

  .ant-tooltip-arrow {
    border-bottom-color: #fff !important;
  }

  .ant-tooltip-inner {
    background-color: #fff;
    color: #0700cf;
  }

  .ant-dropdown-menu {
    margin-top: -4px;
    padding: 10px;

    li {
      cursor: pointer;

      &:hover {
        background-color: #f4f6fc;
      }
    }
  }

}

.workspace-main-content {
  height: 100%;
  position: relative;
  flex: 1;
  background: #F4F6FC;
}

.pine-btn {
  box-sizing: border-box;
  height: 57px;
  width: 57px;
  background: transparent;
  border: 1px solid #E5E9FA;
  position: absolute;
  right: 0;
  top: 20px;
}

.app-wrap {
  min-height: 800px;
}

.header-wrap {
  width: 92%;
  margin-top: 5px;

  .header-wrap-text {
    color: #0700CF;
    font-family: Rubik;
    font-size: 16.26px;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-left: 15px;
  }
}

.body-wrap {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  /* Title of the app  */
  .body-wrap-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .body-wrap-header-text {
      display: flex;
      align-items: baseline;
      flex-flow: column;

      .body-wrap-header-text-title {
        color: rgba(0, 0, 0, 0.6);
        font-family: Rubik;
        font-size: 12.19px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 16px;
      }

      .body-wrap-header-text-subtitle {
        color: rgba(0, 0, 0, 0.87);
        font-family: Rubik;
        font-size: 34.54px;
        font-weight: 300;
        letter-spacing: 0.25px;
        line-height: 41px;
      }
    }

    .body-wrap-header-step {
      flex: 1;

      ::ng-deep {
        .ant-steps-dot .ant-steps-item-tail::after {
          height: 2px;
        }

        .ant-steps-item-tail {
          top: 7px;
          width: 95%;
          margin-left: 80px;
        }

        .ant-steps-item-icon {
          width: 18px;
          height: 18px;
        }

        .coming-up.ant-steps-item.ant-steps-item-wait > .ant-steps-item-content {
          margin-left: -12px;
          width: 180px;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.2);
        }

        .ant-steps-item-content {
          width: 160px;
        }

        .ant-steps-item-title {
          color: #03DAC4;
          font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 0.1px;
          line-height: 24px;
          text-align: center;
        }

        .ant-steps-item-description {
          width: 160px;
          color: rgba(0, 0, 0, 0.87);
          font-family: Rubik;
          font-size: 16.26px;
          letter-spacing: 0.25px;
          line-height: 28px;
          text-align: center;
        }
      }
    }
  }

  /* Drop Drown of the Risk Link Page  */
  .body-wrap-dropDowns {
    margin: 20px 0;
    display: flex;

  }

  .body-wrap-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;

    .body-wrapper {
      background-color: #fff;
      display: flex;
      border: 2px solid transparent;
      flex-direction: column;
      width: 100%;

      .body-wrapper-header {
        display: flex;
        width: 100%;

        .body-wrapper-header-left {
          width: 300px;
          font-family: Rubik;

          span {
            display: flex;
            color: rgba(0, 0, 0, 0.87);
            font-size: 16.26px;
            letter-spacing: 0.5px;
            line-height: 20px;
            padding: 15px 20px;
            font-weight: 500;
          }

          div {
            margin-top: 15px;
            padding-left: 20px;
            padding-bottom: 15px;
            color: rgba(0, 0, 0, 0.87);
            font-size: 20.32px;
            font-weight: 500;
            letter-spacing: 0.25px;
            line-height: 24px;
          }

          hr {
            height: 4px;
            background-color: #0700CF;
            margin: 0;
          }
        }

        .body-wrapper-header-middle {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
        }

        .body-wrapper-header-right {
          display: flex;
          justify-content: flex-end;
          flex: 1;
          padding-right: 10px;
          align-items: center;

          .icon-filter {
            margin: 4px 15px 0;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: flex;
          }
        }

        .body-wrapper-header-right-summary {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          align-items: center;

          ::ng-deep {
            .ant-select {
              width: 200px;
              margin-right: 15px;
            }

            .ant-select-selection {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #0700CF;
              border-radius: 0;
            }

            .ant-select-selection__rendered {
              color: #0700CF;
            }
          }

          .icon-drop {
            margin: 5px 8px 25px 10px;
          }
        }
      }

      .body-wrapper-body {
        display: flex;
        justify-content: center;
        width: 97%;
        margin: auto;
        background-color: #f4f6fc;
        padding: 25px 0;
      }

      .menu-icon-wrap {
        font-size: 20px;
        margin-top: 22px;
        width: 30px;
        justify-content: center;
        display: flex;
      }
    }

    .body-main-wrapper {
      display: flex;
      justify-content: space-between;
      width: 97%;
      margin: auto;

      .left {
        width: 33%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.05);
        height: 550px;
        margin-bottom: 20px;

        .list-items {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          width: 95%;

          .list-items-title {
            padding-left: 29px;
            color: rgba(0, 0, 0, 0.38);
            font-family: Rubik;
            font-size: 12.19px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 16px;
          }

          ul {
            list-style: none;
            padding-left: 24px;
            max-height: 171px;
            overflow-y: auto;
          }

          .poover-menu-item {
            display: flex;
            margin: 6px 0;
            padding: 3px 5px;
            cursor: pointer;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            width: 100%;

            .text {
              font-size: 13px;
              color: rgb(0, 0, 0);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              flex: 1;
            }

            .reference {
              color: rgba(0, 0, 0, 0.35);
              font-size: 11px;
              border: 1px solid transparent;
              border-radius: 20px;
              min-width: 35px;
              background-color: rgba(0, 0, 0, 0.05);
              text-align: center;
              padding: 1px 3px 1px 1px;
            }

            .loading {
              color: #0CB79B;
            }

            .logo {
              color: #FFFFFF;
              padding: 0 5px;
              font-family: Rubik;
              font-size: 12px;
              font-weight: bold;
              letter-spacing: 0.17px;
              line-height: 20px;
              text-align: center;
              margin-right: 7px;
            }

            .icon-check_24px {
              border: 1px solid transparent;
              border-radius: 100px;
              background-color: #03DAC4;
              color: #fff;
            }

            .logo-right {
              width: 16px;
              height: 16px;
              margin-top: 2px;
              margin-left: 3px;
            }
          }

          .poover-menu-item-active {
            background-color: #FCF9D6;
          }
        }
      }

      .right {
        width: 66%;
        display: flex;
        height: 550px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);

        .show-table {
          width: 97%;
          margin: auto;
          margin-top: 12px;

          ::ng-deep {
            .ui-table-scrollable-view.ui-table-frozen-view {
              border-right: 6px solid rgba(0, 0, 0, 0.09);
            }

            .ui-table-scrollable-view {
              min-height: 425px;
            }

            .ui-table-scrollable-body {
              min-height: 365px;
              margin-left: 3px;
              margin-right: 3px;
            }

            .ui-table-thead {
              th {
                padding: 15px 10px 5px 3px;
                font-size: 10px;
                vertical-align: top;
                color: rgba(0, 0, 0, 0.38);
                background-color: #fff;
                font-family: Rubik;
                height: 45px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                .search-bar-table {
                  display: flex;
                  background-color: #F5F5F5;

                  input {
                    width: 80%;
                    background-color: #F5F5F5;
                    height: 24px;
                    font-size: 10px;
                    border: none;

                    &:focus {
                      outline: 0;
                    }
                  }
                }
              }
            }

            .ui-table-tbody {
              tr {
                background-color: #fff;
                user-select: none;
              }

              td {
                padding: 0;
                cursor: pointer;
                color: rgb(0, 0, 0);
                font-size: 12px;
                letter-spacing: 0.08px;
                height: 25px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                div {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  height: 27px;
                  span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                  }
                }
              }

              .selected-item {
                background-color: #FDFBDF !important;
              }

              .icon-check_circle_24px {
                color: #F0F2FC;
                font-size: 17px;
              }

              .icon-check_24px {
                background-color: #00C4AA;
                color: #fff;
                padding: 1px;
                width: 15px;
                height: 15px;
                font-size: 13px;
                border-radius: 18px;
                margin-top: 4px;
              }
            }
          }
        }

        .import-button {
          display: flex;
          width: 97%;
          margin: auto;
          justify-content: flex-end;
        }
      }
    }

    .right-collapsed {
      height: 70px;
    }

    .body-wrap-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

      .body-wrap-footer-left {
        display: flex;
        flex: 1;

        ::ng-deep {
          .ant-select {
            width: 200px;
            margin-right: 15px;
          }

          .ant-select-selection {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #0700CF;
            border-radius: 0;
          }

          .ant-select-selection__rendered {
            color: #0700CF;
          }
        }
      }
    }
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .body-wrap-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .body-wrap-footer-left {
        display: flex;
        flex: 1;

        ::ng-deep {
          .ant-select {
            width: 200px;
            margin-right: 15px;
          }

          .ant-select-selection {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #0700CF;
            border-radius: 0;
          }

          .ant-select-selection__rendered {
            color: #0700CF;
          }
        }
      }

    }
  }

  .modal-button {
    border: 1px solid #0700CF;
    border-radius: 18px;
    background-color: rgba(98, 2, 238, 0);
    margin-top: 15px;
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
  }
}

.input-group-modal {
  display: flex;
  flex-direction: column;
  width: 580px;
  margin: 0 auto;

  .row-input {
    display: flex;
    align-items: center;
  }

  .row-list {
    display: flex;

    .popover-menu {
      width: 50%;
    }
  }

  .label-input {
    display: flex;
    font-weight: 500;
    flex: 1;
  }

  .input-wrapper {
    margin: 5px 0;
    padding: 10px 15px;
    width: 78%;
  }

  .radio-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px 0;

    ::ng-deep {
      .ant-radio-group {
        display: flex !important;
        justify-content: space-between;
      }

      .ant-radio-wrapper {
        align-items: center;
        display: flex;
      }
    }
  }
}

.modal-footer-wrapper {
  padding: 11px 8px;

  button {
    margin-left: 10px;
  }
}

.icon-keyboard_arrow_down_24px, .icon-keyboard_arrow_up_24px {
  color: #fff;
  border-radius: 24px;
  font-size: 19px;
  width: 19px;
  height: 19px;
  display: flex;
  cursor: pointer;
}

.icon-keyboard_arrow_down_24px {
  background-color: #0700CF;
}

.icon-keyboard_arrow_up_24px {
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.35);
}

/*
=======================================================================================
SELECT EDM AND RDM DROPDOWN STYLE
=======================================================================================
*/

.body-wrapper-search {
  width: 600px;
  display: flex;
  border: 3px solid #fff;
  flex-direction: column;
  user-select: none;

  .search-bar {
    display: flex;
    width: 100%;
    background-color: #F4F6FC;
    border-bottom: 2px solid #0700CF;

    input {
      flex: 1;
      border: none;

      &:focus {
        outline: 0;
      }
    }

    ::-webkit-input-placeholder {
      color: #0700CF;
    }

    ::-moz-placeholder {
      color: #0700CF;
    }

    :-ms-input-placeholder {
      color: #0700CF;
    }

    :-moz-placeholder {
      color: #0700CF;
    }

    .search-bar-icon-search {
      padding: 10px;
      color: rgba(0, 0, 0, 0.35);
      cursor: pointer;
    }

    .search-bar-text {
      color: #0700CF;
      font-family: Rubik;
      font-size: 14.22px;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 20px;
      flex: 1;
      padding-top: 8px;
      cursor: pointer;
    }

    .displayed-info {
      display: flex;
      flex-direction: column;
      padding: 0;

      .search-bar-text-title {
        font-size: 8px;
        padding-top: 3px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.5);
      }

      .search-bar-text-subtitle {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.75);
        line-height: 16px;
      }
    }

    .search-bar-icon-down {
      padding: 10px;
      color: #0700CF;
      cursor: pointer;
    }
  }

  .search-bar-active {
    background-color: #fff;
    border-bottom: none;
  }

  .search-bar-display {
    background-color: #fff;
    border-bottom: none;
  }

  .search-bar-result {
    z-index: 1000;
    position: absolute;
    width: 600px;
    background-color: #fff;
    margin-top: 35px;
    margin-left: -3px;
    border: 3px solid #06b8ff;
    border-top: none;

    ::ng-deep {
      .ant-tabs-nav-container {
        margin: auto;
        width: 92%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }

      .ant-tabs-tab {
        font-size: 13px;
        padding: 8px;
        margin-right: 0;
      }

      .ant-tabs-tab.ant-tabs-tab-active {
        background-color: #fff !important;
      }
    }

    .search-bar-result-icon {
      position: absolute;
      right: 0;
      z-index: 1100;
      padding: 5px 25px 0;
    }

    .search-bar-result-list {
      padding: 6px;

      ::ng-deep {
        .ui-virtualscroller .ui-virtualscroller-content {
          border: none;
          width: 98%;
          margin: auto;
        }

        .ui-virtualscroller .ui-virtualscroller-content .ui-virtualscroller-list li {
          border: none;
        }
      }

      .icon-check_box_outline_blank_24px{
        color: rgba(0,0,0,0.36);
      }


      .no-check{
        display: inline-block;
        margin: 0px 5px;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        border-collapse: separate;
        transition: all 0.3s;

        &:hover {
          border: 1.1px solid #0700CF;
        }
      }

      .check {
        width: 16px;
        height: 16px;
        background-color: #0700CF;
        color: #FFFFFF;
        font-size: 14px !important;
        display: inline-block;
        border-radius: 2px;
        margin: 0 5px;
        vertical-align: middle;
        text-align: center;

        i {
          font-weight: bold;
          margin-left: 1px;
          margin-top: 1px;
          display: flex;
        }
      }

      .loading-text {
        height: 20px;
        margin: auto;
        margin-left: 12px;
        width: 97%;
        background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
        background-size: 400% 100%;
        -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
        animation: ant-skeleton-loading 1.4s ease infinite;
      }

      ul {
        list-style: none;
        padding: 0 2px 3px 0;
        height: 305px;
        overflow-y: auto;
        width: 98%;
        margin: auto;
      }

      .poover-menu-item {
        padding: 3px 5px;
        margin: 1px 6px 0 12px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        user-select: none;

        span {
          font-size: 12px;
        }

        .logo {
          color: #FFFFFF;
          padding: 2px 5px 2px 4px;
          font-family: Rubik;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.17px;
          line-height: 24px;
          text-align: center;
          margin-right: 7px;
        }

        .icon-check_24px {
          border: 1px solid transparent;
          border-radius: 100px;
          background-color: #03DAC4;
          color: #fff;
        }
      }

      .poover-menu-item-active {
        background-color: #FCF9D6;
      }
    }

    .search-bar-result-button {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      padding: 10px 12px;

      button {
        margin-right: 10px;
      }
    }
  }
}

.body-wrapper-search-display {
  border: 2px solid #00C4AA;
}

.body-wrapper-search-active {
  border: 3px solid #06B8FF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*
=======================================================================================
TABLE STYLE
=======================================================================================
*/

.summary-info {
  margin: auto;
  width: 97%;
  overflow: hidden;
  display: flex;

  p-table {
    display: block;
    width: 100%;
  }

  ::ng-deep {
    .ui-table-scrollable-view.ui-table-frozen-view {
      border-right: 6px solid rgba(0, 0, 0, 0.09);
    }

    .ui-table-scrollable-body {
      margin-left: 3px;
      margin-right: 3px;
    }

    .ui-table-thead {
      .icon-menu_24px {
        font-size: 20px;
        cursor: pointer;
      }

      th {
        padding: 15px 10px 5px 3px;
        font-size: 10px;
        vertical-align: top;
        color: rgba(0, 0, 0, 0.38);
        background-color: #fff;
        font-family: Rubik;
        height: 45px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .search-bar-table {
          display: flex;
          background-color: #F5F5F5;

          input {
            width: 80%;
            background-color: #F5F5F5;
            height: 24px;
            font-size: 10px;
            border: none;

            &:focus {
              outline: 0;
            }
          }
        }
      }
    }

    .ui-table .ui-editable-column input:focus {
      outline: 0;
    }

    .ui-table-tbody {
      .icon-trash-alt {
        font-size: 20px;
        cursor: pointer;
        opacity: 0.5;
      }

      .indicator-icon {
        margin: 0 8px 0 2px;
        color: #FFFFFF;
        padding: 2px 5px 2px 4px;
        font-family: Rubik;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0.17px;
        line-height: 24px;
        text-align: center;
      }

      tr, tr:nth-child(even) {
        background-color: #FFFFFF;
        user-select: none;
      }

      tr.ui-contextmenu-selected {
        background-color: #f4f6fc !important;
      }

      .ant-progress-text {
        display: block;
        color: #03DAC4;
      }

      .ant-progress-circle-path {
        stroke: #03DAC4;
        stroke-width: 8px;
      }

      .hidden-text {

        .ant-progress-text {
          display: none;
        }
      }

      th {
        padding: 0;
        cursor: pointer;
        color: rgb(0, 0, 0);
        font-size: 12px;
        letter-spacing: 0.08px;
        height: 25px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        .text-data {
          width: 100%;
          height: 30px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-top: 4px;
          font-weight: 400;
        }

        .branched-data {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .highlight-temp {
          color: #0700CF;
          border-bottom: 1px solid #0700CF;
          font-weight: bold !important;
          width: fit-content;
          height: 50%;
        }

        .indicator-flag {
          display: flex;
          height: 10px;
          width: 10px;
          border-radius: 20px;
        }

        .icon-block_24px {
          color: #B20626;
          font-size: 20px;
        }
      }

      .selected-item {
        background-color: #FDFBDF !important;
      }

      .icon-check_circle_24px {
        color: #F0F2FC;
        font-size: 17px;
      }

      .icon-check_24px {
        background-color: #00C4AA;
        color: #fff;
        padding: 1px;
        width: 15px;
        height: 15px;
        font-size: 13px;
        border-radius: 18px;
        margin-top: 4px;
      }
    }

    table {
      overflow: auto;
      width: 100%;
    }
  }
}
