@import "~src/assets/scss/variables";

:host {
  overflow: hidden;
  display: flex;
  width: 100%;
}

::ng-deep {
  .ant-tooltip-arrow {
    border-bottom-color: #fff !important;
  }

  .ant-tooltip-inner {
    background-color: #fff;
    color: #0700cf;
  }

  .ant-dropdown-menu {
    margin-top: -4px;
    padding: 10px;

    li {
      cursor: pointer;

      &:hover {
        background-color: #f4f6fc;
      }
    }
  }

}

.workspace-main-content {
  position: relative;
  flex: 1;
  background: rgb(244, 246, 252);

}

.pine-btn {
  box-sizing: border-box;
  height: 57px;
  width: 57px;
  background: transparent;
  border: 1px solid #E5E9FA;
  position: absolute;
  right: 0;
  top: 20px;
}

.header-wrap {
  width: 92%;
  margin-top: 5px;

  .header-wrap-text {
    color: #0700CF;
    font-family: Rubik;
    font-size: 16.26px;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-left: 15px;
  }
}

.body-wrap {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: auto;
  /* Title of the app  */
  .body-wrap-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .body-wrap-header-text {
      display: flex;
      flex-direction: column;
      width: 45%;

      .body-wrap-header-text-title {
        color: rgba(0, 0, 0, 0.6);
        font-family: Rubik;
        font-size: 12.19px;
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 16px;
      }

      .body-wrap-header-text-subtitle {
        color: rgba(0, 0, 0, 0.87);
        font-family: Rubik;
        font-size: 34.54px;
        font-weight: 300;
        letter-spacing: 0.25px;
        line-height: 41px;
      }
    }

    .body-wrap-header-step {
      flex: 1;

      ::ng-deep {
        .ant-steps-dot .ant-steps-item-tail::after {
          height: 2px;
        }

        .ant-steps-item-tail {
          top: 7px;
          width: 95%;
          margin-left: 80px;
        }

        .ant-steps-item-icon {
          width: 18px;
          height: 18px;
        }

        .coming-up.ant-steps-item.ant-steps-item-wait > .ant-steps-item-content {
          margin-left: -12px;
          width: 180px;
          padding: 10px;
          border: 1px solid transparent;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.2);
        }

        .ant-steps-item-content {
          width: 160px;
        }

        .ant-steps-item-title {
          color: #03DAC4;
          font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 0.1px;
          line-height: 24px;
          text-align: center;
        }

        .ant-steps-item-description {
          width: 160px;
          color: rgba(0, 0, 0, 0.87);
          font-family: Rubik;
          font-size: 16.26px;
          letter-spacing: 0.25px;
          line-height: 28px;
          text-align: center;
        }
      }
    }
  }

  /* Drop Drown of the Risk Link Page  */
  .body-wrap-dropDowns {
    margin: 20px 0;
    display: flex;

    .dropdown-wrap {
      display: flex;
      width: 220px;
      height: 35px;
      margin-right: 10px;
      justify-content: space-between;
      background-color: #fff;
      border: 1px solid #1FCBB4;
      cursor: pointer;

      .dropdown-wrap-title {
        display: flex;
        width: 87%;
        font-family: Rubik;
        flex-direction: column;
        padding: 3px 6px;

        .dropdown-title {
          font-size: 10px;
          line-height: 10px;
          color: rgba(0, 0, 0, 0.4);
        }

        .dropdown-item-selected {
          font-size: 13px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      .dropdown-icon {
        display: flex;
        font-size: 8px;
        align-items: center;
        padding-right: 8px;
      }
    }
  }

  .body-wrap-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;

    .body-wrapper {
      background-color: #fff;
      display: flex;
      border: 2px solid transparent;
      flex-direction: column;
      width: 100%;
      padding-bottom: 15px;
      /*      &:hover{
              border: 2px solid #06B8FF;
            }*/
      .body-wrapper-header {
        display: flex;
        width: 100%;

        .body-wrapper-header-left {
          width: 300px;
          font-family: Rubik;

          span {
            display: flex;
            color: rgba(0, 0, 0, 0.87);
            font-size: 16.26px;
            letter-spacing: 0.5px;
            line-height: 20px;
            padding: 15px 20px;
            font-weight: 500;
          }

          div {
            margin-top: 15px;
            padding-left: 20px;
            padding-bottom: 15px;
            color: rgba(0, 0, 0, 0.87);
            font-size: 20.32px;
            font-weight: 500;
            letter-spacing: 0.25px;
            line-height: 24px;
          }

          hr {
            height: 4px;
            background-color: #0700CF;
            margin: 0;
          }
        }

        .body-wrapper-header-right {
          display: flex;
          justify-content: flex-end;
          flex: 1;
          padding-right: 10px;
          align-items: center;

          .icon-filter {
            margin: 19px 15px 0;
            font-size: 25px;
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: flex;
          }

          ::ng-deep {
            .anticon {
              cursor: pointer;
              border: 1px solid transparent;
              font-size: 12px;
              border-radius: 100px;
              width: 18px;
              height: 18px;
              background-color: rgba(0, 0, 0, 0.05);
              color: rgba(0, 0, 0, 0.35);
              padding: 1px;
              margin: 5px 8px 0 10px;
            }
          }
        }

        .body-wrapper-header-right-summary {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          align-items: center;

          ::ng-deep {
            .ant-select {
              width: 200px;
              margin-right: 15px;
            }

            .ant-select-selection {
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #0700CF;
              border-radius: 0;
            }

            .ant-select-selection__rendered {
              color: #0700CF;
            }
          }

          .icon-drop {
            margin-bottom: 25px;
            ::ng-deep {
              .anticon {
                cursor: pointer;
                border: 1px solid transparent;
                font-size: 12px;
                border-radius: 100px;
                width: 18px;
                height: 18px;
                background-color: rgba(0, 0, 0, 0.05);
                color: rgba(0, 0, 0, 0.35);
                padding: 1px;
                margin: 5px 8px 0 10px;
              }
            }
          }
        }
      }

      .body-wrapper-body {
        display: flex;
        justify-content: center;
        width: 97%;
        margin: auto;
        background-color: #f4f6fc;
        padding: 25px 0;

        .body-wrapper-search {
          width: 600px;
          display: flex;
          border: 3px solid #fff;
          flex-direction: column;
          user-select: none;

          .search-bar {
            display: flex;
            width: 100%;
            background-color: #F4F6FC;
            border-bottom: 2px solid #0700CF;

            input {
              flex: 1;
              border: none;
              &:focus {
                outline: 0;
              }
            }

            ::-webkit-input-placeholder {
              color: #0700CF;
            }

            ::-moz-placeholder {
              color: #0700CF;
            }
            :-ms-input-placeholder {
              color: #0700CF;
            }
            :-moz-placeholder {
              color: #0700CF;
            }

            .search-bar-icon-search {
              padding: 10px;
              color: rgba(0, 0, 0, 0.35);
              cursor: pointer;
            }

            .search-bar-text {
              color: #0700CF;
              font-family: Rubik;
              font-size: 14.22px;
              font-weight: 500;
              letter-spacing: 0.25px;
              line-height: 20px;
              flex: 1;
              padding-top: 8px;
              cursor: pointer;
            }

            .displayed-info {
              display: flex;
              flex-direction: column;
              padding: 0;

              .search-bar-text-title {
                font-size: 8px;
                padding-top: 3px;
                line-height: 14px;
                color: rgba(0, 0, 0, 0.5);
              }

              .search-bar-text-subtitle {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.75);
                line-height: 16px;
              }
            }

            .search-bar-icon-down {
              padding: 10px;
              color: #0700CF;
              cursor: pointer;
            }
          }

          .search-bar-active {
            background-color: #fff;
            border-bottom: none;
          }

          .search-bar-display {
            background-color: #fff;
            border-bottom: none;
          }

          .search-bar-result {
            z-index: 1000;
            position: absolute;
            width: 600px;
            background-color: #fff;
            margin-top: 35px;
            margin-left: -3px;
            border: 3px solid #06b8ff;
            border-top: none;

            ::ng-deep {
              .ant-tabs-nav-container {
                margin: auto;
                width: 92%;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
              }

              .ant-tabs-tab {
                margin-right: 0;
              }

              .ant-tabs-tab.ant-tabs-tab-active {
                background-color: #fff !important;
              }
            }

            .search-bar-result-icon {
              position: absolute;
              right: 0;
              z-index: 1100;
              margin-top: 6px;
              padding: 5px 25px 0;
            }

            .search-bar-result-list {
              padding: 6px;
              ::ng-deep {
                .ui-virtualscroller .ui-virtualscroller-content {
                  border: none;
                  width: 98%;
                  margin: auto;
                }
                .ui-virtualscroller .ui-virtualscroller-content .ui-virtualscroller-list li {
                  border: none;
                }
              }
              .loading-text {
                height: 20px;
                margin: auto;
                margin-left: 12px;
                width: 97%;
                background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
                background-size: 400% 100%;
                -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
                animation: ant-skeleton-loading 1.4s ease infinite;
              }

              ul {
                list-style: none;
                padding: 0 2px 3px 0;
                height: 305px;
                overflow-y: auto;
                width: 98%;
                margin: auto;
              }

              .poover-menu-item {
                padding: 3px 5px;
                margin: 1px 6px 0 12px;
                cursor: pointer;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                user-select: none;

                span {
                  font-size: 12px;
                }

                .logo {
                  color: #FFFFFF;
                  padding: 2px 5px 2px 4px;
                  font-family: Rubik;
                  font-size: 12px;
                  font-weight: bold;
                  letter-spacing: 0.17px;
                  line-height: 24px;
                  text-align: center;
                  margin-right: 7px;
                }

                .icon-check_24px {
                  border: 1px solid transparent;
                  border-radius: 100px;
                  background-color: #03DAC4;
                  color: #fff;
                }
              }

              .poover-menu-item-active {
                background-color: #FCF9D6;
              }
            }

            .search-bar-result-button {
              display: flex;
              justify-content: flex-end;
              width: 100%;
              padding: 10px 12px;
              button {
                padding: 9px 25px 7px;
                margin-right: 10px;
              }
            }
          }
        }

        .body-wrapper-search-display {
          border: 2px solid #00C4AA;
        }

        .body-wrapper-search-active {
          border: 3px solid #06B8FF;
          border-bottom: 1px solid rgba(0,0,0,0.05);
        }
      }
    }

    .body-main-wrapper {
      display: flex;
      justify-content: space-between;
      width: 97%;
      margin: auto;

      .left {
        width: 33%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.05);
        height: 550px;
        margin-bottom: 20px;

        .list-items {
          display: flex;
          flex-direction: column;
          padding-top: 20px;
          width: 95%;

          .list-items-title {
            padding-left: 29px;
            color: rgba(0, 0, 0, 0.38);
            font-family: Rubik;
            font-size: 12.19px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 16px;
          }

          ul {
            padding-top: 5px;
            list-style: none;
            padding-left: 24px;
            max-height: 160px;
            overflow-y: auto;
          }

          .poover-menu-item {
            display: flex;
            margin: 6px 0;
            padding: 3px 5px;
            cursor: pointer;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            width: 100%;

            .text {
              padding-top: 3px;
              font-size: 13px;
              color: rgb(0,0,0);
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              flex: 1;
            }

            .reference {
              color: rgba(0, 0, 0, 0.35);
              font-size: 11px;
              border: 1px solid transparent;
              border-radius: 20px;
              width: 35px;
              background-color: rgba(0, 0, 0, 0.05);
              text-align: center;
              padding: 1px 3px 1px 1px;
            }

            .loading {
              color: #0CB79B;
            }

            .logo {
              color: #FFFFFF;
              padding: 0 5px;
              font-family: Rubik;
              font-size: 12px;
              font-weight: bold;
              letter-spacing: 0.17px;
              line-height: 20px;
              text-align: center;
              margin-right: 7px;
            }

            .icon-check_24px {
              border: 1px solid transparent;
              border-radius: 100px;
              background-color: #03DAC4;
              color: #fff;
            }

            .logo-right {
              width: 16px;
              height: 16px;
              margin-top: 2px;
              margin-left: 3px;
            }
          }

          .poover-menu-item-active {
            background-color: #FCF9D6;
          }
        }
      }

      .right {
        width: 65%;
        display: flex;
        height: 550px;
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.05);

        .show-table {
          width: 97%;
          margin: auto;
          margin-top: 12px;

          ::ng-deep {
            .ui-table-scrollable-view.ui-table-frozen-view {
              border-right: 6px solid rgba(0, 0, 0, 0.09);
            }

            .ui-table-scrollable-view {
              min-height: 425px;
            }

            .ui-table-scrollable-body {
              min-height: 365px;
              margin-left: 3px;
              margin-right: 3px;
            }

            .ui-table-thead {
              th {
                padding: 15px 10px 5px 3px;
                font-size: 10px;
                vertical-align: top;
                color: rgba(0, 0, 0, 0.38);
                background-color: #fff;
                font-family: Rubik;
                height: 45px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                .search-bar-table {
                  display: flex;
                  background-color: #F5F5F5;

                  input {
                    width: 80%;
                    background-color: #F5F5F5;
                    height: 24px;
                    font-size: 10px;
                    border: none;

                    &:focus {
                      outline: 0;
                    }
                  }
                }
              }
            }

            .ui-table-tbody {
              tr {
                background-color: #fff;
                user-select: none;
              }

              td {
                padding: 0;
                cursor: pointer;
                color: rgb(0, 0, 0);
                font-size: 12px;
                letter-spacing: 0.08px;
                height: 25px;
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);

                div {
                  width: 100%;
                  height: 30px;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  padding-top: 4px;
                }

                .text-data {
                  padding-top:8px;
                }
              }

              .selected-item {
                background-color: #FDFBDF !important;
              }

              .icon-check_circle_24px {
                color: #F0F2FC;
                font-size: 17px;
              }

              .icon-check_24px {
                background-color: #00C4AA;
                color: #fff;
                padding: 1px;
                width: 15px;
                height: 15px;
                font-size: 13px;
                border-radius: 18px;
                margin-top: 4px;
              }
            }
          }
        }

        .import-button {
          display: flex;
          width: 97%;
          margin: auto;
          justify-content: flex-end;
        }
      }
    }

    .right-collapsed {
      height: 70px;
    }

    .summary-info {
      padding: 20px 0;
      margin: auto;
      width: 97%;

      table {
        overflow: auto;
        width: 100%;
        @media screen and (max-width: 1400px) {
          display: block;
        }

        thead {
          tr {
            height: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            th {
              vertical-align: top;
              padding-left: 4px;
              color: rgba(0, 0, 0, 0.4);
              font-family: Rubik;
              font-size: 12px;
              letter-spacing: 0.08px;
              line-height: 14px;
              padding-bottom: 5px;
            }
          }

          .search-bar-table {
            display: flex;
            background-color: #F5F5F5;

            input {
              width: 80%;
              background-color: #F5F5F5;
              height: 24px;
              font-size: 10px;
              border: none;

              &:focus {
                outline: 0;
              }
            }
          }

          .icon-menu_24px {
            font-size: 25px;
            color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
          }
        }

        tbody {
          ::ng-deep {
            .ant-progress-text {
              display: block;
              color: #03DAC4;
            }
            .ant-progress-circle-path {
              stroke: #03DAC4;
              stroke-width: 8px;
            }
          }

          .hidden-text {
            ::ng-deep .ant-progress-text {
              display: none;
            }
          }

          tr {
            height: 30px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          }

          th {
            padding-left: 4px;
            color: rgba(0, 0, 0, 0.8);
            font-family: Rubik;
            font-size: 12px;
            letter-spacing: 0.08px;
            line-height: 14px;
            font-weight: bold;

            .icon-trash-alt {
              cursor: pointer;
              font-size: 17px;
            }

            .state {
              width: 14px;
              height: 14px;
              border: 1px solid transparent;
              border-radius: 100px;
              background-color: #0700cf;
            }

            .state-false {
              background-color: #F8E71C;
            }
          }
        }
      }
    }

    .body-wrap-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

      .body-wrap-footer-left {
        display: flex;
        flex: 1;

        ::ng-deep {
          .ant-select {
            width: 200px;
            margin-right: 15px;
          }

          .ant-select-selection {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #0700CF;
            border-radius: 0;
          }

          .ant-select-selection__rendered {
            color: #0700CF;
          }
        }
      }

      .body-wrap-footer-right {
        button {
          color: #FFFFFF;
          font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 1.25px;
          line-height: 16px;
          text-align: center;
          height: 36px;
          width: 157px;
          background-color: #0700CF;
          border-radius: 18px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .footer-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;

    .body-wrap-footer {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;

      .body-wrap-footer-left {
        display: flex;
        flex: 1;

        ::ng-deep {
          .ant-select {
            width: 200px;
            margin-right: 15px;
          }

          .ant-select-selection {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #0700CF;
            border-radius: 0;
          }

          .ant-select-selection__rendered {
            color: #0700CF;
          }
        }
      }

      .body-wrap-footer-right {
        button {
          color: #FFFFFF;
          font-family: Rubik;
          font-size: 14.22px;
          font-weight: 500;
          letter-spacing: 1.25px;
          line-height: 16px;
          text-align: center;
          height: 36px;
          width: 157px;
          background-color: #0700CF;
          border-radius: 18px;
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .modal-button {
    border: 1px solid #0700CF;
    border-radius: 18px;
    background-color: rgba(98, 2, 238, 0);
    margin-top: 15px;
    color: #0700CF;
    font-family: Rubik;
    font-size: 14.22px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
  }
}

