::ng-deep .addTagModal {
  display: flex;
  justify-content: center;
  align-items: center;
    .ant-modal {
      top: 0;
    }

    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-body {
      padding: 0;
    }

    .header {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    .content {
      display: flex;
      justify-content: center;
      padding: 25px;
      .color {
        margin: 0 5px;
        display: block;
        width: 70px;
        height: 43px;
        cursor: pointer;
        position: relative;
      }
      color-chrome{
        display: block;
        position: absolute;
        right: -108px;
        bottom: -214px;
        z-index: 1;
      }
    }

    .ant-input-affix-wrapper {
      width: auto;
    }

    .footer {
      padding: 7px;
    }

    .ant-modal-footer {
      border-top: none;
    }
  }

:host {
  .tabset-left {
    background: #fff;
    margin-right: 5px;

    ::ng-deep {
      .ant-tabs-content{
        height: calc( 85vh - 49px);
      }
      .ant-tabs-tabpane {
        display: flex;
        flex-direction: column;
        max-height: 100%;
        position: relative;
      }

      .title-list {
        letter-spacing: 0.2px;
        line-height: 27px;
        font-size: 9px;
        font-family: rubik;
        list-style: none;
        padding-left: 20px;
        padding-right: 7px;
        font-weight: bold;
        overflow: auto;
        max-width: 190px;

        li * {
          font-size: 10px;
        }

        .icon-window-section {
          color: #fff;
          background-color: #0700cf;
          padding: 2px 3px 2px 2px;
        }

        .icon-assignment_24px {
          color: #fff;
          background-color: #fdc228;
          padding: 2px 3px 2px 2px;
        }

        .icon-sitemap {
          color: #fff;
          background-color: #b683ff;
          padding: 2px 3px 2px 2px;
        }
      }
      span {
        letter-spacing: 0.2px;
        font-size: 0.9em;
      }

      .active-path {
        background-color: #FDFBDF;
        margin-top: 1px;
        margin-bottom: 1px;
      }

      .plt-trash {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
        font-size: 16px;
        position: sticky;
        bottom: 0;
        background-color: white;
        .cnt {
          cursor: pointer;
        }
      }


    }


    ::ng-deep .ant-tabs-ink-bar {
      position: absolute;
      top: 1px;
      background-color: #0700CF;
    }

    ::ng-deep .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #fff !important;
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      width: content-box;
      font-size: 20.54px;
      font-weight: 300;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
      padding-top: 22px;
    }
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}
