:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;
  background-color: #F4F6FC;
}

.a-app-wrapper {
  .a-app-body {
    background-color: #FFFFFF;

    .header-divider {
      display: flex;
      justify-content: space-between;
      padding: 15px;

      .divider-left {
        display: flex;
      }

      .divider-right {
        display: flex;
        align-items: center;

        .icon-menu_24px {
          display: flex;
          font-size: 20px;
          margin-left: 12px;
        }
      }
    }

    .table-wrap {
      padding: 20px 0;
      margin: auto;
      width: 97%;
      overflow: hidden;
      display: block;

      p-table {
        display: block;
        width: 100%;
      }

      .divided-col {
        border-left: 8px solid #F4F6FC;
      }

      ::ng-deep {
        .ui-table-scrollable-view.ui-table-frozen-view {
          border-right: 6px solid rgba(0, 0, 0, 0.09);
        }

        .ui-table-scrollable-body {
          margin-left: 3px;
          margin-right: 3px;
        }

        .ui-table-thead {
          .icon-menu_24px {
            font-size: 20px;
            cursor: pointer;
          }

          th {
            padding: 15px 7px 5px;
            font-size: 10px;
            vertical-align: top;
            color: rgba(0, 0, 0, 0.38);
            background-color: #fff;
            font-family: Rubik;
            height: 45px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            .icon-holder {
              display: flex;
              justify-content: center;
              padding: 7px 0;

              i {
                font-size: 16px;
              }

              .icon-reorder_24px {
                font-size: 23px;
                color: #5874A5;
              }

              .icon-plus {
                margin-left: -8px;
                margin-top: 13px;
                font-size: 9px;
                background-color: #FFFFFF;
                border: 1px solid #5874A5;
                color: #5874A5;
                height: 10px;
                width: 10px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
              }

              .icon-check_24px {
                background-color: #7ED321;
                border-radius: 20px;
                color: #FFFFFF;
                font-size: 7px;
                padding: 1px;
                position: absolute;
                margin-left: -5px;
                margin-top: -3px;
              }
            }


            .search-bar-table {
              display: flex;
              background-color: #F5F5F5;

              input {
                width: 80%;
                background-color: #F5F5F5;
                height: 24px;
                font-size: 10px;
                border: none;

                &:focus {
                  outline: 0;
                }
              }
            }
          }
        }

        .ui-table-tbody {
          .icon-holder {
            display: flex;
            justify-content: center;
            padding: 7px;

            i {
              font-size: 16px;
            }

            .icon-reorder_24px {
              font-size: 23px;
              color: #5874A5;
            }

            .icon-plus {
              margin-left: -8px;
              margin-top: 13px;
              font-size: 9px;
              background-color: #FFFFFF;
              border: 1px solid #5874A5;
              color: #5874A5;
              height: 10px;
              width: 10px;
              border-radius: 20px;
              display: flex;
              justify-content: center;
            }
          }
          .child-row-show > div{
            display: flex;
            justify-content: space-between;
            height: 45px;
          }

          .inner-line {
            margin-left: 23px;
            display: flex;
            height: 45px;
            align-items: center;
          }
          .inner-menu{
            width: max-content;
            display: flex;
            align-items: center;

          }

          .inner-line > div {
            width: 100%;
          }

          .peril-indicator {
            color: #FFFFFF;
            width: 23px;
            height: 22px;
            justify-content: center;
            align-items: center;
            display: flex;
            border-radius: 20px;
            font-weight: 500;
          }

          .plt-info {
            margin: 15px;
          }

          .text-ellipsis {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

          }

          .td-wrapper-tags {
            width: 40px;
            padding: 4px 0 0 10px !important;
            position: relative;
            top: -4px;

            .tag-el {
              border-radius: 29px;
              font-size: 10px;
              margin-left: -4px;
              padding: 0px 6px 0px 5px;
            }

            .tag-ellipsis {
              background-color: #0CB79B;
              border-radius: 25px;
              color: white;
              font-size: 14px;
              text-align: center;
              border: 2px solid white;
              margin-left: -7px;
            }
          }

          tr {
            background-color: #fff;
            user-select: none;
            height: 35px;
          }

          .expanded-row {
            background-color: #E5E9FA;
          }

          .expanded-inner-row {
            background-color: #F4F6FC;
          }

          .info-rp {
            padding-top: 4px;
            display: flex;
            width: 80%;

            .icon-map-marker-alt {
              background-color: #0700CF;
              color: #FFFFFF;
              padding: 2px;
              font-size: 12px;
              margin: 2px 15px 8px 5px;
            }

            .icon-map_24px {
              background-color: #30CEBA;
              color: #FFFFFF;
              padding: 2px;
              font-size: 12px;
              margin: 2px 15px 8px 5px;
            }

            .code-rp {
              margin-right: 5px;
              width: 42%;
            }
          }

          .grain-info-wrapper {
            display: flex;
            align-items: center;
            width: 130%;

            .icon-map_24px {
              background-color: #30CEBA;
              color: #FFFFFF;
              padding: 2px;
              font-size: 12px;
              margin: 10px;
            }

            .icon-map-marker-alt {
              background-color: #0700CF;
              color: #FFFFFF;
              padding: 2px;
              font-size: 12px;
              margin: 2px 15px 8px 5px;
            }

            .grain-info {
              display: flex;
              flex-direction: column;

            }
          }

          ::ng-deep {
            .ant-progress-text {
              display: block;
              color: #03DAC4;
            }

            .ant-progress-circle-path {
              stroke: #03DAC4;
              stroke-width: 8px;
            }
          }

          .hidden-text {
            ::ng-deep {
              .ant-progress-text {
                display: none;
              }
            }
          }

          th {
            padding: 0;
            cursor: pointer;
            color: rgb(0, 0, 0);
            font-size: 12px;
            letter-spacing: 0.08px;
            height: 25px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            .text-data {
              width: 100%;
              height: 30px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              padding-top: 4px;
              font-weight: 400;
            }

            .highlight-temp {
              color: #0700CF;
              border-bottom: 1px solid #0700CF;
              font-weight: bold !important;
              width: fit-content;
              height: 50%;
            }

            .indicator-flag {
              display: flex;
              height: 10px;
              width: 10px;
              border-radius: 20px;
            }

            .icon-block_24px {
              color: #B20626;
              font-size: 20px;
            }

          }

          .selected-item {
            background-color: #FDFBDF !important;
          }
        }

        table {
          overflow: auto;
          width: 100%;
        }
      }
    }
  }
}

.AttachPlts-button {
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid #5796AC;
  border-radius: initial;
  font-size: 13px;
  color: #5796AC;
  font-weight: bold;
  height: 26px;
  margin-top: 12px;
}

.unCheckedBoxTab {
  border: 1px solid;
  font-size: 20px !important;
  color: darkgray;
}

.checkedBoxTab {
  background-color: #0700CF;
}

.header-override {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.body-override {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.label-override {
  margin: 5px;

}

.body-body {
  display: block;
}

.textarea-override {
  width: 60%;
}

::ng-deep {
  .ng-tns-c10-24 {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

::ng-deep.m-dialog-modal-auto {
  z-index: 1002 !important;
}

.burger-menu {
  font-size: 25px;
  margin-right: 15px;
  color: cornflowerblue;
  display: none;
}
.burger-menu-visible{
  font-size: 25px;
  margin-right: 15px;
  color: cornflowerblue;
  display: block;
}
.package-info{
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.row-hover:hover {
  background-color: #cee5ef !important;

  .burger-menu {
    display: block;
  }
}




:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;
  background-color: #F4F6FC;
}

.app-body {
  display: flex;
  height:500px;
  background-color: #fff;
}
