<p-dialog
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal returned-periods'"
  [visible]="true"
  appendTo="body">
  <p-header>
    <div class="header">
      <h6>Manage Return Period</h6>
      <i (click)="cancel()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content" style="display: unset;">

    <p-table [value]="returnPeriodConfig?.currentRPs | concatList : returnPeriodConfig?.newlyAdded | filterRP : returnPeriodConfig?.deletedRPs" [scrollable]="true" scrollHeight="365px">
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td style="background-color: #ffffff" class="on-hover">
            <i (click)="removeReturnPeriod(rowData)" class="icon-trash-alt pull-right"
               style="margin-left: 10px;cursor: pointer;color: red; visibility: hidden;"></i>
            <span class="pull-right">
              {{rowData}}
            </span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <th style="padding-top: 10px;">
            <i (click)="addToReturnPeriod()" style="font-size: 14px; margin-right: 1px; margin-top: 3px" [ngStyle]="{'cursor' : 'pointer'}" class="icon-plus-circle"></i>
            <input type="number" class="a-textfield-mini" style="width: 95%" [ngModel]="returnPeriodConfig?.returnPeriodInput" (ngModelChange)="inputChange($event)" name="new-field">
          </th>
        </tr>
        <tr *ngIf="returnPeriodConfig?.showSuggestion">
          <th>
            <span style="color: red;margin-left: 16px;">
              {{rpValidation?.lowerBound}} - {{rpValidation?.upperBound}} are the nearest valid return periods
            </span>
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-footer>
    <div class="footer">
      <button (click)="cancel()" class="a-button-text">Cancel</button>
      <button (click)="save()" class="a-buttons-contained">Save</button>
    </div>
  </p-footer>
</p-dialog>
