<p-dialog [(visible)]="isVisible"
          [modal]="true"
          [closable]="false"
          [contentStyle]="{'width':'100%'}"
          [style]="{width: '96%'}"
          (onHide)="cancelCreateExistingProject()"
          (onShow)="show()"
>

  <p-header>
    <div class="row">
      <div class="col-3 mt-2">
        <span>
        <i *ngIf="!stepSelectWorkspace && stepSelectProject" (click)="resetToMain()" style="cursor: pointer;" nz-icon nzType="arrow-left" nzTheme="outline"></i>
        <span style="margin-left: 10px">Search For Project</span>
        </span>
      </div>
      <div class="col-7 style-wrap" [formGroup]="keywordFormGroup">

        <nz-input-group style="z-index: 1001"
                        class="global-search-input-grp"
                        [ngClass]="{'global-search-input-grp-active': 1===1}"
                        [nzSuffix]="suffixIconSearch"
                        [nzAddOnBefore]="prefixIconTag">
          <input searchInput [ngClass]="{'search-page-active-border': 1===1}"
                 (onEnter)="onEnter()"
                 #searchInput
                 formControlName="keyword"  (click)="search()"
                 class="search-input" type="text" nz-input [placeholder]="'Search for Treaty' ">
        </nz-input-group>

        <ng-template #prefixIconTag>
          <div class="prefix-wrapper">
            <button class="code-button" nz-popover
                     nzPlacement="bottomLeft" nzTrigger="click">
            </button>
          </div>
        </ng-template>

        <ng-template #suffixIconSearch>
          <i nz-icon *ngIf=" searchInput?.value?.length>=1" class="item-close clickable-item" (click)="clearSearchValue()" nzType="close"
             nzTheme="outline"></i>
          <i [ngClass]="{'search-page-active-shape': 1===1}" (click)="onEnter()" style="cursor: pointer"
             class="icon-search_24px icon-hold"></i>
        </ng-template>


      </div>
      <div class="col-2">
        <span (click)="cancelCreateExistingProject()" style="float: right; cursor: pointer;">&#10006;</span>
      </div>
    </div>
  </p-header>
  <ng-container *ngIf="stepSelectWorkspace && !stepSelectProject">
    <div style="height:600px;">

      <app-table [tableColumn]="columns" [sortable]="false" [totalRecords]="paginationOption?.total" #dt
                 [listOfData]="contracts" [virtualScroll]="true" (selectOne)="openWorkspaceInSlider($event)"
                 [tableWidth]="'1000px'" (loadMore)="loadMore($event)"
                 (filterData)="filterData($event.searchValue, $event.searchAddress)"
                 (dbClickItem)="getWorkspaceProjects(selectedWorkspace)"
                 [tableHeight]="'480px'"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="onRowUnselect($event)"
                 [selectionMode]="'single'"
                 [activateContextMenu]="false"
                 [loading]="loading">
      </app-table>

    </div>
  </ng-container>

  <ng-container *ngIf="!stepSelectWorkspace && stepSelectProject">
    <div style="height:600px; overflow:auto;">
      <div style="display: inline-block; padding: 20px;" *ngFor="let project of selectedWorkspaceProjects; let i = index" class="card-holder">
        <div class="project-card mx-1" (click)="selectThisProject(project)"
             [ngStyle]="{'border': project?.projectId == selectedProject?.projectId ? '2px solid #06B8FF' : '2px solid transparent'}">
          <div class="project-header">
            <!--            <div style="background: #A363FF" class="project-header-icon d-flex justify-content-center align-items-center">
                          <i class="fa fa-code-fork" aria-hidden="true"></i>
                        </div>-->
            <div [ngStyle]="{'background-color':project.linkFlag ? '#36c6fe': '#F5B74E' }"
                 class="project-header-icon d-flex justify-content-center align-items-center">
              <i [className]="project.linkFlag ? 'icon-link_24px' : 'icon-assignment_24px'"></i>
            </div>
            <div class="project-header-title d-flex flex-column justify-content-center pl-3">
              <span>{{project?.name}}</span>
              <span>{{project?.projectId}}</span>
            </div>
            <div class="icon-card-wrapper" [ngStyle]="{'display': project?.projectId == selectedProject?.projectId ? 'flex' : 'none'}">
              <i class="icon-ellipsis-h"></i>
              <i *ngIf="project?.projectId == selectedProject?.projectId" class="icon-check_24px"></i>
              <span *ngIf="project?.projectId != selectedProject?.projectId"></span>
            </div>
          </div>
          <div class="project-kpi border-top d-flex">
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-globe mb-1"></i>
              <span class="project-kpi-span">Region Perils</span>
              <span class="project-kpi-span"><b>{{project?.regionPerilSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-adjust-half mb-1"></i>
              <span class="project-kpi-span">Exp</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-box mb-1"></i>
              <span class="project-kpi-span">PLT</span>
              <span class="project-kpi-span"><b>{{project?.pltThreadSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-note mb-1"></i>
              <span class="project-kpi-span">Published</span>
              <span class="project-kpi-span"><b>{{project?.xactSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-dollar-alt mb-1"></i>
              <span class="project-kpi-span">Pricing</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
            <div style="flex:1" class="py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-focus-add mb-1"></i>
              <span class="project-kpi-span">Accum</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
          </div>
          <div class="project-kpi-details pb-3">
            <p class="project-kpi-details-title">
              {{project?.description}}
            </p>
            <div class="border-top d-flex project-kpi-details-content">
              <span class="pl-4 dt-11" style="flex:1; letter-spacing: 0.08px; line-height: 32px;">Created</span>
              <span class="pr-4 dt-11 project-kpi-creat-wrap">{{project?.createdBy}}</span>
              <span class="text-center dt-11"
                    style="flex:1;color: rgba(0,0,0,0.87);  letter-spacing: 0.08px; line-height: 32px;">{{project?.creationDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="border-top d-flex project-kpi-details-content">
              <span class="pl-4 dt-11" style="flex:1;letter-spacing: 0.08px;  line-height: 32px;">Last Modified</span>
              <span class="pr-4 dt-11 project-kpi-creat-wrap">{{project?.createdBy}}</span>
              <span class="text-center dt-11"
                    style="flex:1;color: rgba(0,0,0,0.87);letter-spacing: 0.08px; line-height: 32px;">{{project?.dueDate | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </div>
      </div></div>
  </ng-container>

  <p-footer>
    <div class="a-control-buttons">
      <button class="a-button-text-cancel" (click)="cancelCreateExistingProject()" >CANCEL</button>
      <ng-container *ngIf="stepSelectWorkspace && !stepSelectProject">
        <button [ngClass]="{'a-buttons-contained-disabled' : !!!selectedWorkspace, 'a-buttons-contained': !!!!selectedWorkspace}"
                [disabled]="!!!selectedWorkspace" (click)="getWorkspaceProjects(selectedWorkspace)">NEXT</button>
      </ng-container>
      <ng-container *ngIf="!stepSelectWorkspace && stepSelectProject">
        <button [ngClass]="{'a-buttons-contained-disabled' : !!!selectedProject, 'a-buttons-contained': !!!!selectedProject}"
                [disabled]="!!!selectedProject" (click)="selectProjectNext()">SELECT</button>
      </ng-container>
    </div>
  </p-footer>


</p-dialog>
<p-toast key="createProject">

  <ng-template let-message pTemplate="message">
    <div (click)="clear()" class="ant-notification-notice ant-notification-notice-closable ng-trigger ng-trigger-notificationMotion ant-notification-notice ant-no"
         style="opacity: 1; transform: translateX(0px);">
      <div class="ant-notification-notice-content ng-tns-c12-49 ng-star-inserted" style="">
        <div class="ant-notification-notice-content ant-notification-notice-with-icon">
          <div class="ng-tns-c12-49 ant-notification-notice-with-icon">
            <i class="anticon ant-notification-notice-icon ant-notification-notice-icon-success ng-tns-c12-49 anticon-check-circle ng-star-inserted" nz-icon="" type="check-circle">
              <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c12-49"
                   data-icon="check-circle" aria-hidden="true">
                <path d="M699 353h-46.9c-10.2 0-19.9 4.9-25.9 13.3L469 584.3l-71.2-98.8c-6-8.3-15.6-13.3-25.9-13.3H325c-6.5 0-10.3 7.4-6.5 12.7l124.6 172.8a31.8 31.8 0 0 0 51.7 0l210.6-292c3.9-5.3.1-12.7-6.4-12.7z">

                </path>
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
              </svg>
            </i>
            <div class="ant-notification-notice-message">
              {{message.summary}}
            </div>
            <div class="ant-notification-notice-description">

            </div>
          </div>
        </div>
      </div>
      <a class="ant-notification-notice-close" tabindex="0">
            <span class="ant-notification-notice-close-x">
    <i class="anticon ant-notification-close-icon anticon-close" nz-icon="" type="close">
      <svg viewBox="64 64 896 896" fill="currentColor" width="1em" height="1em" class="ng-tns-c12-49" data-icon="close" aria-hidden="true">
        <path d="M563.8 512l262.5-312.9c4.4-5.2.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9A7.95 7.95 0 0 0 203 838h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></path>
      </svg></i>
  </span></a>
    </div>
  </ng-template>

</p-toast>
