<p-dialog [(visible)]="isVisible"
          [closable]="false"
          [styleClass]="'m-dialog-modal-lg' + (browesing ? ' borderless' : '')"
          appendTo="body"
          [modal]="true"
          [responsive]="true"
          [baseZIndex]="1"
          [autoZIndex]="false"
          (onHide)="onHide()"
          (onShow)="onShow()"
>

  <p-header>
    <div class="header">
      <ng-container *ngIf="browesing">
          <div class="previous-container">
            <button class="a-buttons-contained override">
              <i (click)="goToSearchWorkspace()" class="icon-arrow_back_ios_24px"></i>
            </button>
            <h4>
              {{ selectionStep =='plt' ? 'Browese For Cloning' : 'Search For Project' }}
            </h4>
          </div>
      </ng-container>

      <ng-container *ngIf="!browesing">
        <h4 >
          Select Workspace
        </h4>

        <div [formGroup]="keywordFormGroup">

          <nz-input-group style="z-index: 1001"
                          class="global-search-input-grp"
                          [ngClass]="{'global-search-input-grp-active': 1===1}"
                          [nzSuffix]="suffixIconSearch">
            <input searchInput [ngClass]="{'search-page-active-border': 1===1}"
                   (onEnter)="onEnter()"
                   #searchInput
                   formControlName="keyword"  (click)="search()"
                   class="search-input" type="text" nz-input [placeholder]="'Search for Treaty' ">
          </nz-input-group>

          <ng-template #suffixIconSearch>
            <i nz-icon *ngIf=" searchInput?.value?.length>=1" class="item-close clickable-item" (click)="clearSearchValue()" nzType="close"
               nzTheme="outline"></i>
            <i [ngClass]="{'search-page-active-shape': 1===1}" (click)="onEnter()" style="cursor: pointer"
               class="icon-search_24px"></i>
          </ng-template>

        </div>
      </ng-container>
      <i (click)="isVisible=false" style="cursor: pointer" class="icon-close_24px"></i>
    </div>
  </p-header>

  <ng-container *ngIf="!browesing">
    <div style="height:600px;">

      <app-table [tableColumn]="selectWsTable" [sortable]="false" [totalRecords]="paginationOption?.total" #dt
                 [listOfData]="contracts" [virtualScroll]="true" (selectOne)="openWorkspaceInSlider($event)"
                 [tableWidth]="'1000px'" (loadMore)="loadMore($event)"
                 (filterData)="filterData($event.searchValue, $event.searchAddress)"
                 (dbClickItem)="onRowSelect('db',$event);getBrowesingItems($event)"
                 (onRowSelect)="onRowSelect('',$event)"
                 (onRowUnselect)="onRowUnselect($event)"
                 [selectionMode]="'single'"
                 [loading]="loading">
      </app-table>

    </div>
  </ng-container>

  <ng-container *ngIf="browesing && selectionStep == 'project'">
    <div class="content" style="flex-wrap: wrap !important;">
      <div style="display: inline-block; padding: 20px;" *ngFor="let project of selectedWorkspaceProjects; let i = index" class="card-holder">
        <div class="project-card mx-1" (click)="selectThisProject(project)"
             [ngStyle]="{'border': project?.projectId == selectedProject?.projectId ? '2px solid #06B8FF' : '2px solid transparent'}">
          <div class="project-header">
            <!--            <div style="background: #A363FF" class="project-header-icon d-flex justify-content-center align-items-center">
                          <i class="fa fa-code-fork" aria-hidden="true"></i>
                        </div>-->
            <div [ngStyle]="{'background-color':project.linkFlag ? '#36c6fe': '#F5B74E' }"
                 class="project-header-icon d-flex justify-content-center align-items-center">
              <i [className]="project.linkFlag ? 'icon-link_24px' : 'icon-assignment_24px'"></i>
            </div>
            <div class="project-header-title d-flex flex-column justify-content-center pl-3">
              <span>{{project?.name}}</span>
              <span>{{project?.projectId}}</span>
            </div>
            <div class="icon-card-wrapper" [ngStyle]="{'display': project?.projectId == selectedProject?.projectId ? 'flex' : 'none'}">
              <i class="icon-ellipsis-h"></i>
              <i *ngIf="project?.projectId == selectedProject?.projectId" class="icon-check_24px"></i>
              <span *ngIf="project?.projectId != selectedProject?.projectId"></span>
            </div>
          </div>
          <div class="project-kpi border-top d-flex">
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-globe mb-1"></i>
              <span class="project-kpi-span">Region Perils</span>
              <span class="project-kpi-span"><b>{{project?.regionPerilSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-adjust-half mb-1"></i>
              <span class="project-kpi-span">Exp</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-box mb-1"></i>
              <span class="project-kpi-span">PLT</span>
              <span class="project-kpi-span"><b>{{project?.pltThreadSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-note mb-1"></i>
              <span class="project-kpi-span">Published</span>
              <span class="project-kpi-span"><b>{{project?.xactSum || 0}}</b></span>
            </div>
            <div style="flex:1" class="border-right py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-dollar-alt mb-1"></i>
              <span class="project-kpi-span">Pricing</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
            <div style="flex:1" class="py-2 px-3 d-inline-flex flex-column project-component">
              <i style="font-size: 2.6em; color: rgba(0,0,0,0.3)" class="icon-focus-add mb-1"></i>
              <span class="project-kpi-span">Accum</span>
              <span class="project-kpi-span"><b>-</b></span>
            </div>
          </div>
          <div class="project-kpi-details pb-3">
            <p class="project-kpi-details-title">
              {{project?.description}}
            </p>
            <div class="border-top d-flex project-kpi-details-content">
              <span class="pl-4 dt-11" style="flex:1; letter-spacing: 0.08px; line-height: 32px;">Created</span>
              <span class="pr-4 dt-11 project-kpi-creat-wrap">{{project?.createdBy}}</span>
              <span class="text-center dt-11"
                    style="flex:1;color: rgba(0,0,0,0.87);  letter-spacing: 0.08px; line-height: 32px;">{{project?.creationDate | date:'dd/MM/yyyy'}}</span>
            </div>
            <div class="border-top d-flex project-kpi-details-content">
              <span class="pl-4 dt-11" style="flex:1;letter-spacing: 0.08px;  line-height: 32px;">Last Modified</span>
              <span class="pr-4 dt-11 project-kpi-creat-wrap">{{project?.createdBy}}</span>
              <span class="text-center dt-11"
                    style="flex:1;color: rgba(0,0,0,0.87);letter-spacing: 0.08px; line-height: 32px;">{{project?.dueDate | date:'dd/MM/yyyy'}}</span>
            </div>
          </div>
        </div>
      </div></div>
  </ng-container>

  <ng-container *ngIf="browesing && selectionStep == 'plt'">
    <div class="content">
      <div class="left">
        <app-plt-left-menu
          [menuInputs]="Inputs | pickKeys : menuInputs"
          (onSetSelectedUserTags)="setUserTags($event)"
          (onSetFilters)="setFilters($event)"
          (emitFilters)="emitFilters($event)"
          (onProjectFilter)="filterPlts($event)"
          (onWsHeaderSelection)="setWsHeaderSelect($event)"
          (onSelectProjects)="setSelectedProjects($event)"
          (unCkeckAllPlts)="unCheckAll()"
        >

        </app-plt-left-menu>
      </div>
      <div class="right">
        <div class="title-as-tab">
          <span>
            PLTs
          </span>
        </div>
        <div class="PLTs-content">
          <app-plt-main-table
            [tableInputs]="Inputs | pickKeys : tableInputs"
            (onCheckAll)="checkAll($event)"
            (onFilter)="filterPlts($event)"
            (onPltClick)="toggleSelectPlts($event)"
            (onSelectSinglePlt)="selectSinglePLT($event)"
          ></app-plt-main-table>
        </div>
      </div>
    </div>
  </ng-container>

  <p-footer>
    <div class="a-control-buttons">
      <button class="a-button-text-cancel" (click)="onHide()" >CANCEL</button>
      <ng-container *ngIf="!browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : !selectedWorkspace, 'a-buttons-contained': selectedWorkspace}"
                [disabled]="!selectedWorkspace" (click)="getBrowesingItems(selectedWorkspace)">NEXT</button>
      </ng-container>
      <ng-container *ngIf="browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length == 0 : !selectedProject, 'a-buttons-contained': selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length > 0 : selectedProject}"
                [disabled]="selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length == 0 : !selectedProject" (click)="setBrowesingItems()">SELECT</button>
      </ng-container>
    </div>
  </p-footer>


</p-dialog>
<p-toast></p-toast>
