<calib-col-manager
        *ngIf="isManageColumnsVisible"
        [fixedVisibleColumns]="false"
        [visibleList]="((browesing && selectionStep == 'plt') ? Inputs.pltColumns.visible :
        ( marketChannel == 'FAC' ? columnsFac : columnsTreaty ) | getVisibleColumns : true  ) | cloneDataColumnManageFilter"
        [availableList]="((browesing && selectionStep == 'plt') ? Inputs.pltColumns.available :
        ( marketChannel == 'FAC' ? columnsFac : columnsTreaty) | getVisibleColumns : false ) "
        (actionDispatcher)="handleManageColumnsActions($event)">
</calib-col-manager>
<p-dialog [(visible)]="isVisible"
          [closable]="false"
          [styleClass]="'m-dialog-modal-lg project-clone-pop-up' + (browesing ? ' borderless' : '')"
          appendTo="body"
          [modal]="true"
          [responsive]="true"
          [baseZIndex]="1"
          [maximizable]="true"
          (onHide)="onHide()"
          (onShow)="onShow()">

  <p-header>
    <div class="header">
      <ng-container *ngIf="browesing">
        <div class="previous-container">
          <button class="a-buttons-contained override">
            <i (click)="goToSearchWorkspace()" class="icon-arrow_back_ios_24px"></i>
          </button>
          <h6>
            {{ selectionStep == 'plt' ? 'Select PLTs to Clone' : 'Search For Project' }}
          </h6>
        </div>
      </ng-container>

      <ng-container *ngIf="!browesing">
        <h4 >
          Select Workspace
        </h4>

        <search-menu-item [state]="searchState$ | async" searchType="cloneDataWsSearch"></search-menu-item>

      </ng-container>
      <i (click)="isVisible=false" style="cursor: pointer" class="icon-close_24px"></i>
    </div>
  </p-header>

  <ng-container *ngIf="!browesing">
    <div style="height:600px;">
      <div style="width: 100%; text-align: right">
        <i (click)="openColumnManager()" style="cursor: pointer;" class="icon-settings_24px" nz-tooltip="Manage Columns"></i>
        </div>
      <app-table [tableColumn]="marketChannel == 'FAC' ? columnsFac : columnsTreaty"
                 [sortable]="false" [totalRecords]="paginationOption?.total" #dt
                 [listOfData]="contracts" [virtualScroll]="false" (selectOne)="openWorkspaceInSlider($event)"
                 [tableWidth]="'1000px'" (loadMore)="loadMore($event)"
                 (filterData)="filterData($event.searchValue, $event.searchAddress)"
                 (dbClickItem)="onRowSelect($event);getBrowesingItems($event)"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="onRowUnselect($event)"
                 [selectionMode]="'single'"
                 [sortData]="Inputs.sortData"
                 (sortDataChange)="onSortChange($event)"
                 [loading]="loading">
      </app-table>

    </div>
  </ng-container>
  <ng-container *ngIf="browesing && selectionStep == 'project'">
    <div style="overflow: scroll; height: -webkit-fill-available;">
      <projects-list [projects]="selectedWorkspaceProjects" (select)="selectThisProject($event)"></projects-list>
    </div>
  </ng-container>

  <ng-container *ngIf="browesing && selectionStep == 'plt'">
    <div class="content">
      <div class="left">
        <app-plt-left-menu
          [leftMenuInputs]="leftMenuInputs"
          (actionDispatcher)="leftMenuActionDispatcher($event)"
        >
        </app-plt-left-menu>
      </div>
      <div
        [ngStyle]="{ 'width': rightMenuInputs['visible'] ? 'calc(100% - 220px - 500px - 16px - 3px)' : 'calc(100% - 220px - 58px - 16px)'}"
        class="center">
        <div class="title-as-tab">
          <span>
            PLTs
          </span>
        </div>
        <div style="width: 100%; text-align: right">
          <i (click)="openColumnManager()" style="cursor: pointer;" class="icon-settings_24px" nz-tooltip="Manage Columns"></i>

        </div>
        <div class="PLTs-content">
          <app-plt-main-table
            [tableInputs]="Inputs | pickKeys : tableInputs"
            [selectedProject]="Inputs.selectedProject"
            (actionDispatcher)="tableActionDispatcher($event)"
          ></app-plt-main-table>
        </div>
      </div>
      <!--
      <div [ngStyle]="{'width': rightMenuInputs['visible'] ? '500px' : '60px'}" class="right">
        <app-plt-right-menu
          (actionDispatcher)="rightMenuActionDispatcher($event)"
          [Inputs]="rightMenuInputs"
        ></app-plt-right-menu>
      </div>
      -->
    </div>
  </ng-container>

  <p-footer>
    <div class="a-control-buttons">
      <button class="a-button-text-cancel" (click)="onHide()" >CANCEL</button>
      <ng-container *ngIf="!browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : !selectedWorkspace, 'a-buttons-contained': selectedWorkspace}"
                [disabled]="!selectedWorkspace" (click)="getBrowesingItems(selectedWorkspace)">{{ multiSteps ? 'NEXT' : 'SELECT'}}</button>
      </ng-container>
      <ng-container *ngIf="browesing">
        <button [ngClass]="{'a-buttons-contained-disabled' : selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length == 0 : !selectedProject, 'a-buttons-contained': selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length > 0 : selectedProject}"
                [disabled]="selectionStep == 'plt' ? Inputs['selectedListOfPlts'].length == 0 : !selectedProject" (click)="setBrowesingItems()">SELECT</button>
      </ng-container>
    </div>
  </p-footer>

</p-dialog>
