.override {
  padding: 7px;
  display: flex;
  align-items: center;

  i {
    font-size: 25px;
  }
}

.content {
  .title-as-tab {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;

    span {
      padding: 16px 43px;
      font-size: 1.3em;
      font-weight: bold;
      border-top: 3px solid #0700e4;
    }
  }

  .right, .left {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 0 6px rgba(0, 0, 0, 0.23);
    margin-right: 10px;
  }

  .PLTs-content {
    padding: 0 21px 0 16px !important;
    position: relative;
    flex: 1 1 auto;
  }
}

.global-search-input-grp-active {
  border: 1px solid #008694;
}

.global-search-input-grp {
  ::ng-deep span.ant-input-group-addon.ng-star-inserted {
    background-color: #FFF;
    border: none;
    border-radius: 20px 0px 0px 20px;
    padding-right: 0px !important;
    padding: 0 6px;
  }

  ::ng-deep {
    .ant-input-affix-wrapper .ant-input:not(:last-child) {
      padding-left: 6px;
    }

    .ant-input-affix-wrapper .ant-input-suffix {
      display: flex;
    }
  }
}

nz-input-group {
  min-width: 550px;
  border-radius: 25px;

  input {
    border-radius: 25px;
  }
}

.project-card {
  width: 98%;
  border: 3px solid transparent;
  border-radius: 2px;
  background-color: #FAFAFA;
  box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.1), 0 3px 16px 2px rgba(0, 0, 0, 0.08), 0 5px 6px -3px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 9px 12px 1px rgba(0, 0, 0, 0.3), 0 3px 16px 2px rgba(0, 0, 0, 0.2), 0 5px 6px -3px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 768px) {
    margin: auto;
    min-width: 400px !important;
    max-width: 500px !important;
  }

  .project-header {
    height: 80px;
    display: flex;

    .project-header-icon {
      width: 80px;

      i {
        color: white;
        font-size: 2em;
      }
    }

    .standard-flag-icon {
      background-color: #F5A623;
    }

    .link-flag-icon {
      background-color: #36C6FE;
    }

    .inuring-flag-icon {
      background-color: #B482FE;
    }

    .project-header-title {
      span:nth-child(1) {
        color: rgba(0, 0, 0, 0.87);
        font-family: Rubik;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 24px;
      }

      span:nth-child(2) {
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 28px;
      }

      flex: 1;
      background: #F9FAFE;
    }

    .icon-card-wrapper {
      align-items: center;
      background-color: #F9FAFE;

      i {
        cursor: pointer;
        margin-right: 15px;
        font-size: 22px;
      }

      .icon-check_24px {
        border-radius: 20px;
        background-color: #06B8FF;
        color: #fff;
        padding: 1px;
      }

      span {
        width: 22px;
        cursor: pointer;
        height: 22px;
        border: 1px solid #000;
        border-radius: 20px;
        margin-right: 15px
      }
    }
  }

  .project-progress {
    height: 80px;
    background-color: #fff;

    .project-flag {
      width: 25%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;

      hr {
        border-top: 2px solid #03DAC4;
      }
    }

    .steper-icon {
      width: 15px;
      height: 15px;
      border: 2px solid #03DAC4;
      border-radius: 20px;
      display: flex;
      position: absolute;
      margin-top: -24px;
      margin-left: 70px;
      background: #fff;

      @media screen and (min-width: 1650px) and (max-width: 2200px) {
        margin-left: 52px;
      }
    }
  }

  .project-kpi {
    font-size: 0.7em;
    background-color: #fff;

    .project-component {
      justify-content: space-between;
    }

    div {
      i {
        height: 19.89px;
        width: 16.89px;
      }

      .project-kpi-span {
        padding-top: 12px;
        font-size: 15px;
        letter-spacing: 0.5px;
        line-height: 20px;
      }

      span:nth-child(3) {
        font-size: 30px;
      }
    }

    .badge {
      margin-top: 11px;
      background: #e700104f;
      border-radius: 12px;
      font-size: 15px !important;
    }
  }

  .project-kpi-details {
    background: #F9FAFE;

    .project-kpi-details-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 35px;
      padding: 10px !important;
      font-size: 0.9em;
      @media screen and (max-width: 1500px) and (min-width: 1350px) {
        font-size: 0.7em;
      }
    }

    .dt-11 {
      font-size: 11px;
      @media screen and (max-width: 1500px) and (min-width: 1350px) {
        font-size: 10px;
      }
    }
  }
}
