
:host{

  .no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .col-content {
    background-color: white;
    height: -webkit-fill-available;
    width: 100%;
  }

  .info-tab-content, .create-tab-content, .ep-tab-content {
    .simple-panel {
      margin: 6px;
      padding: 6px;
      border: 1px solid rgb(229, 233, 250);

      h6 {
        font-size: 15.26px;
        margin: 8px 1px;
      }

      .menu-item {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        cursor: pointer;
        padding: 3px 6px;
        margin: 2px;
        font-weight: bold;

        i {
          font-weight: bold;
        }
      }

      .add-item {
        background-color: rgb(229, 233, 250);

        i {
          color: rgb(7, 0, 207);
        }
      }

      .node-item {
        background-color: #F9F9F9;

        i {
          color: rgba(0, 0, 0, 0.54);
        }
      }

      .draggable-item {
        background-color: rgba(255, 170, 6, 0.1);
        border: none !important;

        i {
          color: rgba(0, 0, 160, 0.3)
        }

      }
      .draggable-disabled-item{
        background-color: lightgray;
        cursor: not-allowed;
      }

      .collapsible-panel {

        border: 1px solid #dddddd;
        border-top: none;

        .collapse-header {
          background-color: #E5E9FA;
          font-weight: bold;
          color: black;
          cursor: pointer;

          i {
            color: rgba(0, 0, 0, 0.54);
            font-size: 24px;
          }
        }

        .collapse-content {
          .title, .value {
            font-size: 12px;
          }

          .title {
            color: rgba(0, 0, 0, 0.6);
          }

          .value {
            color: #000000;
            font-weight: bold;
          }

          .table-title, .tags-title {
            color: #06B8FF;
            font-size: 14px;
            letter-spacing: 0.08px;
            line-height: 24px;
            font-weight: bold;
          }

          .tags-title {
            color: #000000;
          }

          .summary-table {
            width: 100%;
            border-top: 1px solid #DDDDDD;
            text-align: center;

            thead {
              color: rgba(0, 0, 0, 0.6);
              border-bottom: 1px solid #DDDDDD;
            }

            tbody {
              color: black;
              font-weight: bold;
            }

            tr {
              border-bottom: 1px solid #DDDDDD;
            }
          }

          .tags-container {
            nz-tab {
              border-radius: 15px;
              line-height: 18px;
            }
          }
        }

      }

    }

  }


  /** To Refactor **/

  .metric-table-content {

    .metric-table {
      font-size: 12px;
      font-family: Rubik;
      display: block;
      overflow: auto;
      padding-bottom: 4px;

      th {
        color: rgba(0, 0, 0, 0.38);
        font-family: Rubik;
        font-size: 12px;
        letter-spacing: 0.08px;
        line-height: 14px;
        background-color: white;

        i {
          font-size: 16px;
          color: #000;
          cursor: pointer;
          padding: 0px 0px 0px 3px;
          cursor: pointer;
        }
      }

      td {
        padding: 7px 5px 1px 2px;
        text-align: right;
        color: black;
      }

      tfoot{
        td{
          font-weight: bold;
        }
      }

    }
  }

  .dropdowns {

    border-bottom: 1px solid #aeaeae;
    padding-bottom: 10px;
    margin-top: 15px;

    .dropdown-currency {
      border: 2px solid #00c4aa;
      height: 45px;
      font-size: 12px;
      font-family: rubik;
      padding: 5px;

      .dropdown-currency-title {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
      }

      ::ng-deep {
        .anticon {
          margin-top: 10px;
          margin-right: 5px;
        }
      }
    }

    .dropdown-financial-unit {
      border: 2px solid #00c4aa;
      height: 45px;
      font-size: 12px;
      font-family: rubik;
      padding: 5px;

      .dropdown-unit-title {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
      }

      ::ng-deep {
        .anticon {
          margin-top: 10px;
          margin-right: 5px;
        }
      }
    }

    .dropdown-ep-metric {
      border-bottom: 2px solid #140ed1;
      height: 40px;
      font-size: 12px;
      font-family: rubik;
      padding: 12px 5px 1px 10px;
      color: #140ed1;
    }
  }

}
