<div class="plt-browser-wrapper">
  <div class="a-app-wrapper">
    <div class="a-app-header">
      <h4>PLT Manager</h4>
    </div>
    <div class="my-tabs">
      <div #leftMenu>
        <div
          *ngIf="!collapsedTags"
          ngResizable
          [rzHandles]="'e,w'"
          (rzResizing)="resizing()"
          [rzMinWidth]="200"
          [rzMaxWidth]="350"
          style="position: relative;width: 280px;"
        >
          <app-plt-left-menu
            [leftMenuInputs]="leftMenuInputs"
            (actionDispatcher)="leftMenuActionDispatcher($event)"
          >
          </app-plt-left-menu>
          <i (click)="collapseLeftMenu();" *ngIf="!collapsedTags" class="icon-chevron_left_24px"
             style="font-size: 25px; cursor: pointer;position: absolute;top: 12px;right: 12px;"></i>
        </div>
        <div *ngIf="collapsedTags" class="a-closed-sidebar" style="position: relative;width: 37px;height: calc( 100vh - 280px);">
          <div class="collapseTags col-2" style="padding:15px 0px 0px 8px; position: absolute;">
            <i (click)="collapseLeftMenu()" class="icon-chevron_right_24px"
               style="font-size: 20px; cursor: pointer"></i>
          </div>
        </div>
      </div>
      <div class="tabset-right" [ngStyle]="{ 'width': leftIsHidden ? 'calc(100vw - ' + leftMenu.clientWidth +'px - 80px - 174px + 130px)' : 'calc(100vw - ' + leftMenu.clientWidth + 'px - 80px - 177px)'}">
        <ag-grid-angular
                #agGrid
                style="width: 100%; height: 100%"
                id="myGrid"
                class="ag-theme-alpine"

                [modules]="modules"
                [frameworkComponents]="gridParams?.frameworkComponents"

                [rowModelType]="gridParams?.rowModelType"

                [columnDefs]="gridParams?.columnDefs"
                [defaultColDef]="gridParams?.defaultColDef"
                [autoGroupColumnDef]="gridParams?.autoGroupColumnDef"


                [multiSortKey]="'ctrl'"
                [animateRows]="true"
                [cacheBlockSize]="50"
                [getChildCount]="gridParams?.getChildCount"

                (gridReady)="onGridReady($event)"
                (columnRowGroupChanged)="onColumnRowGroupChanged($event)"

                purgeClosedRowNodes
        ></ag-grid-angular>
      </div>
    </div>
  </div>
</div>

<app-plt-right-menu
  *ngIf="rightMenuInputs.visible"
  (actionDispatcher)="rightMenuActionDispatcher($event)"
  [Inputs]="rightMenuInputs"
></app-plt-right-menu>