<nz-badge style="cursor: pointer" [nzCount]="5" nz-popover [(nzVisible)]="visible" [nzContent]="tasksPopoverContent"
          nzPlacement="bottomRight" nzTrigger="click">
  <!-- <a href="#"
      class="icon-help_outline_24px icon-size"></a>-->
  <nz-progress class="circular-progress-bar" [nzPercent]="60"
               [nzFormat]="formatter"
               [nzStrokeWidth]="8"
               nzType="circle" [nzWidth]="26">
  </nz-progress>
</nz-badge>
<ng-template #tasksPopoverContent>
  <div class="tabs-popover-content" style="width: 565px">
    <nz-tabset>
      <nz-tab [nzTitle]="ActiveHeaderContent">
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchJobs($event)" class="input-search"/>
          </div>
          <ul>
            <li *ngFor="let activeTask of savedTasksLocal.active" [ngStyle]="{'height': activeTask.append ? '' : '40px'}"
                class="popover-menu-item">
              <div class="data-first">
                <div class="list-item-left">
                  <i *ngIf="activeTask.pending" class="icon-clock"></i>
                  <ng-container *ngIf="!activeTask.pending">
                    <i *ngIf="activeTask.isPaused; else taskProgress" class="icon-pause_circle_outline_24px"></i>
                    <ng-template #taskProgress>
                      <nz-progress style="display: flex; align-items: center" class="circular-progress-bar"
                                   [nzPercent]="activeTask.progress"
                                   [nzFormat]="formatter"
                                   [nzStrokeWidth]="8"
                                   nzType="circle" [nzWidth]="24">
                      </nz-progress>
                    </ng-template>
                  </ng-container>
                  <ng-template #tooltipInfo>
                    <span>
                      <span *ngIf="activeTask.specific.type === 'Import'">Import: {{activeTask.status.completed}} of {{activeTask.status.total}} Portfolios,
                      {{activeTask.status.completed}} of {{activeTask.status.total}} Analysis</span>
                      <span *ngIf="activeTask.specific.type === 'Calibration'">Calibration: {{activeTask.status.completed}} of {{activeTask.status.total}} PLTs</span>
                      <span *ngIf="activeTask.specific.type === 'Inuring'">Inuring: {{activeTask.status.completed}} of {{activeTask.status.total}} Contract</span>
                    </span>
                  </ng-template>
                  <!--<i class="icon-window-section"></i> -->
                  <div [nzTitle]="tooltipInfo" nzPlacement="bottom" nz-tooltip
                       (dblclick)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)"
                       class="item-list-title-wrapper">
                    <span class="item-list-title">{{activeTask?.name}}</span>
                    <span class="item-list-subtitle">{{activeTask?.year}} - {{activeTask?.description}}</span>
                  </div>
                </div>
                <div class="list-item-right">
                  <span (dblclick)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="list-item-info">{{activeTask?.specific.type}} - {{activeTask?.data.workSpaceId}}</span>
                  <ng-container *ngIf="!activeTask.pending">
                    <span *ngIf="!activeTask.isPaused" (dblclick)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="task-duration mr-2">{{activeTask?.duration}}</span>
                    <span *ngIf="activeTask.isPaused" (dblclick)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="task-duration mr-2">Paused</span>
                  </ng-container>
                  <span *ngIf="activeTask.pending" (dblclick)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="task-duration mr-2">4/12 pending</span>
                  <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
                    <i nz-dropdown style="margin-top: 7px" class="icon-menu_24px"></i>
                    <ul nz-menu>
                      <!--<li style="display:flex" nz-menu-item><i class="icon-close_24px dropdown-icons"></i><span
                        class="dropdown-title">Cancel</span></li>-->
                      <li style="display:flex" nz-menu-item
                          *ngIf="!activeTask.isPaused"
                          nz-popconfirm
                          nzTitle="Are you sure you want to pause this Job?"
                          (nzOnConfirm)="pauseJob(activeTask.id)"
                          (nzOnCancel)="cancel()"
                          nzPlacement="bottom"><i
                        class="icon-pause_circle_outline_24px dropdown-icons"></i><span
                        class="dropdown-title">Pause</span></li>

                      <li style="display:flex" nz-menu-item
                          *ngIf="activeTask.isPaused"
                          nz-popconfirm
                          nzTitle="Are you sure you want to Resume this Job?"
                          (nzOnConfirm)="resumeJob(activeTask.id)"
                          (nzOnCancel)="cancel()"
                          nzPlacement="bottom"><i
                        class="icon-play_circle_outline_24px dropdown-icons"></i><span
                        class="dropdown-title">Resume</span></li>

                      <li style="display:flex" nz-menu-item
                          nz-popconfirm
                          nzOkText="ABORT"
                          nzTitle="Are you sure you want to Abort this Job?
                                   You will Find it Later in the Job List"
                          (nzOnConfirm)="deleteJob(activeTask.id)"
                          (nzOnCancel)="cancel()"
                          nzPlacement="bottom"><i
                        class="icon-trash-alt dropdown-icons"></i><span
                        class="dropdown-title">Delete</span></li>

                    </ul>
                  </nz-dropdown>
                  <i *ngIf="!activeTask.append" (click)="toggleActiveTask(activeTask)"
                     class="icon-keyboard_arrow_down_24px"></i>
                  <i *ngIf="activeTask.append" (click)="toggleActiveTask(activeTask)"
                     class="icon-keyboard_arrow_up_24px"></i>
                </div>
              </div>
              <div *ngIf="activeTask.append" class="data-append">
                <ul class="data-append-list">
                  <li class="data-append-item" *ngFor="let item of activeTask.content">
                    <div class="list-item-left">
                      <nz-progress style="display: flex; align-items: center; margin-right: 5px;"
                                   class="circular-progress-bar"
                                   [nzPercent]="item.progress"
                                   [nzFormat]="formatter"
                                   [nzStrokeWidth]="8"
                                   nzType="circle" [nzWidth]="15">
                      </nz-progress>
                      <div class="list-item-title-wrapper">
                        <span class="item-list-title">{{item.contentId}}</span>
                        <span class="item-list-subtitle">{{item.projectId}} | {{item.createdBy}}</span>
                      </div>
                    </div>
                    <div class="list-item-info" style="display: flex; align-items: center; flex:1">
                      <span class="task-duration">{{item.duration}}</span>
                      <i *ngIf="item.progress === 100" class="icon-file-check-alt"></i>
                      <i *ngIf="item.progress < 100" nz-icon [nzType]="'loading'"></i>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="mt-2 task-footer">
            <div>
              <nz-select [(ngModel)]="datePointer" [nzAllowClear]="false" class="dropdown-default"
                         style="width: 140px; margin-right: 10px;" (ngModelChange)="filterByDate($event)" nzAllowClear nzPlaceHolder="Choose">
                <nz-option [nzValue]="'all'" nzLabel="All"></nz-option>
                <nz-option [nzValue]="'today'" nzLabel="Today"></nz-option>
                <nz-option [nzValue]="'yesterday'" nzLabel="Yesterday"></nz-option>
                <nz-option [nzValue]="'lastWeek'" nzLabel="Last Week"></nz-option>
              </nz-select>

              <nz-select [(ngModel)]="typePointer" [nzAllowClear]="false" class="dropdown-default"
                         style="width: 140px;" (ngModelChange)="filterByType($event)" nzAllowClear nzPlaceHolder="Choose">
                <nz-option [nzValue]="'all'" nzLabel="All"></nz-option>
                <nz-option [nzValue]="'Import'" nzLabel="Import"></nz-option>
                <nz-option [nzValue]="'Inuring'" nzLabel="Inuring"></nz-option>
                <nz-option [nzValue]="'Calibration'" nzLabel="Calibration"></nz-option>

              </nz-select>
            </div>
            <div class="task-button">
              <button class="button-no-outline" (click)="navigateToJOBManager()">SEE ALL</button>
            </div>
          </div>
        </div>
      </nz-tab>
      <nz-tab [nzTitle]="CompletedHeaderContent">

        <!--
        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchJobs($event)" class="gray-search-input"/>
          </div>
          <ul>
            <li *ngFor="let activeTask of tasks.active" class="popover-menu-item">
              <div class="list-item-left">
                <i *ngIf="activeTask.isPaused; else taskProgress" class="icon-clock"></i>
                <ng-template #taskProgress>
                  <nz-progress style="display: flex; align-items: center" class="circular-progress-bar"
                               [nzPercent]="activeTask.progress"
                               [nzFormat]="formatter"
                               [nzStrokeWidth]="8"
                               nzType="circle" [nzWidth]="15">
                  </nz-progress>
                </ng-template> -->
        <!--<i class="icon-window-section"></i> -->
        <!--<div class="item-list-title-wrapper">
          <span class="item-list-title">{{activeTask?.name}} - {{activeTask?.year}}</span>
          <span class="item-list-subtitle">{{activeTask?.description}}</span>
        </div>
      </div>
      <div class="list-item-right">
        <span class="list-item-info">{{activeTask?.specific}}</span>
        <span class="task-duration mr-2">{{activeTask?.duration}}</span>
        <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
          <i nz-dropdown style="margin-top: 7px" class="icon-menu_24px"></i>
          <ul nz-menu>
            <li style="display:flex" nz-menu-item><i class="icon-close_24px dropdown-icons"></i><span
              class="dropdown-title">Cancel</span></li>
            <li style="display:flex" nz-menu-item><i
              class="icon-pause_circle_outline_24px dropdown-icons"></i><span
              class="dropdown-title">Pause</span></li>
            <li style="display:flex" nz-menu-item><i class="icon-trash-alt dropdown-icons"></i><span
              class="dropdown-title">Delete</span></li>
          </ul>
        </nz-dropdown>
        <i (click)="toggleActiveTask(activeTask)" class="icon-keyboard_arrow_down_24px"></i>
      </div>
    </li>
  </ul>
  <div class="mt-2 task-footer">
    <nz-select [(ngModel)]="lastOnes" [nzAllowClear]="false" class="float-left popover-menu-control-select"
               style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
      <nz-option [nzValue]="1" nzLabel="Today"></nz-option>
      <nz-option [nzValue]="2" nzLabel="Yesterday"></nz-option>
      <nz-option [nzValue]="3" nzLabel="Last Week"></nz-option>
      <nz-option [nzValue]="4" nzLabel="Last Month"></nz-option>
    </nz-select>

    <nz-select [(ngModel)]="lastOnes" [nzAllowClear]="false" class="float-left popover-menu-control-select"
               style="width: 120px;" nzAllowClear nzPlaceHolder="Choose">
      <nz-option [nzValue]="1" nzLabel="All"></nz-option>
      <nz-option [nzValue]="2" nzLabel="Import"></nz-option>
      <nz-option [nzValue]="3" nzLabel="Iniuring"></nz-option>
      <nz-option [nzValue]="4" nzLabel="Calibration"></nz-option>

    </nz-select>

    <div class="float-right">
      <button class="popover-menu-control-button" nz-button nzType="default" (click)="navigateToJOBmanager()">SEE ALL</button>
    </div>
  </div>
</div>-->

        <div class="popup-tab-content">
          <div class="tab-search-input">
            <i class="icon-search_24px"></i>
            <input (input)="searchJobs($event)" class="input-search"/>
          </div>
          <ul>
            <li *ngFor="let activeTask of savedTasksLocal.active" [ngStyle]="{'height': activeTask.append ? '' : '40px'}"
                class="popover-menu-item">
              <div class="data-first">
                <div class="list-item-left">

                  <nz-progress style="display: flex; align-items: center" class="circular-progress-bar"
                               [nzPercent]="100"
                               [nzFormat]="formatter"
                               [nzStrokeWidth]="8"
                               nzType="circle" [nzWidth]="24">
                  </nz-progress>
                  <ng-template #tooltipInfo>
                    <span>
                      <span *ngIf="activeTask.specific.type === 'Import'">{{activeTask.status.completed}}
                        /{{activeTask.status.total}} Analysis Imported</span>
                      <span *ngIf="activeTask.specific.type === 'Calibration'">{{activeTask.status.completed}}
                        /{{activeTask.status.total}} Calibration Imported</span>
                      <span *ngIf="activeTask.specific.type === 'Inuring'">{{activeTask.status.completed}}
                        /{{activeTask.status.total}} Inuring Imported</span>
                    </span>
                  </ng-template>
                  <!--<i class="icon-window-section"></i> -->
                  <div [nzTitle]="tooltipInfo" nzPlacement="bottom" nz-tooltip
                       (click)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)"
                       class="item-list-title-wrapper">
                    <span class="item-list-title">{{activeTask?.name}}</span>
                    <span class="item-list-subtitle">{{activeTask?.year}} - {{activeTask?.description}}</span>
                  </div>
                </div>
                <div class="list-item-right">
                  <span (click)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="list-item-info">{{activeTask?.specific.type}} - {{activeTask?.data.workSpaceId}}</span>
                  <span (click)="openWorkspace(activeTask.data.workSpaceId, activeTask.data.uwYear, activeTask.specific.link)" class="task-duration mr-2">{{activeTask?.duration}}</span>
                  <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
                    <i nz-dropdown style="margin-top: 7px" class="icon-menu_24px"></i>
                    <ul nz-menu>
                      <li style="display:flex" nz-menu-item><i class="icon-close_24px dropdown-icons"></i><span
                        class="dropdown-title">Cancel</span></li>
                      <li style="display:flex" nz-menu-item><i
                        class="icon-pause_circle_outline_24px dropdown-icons"></i><span
                        class="dropdown-title">Pause</span></li>
                      <li style="display:flex" nz-menu-item><i class="icon-trash-alt dropdown-icons"></i><span
                        class="dropdown-title">Delete</span></li>
                    </ul>
                  </nz-dropdown>
                  <i *ngIf="!activeTask.append" (click)="toggleActiveTask(activeTask)"
                     class="icon-keyboard_arrow_down_24px"></i>
                  <i *ngIf="activeTask.append" (click)="toggleActiveTask(activeTask)"
                     class="icon-keyboard_arrow_up_24px"></i>
                </div>
              </div>
              <div *ngIf="activeTask.append" class="data-append">
                <ul class="data-append-list">
                  <li class="data-append-item" *ngFor="let item of activeTask.content">
                    <div class="list-item-left">
                      <nz-progress style="display: flex; align-items: center; margin-right: 5px;"
                                   class="circular-progress-bar"
                                   [nzPercent]="item.progress"
                                   [nzFormat]="formatter"
                                   [nzStrokeWidth]="8"
                                   nzType="circle" [nzWidth]="15">
                      </nz-progress>
                      <div class="list-item-title-wrapper">
                        <span class="item-list-title">{{item.contentId}}</span>
                        <span class="item-list-subtitle">{{item.projectId}} | {{item.createdBy}}</span>
                      </div>
                    </div>
                    <div style="display: flex; align-items: center; flex:1">
                      <span class="task-duration">OK</span>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="mt-2 task-footer">
            <div>
              <nz-select [(ngModel)]="datePointer" [nzAllowClear]="false" class="dropdown-default"
                         style="width: 140px;" nzAllowClear nzPlaceHolder="Choose">
                <nz-option [nzValue]="1" nzLabel="Today"></nz-option>
                <nz-option [nzValue]="2" nzLabel="Yesterday"></nz-option>
                <nz-option [nzValue]="3" nzLabel="Last Week"></nz-option>
                <nz-option [nzValue]="4" nzLabel="Last Month"></nz-option>
              </nz-select>

              <nz-select [(ngModel)]="typePointer" [nzAllowClear]="false" class="dropdown-default"
                         style="width: 140px;" nzAllowClear nzPlaceHolder="Choose">
                <nz-option [nzValue]="1" nzLabel="All"></nz-option>
                <nz-option [nzValue]="2" nzLabel="Import"></nz-option>
                <nz-option [nzValue]="3" nzLabel="Inuring"></nz-option>
                <nz-option [nzValue]="4" nzLabel="Calibration"></nz-option>

              </nz-select>
            </div>
            <div class="task-button">
              <button class="popover-menu-control-button" nz-button nzType="default" (click)="navigateToJOBManager()">
                SEE ALL
              </button>
            </div>
          </div>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>
  `

  <ng-template #ActiveHeaderContent>
    <span style="width: 5px">Active &nbsp; <span class="badge badge-light tab-badge">12</span></span>
  </ng-template>

  <ng-template #CompletedHeaderContent>
    <span style="width: 90px">Completed &nbsp; <span class="badge badge-light tab-badge">6</span></span>
  </ng-template>

</ng-template>


