<div *ngIf="!ColpasBool" nz-col nzSpan="1" style="text-align: center; font-size: 26px;">
  <i (click)="Colpa()" class="expand-tags-icon" nz-icon nzTheme="outline" nzType="right-circle"
     style="cursor: pointer; padding: 30px 10px; border-top: 4px solid #0700CF; background-color: white"></i>
</div>
<div *ngIf="ColpasBool" nz-col nzSpan="3">
  <div
    style="padding-top: 39px; padding-left: 9px; background: #fff; min-height:571px;width: 98%;  box-shadow: 0px 1px 20px 0px #dcdada; ">
    <hr style="height:5px;background-color: #0700CF;margin-top: -40px;margin-left: -10px;">
    <div (click)="Colpa()" class="textLastAdjustement" style="margin-top: 20px;">
      <i (click)="Colpa()" *ngIf="ColpasBool" nz-icon nzTheme="outline" nzType="left-circle"
         style="position: relative; top: -4px; cursor: pointer"></i>
      Tags
    </div>
    <div class="Tags-content">
      <div class="button-reset-filter-by-tag" nz-row>
        <button (click)="resetFilterByTags()" nz-button nzShape="circle" nzType="default"
                style=" float: right; border: 0px solid; cursor: pointer">
          <i  nz-icon nzTheme="outline" nzType="undo"></i>
        </button>
      </div>
      <div class="tags-title-section" nz-row style="margin-top: -20px;">User tags</div>
      <div *ngFor="let tag of userTags" class="ml-3 mt-1" nz-row>
                    <span (click)="changeFilter(tag,'user')" [ngClass]="{'active-tag': tag === currentUserTag}"
                          [ngStyle]="{'background-color': tag.tagColor}" class="a-chips-input-filled-textonly">
                      {{tag.tagName}}
                      <span [ngStyle]="{'background-color': tag.innerTagColor}"
                            class="inner-chip">{{tag.innerTagContent}}</span>
                    </span>
      </div>

      <div class="tags-title-section" nz-row>System Tags<i class="icon-plus-circle"
                                                         style="margin-top: 17px; margin-left: 5px;"></i>
      </div>
      <div *ngFor="let tag of systemTags" class="ml-3 mt-1" nz-row>
                    <span (click)="changeFilter(tag,'system')" [ngClass]="{'active-tag': tag === currentSystemTag}"
                          [ngStyle]="{'background-color': tag.tagColor}" class="a-chips-input-filled-textonly">
                      {{tag.tagName}}
                      <span [ngStyle]="{'background-color': tag.innerTagColor}"
                            class="inner-chip">{{tag.innerTagContent}}</span>
                    </span>
      </div>

    </div>
  </div>
</div>
