.circular-progress-bar{
  position: relative;
  font-family: 'Scor_fonticon' !important;
}
.circular-progress-bar:after{
  display: none;
  content: "\ea1d";
  position: absolute;
  top: 0px;
  left: 6px;
}

::ng-deep span.ant-progress-text{
  display: none;
}


.task-duration{
  color: rgba(0,0,0,0.38);
  font-size: 10px;
}

.task-item-right-icon{
  line-height: 10px;
  vertical-align: middle;
}

i.icon-pause_circle_outline_24px{
  font-size: 18px;
}
