::ng-deep .m-dialog-modal {


  nz-tabset, .ui-dialog-content {
    overflow: visible;
  }
    .ant-modal {
      top: 0;
    }

    .ant-modal-header {
      border-bottom: none;
    }

    .ant-modal-body {
      padding: 0;
    }

    .content {
      display: flex;
      justify-content: center;
      padding: 25px;
      .color {
        margin: 0 5px;
        display: block;
        width: 70px;
        height: 43px;
        cursor: pointer;
        position: relative;
      }
      color-chrome, color-sketch{
        display: block;
        position: absolute;
        z-index: 1;
        right: -236px;
        bottom: -288px;
        max-width: 270px;
      }
    }

    .ant-input-affix-wrapper {
      width: auto;
    }

    .ant-modal-footer {
      border-top: none;
    }
  }

:host ::ng-deep {
  .tabset-left {
    background: #fff;
    margin-right: 5px;

    .ant-tabs-content{
      height: calc( 85vh - 49px) !important;
    }
    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      position: relative;
    }

    .title-list {
      letter-spacing: 0.2px;
      line-height: 27px;
      font-size: 9px;
      list-style: none;
      padding-left: 20px;
      padding-right: 7px;
      font-weight: bold;
      overflow: auto;
      max-width: 212px;

      li * {
        font-size: 1.5em;
      }

      .icon-window-section {
        color: #fff;
        background-color: #0700cf;
        padding: 2px 3px 2px 2px;
      }

      .icon-assignment_24px {
        color: #fff;
        background-color: #fdc228;
        padding: 2px 3px 2px 2px;
        margin-right: 7px;
      }

      .icon-sitemap {
        color: #fff;
        background-color: #b683ff;
        padding: 2px 3px 2px 2px;
      }
    }

    .wsHeader {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    span {
      i {
        background-color: #0700e4;
        padding: 3px;
        color: white;
        vertical-align: middle;
      }
    }

    .active-path {
      background-color: #FDFBDF;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    .upPartLeftMenu {
      height: 100%;
      display: flex;
      flex-flow: column;
    }

    .plt-trash {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: white;
      .cnt {
        cursor: pointer;
      }
    }


    .ant-tabs-ink-bar {
      position: absolute;
      top: 1px;
      background-color: #0700CF;
    }

    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #fff !important;
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      width: content-box;
      font-size: 20.54px;
      font-weight: 300;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
      padding-top: 22px;
    }
  }

  .Tags-content {
    display: flex;
    flex-flow: column;
    overflow: auto;
    min-width: 212px;
  }

  .user-tag-section, .sys-tag-section {
    margin-top: 1px;
    display: flex;
    flex-flow: column;
  }

  .header{
    display: flex;
    justify-content: space-between;
    padding: 5px 16px;
    font-weight: bold;
    font-size: 16px;
    flex: 0 1 auto;
    div {
      display: flex;
      justify-content: center;
      align-items: center;

      *{
        margin: 3px;
      }
    }

    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .rest {
    flex: 1 1 auto;
    padding: 5px 0;
  }

  nz-collapse{
    max-height: 100%;
  }
  .tag-section {
    ul {
      max-width: 190px;
      padding: 0;
    }
  }

  .tab-content-cnt{
    overflow: visible;
  }

  .ant-collapse {
    border: none;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    max-width: 190px;
    padding: 0;
  }
  .ant-collapse-content {
    border:none;
  }
  .ant-collapse > .ant-collapse-item {
    border-bottom: none;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    background-color: white;
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    font-size: 10px;
    top: 44%;
  }
  .ant-tabs-nav-container-scrolling {
    padding: 0!important;
  }
  .ant-tabs-tab-prev, .ant-tabs-tab-next {
    display: none;
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}
