<nz-tabset class="tabset-left">
  <nz-tab *ngIf="inputs.pathTab" [nzTitle]="path" class="path-content">
    <ng-template #path>
      <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;">Path</span>
    </ng-template>
    <div class="upPartLeftMenu">
        <span class="wsHeader" [ngStyle]="{'background-color': inputs.wsHeaderSelected && !inputs.showDeleted ?  '#FDFBDF' : 'white'}" (click)="resetPath()">
                      <i class="icon-window-section"></i>
          {{inputs.wsId}} - {{inputs.uwYear}}
      </span>
      <ul class="title-list">
        <!--
        <ng-container *ngFor="let project of inputs.projects;let i = index;">
          <li *ngIf="i < 10" (click)="filter('project',null,project.projectId)"
              style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
              [ngClass]="{'active-path': project.selected}">
            <i class="icon-assignment_24px"></i>
            <span class="tooltipMsg"
                  [nz-tooltip]="(project.projectId | reFormatPID) + ' ' +  project.name + ' ' + (toDate(project.creationDate) | date: 'y')">{{(project.projectId | reFormatPID) + ' ' + project.name + ' ' + (toDate(project.creationDate) | date: 'y')}}</span>
          </li>
        </ng-container>
        -->
        <li *ngFor="let project of inputs.projects" (click)="filter('project',null,project.projectId)"
            style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
            class="clickable-item"
            [ngClass]="{'active-path': project.selected}">
          <i class="icon-assignment_24px"></i>
          <span class="tooltipMsg"
                [nz-tooltip]="(project.projectId | reFormatPID) + ' ' +  project.name + ' ' + (toDate(project.creationDate) | date: 'y')">{{(project.projectId | reFormatPID) + ' ' + project.name + ' ' + (toDate(project.creationDate) | date: 'y')}}</span>
        </li>
        <li>
          <div class="plt-trash" [ngStyle]="{'display': inputs.deletedPltsLength > 0 ? 'flex' : 'none', 'background-color': inputs.showDeleted ? 'rgb(253, 251, 223)' : 'white'}" style="font-size: 0.7em;">
            <div class="cnt" (click)="toggleDeletedPlts()">
              <i class="icon-trash-alt"></i>
              <span> Deleted PLTs </span>
            </div>
            <span class="deleted-counter">{{inputs.deletedPltsLength}}</span>
          </div>
        </li>

      </ul>
    </div>
  </nz-tab>

  <nz-tab [nzTitle]="tags">
    <ng-template #tags>
      <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;">Tags</span>
    </ng-template>
    <div class="Tags-content">
      <div class="user-tag-section">
        <div class="header">
          <div>
            <span>User Tags</span>
          </div>
          <button (click)="resetFilterByTags()" nz-button nzType="default" nzShape="circle">
            <i nz-icon nzType="undo" nzTheme="outline">
            </i>
          </button>
        </div>
        <div class="rest">
          <div *ngFor="let key of inputs.userTags | keys" nz-row class="ml-3 mt-1">
            <ng-container *ngIf="inputs.tagContextMenu">
              <p-contextMenu [model]="inputs.tagContextMenu" [target]="tagMenu" appendTo="body"></p-contextMenu>
            </ng-container>
            <span
              #tagMenu
              (contextmenu)="setTagForMenu(inputs.userTags[key])"
              [ngClass]="{'active-tag': inputs.userTags[key]?.selected}"
              class="a-chips-input-mini"
              [ngStyle]="{'background-color': inputs.userTags[key]?.tagColor}"
              (click)="setFilter('userTag', inputs.userTags[key],null)">
                      <span class="chips-content">{{inputs.userTags[key]?.tagName}}</span>
                      <span class="chips-counter">
                        {{inputs.userTags[key]?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
            </span>
          </div>
        </div>
      </div>
      <div class="sys-tag-section">
        <div class="header">
          <div>
            <span>System Tags</span>
          </div>
        </div>
        <nz-collapse
          [nzAccordion]="false"
        >
          <ng-container *ngFor="let section of (inputs.systemTagsCount | keys)">
            <ng-container >
              <nz-collapse-panel
                [nzHeader]="section"
              >
                <div *ngFor="let tag of ( inputs.systemTagsCount[section] | keys)"
                     style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"
                     class="ml-3 my-1"
                >
                    <span
                      [ngClass]="{'active-tag': inputs.systemTagsCount[section][tag].selected }"
                      class="a-chips-input-filled-textonly"
                      [ngStyle]="{
                      'background-color': inputs.systemTagsCount[section][tag].count ? (section === 'Peril' ? perilColors[tag] ? perilColors[tag] : 'orange' : 'orange') : 'grey',
                      'cursor': inputs.systemTagsCount[section][tag].count ? 'pointer' : 'not-allowed'
                      }"
                      (click)="setFilter('systemTag', tag, section);selectSystemTag(section,tag)">
                      <span [ngStyle]="{
                      'cursor': inputs.systemTagsCount[section][tag].count ? 'pointer' : 'not-allowed'
                      }" class="chips-content">{{tag}}</span>
                      <span class="chips-counter">
                        {{inputs.systemTagsCount[section][tag].count}}/{{inputs.systemTagsCount[section][tag].max}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
                    </span>
                </div>
              </nz-collapse-panel>
            </ng-container>
          </ng-container>
        </nz-collapse>
      </div>
    </div>
  </nz-tab>
</nz-tabset>

<p-dialog
  [visible]="inputs._tagModalVisible"
  [closable]="false"
  styleClass="m-dialog-modal-m-w  tag-manager-pop-up"
  [modal]="true"
  [responsive]="true"
  [baseZIndex]="1"
  [autoZIndex]="false"
>
  <p-header>
    <div class="header">
      <h4>
        Tag Manager
      </h4>
      <i (click)="tagModal(false)" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content" style="position: relative;">
    <div class="content-wrapper">
      <i style="
      cursor: pointer;
      position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;" class="icon-arrow_back_ios_24px" *ngIf="!drawer" (click)="openDrawer()"></i>
      <div class="assigned-tags">
        <div class="section">
          <h6>Assigned Tags</h6>
          <div class="tag-container" style="flex-direction: row;">
            <div style="margin: 0 25px;">
              <span class="body-3">All</span>
              <div class="all">
                  <span
                    *ngFor="let tag of tagsInput.allAssigned"
                    [ngClass]="{'active-tag':tag?.selected}"
                    class="a-chips-input-mini"
                    [ngStyle]="{'background-color': tag?.tagColor}">
                      <span class="chips-content">{{tag?.tagName}}</span>
                      <span class="chips-counter">
                        {{tag?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
                  </span>
              </div>
            </div>
            <div style="margin: 0 25px;">
              <span class="body-3">Subsets</span>
              <div class="subsets">
                  <span
                    *ngFor="let tag of tagsInput.subsetsAssigned"
                    [ngClass]="{'active-tag':tag?.selected}"
                    class="a-chips-input-mini"
                    [ngStyle]="{'background-color': tag?.tagColor}">
                      <span class="chips-content">{{tag?.tagName}}</span>
                      <span class="chips-counter">
                        {{tag?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
                  </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="unassigned-tags">
        <nz-collapse>
          <nz-collapse-panel
            [nzHeader]="unassigned"
            [nzActive]="false"
            [nzShowArrow]="true"
          >
            <ng-template  #unassigned>
              <h6>Unassigned</h6>
            </ng-template>
            <div class="unassigned-lists">
              <div class="section" *ngIf="tagsInput.usedInWs.length">
                <div class="body-3">Used in Workspace</div>
                <div class="tag-container" style="flex-direction: row;justify-content: flex-start;">
                <span
                  *ngFor="let tag of tagsInput.usedInWs"
                  [ngClass]="{'active-tag':tag?.selected}"
                  class="a-chips-input-mini"
                  [ngStyle]="{'background-color': tag?.tagColor, 'padding': tag?.count ? '1px 0 0 10px' : '1px 10px 0 10px'}">
                      <span class="chips-content">{{tag?.tagName}}</span>
                      <span *ngIf="tag?.count" class="chips-counter">
                        {{tag?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
                </span>
                </div>
              </div>
              <div class="section" *ngIf="tagsInput.userFavorite.length">
                <div class="body-3">User Favorites</div>
                <div class="tag-container" style="flex-direction: row;justify-content: flex-start;">
                <span
                  *ngFor="let tag of tagsInput.userFavorite"
                  [ngClass]="{'active-tag':tag?.selected}"
                  class="a-chips-input-mini"
                  [ngStyle]="{'background-color': tag?.tagColor, 'padding': tag?.count ? '1px 0 0 10px' : '1px 10px 0 10px'}">
                      <span class="chips-content">{{tag?.tagName}}</span>
                      <span *ngIf="tag?.count" class="chips-counter">
                        {{tag?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
              </span>
                </div>
              </div>
              <div class="section" *ngIf="tagsInput.previouslyUsed.length">
                <div class="body-3">Previously Used</div>
                <div class="tag-container" style="flex-direction: row;justify-content: flex-start;">
                <span
                  *ngFor="let tag of tagsInput.previouslyUsed"
                  [ngClass]="{'active-tag':tag?.selected}"
                  class="a-chips-input-mini"
                  [ngStyle]="{'background-color': tag?.tagColor, 'padding': tag?.count ? '1px 0 0 10px' : '1px 10px 0 10px'}">
                      <span class="chips-content">{{tag?.tagName}}</span>
                      <span *ngIf="tag?.count" class="chips-counter">
                        {{tag?.count}}
                        <span [ngStyle]="{'background-color': 'white'}" class="chips-layer"></span>
                      </span>
              </span>
                </div>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        <ng-template #extraTpl>
          <i class=""></i>
        </ng-template>
      </div>
    </div>

    <div *ngIf="drawer" class="drawer">
      <i style="cursor: pointer;
      position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;" class="icon-arrow_forward_ios_24px" *ngIf="drawer" (click)="closeDrawer()"></i>
      <div>
        <span class="body-2">Create/Edit Tag</span>
        <form [formGroup]="tagForm" class="tag-container">
          <div class="a-form-control" style="flex-direction: row; margin: 0 7px;">
            <div class="a-form-input-wrapper">
              <label class="label-input">Tag title</label>
              <input class="a-textfield-standard a-textfield-label" (keydown)="onEnter(i,$event)" formControlName="title" placeholder="Title" style="margin-bottom:15px;">
              <div class="msg-err" *ngIf="title.errors?.required && title.touched">
                Title is required *
              </div>
            </div>
            <div class="color-container">
              <div class="color" [ngStyle]="{'background-color': color.value}"
                   (click)="toggleColorPicker()">
              </div>
            </div>
          </div>
          <color-sketch
            (onChange)="color.setValue($event.color.hex)"
            [presetColors]="presetColors"
            *ngIf="visible.value"
          >
          </color-sketch>
          <div class="footer-btn">
            <button class="a-buttons-contained" (click)="addNewTag()" >
              ADD
            </button>
          </div>
        </form>
      </div>
      <div>
        <span class="body-2">Delete Tag</span>
        <div>
          <div class="confirm-msg">
            Are you sure to Delete TagName ?
          </div>
          <div class="footer-btn">
            <button class="a-button-text-cancel" >
              Cancel
            </button>
            <button class="a-buttons-contained" (click)="deleteTag()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <p-footer>
    <div class="footer">
      <button (click)="handlePopUpCancel()" class="a-button-text-cancel">cancel</button>
      <button class="a-buttons-contained" >
        Save
      </button>
    </div>
  </p-footer>
</p-dialog>


