::ng-deep .tag-manager-pop-up {

  ::ng-deep .ui-dialog-titlebar {
    padding: .5em .75em !important;
  }

  ::ng-deep .ui-dialog-content {
    padding: 0 !important;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: visible !important;

    .a-chips-input-mini {
      max-width: 100% !important;
      margin: 5px 5px !important;
    }

    .content {
      justify-content: flex-start;
      flex-wrap: nowrap;

      .content-wrapper {
        display: flex;
        flex-flow: column;
        flex: 1;
        justify-content: flex-start;
        flex-wrap: nowrap;
      }

      .assigned-tags {
        padding: 7px;
      }

      .section {
        margin: 7px 0;
      }

      .tag-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 7px 0 0 0;

        .all, .subsets {
          flex: 1;

          .a-chips-input-mini {
            margin: 3px 2px;
          }
        }
      }


      ::ng-deep {
        .ant-collapse {
          border: none;
        }
        .ant-collapse-content {
          border:none;
          overflow: visible;
        }
        .ant-collapse > .ant-collapse-item {
          border-bottom: none;
        }
        .ant-collapse > .ant-collapse-item > .ant-collapse-header {
          background-color: white;
          border-top: 1px solid #c8c8c8;
        }
        .ant-collapse-content > .ant-collapse-content-box {
          padding: 0 16px;
        }
      }

      .drawer {
        width: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-content: center;
        padding: 34px 0 7px 7px;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.15);
        z-index: 3;
        position: relative;

        .confirm-msg {
          font-size: 12px;
          text-align: center;
          margin: 16px;
        }

        .a-button-text-cancel, .a-buttons-contained{
          padding: 5px 9px 5px !important;
          font-size: 12px;
        }

        .footer-btn {
          justify-content: flex-end;
          width: 100%;
          display: flex;
          padding: 0 14px;
        }
      }
    }
  }

  .ui-dialog-footer .footer {
    display: flex;
    justify-content: space-between;

    .footer-left {
      display: flex;
      align-items: center;

      .color-container {
        display: flex;
        justify-content: center;
        margin: 0;
        position: relative;

        .color {
          margin: 0 9px;
          display: block;
          width: 40px;
          height: 40px;
          cursor: pointer;
          position: relative;
        }

        color-chrome, color-sketch{
          display: block;
          max-width: 234px;
          min-width: 200px;
          position: absolute;
          bottom: 9px;
          left: 52px;
          z-index: 10000;
        }

        color-sketch {
          .sketch-picker {
            border-radius: 0;
            box-shadow: none;
          }
        }
      }
    }

    .footer-right {
      display: flex;
      align-items: center;
    }
  }
}

:host ::ng-deep {
  .tabset-left {
    background: #fff;
    margin-right: 5px;

    .ant-tabs-content{
      height: calc( 100vh - 320px) !important;
    }
    .ant-tabs-tabpane {
      display: flex;
      flex-direction: column;
      max-height: 100%;
      position: relative;
    }

    .title-list {
      letter-spacing: 0.2px;
      line-height: 27px;
      font-size: 9px;
      list-style: none;
      padding-left: 20px;
      padding-right: 7px;
      font-weight: bold;
      overflow: auto;
      max-width: 212px;

      li * {
        font-size: 1.5em;
      }

      .icon-window-section {
        color: #fff;
        background-color: #0700cf;
        padding: 2px 3px 2px 2px;
      }

      .icon-assignment_24px {
        color: #fff;
        background-color: #fdc228;
        padding: 2px 3px 2px 2px;
        margin-right: 7px;
      }

      .icon-sitemap {
        color: #fff;
        background-color: #b683ff;
        padding: 2px 3px 2px 2px;
      }
    }

    .wsHeader {
      font-size: 1.2em;
      margin-bottom: 10px;
    }
    span {
      i {
        background-color: #0700e4;
        padding: 3px;
        color: white;
        vertical-align: middle;
      }
    }

    .active-path {
      background-color: #FDFBDF;
      margin-top: 1px;
      margin-bottom: 1px;
    }

    .upPartLeftMenu {
      height: 100%;
      display: flex;
      flex-flow: column;
    }

    .plt-trash {
      display: flex;
      justify-content: space-between;
      width: 100%;
      background-color: white;
      .cnt {
        cursor: pointer;
      }
    }


    .ant-tabs-ink-bar {
      position: absolute;
      top: 1px;
      background-color: #0700CF;
    }

    .ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
      background: #fff !important;
      color: rgba(0, 0, 0, 0.87);
      font-family: Rubik;
      width: content-box;
      font-size: 20.54px;
      font-weight: 300;
      letter-spacing: 0.25px;
      margin-bottom: 17px;
      padding-top: 22px;
    }

    ::ng-deep {
      .ant-collapse {
        border: none;
      }
      .ant-collapse-content > .ant-collapse-content-box {
        max-width: 190px;
        padding: 0;
      }
      .ant-collapse-content {
        border:none;
      }
      .ant-collapse > .ant-collapse-item {
        border-bottom: none;
      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        background-color: white;
      }
      .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
        font-size: 10px;
        top: 44%;
      }
    }
  }

  .Tags-content {
    display: flex;
    flex-flow: column;
    overflow: auto;
    min-width: 212px;
  }

  .user-tag-section, .sys-tag-section {
    margin-top: 1px;
    display: flex;
    flex-flow: column;
  }

  .header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    flex: 0 1 auto;
    align-items: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      *{
        margin: 3px;
      }
    }

    button {
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .rest {
    flex: 1 1 auto;
    padding: 5px 0;
  }

  nz-collapse{
    max-height: 100%;
  }
  .tag-section {
    ul {
      max-width: 190px;
      padding: 0;
    }
  }

  .tab-content-cnt{
    overflow: visible;
  }
  .ant-tabs-nav-container-scrolling {
    padding: 0!important;
  }
  .ant-tabs-tab-prev, .ant-tabs-tab-next {
    display: none;
  }
}

.cdk-global-scrollblock {
  overflow-y: hidden;
}

.msg-err {
  font-size: 11px;
  color: var(--danger);
  position: absolute;
  bottom: -16px;
}
