<div *ngIf="inputs['visible'] || inputs['mode'] == 'pop-up'" class="plt-details-container">
  <div class="navigation-icons-drawer">
    <i [ngClass]="{'icon-arrow_forward_ios_24px': inputs['visible'], 'icon-arrow_back_ios_24px': inputs['mode'] == 'pop-up' && !inputs['visible']}"  (click)="closeDrawer()"></i>
  </div>

  <ng-container *ngIf="fullViewActive">
    <app-plt-details-pop-up-full-section [inputs]="currentFullView" [plt]="selectedPLT" (actionDispatcher)="popupActionHandler($event)"></app-plt-details-pop-up-full-section>
  </ng-container>
  <ng-container *ngIf="!fullViewActive">
    <div class="plt-details-header">
      <hr>
      <div>PLT Details</div>
    </div>
    <div class="plt-detail-body">
      <div class="plt-details-brief">
        <i *ngIf="selectedPLT?.pltStatus == 'valid'" class="icon-check_circle_outline_24px"></i>
        <div class="plt-detail-brief-desc">
          <span>{{selectedPLT?.pltName}}</span>
          <div style="display: flex;justify-content: space-around">
            <span style="font-weight: bold">[{{selectedPLT?.pltId}}]</span>
            <span style="font-weight: bold">[{{selectedPLT?.pltType}}]</span>
          </div>
        </div>
      </div>
      <nz-tabset
        [nzSelectedIndex]="inputs.selectedTab.index"
      >
         <nz-tab *ngFor="let tab of inputs.tabs;let i= index;" [nzTitle]="tab?.title" (nzSelect)="loadTab(i);selectTab(i, tab?.title)">
           <ng-template nz-tab>
             <ng-container *ngIf="tab?.title == 'Summary'">
               <div class="summary-content">
                 <div style="display: flex">
                   <div *ngFor="let tag of selectedPLT?.tags" style="margin: 4px 5px 5px 4px;">
                <span class="a-chips-input-filled-textonly" style="padding: 1px 10px !important;" [ngStyle]="{'background-color': tag?.defaultColor}">
                  <span class="chips-content">{{tag?.tagName}}</span>
                </span>
                   </div>
                 </div>
               </div>
               <ng-container *ngIf="!fullViewActive;else fullSectionView">
                 <div class="summary-table">
                   <app-plt-details-pop-up-item *ngFor="let config of pltPopUpItemConfig" [inputs]="config" [plt]="selectedPLT" (actionDispatcher)="popupActionHandler($event)"></app-plt-details-pop-up-item>
                 </div>
               </ng-container>
               <ng-template #fullSectionView>
                 <app-plt-details-pop-up-full-section [inputs]="currentFullView" [plt]="selectedPLT" (actionDispatcher)="popupActionHandler($event)"></app-plt-details-pop-up-full-section>
               </ng-template>
             </ng-container>
             <ng-container *ngIf="tab?.title == 'EP Metrics'">
               <app-summary-ep-metrics
                       [epMetricsTableConfig]="epMetricsTableConfig"
                       [epMetrics]="epMetrics[inputs?.pltHeaderId]"
                       [rps]="rps[inputs?.pltHeaderId]"
                       [epMetricsLosses]="epMetricsLosses[inputs?.pltHeaderId]"
                       [constants]="constants"
                       [summaryEpMetricsConfig]="summaryEpMetricsConfig"
                       [rpValidation]="rpValidation"
                       [returnPeriodConfig]="returnPeriodConfig"
                       (actionDispatcher)="handleEpMetrics($event)"
               ></app-summary-ep-metrics>
             </ng-container>
           </ng-template>
         </nz-tab>
      </nz-tabset>
    </div>
  </ng-container>
</div>




