
:host {
  .graph-commands {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    margin-bottom: 3px;
    margin-right: 5px;

    i.icon-menu_24px {
      font-size: 24px;
      font-weight: bold;
    }

    //i{
    //  color: #0700CF;
    //  background-color: #E5E9FA;
    //  font-size: 20px;
    //  border-radius: 10px;
    //  height: fit-content;
    //  padding: 3px;
    //  margin: 2px;
    //  font-weight: bold;
    //  cursor: pointer;
    //}
  }

  .grid-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, .3) .1em, transparent .1em);
    background-size: 20px 20px;
  }
}

::ng-deep .edge-config-point {
  color: #ffffff;
  background-color: #0700cf;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
