<ng-container *ngIf="tableInputs.contextMenuItems">
  <p-contextMenu #cm [model]="tableInputs.contextMenuItems" appendTo="body"></p-contextMenu>
</ng-container>
<p-table
  [columns]="tableInputs.pltColumns"
  [value]="(tableInputs.showDeleted ? tableInputs.listOfDeletedPltsData : tableInputs.listOfPltsData) | tableSortAndFilter : [tableInputs.sortData, tableInputs.filterData] | systemTagFilter: [tableInputs.filters.systemTag]"
  [contextMenu]="cm"
  [scrollable]="true"
  [resizableColumns]="true"
  [columnResizeMode]="'expand'"
  [responsive]="true"
  [rowTrackBy]="rowTrackBy"
  [scrollHeight]="'calc(100vh - 480px)'"
  #dt
  [styleClass]="!((tableInputs.showDeleted ? tableInputs.listOfDeletedPltsData : tableInputs.listOfPltsData) | tableSortAndFilter : [tableInputs.sortData, tableInputs.filterData] | systemTagFilter: [tableInputs.filters.systemTag] )?.length ? 'activate-header-scroll' : ''"
>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [style]="{'width': col.width }">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container *ngFor="let col of columns; let i = index">
        <ng-container *ngIf="col?.active">
          <th *ngIf="col?.type == 'checkbox'"  class="checkBoxHead" [ngStyle]="{'width': col?.width }">
            <label nz-checkbox
                   [nzChecked]="!tableInputs.showDeleted ? tableInputs.selectAll : tableInputs.selectAllDeletedPlts"
                   (nzCheckedChange)="checkAll($event)"
                   [nzIndeterminate]="!tableInputs.showDeleted ? tableInputs.someItemsAreSelected : tableInputs.someDeletedItemsAreSelected"></label>
            <i (click)="checkBoxSort()" style="cursor: pointer;position: relative;left: 3px;" nz-icon nzType="down" nzTheme="outline"></i>
          </th>
          <th *ngIf="col?.type === 'tags'" [ngStyle]="{'width': col?.width }">
                      <span style="display:flex;justify-content: space-between;font-weight: bold">
                        User Tags
                      </span>
          </th>
          <ng-container *ngIf="col?.resizable">
            <th  *ngIf="col?.forDelete ? tableInputs.showDeleted : ( col?.type !== 'tags' && col?.type !== 'checkbox' ) " [ngStyle]="{'width': col?.width }" pResizableColumn>
          <span style="display:flex;justify-content: space-between;">

                        {{col?.header}}
            <ng-container *ngIf="col?.sorted" [ngSwitch]="tableInputs.sortData[col?.fields]">
              <i *ngSwitchCase="'asc'" class="icon-keyboard_arrow_up_24px" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
              <i *ngSwitchCase="'desc'" class="icon-keyboard_arrow_down_24px" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
              <i *ngSwitchDefault class="icon-direction" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
            </ng-container>
          </span>
              <i *ngIf="col.icon" style="font-size: 1.6em" [ngClass]="col.icon"></i>
            </th>
          </ng-container>
          <ng-container *ngIf="!col?.resizable">
            <th  *ngIf="col?.forDelete ? tableInputs.showDeleted : ( col?.type !== 'tags' && col?.type !== 'checkbox' ) " [ngStyle]="{'width': col?.width }">
              <span style="display:flex;justify-content: space-between;">
                            {{col?.header}}
                <ng-container *ngIf="col?.sorted" [ngSwitch]="tableInputs.sortData[col?.fields]">
                  <i *ngSwitchCase="'asc'" class="icon-keyboard_arrow_up_24px" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
                  <i *ngSwitchCase="'desc'" class="icon-keyboard_arrow_down_24px" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
                  <i *ngSwitchDefault class="icon-direction" (click)="sortChange(col?.fields,tableInputs.sortData[col.fields])" style="font-size: 1.4em;"></i>
                </ng-container>
              </span>
              <ng-container *ngIf="col.icon">
                <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzClickHide]="false">
                  <i nz-dropdown [nzTitle]="tooltipInfo" nzPlacement="top" nz-tooltip style="font-size: 1.6em" [ngClass]="col.icon">
                    <ng-template #tooltipInfo>
                      {{ col?.tooltip }}
                    </ng-template>
                  </i>
                  <ul nz-menu>
                    <li nz-menu-item *ngFor="let statue of tableInputs.status | keys">
                      <label nz-checkbox [ngModel]="tableInputs.status[statue]?.selected" (ngModelChange)="filterByStatus(statue)">{{statue}}</label>
                    </li>
                  </ul>
                </nz-dropdown>
              </ng-container>
            </th>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let col of columns;let i=index;">
        <ng-container *ngIf="col?.active">
          <ng-container *ngIf="(col?.forDelete ? tableInputs.showDeleted : true)">
            <th  [ngStyle]="{ 'visibility': col?.filtred && ( col?.type != 'tags' && col?.type !='checkbox' ) ? 'visible' : 'hidden'}">
              <div class="filter-input">
                <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
                <input *ngIf="col?.header?.length > 0" pInputText type="text" (input)="filter(col?.fields, $event.target.value)" [ngModel]="tableInputs.filterInput">
              </div>
            </th>
          </ng-container>
        </ng-container>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowIndex="rowIndex" let-rowData let-columns="columns">
    <tr
      (contextmenu)="selectedItemForMenu(rowData.pltId)"
      [pContextMenuRow]="rowData"
      [ngClass]="{'active_plt_item': rowData.selected && !(tableInputs['openedPlt'] === rowData.pltId), 'opened_plt_item': tableInputs['openedPlt'] === rowData.pltId }"
      *ngIf="(tableInputs.filters.systemTag | keys ).length == 0 ? rowData?.visible :  rowData?.visible && rowData?.tagFilterActive">
      <ng-container *ngFor="let col of columns; let i = index">
        <ng-container *ngIf="col?.active">
          <td  *ngIf="col?.type == 'checkbox'" class="ui-resizable-column" [ngStyle]="{'width': col?.width }">
            <div style="padding-left: 9px;">
              <label nz-checkbox [nzChecked]="rowData.selected"
                     (nzCheckedChange)="selectSinglePLT(rowData.pltId,$event)"></label>
            </div>
          </td>
          <td *ngIf="col?.type == 'tags'" class="ui-resizable-column" [ngStyle]="{'width': col?.width }">
            <div class="td-wrapper-tags">
              <ng-container *ngFor="let tag of rowData.userTags;let i= index;">
                <span class="tag-el" *ngIf="i < 2" [ngStyle]="{ 'background-color': tag.tagColor}">&nbsp;</span>
                <span class="tag-ellipsis" *ngIf="i == 2" style="background-color: #E0E0E0"><i
                  class="icon-ellipsis-h"></i></span>
              </ng-container>
            </div>
          </td>
          <td (click)="handlePLTClick(rowData.pltId,rowIndex,$event)" *ngIf="col?.type == 'id'" [ngStyle]="{'width': col?.width }">
            <div class="text-elipsice" style="font-weight: bold" [ngStyle]="{'text-align' : col?.textAlign ? col?.textAlign : 'left'}">{{rowData.pltId | textLength}}</div>
          </td>
          <td (click)="handlePLTClick(rowData.pltId,rowIndex,$event)" *ngIf="col?.type == 'field' && col?.fields != 'peril' && (col?.forDelete ? tableInputs.showDeleted : true)" [ngStyle]="{'width': col?.width }">
            <ng-container>
              <div class="text-elipsice" [ngStyle]="{'font-weight': i == 2 ? 'bold' : 'normal'}">{{ rowData[col.fields] }}</div>
            </ng-container>
          </td>
          <td (click)="handlePLTClick(rowData.pltId,rowIndex,$event)" *ngIf="col?.type == 'field' && col?.fields == 'peril' && (col?.forDelete ? tableInputs.showDeleted : true)" [ngStyle]="{'width': col?.width , 'textAlign': 'center'}">
            <ng-container>
              <div class="text-elipsice peril-container" [ngStyle]="{'font-weight': i == 2 ? 'bold' : 'normal', 'background-color': perilColors[rowData.peril]}">{{ rowData[col.fields] }}</div>
            </ng-container>
          </td>
          <td (click)="handlePLTClick(rowData.pltId,rowIndex,$event)" *ngIf="col?.type == 'date' && (col?.forDelete ? tableInputs.showDeleted : true)" [ngStyle]="{'width': col?.width }">
            <ng-container>
              <div (click)="handlePLTClick(rowData.pltId,rowIndex,$event)" class="text-elipsice" [ngStyle]="{'font-weight': i == 2 ? 'bold' : 'normal'}">{{ (rowData[col.fields] | date) }}</div>
            </ng-container>
          </td>
          <td *ngIf="col?.type == 'icon'" [ngStyle]="{'width': col?.width }">
            <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
              <i nz-dropdown [ngClass]="{ 'icon-check': rowData?.isScorCurrent, 'icon-remove_24px': !rowData?.isScorCurrent }"></i>
              <ul nz-menu>
                <li nz-menu-item (click)="log('1st menu item')">1st menu item</li>
                <li nz-menu-item (click)="log('2nd menu item')">2nd menu item</li>
                <li nz-menu-item (click)="log('3rd menu item')">3rd menu item</li>
              </ul>
            </nz-dropdown>
          </td>
        </ng-container>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
