<div (click)="togglePopup()" class="pl-1 pr-1" style="cursor: pointer; padding-right: 1rem !important;" [(nzVisible)]="visible" nz-popover
     [nzContent]="userPopoverContent" nzPlacement="bottomRight" nzTrigger="click">
  <nz-avatar [nzText]="userInitials" nzSize="large"></nz-avatar>
  {{user}} &nbsp;&nbsp;
  <i nz-icon type="down" theme="outline" style="float: right; margin-top: 12px;"></i>
</div>

<ng-template #userPopoverContent>
  <div class="tabs-popover-content">
    <div class="user-config-footer">
      <button (click)="navigateToBulkImport()" class="a-button-text" style="width: 100%">BULK IMPORT</button>
    </div>
    <div class="user-config-footer">
      <button (click)="navigateToUserPreference()" class="a-button-text">GENERAL SETTINGS</button>
    </div>
  </div>
</ng-template>

