.user-config-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-config-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.user-config-title {
  display: flex;
  font-size: 14px;
  font-weight: bold;
  margin: 8px 0 21px;
}
