<div class="pl-1 pr-1" style="cursor: pointer; padding-right: 1rem !important;" [(nzVisible)]="visible" nz-popover [nzContent]="userPopoverContent" nzPlacement="bottomRight" nzTrigger="click">
  <nz-avatar nzText="N.D" nzSize="large" ></nz-avatar>
  Nathalie Dulac &nbsp;&nbsp;
  <i nz-icon type="down" theme="outline" style="float: right; margin-top: 12px;"></i>
</div>
<ng-template #userPopoverContent>
  <div class="tabs-popover-content">
    <nz-tabset>
      <nz-tab [nzTitle]="userPrefHeaderContent">
        <div style="height: 200px"></div>
        <div nz-row>
          <button nz-button (click)="isVisible=true" >Configure</button>
        </div>
      </nz-tab>
    </nz-tabset>
  </div>

  <ng-template #userPrefHeaderContent>
    <span style="width: 5px">User Preferences &nbsp;
      <!--<span class="badge badge-light tab-badge">12</span>-->
    </span>
  </ng-template>
</ng-template>


<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="preferencesConfig"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <div nz-row>
    <div nz-col nzSpan="12">
      Default Import
    </div>
    <div nz-col nzSpan="12">
      <nz-select
        style="width: 200px;"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select an import"
        [(ngModel)]="defaultImport"
      >
        <nz-option nzLabel="RiskLink" nzValue="RiskLink"></nz-option>
        <nz-option nzLabel="Import" nzValue="FileBasedImport"></nz-option>
        <nz-option nzLabel="Clone" nzValue="CloneData"></nz-option>
      </nz-select>
    </div>
  </div>
</nz-modal>


<ng-template #preferencesConfig>
  <span>
    <i class="icon-settings_24px"></i> User Preferences
  </span>
</ng-template>

