<div (click)="togglePopup()" class="header-User" [(nzVisible)]="visible" nz-popover
     [nzContent]="userPopoverContent" nzPlacement="bottomRight" nzTrigger="click">
  <span class="initial-D">{{userInitials}}</span>
  {{user}} &nbsp;&nbsp;
  <i nz-icon type="down" theme="outline" style="margin-right: 7px"></i>
</div>

<ng-template #userPopoverContent>
  <div class="tabs-popover-content">
    <div class="user-config-footer">
      <button (click)="navigateToUserPreference()" class="a-button-text">GENERAL SETTINGS</button>
    </div>
  </div>
</ng-template>

