/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/Rubik/rubik.css";
@import "assets/scss/styles";
// JSPlumb St
@import "../node_modules/jsplumbtoolkit/dist/css/syntax-highlighter.css";
@import "../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-defaults.css";
@import "../node_modules/jsplumbtoolkit/dist/css/jsplumbtoolkit-demo.css";
@import "../src/assets/jsplumb/flowchart-builder/app.css";


body {
  overflow: auto;
}

.jtk-surface{
  height: -webkit-fill-available;
  min-height: 50rem;
}

.ant-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}


div.cdk-overlay-container{
  margin-top: 60px;
}

.ant-menu-item-group-title {
  padding: 0 !important;
}

.ant-menu-inline-collapsed {
  width: 89px;
}


.ant-tooltip {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      color: #0700CF !important;
      background-color: white !important;
      width: max-content;
    }
  }
}

.ant-tooltip-placement-bottom .ant-tooltip-arrow {
  border-bottom-color: white !important;
}

.ant-tooltip-placement-top .ant-tooltip-arrow {
  border-top-color: white !important;
}

.ant-tooltip-placement-right .ant-tooltip-arrow {
  border-right-color: white !important;
}

.ant-tooltip-placement-left .ant-tooltip-arrow {
  border-left-color: #FFFFFF !important;
}

.ant-tooltip-placement-topLeft .ant-tooltip-arrow {
  border-top-color: #FFFFFF !important;
}

.gr__localhost {
  overflow-y: hidden;
}


.ant-popover-buttons button.ant-btn-ghost{
  color: #362FD8 !important;
}

.cdk-overlay-container {
  z-index: 1002 !important;
}

body > div.ui-widget-overlay.ui-dialog-mask {
  z-index: 1001 !important;
}


body > div.ui-widget-overlay.ui-dialog-mask{
  z-index: 1000 !important;
}

div.ui-toast-message.ui-shadow.ui-toast-message-success.ng-trigger.ng-trigger-messageState {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

body .ui-toast .ui-toast-message.ui-toast-message-success {
  background-color: transparent;
  border: 0 none;
  color: transparent;
}

.ui-toast {
  width: 440px;
  height: 200px;
}
