/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/Rubik/rubik.css";
.ant-avatar{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
//.ant-avatar-string{
//  position: webkit sticky !important;
//}
.ant-menu-item-group-title{
  padding: 0 !important;
}
.ant-menu-inline-collapsed {
  width: 89px;
}

