<ng-container *ngIf="activateContextMenu">
  <p-contextMenu appendTo="body" #cm [model]="getItems()"></p-contextMenu>
</ng-container>
<!--normal table-->
<p-table *ngIf="!virtualScroll"
         [columns]="tableColumn"
         [value]="listOfData | tableSortAndFilter : [sortData, FilterData]"
         [resizableColumns]="true"
         [columnResizeMode]="'expand'"
         [scrollable]="true"
         [scrollHeight]="tableHeight"
         (onColResize)="resize($event)"
         class="table-ngPrime"
         scrollIndicator
         [step]="35"
>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" pResizableColumn>
        <span *ngIf="col?.display" style="display:flex ;justify-content: space-between ; white-space:nowrap ;text-overflow: ellipsis ">
          {{col?.header}}
          <ng-container *ngIf="col?.sorted" [ngSwitch]="sortData[col?.field]">
            <i *ngSwitchCase="'asc'" class="icon-keyboard_arrow_up_24px"
               (click)="sortChange(col?.field, sortData[col.field], col.columnId)" style="font-size: 1.4em;"></i>
            <i *ngSwitchCase="'desc'" class="icon-keyboard_arrow_down_24px"
               (click)="sortChange(col?.field,sortData[col.field], col.columnId)" style="font-size: 1.4em;"></i>
            <i *ngSwitchDefault class="icon-direction" style="font-size: 1.4em;"
               (click)="sortChange(col?.field,sortData[col.field], col.columnId)"></i>
          </ng-container>
        </span>
        <!--        (input)="filterCol($event.target.value, col?.filterParam)"-->
        <div class="search-bar-table" *ngIf="col?.filtered">
          <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
          <input *ngIf="col?.header?.length > 0 && fromSearch" pInputText type="text"
                 (input)="filter(col?.field, $event.target.value, col.columnId)"
                 [ngModel]="FilterData[col?.field]">
          <input *ngIf="col?.header?.length > 0 && !fromSearch" pInputText type="text"
                 (input)="filter(col?.field, $event.target.value, col.columnId)"
                 [ngModel]="col?.filterCriteria">
        </div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
    <tr
      [ngClass]="{'active_contract_item': rowData?.selected, 'selected_contract_item': rowData === currentSelectedItem}">
      <ng-container *ngFor="let col of columns">
        <td *ngIf="col?.type ==='checkbox'" class="ui-resizable-column">
          <div style="display:flex">
            <label nz-checkbox [(ngModel)]="rowData.selected" (ngModelChange)="uncheckRow()"></label>
          </div>
        </td>
        <td *ngIf="col?.type !=='checkbox' && col?.type !== 'icon'" class="ui-resizable-column"
            (dblclick)="doubleClickRow(rowData)"
            (click)="selectRow(rowData, i)">
          <div *ngIf="col?.type === 'text'" style="display:flex">
            <span *ngIf="rowData[col.field] !== 'Unassigned'" [title]="rowData[col?.field]" class="text-wrapper">{{rowData[col?.field]}}</span>
          </div>
          <div *ngIf="col?.type === 'date'" style="display:flex">
            <i class="icon-calendar-alt" style="margin-right: 4px"></i>
            <span class="text-wrapper">{{rowData[col?.field] | date: 'dd-MM-yyyy'}}</span>
          </div>
          <div class="fav-status-info" (click)="updateFavValue(rowData)" *ngIf="col?.type === 'favStatus'">
            <i *ngIf="!rowData[col?.field]" class="icon-star_outline_24px"></i>
            <i *ngIf="rowData[col?.field]" class="icon-star_24px"></i>
          </div>
<!--          <ng-container *ngIf="col?.type === 'rawStatus'">
            <span class="new-item" *ngIf="rowData[col.field] === 'New'">New</span>
            <span class="canceled-item" *ngIf="rowData[col.field] === 'Canceled'">Canceled</span>
            <span class="superseeded-item" *ngIf="rowData[col.field] === 'SuperSeeded'">SuperSeeded</span>
            <span class="current-item" *ngIf="rowData[col.field] === 'In Progress'">In Progress</span>
            <span class="completed-item" *ngIf="rowData[col.field] === 'Completed'">Completed</span>
          </ng-container>-->
        </td>
        <td *ngIf="col?.type === 'icon'" class="ui-resizable-column">
          <div style="display:flex">
            <i (click)="handler(col, rowData)" [ngClass]="col?.class"></i>
          </div>
        </td>
        <td *ngIf="col?.type === 'multi-icons'" class="ui-resizable-column">
          <div style="display:flex">
            <i *ngFor="let icon of col?.icons" (click)="icon.handler(col, rowData)" [ngClass]="icon?.class"></i>
          </div>
        </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage" let-columns>
    <tr>
      <td [attr.colspan]="columns.length">
        No records found
      </td>
    </tr>
  </ng-template>
</p-table>

<!--virtual scroll-->
<nz-spin [nzSpinning]="loading && virtualScroll" [nzDelay]="700">
  <p-table *ngIf="virtualScroll" (scroll)="onElementScroll($event)"
           [value]="listOfData" #dt [columns]="tableColumn" [resizableColumns]="true"
           [scrollable]="true" [scrollHeight]="tableHeight"
           [rows]="rows"
           [totalRecords]="totalRecords"
           [virtualScroll]="true"
           [virtualRowHeight]="35"
           (onLazyLoad)="loadDataOnScroll($event)"
           [lazy]="true"
           [showLoader]="false"
           [(contextMenuSelection)]="contextSelectedItem"
           [contextMenu]="getContextMenu()" class="table-ngPrime"
           [selectionMode]="selectionMode"
           (onRowSelect)="rowSelect($event)"
           (onRowUnselect)="rowUnselect($event)"
           [(selection)]="selectedRow"
           [columnResizeMode]="'expand'"
           scrollIndicator
           (click)="log(dt)"
           [step]="35"
  >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [ngStyle]="{'width': col?.width}">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pResizableColumnDisabled]="col.field=='checkbox'" pResizableColumn>
        <span
          [ngStyle]="{'visibility': col?.display ? 'unset' : 'hidden','border-right': col.field=='checkbox' ?'none': '1px solid #c8c8c8'}"
              style="display:flex;justify-content: space-between">
          {{col?.header}}
          <ng-container *ngIf="col.type === 'checkbox'">
            <label style="margin-top:20px" nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                   [nzIndeterminate]="indeterminate"></label>
            <i (click)="sort()" style="cursor: pointer;" nz-icon nzType="down" nzTheme="outline"></i>
          </ng-container>
           <ng-container *ngIf="col?.sorted" [ngSwitch]="sortData[col?.field]">
              <i *ngSwitchCase="'asc'" class="icon-keyboard_arrow_up_24px"
                 (click)="sortChange(col?.field,sortData[col.field])" style="font-size: 1.4em;"></i>
              <i *ngSwitchCase="'desc'" class="icon-keyboard_arrow_down_24px"
                 (click)="sortChange(col?.field,sortData[col.field])" style="font-size: 1.4em;"></i>
              <i *ngSwitchDefault class="icon-direction" (click)="sortChange(col?.field,sortData[col.field])"
                 style="font-size: 1.4em;"></i>
            </ng-container>
        </span>
          <div class="search-bar-table" *ngIf="col?.filtered">
            <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
            <input pInputText type="text" (input)="filterCol($event.target.value, col?.queryParam)">
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
      <tr [pContextMenuRow]="rowData" [pSelectableRow]="rowData"
          [ngClass]="{'active_contract_item': rowData?.selected, 'selected_contract_item': rowData === currentSelectedItem}">
        <ng-container *ngFor="let col of columns">
          <td *ngIf="col?.type ==='checkbox'" class="ui-resizable-column">
            <div style="display:flex">
              <label nz-checkbox [(ngModel)]="rowData.selected" (ngModelChange)="uncheckRow()"></label>
            </div>
          </td>
          <td *ngIf="col?.type !=='checkbox' && col?.type !== 'icon'" class="ui-resizable-column"
              (dblclick)="doubleClickRow(rowData)"
              (click)="selectRow(rowData, i)">
            <div *ngIf="col?.type !== 'favStatus' && col?.type !== 'rowStatus'" style="display:flex">
              <i *ngIf="col?.type === 'date'" class="icon-calendar-alt"></i>
              <span [title]="rowData[col?.field]" class="text-wrapper">{{rowData[col?.field]}}</span>
            </div>
            <div class="fav-status-info" *ngIf="col?.type === 'favStatus'">
              <i *ngIf="!rowData[col?.field]" class="icon-star_outline_24px"></i>
              <i *ngIf="rowData[col?.field]" class="icon-star_24px"></i>
            </div>
            <ng-container *ngIf="col?.type === 'rowStatus'">

            </ng-container>
          </td>
          <td *ngIf="col?.type === 'icon'" class="ui-resizable-column">
            <div style="display:flex">
              <i (click)="handler(col, rowData)" [ngClass]="col?.class"></i>
            </div>
          </td>
          <td *ngIf="col?.type === 'multi-icons'" class="ui-resizable-column">
            <div style="display:flex">
              <i *ngFor="let icon of col?.icons" (click)="icon.handler(col, rowData)" [ngClass]="icon?.class"></i>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
      <tr style="height:34px">
        <td [ngStyle]="{'width': col?.width}" *ngFor="let col of columns">
          <div class="loading-text"></div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="columns.length">
          No records found
        </td>
      </tr>
    </ng-template>
  </p-table>
</nz-spin>
