<nz-table
  *ngIf ="virtualScroll"
  nzVirtualScroll
  [nzVirtualItemSize]="12"
  [nzData]="listOfData"
  [nzFrontPagination]="false"
  [nzShowPagination]="false"
  [nzScroll]="{ x: tableWidth, y: tableHeight }"
>
  <thead>
    <tr >
      <th *ngFor="let col of tableColumn"
          [nzWidth]="col.width"
          [nzShowSort]="col.sorted"
          [nzSortKey]="col.field"
      >
        <span *ngIf="col.display">{{col.header}}</span>
        <div class="search-bar-table" *ngIf="col.filtered">
          <nz-input-group [nzPrefix]="suffixIconSearch">
            <input type="text" nz-input />
          </nz-input-group>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
  <ng-template nz-virtual-scroll let-data let-index="index">
    <tr>
      <td *ngFor="let col of tableColumn">{{ data[col.field] }}</td>
    </tr>
  </ng-template>
  </tbody>
</nz-table>


<nz-table
  #dt
  *ngIf="!virtualScroll"
  [nzData]="listOfData"
  [nzPageSize]="numberOfElement"
>
  <thead>
  <tr >
    <th *ngFor="let col of tableColumn"
        [nzWidth]="col.width"
        [nzShowSort]="col.sorted"
        [nzSortKey]="col.field"
    >
      <span *ngIf="col.display">{{col.header}}</span>
      <div class="search-bar-table" *ngIf="col.filtered">
        <nz-input-group [nzPrefix]="suffixIconSearch">
          <input type="text" nz-input />
        </nz-input-group>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dt.data">
      <td *ngFor="let col of tableColumn">{{ data[col.field] }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #suffixIconSearch>
  <i nz-icon type="search"></i>
</ng-template>



<!--
  [virtualScroll]="true" (onLazyLoad)="loadDataOnScroll($event)"
  [lazy]="true" [virtualRowHeight]="34" [showLoader]="false"

  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.sorted ? col.field : null">
          <span *ngIf="col.display">{{col.header}}</span><p-sortIcon *ngIf="col.sorted" [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          <div class="search-bar-table" *ngIf="col.filtred">
              <i  class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
              <input pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          </div>
        </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" >
          {{rowData[col.field]}}
        </td>
        <td  *ngFor="let col of columns" [ngStyle]="{'background-color': rowData['AlreadyImported'] ? '#EBEEFB' : '#FFF'}">
          <div style=" margin-top: -12px; font-size:12px;" *ngIf="col.field === 'checked'">
            <i nz-icon *ngIf="!rowData[col.field]" nzType="check-circle" nzTheme="outline"></i></div>
          <div *ngIf="col.field === 'id'">{{rowData[col.field]}}</div>
          <div *ngIf="col.field === 'name'">{{rowData[col.field]}}</div>
          <div style="font-size:20px; color: #0700CF; text-align: center;" *ngIf="col.field === 'AlreadyImported'">
            <i [ngClass]="{'icon-assignment_returned_24px': rowData[col.field]}" ></i></div>
          <div *ngIf="col.field === 'description'">{{rowData[col.field]}}</div>
          <div *ngIf="col.field === 'engineVersion'">{{rowData[col.field]}}</div>
          <div *ngIf="col.field === 'groupeType'">{{rowData[col.field]}}</div>
          <div *ngIf="col.field === 'cedant'">{{rowData[col.field]}}</div>
        </td>
      </tr>
  </ng-template>
</nz-table>-->
