<app-left-menu></app-left-menu>
<nz-layout style="display: flex; flex-direction: row; width: 100%;">

  <div class="mr-3 ml-3" style="flex: 1;">
    <div class="title-wrapper" nz-row style="margin-top: 50px;">
      <div class="title-section">
        <h3>PLT Manager</h3>
      </div>
    </div>

    <div class="my-tabs" style="display: flex; flex-direction: row; width: 100%;">
      <div class="noMargin" style="width: 190px">
        <nz-tabset class="tabset-left">
          <nz-tab [nzTitle]="path">
            <ng-template #path>
              <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;">Path</span>
            </ng-template>
            <div class="path-content">
              <div class="title">
                    <span (click)="resetPath()">
                      <i class="icon-window-section"></i>
                      02PY376 - 2019
                    </span>
                <ul class="title-list">
                  <li *ngFor="let path of paths" (click)="selectPath(path)" [ngClass]="{'active-path': path.selected}">
                    <i [ngClass]="path.icon"></i>
                    {{path.text}}
                  </li>
                </ul>
              </div>
            </div>
          </nz-tab>

          <nz-tab [nzTitle]="tags">
            <ng-template #tags>
              <span style="width: 90px; padding: 0px 12px 0px 12px; font-size: 15px; font-weight: bold;"> Tags</span>
            </ng-template>
            <div class="Tags-content">
              <div nz-row class="button-reset-filter-by-tag">
                <button (click)="resetFilterByTags()" nz-button nzType="default" nzShape="circle"
                        style=" float: right; border: 0px solid;">
                  <i nz-icon nzType="undo" nzTheme="outline"></i></button>
              </div>
              <div nz-row class="tags-title-section" style="margin-top: -20px;">User tags<i class="icon-plus-circle"></i></div>
              <div *ngFor="let tag of userTags" nz-row class="ml-3 mt-1">
                    <span [ngClass]="{'active-tag': tag === filters.currentUserTag}" class="chips"
                          [ngStyle]="{'background-color': tag.tagColor}" (click)="setFilter('userTag', tag)">
                      {{tag.tagName}}
                      <span [ngStyle]="{'background-color': tag.innerTagColor}"
                            class="inner-chip">{{tag.innerTagContent}}</span>
                    </span>
              </div>

              <div nz-row class="tags-title-section">System Tags</div>
              <div *ngFor="let tag of systemTags" nz-row class="ml-3 mt-1">
                    <span [ngClass]="{'active-tag': tag === filters.currentSystemTag}" class="chips"
                          [ngStyle]="{'background-color': tag.tagColor}" (click)="setFilter('systemTag', tag)">
                      {{tag.tagName}}
                      <span [ngStyle]="{'background-color': tag.innerTagColor}"
                            class="inner-chip">{{tag.innerTagContent}}</span>
                    </span>
              </div>

            </div>
          </nz-tab>
        </nz-tabset>
      </div>

      <div class="tabset-right" style="flex: 1">
        <nz-tabset >
          <nz-tab [nzTitle]="PLTs">
            <ng-template #PLTs>
              <span style="width: 90px; padding: 0px 50px 0px 12px; font-size: 15px; font-weight: bold;">PLTs</span>
            </ng-template>
            <div class="PLTs-content">
              <!--nz-table-- #pltTable
                        [nzData]="listOfPlts"
                        class="plt-table"
                        [nzLoading]="loading"
                        [nzFrontPagination]="false"
                        [nzShowPagination]="false"
                        [nzScroll]="{ y: '480px'}">
                <thead (nzSortChange)="sort($event)" nzSingleSort>
                <tr>
                  <th
                    nzShowCheckbox
                    [nzWidth]="'2%'"
                    [nzChecked]="selectAll"
                    [nzIndeterminate]="someItemsAreSelected"
                    (nzCheckedChange)="checkAll($event)"
                  ></th>

                  <th *ngFor="let col of pltColumns" [nzWidth]="col.width" [nzShowSort]="col.sorted" [nzSortKey]="col.fields" [(nzSort)]="sortMap[col.fields]">
                    <div class="header-tab">
                      <span *ngIf="col.header.length > 0" style="width: 80%">{{col.header}}</span>
                      <i *ngIf="col.icon" [ngClass]="col.icon"></i>
                    </div>
                  </th>
                </tr>
                <tr>
                  <th></th>
                  <th *ngFor="let col of pltColumns">
                    <div *ngIf="col.filtred" class="filter-input">
                      <i class="icon-search"></i>
                      <input type="text" [ngModel]="''" (ngModelChange)="filter(col.fields,$event)">
                    </div>
                  </th>
                </tr>
                </thead>

                <tbody>
                <tr
                  *ngFor="let pltId of pltTable.data ;let i = index"
                  style="cursor: pointer" (contextmenu)="contextMenuPltTable($event, template)"
                  [ngClass]="{'active_plt_item': (selectPltById(pltId) | async)?.selected }">
                  <ng-template #template>
                    <ul nz-menu nzInDropDown (nzClick)="close($event)">
                      <li nz-menu-item nzDisabled nz-tooltip nzTitle="not yet implemented"> <i nz-icon nzType="plus-circle" nzTheme="fill"></i> Add to Basket</li>
                      <li nz-menu-item nzDisabled nz-tooltip nzTitle="not yet implemented"> <i nz-icon nzType="delete" nzTheme="fill"></i> Delete</li>
                      <li nz-menu-divider></li>
                      <li nz-menu-item (click)="openPltInDrawer(pltId)"><i nz-icon nzType="eye" nzTheme="fill"></i> View Details</li>
                    </ul>
                  </ng-template>
                  <!--<td [ngClass]="{'active_plt_item_eye': plt.selected }" (click)="openPltInDrawer(plt)">-->
                    <!--<div *ngIf="plt.selected">-->
                      <!--<i nz-icon nzType="eye" nzTheme="outline"></i>-->
                    <!--</div>-->
                    <!--<div *ngIf="!plt.selected">-->
                      <!--<i nz-icon nzType="eye-invisible" nzTheme="outline"></i>-->
                    <!--</div>-->
                  <!--</td>>
                  <ng-container *ngIf="(selectPltById(pltId) | async)?.visible">
                    <td nzShowCheckbox [nzChecked]="(selectPltById(pltId) | async)?.selected" (nzCheckedChange)="selectSinglePLT(pltId, $event)"></td>
                    <td>
                      <div class="td-wrapper-tags">
                      <span *ngFor="let tag of (selectPltById(pltId) | async)?.userTags"
                            [ngStyle]="{'background-color': getColor(tag.tagId, 'user')}"></span>
                        <!--<span style ="background-color: #0b97c4">&nbsp;</span>>
                      </div>
                    </td>
                    <td  (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{pltId}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.pltName | textLength: [36]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.peril | textLength: [16]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.regionPerilCode | textLength: [16]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.regionPerilName | textLength: [16]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.grain | textLength: [16]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.vendorSystem | textLength: [16]}}</div>
                    </td>
                    <td (click)="handlePLTClick(pltId,i,$event)">
                      <div class="td-wrapper">{{(selectPltById(pltId) | async)?.rap | textLength: [17]}}</div>
                    </td>
                  </ng-container>
                </tr>
                </tbody>
              </nz-table-->
              <p-table [columns]="pltColumns" [value]="listOfPlts" [resizableColumns]="true">
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup>
                    <col *ngFor="let col of columns" [ngStyle]="{'min-width': col?.width}">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th nzShowCheckbox [nzChecked]="selectAll" (nzCheckedChange)="checkAll($event)" [nzIndeterminate]="someItemsAreSelected" style="min-width:25px"></th>
                    <th *ngFor="let col of columns; let i = index" pResizableColumn>
                        <span *ngIf="col.header.length > 0" style="width: 80%">{{col.header}}</span>
                        <i *ngIf="col.icon" [ngClass]="col.icon"></i>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td>
                      <label nz-checkbox  [nzChecked]="(selectPltById(rowData) | async).selected" (nzCheckedChange)="selectSinglePLT(rowData,$event)"></label>
                    </td>
                      <td *ngFor="let col of columns; let i = index" (click)="handlePLTClick(rowData,i,$event)">
                        <ng-container *ngIf="i === 1">
                          <div>{{rowData}}</div>
                        </ng-container>
                        <ng-container *ngIf="i > 1">
                          <ng-container *ngIf="col?.type == 'field' && col?.type != 'checkbox'">
                            <div>{{(selectPltById(rowData) | async)[col.fields]}}</div>
                          </ng-container>
                          <ng-container *ngIf="col?.type == 'icon'">
                            <div class="td-wrapper-check">
                              <div>
                                <i [ngClass]="{ 'icon-check': (selectPltById(rowData) | async)?.isScorCurrent, 'icon-remove_24px': !(selectPltById(rowData) | async)?.isScorCurrent }"></i>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                      </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </nz-tab>
        </nz-tabset>
      </div>

    </div>
  </div>

  <div nz-col style="width: 60px;">
    <div class="right-column">
      <div class="navigation-icons">
        <i class="icon-map-pin-alt"></i>
        <i class="icon-arrow_back_ios_24px" (click)="openDrawer()"></i>
      </div>
    </div>
  </div>

</nz-layout>


<!--<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" (nzOnClose)="closeDrawer()" [nzWidth]=650>-->


<div *ngIf="visible" class="drawer">
  <div class="drawer-content">

    <div class="navigation-icons-drawer">
      <i class="icon-arrow_forward_ios_24px" (click)="closeDrawer()"></i>
    </div>

    <div class="noMargin">
      <nz-tabset [nzSelectedIndex]="drawerIndex" class="tabset-drawer">
        <nz-tab [nzTitle]="basket">
          <ng-template #basket>
            <span style="font-size: 16px;color: #000; padding: 3px 5px 3px 5px;">
              Basket
            </span>
          </ng-template>
          <div class="basket-content" nz-row>
            <div class="title-section-drawer">
              <div nz-col nzSpan="18">
                <h3>4 PLTs selected</h3>
              </div>
              <div nz-col nzSpan="4">
                <nz-dropdown [nzTrigger]="'click'">
                  <a nz-dropdown>
                    <button>
                      <i class="icon-menu_24px"></i>
                      <span>ACTIONS</span>
                    </button>
                  </a>
                  <ul nz-menu style="font-size: 12px">
                    <li nz-menu-item>Calibrate</li>
                    <li nz-menu-item>Publish To Pricing</li>
                    <li nz-menu-item>Publish To Accumulation</li>
                    <li nz-menu-item>Add To Injuring Node</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Alternate RAP</li>
                    <li nz-menu-item>Link To Exposure</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Add To Comparer</li>
                    <li nz-menu-item>Export</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Copy</li>
                    <li nz-menu-item>Paste</li>
                    <li nz-menu-item>Remove</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Unselect All</li>
                    <li nz-menu-item>Save Basket</li>

                  </ul>
                </nz-dropdown>
              </div>
            </div>
            <div>
              <table class="table">
                <tbody>
                <tr *ngFor="let plt of selectedListOfPlts">
                  <td>{{plt}}</td>
                  <td>{{(selectPltById(plt) | async)?.pltName}}</td>
                  <td>{{(selectPltById(plt) | async)?.peril}}</td>
                  <td>{{(selectPltById(plt) | async)?.regionPerilName}}</td>
                  <td>{{(selectPltById(plt) | async)?.rap}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="button-section-drawer">
              <div nz-col nzSpan="14">&nbsp;</div>
              <div nz-col nzSpan="4" class="cancel">
                <button>
                  <span>CANCEL</span>
                </button>
              </div>
              <div nz-col nzSpan="1">&nbsp;</div>
              <div nz-col nzSpan="4" class="add">
                <button>
                  <span>ADD</span>
                </button>
              </div>
              <div nz-col nzSpan="1">&nbsp;</div>
            </div>
          </div>
        </nz-tab>

        <nz-tab [nzTitle]="pltDetails">
          <ng-template #pltDetails>

            <div>
              <span style="font-size: 16px;color: #000; padding: 3px 5px 3px 5px;">
                PLT Details
              </span>
              <i class="icon-remove_red_eye_24px"
                 style="font-size: 16px; margin: 3px 5px 3px 15px; color: #06b8ff;"></i>
            </div>

            <ng-template #noPermission>
              <span *ngIf="!pltDetailsPermission" style="font-size: 16px; padding: 3px 5px 3px 5px;">
              PLT Details
              </span>
              <i *ngIf="!pltDetailsPermission" nz-icon nzType="eye-invisible" nzTheme="fill"
                 style="font-size: 16px; margin: 3px 5px 3px 15px;"></i>
            </ng-template>

          </ng-template>
          <div nz-row>
            <div class="title-section-drawer">
              <div nz-col nzSpan="18">
                <h3>NATC-USM</h3>
              </div>
              <div nz-col nzSpan="4">
                <button>
                  <i class="icon-menu_24px"></i>
                  <span>ACTIONS</span>
                </button>
              </div>
            </div>
          </div>
          <div class="plt-details-content">
            <nz-tabset class="tabset-plt-details">
              <nz-tab nzTitle="Summary">
                <div class="summary-content">
                  <div class="summary-tags">

                    <div style="display: flex">
                      <div *ngFor="let tag of pltdetailsSystemTags" style="margin: 4px 5px 5px 4px;">
                    <span class="chips" [ngStyle]="{'background-color': tag.tagColor}">
                      {{tag.tagName}}
                    </span>
                      </div>
                    </div>

                    <div style="display: flex">
                      <div *ngFor="let tag of pltdetailsUserTags" style="margin: 4px 5px 5px 4px;">
                    <span class="chips" [ngStyle]="{'background-color': tag.tagColor}">
                      {{tag.tagName}}
                    </span>
                      </div>
                    </div>
                  </div>
                  <div class="summary-table">
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">PLT ID:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{sumnaryPltDetailsPltId}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">PLT File Name:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.pltName}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Target RAP:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.rap}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Peril:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.peril}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Region Peril:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.regionPerilCode}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Currency:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">EUR</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Grain:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.grain}}</span>
                    </div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Representation</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">*********</span></div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">User Notes:</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">
                        <p>
                          Lorem ipsum dolor sit amet,
                        </p>
                      </span></div>
                    <div nz-row>
                      <span nz-col nzSpan="6" class="summaryTableHeader">Sourced From</span>
                      <span nz-col nzSpan="6" class="summaryTableBody">
                        <p>
                          Lorem ipsum dolor sit amet,
                          consectetur adipiscing elit,
                          sed do eiusmod tempor incididunt
                        </p>
                      </span>
                    </div>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="EP Metrics">
                <div class="ep-metrics-content">
                  <div nz-row class="dropdowns">
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-currency">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown>
                            <div style="display:flex">
                              <div class="dropdown-currency-title">
                                <span class="dropdown-currency-header">Display Currency</span>
                                <span class="dropdown-currency-subtitle"
                                      style="font-weight: bold;">{{epMetricsCurrencySelected}}</span>
                              </div>
                              <i nz-icon type="down"></i>
                            </div>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item (click)="epMetricsCurrencySelected= currency?.label"
                                *ngFor="let currency of currencies">{{currency?.label}}
                            </li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="1">&nbsp;</div>
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-financial-unit">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown>
                            <div style="display:flex">
                              <div class="dropdown-unit-title">
                                <span class="dropdown-unit-header">Financial Unit</span>
                                <span class="dropdown-unit-subtitle"
                                      style="font-weight: bold;">{{epMetricsFinancialUnitSelected}}</span>
                              </div>
                              <i nz-icon type="down"></i>
                            </div>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item (click)="epMetricsFinancialUnitSelected = unit?.label"
                                *ngFor="let unit of units">{{unit?.label}}
                            </li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="4">&nbsp;</div>
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-ep-metric">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown nz-row>
                            <div nz-col [nzSpan]="12">
                              Metric
                            </div>
                            <div nz-col [nzSpan]="6">&nbsp;</div>
                            <i nz-icon type="down" nz-col [nzSpan]="6"></i>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item>Metric 1</li>
                            <li nz-menu-item>Metric 2</li>
                            <li nz-menu-item>Metric 3</li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="1">&nbsp;</div>
                  </div>
                  <div class="ep-metric-tabset">
                    <nz-tabset>
                      <nz-tab [nzTitle]="table">
                        <ng-template #table><i class="icon-grid_on_24px"></i></ng-template>
                        <div class="metric-table-content">
                          <table class="table metric-table">
                            <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th>Retrun Period</th>
                              <th>OEP</th>
                              <th>AEP</th>
                              <th>TVaR-OEP</th>
                              <th>TVaR-AEP</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let metric of metrics">
                            <tr>
                              <td>&nbsp;</td>
                              <td align="right">{{metric.retrunPeriod}}</td>
                              <td>{{metric.OEP}}</td>
                              <td>{{metric.AEP}}</td>
                              <td>{{metric.TVaR_AEP}}</td>
                              <td>{{metric.TVaR_OEP}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <td><i class="icon-plus-circle"></i></td>
                              <td><input type="text"></td>
                              <td><input type="text"></td>
                              <td><input type="text"></td>
                              <td><input type="text"></td>
                              <td><input type="text"></td>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                        <div class="metric-table-footer">
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">Pure Premium</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">323,849</div>
                            <div nz-col nzSpan="5">323,884</div>
                            <div nz-col nzSpan="5">323,8894</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">Standart Deviation</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">5,806,767</div>
                            <div nz-col nzSpan="5">5,806,767</div>
                            <div nz-col nzSpan="5">5,806,767</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">Cov</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">17.83</div>
                            <div nz-col nzSpan="5">17.83</div>
                            <div nz-col nzSpan="5">17.83</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>

                        </div>
                      </nz-tab>
                      <nz-tab [nzTitle]="chart">
                        <ng-template #chart><i class="icon-show_chart_24px"
                                               style="border-bottom: 2px solid #0700cf; border-left: 2px solid #0700cf;"></i>
                        </ng-template>
                        <div class="metric-chart-content">
                          <img src="../../../../assets/images/RRchartInVision.png">
                        </div>
                      </nz-tab>
                    </nz-tabset>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Other Metrics">
                <div class="other-metrics-content"></div>
              </nz-tab>
              <nz-tab nzTitle="Calibration">
                <div class="calibration-content">
                  <nz-tabset>

                    <nz-tab nzTitle="Thread">
                      <div class="thread-content">

                        <div nz-row *ngFor="let thead of theads">
                          <div nz-col nzSpan="6" class="title">
                            <span>
                              {{thead.title}}
                            </span>
                          </div>
                          <div nz-col nzSpan="3"></div>
                          <div nz-col nzSpan="6">
                            <div class="card" *ngFor="let card of thead.cards"
                                 [ngStyle]="{'border-color': card.borderColor, 'background-color': getCardBackground(card.selected), 'box-shadow': getBoxShadow(card.selected)}"
                                 (click)="selectCardThead(card)">
                              <span>{{card.content}}</span>
                              <nz-tag [nzColor]="'#e5e9fa'">{{card.chip}}</nz-tag>
                            </div>
                          </div>
                          <div nz-col nzSpan="9i"></div>
                        </div>

                      </div>
                    </nz-tab>

                    <nz-tab nzTitle="Impact">
                      <div class="impact-content">
                        <div nz-row class="dropdowns">
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-currency">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown>
                                  <div style="display:flex">
                                    <div class="dropdown-currency-title">
                                      <span class="dropdown-currency-header">Display Currency</span>
                                      <span class="dropdown-currency-subtitle"
                                            style="font-weight: bold;">{{CalibrationImpactCurrencySelected}}</span>
                                    </div>
                                    <i nz-icon type="down"></i>
                                  </div>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item (click)="CalibrationImpactCurrencySelected = currency?.label"
                                      *ngFor="let currency of currencies">{{currency?.label}}
                                  </li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="1">&nbsp;</div>
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-financial-unit">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown>
                                  <div style="display:flex">
                                    <div class="dropdown-unit-title">
                                      <span class="dropdown-unit-header">Financial Unit</span>
                                      <span class="dropdown-unit-subtitle"
                                            style="font-weight: bold;">{{CalibrationImpactFinancialUnitSelected}}</span>
                                    </div>
                                    <i nz-icon type="down"></i>
                                  </div>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item (click)="CalibrationImpactFinancialUnitSelected = unit?.label"
                                      *ngFor="let unit of units">{{unit?.label}}
                                  </li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="4">&nbsp;</div>
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-ep-metric">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown nz-row>
                                  <div nz-col [nzSpan]="12">
                                    Metric
                                  </div>
                                  <div nz-col [nzSpan]="6">&nbsp;</div>
                                  <i nz-icon type="down" nz-col [nzSpan]="6"></i>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item>Metric 1</li>
                                  <li nz-menu-item>Metric 2</li>
                                  <li nz-menu-item>Metric 3</li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="1">&nbsp;</div>
                        </div>
                        <div class="impact-tabset">
                          <nz-tabset>
                            <nz-tab [nzTitle]="table">
                              <ng-template #table><i class="icon-grid_on_24px"></i></ng-template>
                              <div class="metric-table-content">
                                <table class="table metric-table">
                                  <thead>
                                  <tr>
                                    <th>Retrun Period</th>
                                    <th>OEP</th>
                                    <th>AEP</th>
                                    <th>TVaR-OEP</th>
                                    <th>TVaR-AEP</th>
                                  </tr>
                                  </thead>
                                  <tbody *ngFor="let metric of metrics">
                                  <tr>
                                    <td align="right">{{metric.retrunPeriod}}</td>
                                    <td>{{metric.OEP}}</td>
                                    <td>{{metric.AEP}}</td>
                                    <td>{{metric.TVaR_AEP}}</td>
                                    <td>{{metric.TVaR_OEP}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="metric-table-footer">
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">Pure Premium</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">323,849</div>
                                  <div nz-col nzSpan="5">323,884</div>
                                  <div nz-col nzSpan="5">323,8894</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">Standart Deviation</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">Cov</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>

                              </div>
                            </nz-tab>
                            <nz-tab [nzTitle]="chart">
                              <ng-template #chart><i class="icon-show_chart_24px"
                                                     style="border-bottom: 2px solid #0700cf; border-left: 2px solid #0700cf;"></i>
                              </ng-template>
                              <div class="metric-chart-content">
                                <img src="../../../../assets/images/RRchartInVision.png">
                              </div>
                            </nz-tab>
                          </nz-tabset>
                        </div>
                      </div>
                    </nz-tab>

                  </nz-tabset>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Lineage">
                <div class="lineage-content">
                  <nz-tabset>
                    <nz-tab nzTitle="Dependencies">
                      <div class="dependencies-content">
                        <div nz-row>
                          <div nz-col nzSpan="8">&nbsp;</div>
                          <div nz-col nzSpan="8" class="dependecies">
                            <div class="dependency-card" *ngFor="let dependency of dependencies">
                              <div nz-row class="card-content">
                                <div nz-col nzSpan="7" class="title">{{dependency.title}}</div>
                                <div nz-col nzSpan="16" class="content">{{dependency.content}}</div>
                              </div>
                              <div nz-row>
                                <div nz-col nzSpan="8">&nbsp;</div>
                                <div nz-col nzSpan="16">
                                  <nz-tag [nzColor]="'#e5e9fa'">{{dependency.chip}}</nz-tag>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div nz-col nzSpan="8">&nbsp;</div>
                        </div>
                      </div>
                    </nz-tab>
                    <nz-tab nzTitle="Usage">
                      <div class="usage-content"></div>
                    </nz-tab>
                  </nz-tabset>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Impact to layer">
                <div class="impact-to-layer-content"></div>
              </nz-tab>
            </nz-tabset>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>

  </div>
</div>

