<app-left-menu></app-left-menu>
<div class="plt-browser-wrapper">
  <div class="left mr-1 ml-1">
    <div nz-row>
      <div class="title-section">
        <h4>PLT Manager</h4>
      </div>
    </div>
    <div class="my-tabs">
      <app-plt-left-menu
        [menuInputs]="{
            tagContextMenu: tagContextMenu,
            wsId: workspaceId,
            uwYear: uwy,
            projects: projects,
            showDeleted: showDeleted,
            filterData: filterData,
            filters: filters,
            addTagModalIndex: tagModalIndex,
            fromPlts: fromPlts,
            deletedPltsLength: (listOfDeletedPlts | keys).length,
            userTags: userTags,
            systemTags: systemTags,
            selectedListOfPlts: selectedListOfPlts,
            systemTagsCount: systemTagsCount,
            _tagModalVisible: tagModalVisible,
            _editingTag: editingTag,
            _modalSelect: modalSelect,
            tagForMenu: tagForMenu,
            wsHeaderSelected: wsHeaderSelected
          }"
        (onAssignPltsToTag)="assignPltsToTag($event)"
        (onAssignPltsToSingleTag)="assignPltsToSingleTag($event)"
        (onProjectFilter)="filter($event)"
        (onEditTag)="editTag($event)"
        (onResetPath)="resetPath()"
        (onSelectProjects)="setSelectedProjects($event)"
        (onSelectSysTagCount)="selectSystemTag($event)"
        (onSetFilters)="setFilters($event)"
        (onSetFromPlts)="setFromPlts($event)"
        (onSetSelectedUserTags)="setUserTags($event)"
        (onToggleDeletedPlts)="toggleDeletePlts($event)"
        (setTagModalIndex)="setModalIndex($event)"
        (setTagModalVisibility)="setTagModal($event)"
        (onSetTagForMenu)="setTagForMenu($event)"
        (onSetRenameTag)="setRenameTag($event)"
        (emitFilters)="emitFilters($event)"
        (unCkeckAllPlts)="unCheckAll()"
        (onWsHeaderSelection)="setWsHeaderSelect($event)"
        (onModalSelect)="setModalSelectedItems($event)"
      >

      </app-plt-left-menu>
      <div class="tabset-right">
        <div class="title-as-tab">
          <span>
            PLTs
          </span>
        </div>
        <div class="PLTs-content">
          <nz-dropdown [nzTrigger]="'hover'" [nzPlacement]="'bottomRight'" >
            <a  style="position: absolute;top: -50px;right: 14px;cursor: pointer;font-size: 2em;height: 27px;" nz-dropdown>
                <i class="icon-menu_24px"></i>
            </a>
            <ul nz-menu style="font-size: 12px">
              <li nz-menu-item (click)="resetSort()">Reset Sort</li>
              <li nz-menu-item (click)="resetFilters()">Reset Filters</li>
              <li nz-menu-item (click)="resetSort();resetFilters()">Reset Sort/Filters</li>

              <li nz-menu-divider></li>

              <li nz-menu-item>Re-Order/Activate Columns</li>

              <li nz-menu-divider></li>

              <li nz-menu-item (click)="checkAll(false)" >Unselect All</li>

            </ul>
          </nz-dropdown>
          <app-plt-main-table
            [tableInputs]="{
                  contextMenuItems: contextMenuItems,
                  pltColumns: pltColumns,
                  listOfPltsData: listOfPltsData,
                  listOfDeletedPltsData: listOfDeletedPltsData,
                  listOfPltsCache: listOfPltsCache,
                  listOfDeletedPltsCache: listOfDeletedPltsCache,
                  listOfPlts: listOfPlts,
                  listOfDeletedPlts: listOfDeletedPlts,
                  selectedListOfPlts: selectedListOfPlts,
                  selectedListOfDeletedPlts: selectedListOfDeletedPlts,
                  selectAll: selectAll,
                  someItemsAreSelected: someItemsAreSelected,
                  showDeleted: showDeleted,
                  filterData: filterData,
                  filters: filters,
                  sortData: sortData
                }"

            (deletePlt)="deletePlt()"
            (openPltInDrawer)="openPltInDrawer($event)"
            (editTags)="editTags()"
            (restore)="restore()"
            (onCheckAll)="checkAll($event)"
            (onCheckBoxSort)="checkBoxSort($event)"
            (onFilter)="filter($event)"
            (onItemSelectForMenu)="setSelectedMenuItem($event)"
            (onPltClick)="toggleSelectPlts($event)"
            (onSelectSinglePlt)="selectSinglePLT($event)"
            (onSortChange)="sortChange($event)"
          ></app-plt-main-table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="drawerVisible" class="drawer">
  <div class="drawer-content">

    <div class="navigation-icons-drawer">
      <i class="icon-multiply" (click)="closeDrawer()"></i>
    </div>

    <div class="noMargin">
      <nz-tabset [nzSelectedIndex]="drawerIndex" class="tabset-drawer">
        <nz-tab [nzTitle]="basket">
          <ng-template #basket>
            <span style="font-size: 16px;color: #000; padding: 3px 5px 3px 5px;">
              Basket
            </span>
          </ng-template>
          <div class="basket-content" nz-row>
            <div class="title-section-drawer">
              <div nz-col nzSpan="18">
                <h3>{{ selectedListOfPlts.length }} PLT{{ selectedListOfPlts.length == 1 ? '' : 's'}} selected</h3>
              </div>
              <div nz-col nzSpan="4">
                <nz-dropdown [nzTrigger]="'click'">
                  <a nz-dropdown>
                    <button>
                      <i class="icon-menu_24px"></i>
                      <span>ACTIONS</span>
                    </button>
                  </a>
                  <ul nz-menu style="font-size: 12px">
                    <li nz-menu-item>Calibrate</li>
                    <li nz-menu-item>Publish To Pricing</li>
                    <li nz-menu-item>Publish To Accumulation</li>
                    <li nz-menu-item>Add To Injuring Node</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Alternate RAP</li>
                    <li nz-menu-item>Link To Exposure</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Add To Comparer</li>
                    <li nz-menu-item>Export</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Copy</li>
                    <li nz-menu-item>Paste</li>
                    <li nz-menu-item>Remove</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Unselect All</li>
                    <li nz-menu-item>Save Basket</li>

                  </ul>
                </nz-dropdown>
              </div>
            </div>
            <div>
              <table class="table">
                <tbody>
                <tr *ngFor="let plt of selectedListOfPlts">
                  <td>{{plt | textLength}}</td>
                  <td>{{(selectPltById(plt) | async)?.pltName}}</td>
                  <td>{{(selectPltById(plt) | async)?.peril}}</td>
                  <td>{{(selectPltById(plt) | async)?.regionPerilName}}</td>
                  <td>{{(selectPltById(plt) | async)?.rap}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="button-section-drawer">
              <div nz-col nzSpan="14">&nbsp;</div>
              <div nz-col nzSpan="4" class="cancel">
                <button>
                  <span>CANCEL</span>
                </button>
              </div>
              <div nz-col nzSpan="1">&nbsp;</div>
              <div nz-col nzSpan="4" class="add">
                <button>
                  <span>ADD</span>
                </button>
              </div>
              <div nz-col nzSpan="1">&nbsp;</div>
            </div>
          </div>
        </nz-tab>

        <nz-tab [nzTitle]="pltDetails" [nzDisabled]="!sumnaryPltDetailsPltId">
          <ng-template #pltDetails>

            <div>
              <span style="font-size: 16px;color: #000; padding: 3px 5px 3px 5px;">
                PLT Details
              </span>
            </div>

            <ng-template #noPermission>
              <span *ngIf="!pltDetailsPermission" style="font-size: 16px; padding: 3px 5px 3px 5px;">
              PLT Details
              </span>
              <i *ngIf="!pltDetailsPermission" nz-icon nzType="eye-invisible" nzTheme="fill"
                 style="font-size: 16px; margin: 3px 5px 3px 15px;"></i>
            </ng-template>

          </ng-template>
          <div nz-row>
            <div class="title-section-drawer">
              <div nz-col nzSpan="18">
                <h3>{{(selectPltById(sumnaryPltDetailsPltId) | async)?.pltName}}</h3>
              </div>
              <div nz-col nzSpan="4">
                <nz-dropdown [nzTrigger]="'click'">
                  <a nz-dropdown>
                    <button>
                      <i class="icon-menu_24px"></i>
                      <span>ACTIONS</span>
                    </button>
                  </a>
                  <ul nz-menu style="font-size: 12px">
                    <li nz-menu-item>Calibrate</li>
                    <li nz-menu-item>Publish To Pricing</li>
                    <li nz-menu-item>Publish To Accumulation</li>
                    <li nz-menu-item>Add To Injuring Node</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Alternate RAP</li>
                    <li nz-menu-item>Link To Exposure</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Add To Comparer</li>
                    <li nz-menu-item>Export</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Copy</li>
                    <li nz-menu-item>Paste</li>
                    <li nz-menu-item>Remove</li>

                    <li nz-menu-divider></li>

                    <li nz-menu-item>Unselect All</li>
                    <li nz-menu-item>Save Basket</li>

                  </ul>
                </nz-dropdown>
              </div>
            </div>
          </div>
          <div class="plt-details-content">
            <nz-tabset class="tabset-plt-details">
              <nz-tab nzTitle="Summary">
                <div class="summary-content">
                  <div class="summary-tags">

                    <div style="display: flex">
                      <div *ngFor="let tag of pltdetailsSystemTags" style="margin: 4px 5px 5px 4px;">
                    <span class="chips" [ngStyle]="{'background-color': tag.tagColor}">
                      {{tag.tagName}}
                    </span>
                      </div>
                    </div>

                    <div style="display: flex">
                      <div *ngFor="let tag of pltdetailsUserTags" style="margin: 4px 5px 5px 4px;">
                    <span class="chips" [ngStyle]="{'background-color': tag.tagColor}">
                      {{tag.tagName}}
                    </span>
                      </div>
                    </div>
                  </div>
                  <div class="summary-table">
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">PLT ID:</span>
                      <span nz-col class="summaryTableBody">{{sumnaryPltDetailsPltId | textLength}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">PLT File Name:</span>
                      <span nz-col
                            class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.fileName}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Target RAP:</span>
                      <span nz-col
                            class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.rap}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Peril:</span>
                      <span nz-col
                            class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.peril}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Region Peril:</span>
                      <span nz-col
                            class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.regionPerilCode}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Currency:</span>
                      <span nz-col class="summaryTableBody">EUR</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Grain:</span>
                      <span nz-col
                            class="summaryTableBody">{{(selectPltById(sumnaryPltDetailsPltId) | async)?.grain}}</span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Representation</span>
                      <span nz-col class="summaryTableBody">Unspecified Representation </span></div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">User Notes:</span>
                      <span nz-col class="summaryTableBody">

                      </span>
                    </div>
                    <div nz-row style="padding: 12px 0 0px 0;">
                      <span nz-col nzSpan="6" class="summaryTableHeader">Sourced From</span>
                      <span nz-col class="summaryTableBody">
                          Modelling Vendor: {{(selectPltById(sumnaryPltDetailsPltId) | async)?.modellingVendor}} <br>
                          Modelling System: {{(selectPltById(sumnaryPltDetailsPltId) | async)?.modellingSystem}} <br>
                          Data Source Name: {{(selectPltById(sumnaryPltDetailsPltId) | async)?.dataSourceName}} <br>
                          Analysis Id: {{(selectPltById(sumnaryPltDetailsPltId) | async)?.analysisId}}
                      </span>
                    </div>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="EP Metrics">
                <div class="ep-metrics-content">
                  <div nz-row class="dropdowns">
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-currency">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown>
                            <div style="display:flex">
                              <div class="dropdown-currency-title">
                                <span class="dropdown-currency-header">Display Currency</span>
                                <span class="dropdown-currency-subtitle"
                                      style="font-weight: bold;">{{epMetricsCurrencySelected}}</span>
                              </div>
                              <i nz-icon type="down"></i>
                            </div>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item (click)="epMetricsCurrencySelected= currency?.label"
                                *ngFor="let currency of currencies">{{currency?.label}}
                            </li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="1">&nbsp;</div>
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-financial-unit">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown>
                            <div style="display:flex">
                              <div class="dropdown-unit-title">
                                <span class="dropdown-unit-header">Financial Unit</span>
                                <span class="dropdown-unit-subtitle"
                                      style="font-weight: bold;">{{epMetricsFinancialUnitSelected}}</span>
                              </div>
                              <i nz-icon type="down"></i>
                            </div>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item (click)="epMetricsFinancialUnitSelected = unit?.label"
                                *ngFor="let unit of units">{{unit?.label}}
                            </li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="4">&nbsp;</div>
                    <div nz-col [nzSpan]="6">
                      <div class="dropdown-ep-metric">
                        <nz-dropdown [nzTrigger]="'click'">
                          <a nz-dropdown nz-row>
                            <div nz-col [nzSpan]="12">
                              Metric
                            </div>
                            <div nz-col [nzSpan]="6">&nbsp;</div>
                            <i nz-icon type="down" nz-col [nzSpan]="6"></i>
                          </a>
                          <ul nz-menu>
                            <li nz-menu-item>AEP</li>
                            <li nz-menu-item>OEP</li>
                          </ul>
                        </nz-dropdown>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="1">&nbsp;</div>
                  </div>
                  <div class="ep-metric-tabset">
                    <nz-tabset>
                      <nz-tab [nzTitle]="table">
                        <ng-template #table><i class="icon-grid_on_24px"></i></ng-template>
                        <div class="metric-table-content">
                          <nz-table [nzData]="metrics" [nzShowPagination]="false" class="table metric-table">
                            <thead>
                            <tr>
                              <th>&nbsp;</th>
                              <th style="max-width: 70px !important;">Retrun Period</th>
                              <th>OEP</th>
                              <th>AEP</th>
                              <th>TVaR-OEP</th>
                              <th>TVaR-AEP</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let metric of metrics">
                              <td>&nbsp;</td>
                              <td>{{metric.retrunPeriod}}</td>
                              <td>{{metric.OEP}}</td>
                              <td>{{metric.AEP}}</td>
                              <td>{{metric.TVaR_AEP}}</td>
                              <td>{{metric.TVaR_OEP}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <td><i class="icon-plus-circle"></i></td>
                              <td style="width: 20% !important;"><input style="width: 100% !important;" type="text">
                              </td>
                              <td style="width: 20% !important;"><input style="width: 100% !important;" type="text">
                              </td>
                              <td style="width: 20% !important;"><input style="width: 100% !important;" type="text">
                              </td>
                              <td style="width: 20% !important;"><input style="width: 100% !important;" type="text">
                              </td>
                              <td style="width: 20% !important;"><input style="width: 100% !important;" type="text">
                              </td>
                            </tr>
                            </tfoot>
                          </nz-table>
                        </div>
                        <div class="metric-table-footer">
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">Pure Premium</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">323,849</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">Standard Deviation</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">5,806,767</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>
                          <div nz-row>
                            <div nz-col nzSpan="5" style="text-align: right">CoV</div>
                            <div nz-col nzSpan="1">&nbsp;</div>
                            <div nz-col nzSpan="5">17.83</div>
                            <div nz-col nzSpan="3">&nbsp;</div>
                          </div>

                        </div>
                      </nz-tab>
                      <nz-tab [nzTitle]="chart">
                        <ng-template #chart><i class="icon-show_chart_24px"
                                               style="border-bottom: 2px solid #0700cf; border-left: 2px solid #0700cf;"></i>
                        </ng-template>
                        <div class="metric-chart-content">
                          <img src="../../../../assets/images/RRchartInVision.png">
                        </div>
                      </nz-tab>
                    </nz-tabset>
                  </div>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Other Metrics">
                <div class="other-metrics-content"></div>
              </nz-tab>
              <nz-tab nzTitle="Calibration">
                <div class="calibration-content">
                  <nz-tabset>

                    <nz-tab nzTitle="Thread">
                      <div class="thread-content">

                        <div nz-row *ngFor="let thead of theads">
                          <div nz-col nzSpan="6" class="title">
                            <span>
                              {{thead.title}}
                            </span>
                          </div>
                          <div nz-col nzSpan="3"></div>
                          <div nz-col nzSpan="6">
                            <div class="card" *ngFor="let card of thead.cards"
                                 [ngStyle]="{'border-color': card.borderColor, 'background-color': getCardBackground(card.selected), 'box-shadow': getBoxShadow(card.selected)}"
                                 (click)="selectCardThead(card)">
                              <span>{{card.content}}</span>
                              <nz-tag [nzColor]="'#e5e9fa'">{{card.chip}}</nz-tag>
                            </div>
                          </div>
                          <div nz-col nzSpan="9i"></div>
                        </div>

                      </div>
                    </nz-tab>

                    <nz-tab nzTitle="Impact">
                      <div class="impact-content">
                        <div nz-row class="dropdowns">
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-currency">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown>
                                  <div style="display:flex">
                                    <div class="dropdown-currency-title">
                                      <span class="dropdown-currency-header">Display Currency</span>
                                      <span class="dropdown-currency-subtitle"
                                            style="font-weight: bold;">{{CalibrationImpactCurrencySelected}}</span>
                                    </div>
                                    <i nz-icon type="down"></i>
                                  </div>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item (click)="CalibrationImpactCurrencySelected = currency?.label"
                                      *ngFor="let currency of currencies">{{currency?.label}}
                                  </li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="1">&nbsp;</div>
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-financial-unit">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown>
                                  <div style="display:flex">
                                    <div class="dropdown-unit-title">
                                      <span class="dropdown-unit-header">Financial Unit</span>
                                      <span class="dropdown-unit-subtitle"
                                            style="font-weight: bold;">{{CalibrationImpactFinancialUnitSelected}}</span>
                                    </div>
                                    <i nz-icon type="down"></i>
                                  </div>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item (click)="CalibrationImpactFinancialUnitSelected = unit?.label"
                                      *ngFor="let unit of units">{{unit?.label}}
                                  </li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="4">&nbsp;</div>
                          <div nz-col [nzSpan]="6">
                            <div class="dropdown-ep-metric">
                              <nz-dropdown [nzTrigger]="'click'">
                                <a nz-dropdown nz-row>
                                  <div nz-col [nzSpan]="12">
                                    EP Metric
                                  </div>
                                  <div nz-col [nzSpan]="6">&nbsp;</div>
                                  <i nz-icon type="down" nz-col [nzSpan]="6"></i>
                                </a>
                                <ul nz-menu>
                                  <li nz-menu-item>AEP</li>
                                  <li nz-menu-item>OEP</li>
                                </ul>
                              </nz-dropdown>
                            </div>
                          </div>
                          <div nz-col [nzSpan]="1">&nbsp;</div>
                        </div>
                        <div class="impact-tabset">
                          <nz-tabset>
                            <nz-tab [nzTitle]="table">
                              <ng-template #table><i class="icon-grid_on_24px"></i></ng-template>
                              <div class="metric-table-content">
                                <table class="table metric-table">
                                  <thead>
                                  <tr>
                                    <th>Retrun Period</th>
                                    <th>OEP</th>
                                    <th>AEP</th>
                                    <th>TVaR-OEP</th>
                                    <th>TVaR-AEP</th>
                                  </tr>
                                  </thead>
                                  <tbody *ngFor="let metric of metrics">
                                  <tr>
                                    <td align="right">{{metric.retrunPeriod}}</td>
                                    <td>{{metric.OEP}}</td>
                                    <td>{{metric.AEP}}</td>
                                    <td>{{metric.TVaR_AEP}}</td>
                                    <td>{{metric.TVaR_OEP}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>
                              <div class="metric-table-footer">
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">Pure Premium</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">323,849</div>
                                  <div nz-col nzSpan="5">323,884</div>
                                  <div nz-col nzSpan="5">323,8894</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">Standard Deviation</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="5">5,806,767</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>
                                <div nz-row>
                                  <div nz-col nzSpan="5" style="text-align: right">CoV</div>
                                  <div nz-col nzSpan="1">&nbsp;</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="5">17.83</div>
                                  <div nz-col nzSpan="3">&nbsp;</div>
                                </div>

                              </div>
                            </nz-tab>
                            <nz-tab [nzTitle]="chart">
                              <ng-template #chart><i class="icon-show_chart_24px"
                                                     style="border-bottom: 2px solid #0700cf; border-left: 2px solid #0700cf;"></i>
                              </ng-template>
                              <div class="metric-chart-content">
                                <img src="../../../../assets/images/RRchartInVision.png">
                              </div>
                            </nz-tab>
                          </nz-tabset>
                        </div>
                      </div>
                    </nz-tab>

                  </nz-tabset>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Lineage">
                <div class="lineage-content">
                  <nz-tabset>
                    <nz-tab nzTitle="Dependencies">
                      <div class="dependencies-content">
                        <div nz-row>
                          <div nz-col nzSpan="8">&nbsp;</div>
                          <div nz-col nzSpan="8" class="dependecies">
                            <div class="dependency-card" *ngFor="let dependency of dependencies">
                              <div nz-row class="card-content">
                                <div nz-col nzSpan="7" class="title">{{dependency.title}}</div>
                                <div nz-col nzSpan="16" class="content">{{dependency.content}}</div>
                              </div>
                              <div nz-row>
                                <div nz-col nzSpan="8">&nbsp;</div>
                                <div nz-col nzSpan="16">
                                  <nz-tag [nzColor]="'#e5e9fa'">{{dependency.chip}}</nz-tag>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div nz-col nzSpan="8">&nbsp;</div>
                        </div>
                      </div>
                    </nz-tab>
                    <nz-tab nzTitle="Usage">
                      <div class="usage-content"></div>
                    </nz-tab>
                  </nz-tabset>
                </div>
              </nz-tab>
              <nz-tab nzTitle="Impact to layer">
                <div class="impact-to-layer-content"></div>
              </nz-tab>
            </nz-tabset>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>

  </div>
</div>
