:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .iconYellow {
    color: #fde729;
    font-size: 17px;
  }

  .iconYellow2 {
    color: #d8880f;
    font-size: 17px;
  }

  .iconGreen {
    color: #00B396;
    font-size: 17px;
  }

  .iconBlue {
    color: #21aae6;
    font-size: 17px;
  }

  .iconRed {
    color: #b8200c;
    font-size: 17px;
  }

  .iconRed2 {
    color: #ff2126;
    font-size: 17px;
  }
}