:host{
  .toolkit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
  }

  .cols-manager-pop-up {
    .ui-dialog-content {
      overflow: hidden;
    }
  }
}