<p-dialog
  (onShow)="onShow()"
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal-lg borderless'"
  [visible]="isVisible"
  appendTo="body"
>

  <p-header>
    <div class="header">
      <div style="display: flex;">
      <h4>
        Attach PLTs
      </h4>
      </div>
      <i (click)="onHide()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content">
    <div class="left">
      <app-plt-left-menu
        [tagsInput]="tagsInput"
        (actionDispatcher)="leftMenuActionDispatcher($event)"
      >

      </app-plt-left-menu>
    </div>
    <div class="center">
      <div class="title-as-tab">
          <span>
            PLTs
          </span>
      </div>
      <div class="PLTs-content">
        <app-plt-main-table
          [tableInputs]="tableInputs"
          (actionDispatcher)="tableActionDispatcher($event)"
          [containerPlts]="pltContainer"
        ></app-plt-main-table>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="footer">
      <button (click)="onHide()" class="a-button-text">CANCEL</button>
      <button (click)="dispatchAttachTable()" class="a-buttons-contained">
        ADD
      </button>
    </div>
  </p-footer>
</p-dialog>
