<p-dialog
  (onShow)="onShow()"
  [autoZIndex]="false"
  [baseZIndex]="1"
  [closable]="false"
  [modal]="true"
  [responsive]="true"
  [styleClass]="'m-dialog-modal-lg borderless'"
  [visible]="isVisible"

>

  <p-header>
    <div class="header">
      <div style="display: flex;">
      <h6>Attach PLTs</h6>
      </div>
      <i (click)="onHide()" class="icon-close_24px" style="cursor: pointer"></i>
    </div>
  </p-header>
  <div class="content">
    <div class="left">
      <app-plt-left-menu
        (actionDispatcher)="leftMenuActionDispatcher($event)"
        [tagsInput]="tagsInput"
      >

      </app-plt-left-menu>
    </div>
    <div class="center">
      <div class="title-as-tab">
          <span>
            PLTs
          </span>
        <div style="font-size: 1.3em;font-weight: bold;padding-top: 18px;padding-right: 18px;">
          <label nz-checkbox style="padding-left: 8px;"
                 [(ngModel)]="showApplicablePlts"
                 (ngModelChange)="showApplicablePltsFunction()"
          >Show Applicable Plts Only</label>

        </div>
      </div>
      <div class="PLTs-content">
        <app-plt-main-table
          [tableInputs]="tableInputs" [tableHeight]="'calc(100vh - 410px)'"
          (actionDispatcher)="tableActionDispatcher($event)"
          [containerPlts]="pltContainer"
        ></app-plt-main-table>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="footer">
      <button (click)="onHide()" class="a-button-text">CANCEL</button>
      <button (click)="dispatchAttachTable()" class="a-buttons-contained">
        ADD
      </button>
    </div>
  </p-footer>
</p-dialog>
