:host {
  ::ng-deep .summary-epMetrics-container {
    flex: 1 1 auto;
    overflow-y: auto;
    height: calc( 100vh - 390px) !important;

    .dropdown-container {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .left {
        display: flex;
      }
    }
  }
}