<div class="summary-epMetrics-container">
  <div class="dropdown-container">
    <div class="left">
        <nz-dropdown [nzTrigger]="'click'" [nzOverlayStyle]="{ 'max-height': '200px','overflow': 'auto'}">
          <a nz-dropdown>
            <div class="dropdown-wrap" [style.width]="'108px'">
              <div class="dropdown-wrap-title">
                <span class="dropdown-title">Currency</span>
                <span class="dropdown-item-selected">
                  {{summaryEpMetricsConfig?.selectedCurrency}}
              </span>
              </div>
              <div class="dropdown-icon">
                <i nz-icon type="down"></i>
              </div>
            </div>
          </a>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let currency of constants?.currencies" (click)="currencyChange(currency)">
              {{currency}}
            </li>
          </ul>
        </nz-dropdown>
        <nz-dropdown [nzTrigger]="'click'">
          <div class="dropdown-wrap" [style.width]="'108px'" nz-dropdown>
            <div class="dropdown-wrap-title">
              <span class="dropdown-title">Financial Unit</span>
              <span class="dropdown-item-selected">
                  {{summaryEpMetricsConfig?.selectedFinancialUnit}}
              </span>
            </div>
            <div class="dropdown-icon">
              <i nz-icon type="down"></i>
            </div>
          </div>
          <ul nz-menu>
            <li nz-menu-item *ngFor="let financialUnit of constants?.financialUnits" (click)="selectFinancialUnit(financialUnit)">
              {{financialUnit}}
            </li>
          </ul>
        </nz-dropdown>
      </div>
    <p-multiSelect [ngModel]="summaryEpMetricsConfig?.selectedCurveType"
                   (ngModelChange)="curveTypeSelectChange($event)"
                   [options]="constants?.curveTypes"
                   [style]="{width: '108px', marginRight: '16px'}"
                   defaultLabel="EP Metrics"
                   [filter]="false"
                   [displaySelectedLabel]="false"
                   ></p-multiSelect>
  </div>
  <div class="ep-metric-tabset">
    <nz-tabset>
      <nz-tab [nzTitle]="table">
          <ng-template #table><i class="icon-grid_on_24px"></i></ng-template>
          <div class="metric-table-content">
            <p-table [value]="rps" [resizableColumns]="true" [columns]="epMetricsTableConfig.columns"
                     [scrollable]="true"
                     class="table metric-table">
              <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                  <col  [style.width.px]="100">
                  <col *ngFor="let col of columns" [style]="{'width': 160 + 'px' }">
                </colgroup>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th style="width: 100px;">Return Period</th>
                  <th style="width: 160px;text-align: right;" *ngFor="let col of columns" pResizableColumn>
                    {{col?.header}}
                    <span class="ui-column-resizer" style="cursor: default !important;"></span></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
                <tr>
                  <td style="width: 100px;">
                    <i (click)="removeReturnPeriod(rowData)" class="icon-trash-alt pull-left"
                       style="margin-left: 10px;cursor: pointer;color: red; visibility: hidden;"></i>
                    {{rowData}}
                  </td>
                  <td style="width: 160px;" *ngFor="let col of epMetricsTableConfig.columns">
                    <span class="text-elipsice">
                    {{epMetrics[col.field][rowData] | exchangeRate: exchangeRates : sourceCurrency : summaryEpMetricsConfig?.selectedCurrency | financialUnit: summaryEpMetricsConfig.selectedFinancialUnit | number : '1.0-9'}}
                    </span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
              <tr>
                <td [attr.colspan]="epMetricsTableConfig.columns.length + 1" style="padding-top: 10px;">
                  <i (click)="addToReturnPeriod()" style="font-size: 14px; margin-right: 1px; margin-top: 3px" [ngStyle]="{'cursor' : 'pointer'}" class="icon-plus-circle"></i>
                  <input type="number" class="a-textfield-mini" style="width: 95%" [ngModel]="returnPeriodConfig?.returnPeriodInput" (ngModelChange)="inputChange($event)" name="new-field">
                </td>
              </tr>
              <tr *ngIf="returnPeriodConfig?.showSuggestion">
                <td [attr.colspan]="epMetricsTableConfig.columns.length + 1">
                  <span style="color: red;margin-left: 16px;">
                    {{rpValidation?.lowerBound}} - {{rpValidation?.upperBound}} are the nearest valid return periods
                  </span>
                </td>
              </tr>
              <tr *ngIf="returnPeriodConfig?.message">
                <td [attr.colspan]="epMetricsTableConfig.columns.length + 1">
                  <span style="color: red;margin-left: 16px;">
                    {{returnPeriodConfig?.message}}
                  </span>
                </td>
              </tr>
              </ng-template>
            </p-table>
              <div class="metric-table-footer">
                  <div nz-row>
                      <div nz-col nzSpan="5" style="text-align: right">Pure Premium</div>
                      <div nz-col nzSpan="1">&nbsp;</div>
                      <div class="text-elipsice" nz-col nzSpan="5">{{epMetricsLosses?.purePremium | exchangeRate: exchangeRates : sourceCurrency : summaryEpMetricsConfig?.selectedCurrency | financialUnit: summaryEpMetricsConfig.selectedFinancialUnit | number : '1.0-9'}}</div>
                      <div nz-col nzSpan="3">&nbsp;</div>
                  </div>
                  <div nz-row>
                      <div nz-col nzSpan="5" style="text-align: right">Standard Deviation</div>
                      <div nz-col nzSpan="1">&nbsp;</div>
                      <div class="text-elipsice" nz-col nzSpan="5">{{epMetricsLosses?.standardDeviation | exchangeRate: exchangeRates : sourceCurrency : summaryEpMetricsConfig?.selectedCurrency | financialUnit: summaryEpMetricsConfig.selectedFinancialUnit | number : '1.0-9'}}</div>
                      <div nz-col nzSpan="3">&nbsp;</div>
                  </div>
                  <div nz-row>
                      <div nz-col nzSpan="5" style="text-align: right">CoV</div>
                      <div nz-col nzSpan="1">&nbsp;</div>
                      <div class="text-elipsice" nz-col nzSpan="5">{{epMetricsLosses?.cov | exchangeRate: exchangeRates : sourceCurrency : summaryEpMetricsConfig?.selectedCurrency | financialUnit: summaryEpMetricsConfig.selectedFinancialUnit | number : '1.0-9'}}</div>
                      <div nz-col nzSpan="3">&nbsp;</div>
                  </div>
                  <!--              <ng-template pTemplate="footer" let-columns>
                                  <tr>
                                    <td><i class="icon-plus-circle"></i></td>
                                    <td style="width: 20% !important;"><input style="width: 100% !important;" type="text"></td>
                                    <ng-container *ngFor="let placeholder of epMetricsTableConfig?.columns;let i= index;">
                                      <td *ngIf="i > 1">
                                      </td>
                                    </ng-container>
                                  </tr>
                                </ng-template>-->
              </div>
          </div>
      </nz-tab>
      <nz-tab [nzTitle]="chart">
        <ng-template #chart><i class="icon-show_chart_24px" style="border-bottom: 2px solid #0700cf; border-left: 2px solid #0700cf;"></i></ng-template>
        <app-ep-chart
                [chartOption]="chartOption"
                [updateOption]="updateOption"
                (actionDispatcher)="handleChartActions($event)"

        ></app-ep-chart>
        </nz-tab>
    </nz-tabset>
  </div>
</div>