<div nz-row style="margin-bottom: 15px;">
  <div nz-col nzSpan="24" style="margin-top: 25px;">
    <div style="padding:24px; background: #fff; min-height:130px; box-shadow: 0px 1px 20px 0px #dcdada; ">
      <div nz-col nzSpan="10" style="height: 10px">
        <hr style="height: 4px;background-color: #00c4aa;margin: -24px;width: 288px;">
      </div>
      <div nz-row style="margin-top: -35px;">
        <div class="textLastAdjustement" nz-col nzSpan="24" style="margin-top: 2px;">
          Last Adjustment Matrix
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="AdjustementTextGray" style="padding:24px; background: #f0f2f5; min-height:60px;">
            <div nz-col nzSpan="4">
              <b>Apply Adjustment Matrix</b>
            </div>
            <div nz-col nzSpan="7">
              <i class="icon-event_note_24px"></i>Started:<b>Mon Feb 04 16:19:39 UTC 2019</b>
            </div>
            <div nz-col nzSpan="7">
              <i class="icon-event_note_24px"></i>Ended:<b>Mon Feb 04 16:20:00 UTC 2019</b>
            </div>
            <div nz-col nzSpan="6"
                 style="color: #00C4AA;white-space: nowrap;overflow: hidden;text-overflow: ellipsis">
              Adjustment Matrix Completed succesfly
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
