<div class="form-title">
  <h4>CAR Submission Page</h4>
</div>
<div class="form-control-wrap">
  <div class="form-wrapper">
    <div class="form-left">
      <div class="form-controller"><span class="subtitle-2">UW Analysis <span style="color: red">*</span></span>
        <div class="input-form-wrap"><input [(ngModel)]="uwAnalysis" class="a-textfield-mini"></div>
      </div>
      <div class="form-controller"><span class="subtitle-2">UW Year <span style="color: red">*</span></span>
        <div class="input-form-wrap"><input [(ngModel)]="uwYear" class="a-textfield-mini"></div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Contract Label</span>
        <div class="input-form-wrap"><input [(ngModel)]="contractLabel" class="a-textfield-mini"></div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Business Type <span style="color: red">*</span></span>
        <div class="input-form-wrap">
          <nz-select style="width: 100%"
                     [(ngModel)]="businessType.value" nzShowSearch
                     class="a-dropdown-small"
                     nzPlaceHolder="TAG CURRENCY">
            <nz-option *ngFor="let item of businessType.option" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Sector</span>
        <div class="input-form-wrap"><input [(ngModel)]="sector" class="a-textfield-mini"></div>
      </div>
    </div>
    <div class="form-center">
      <div class="form-controller"><span class="subtitle-2">Contract ID <span style="color: red">*</span></span>
        <div class="input-form-wrap"><input [(ngModel)]="contractId" class="a-textfield-mini"></div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Insured <span style="color: red">*</span></span>
        <div class="input-form-wrap"><input [(ngModel)]="insured" class="a-textfield-mini"></div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Subsidiary <span style="color: red">*</span></span>
        <div class="input-form-wrap">
          <nz-select style="width: 100%"
                     [(ngModel)]="subsidiary.value" nzShowSearch
                     class="a-dropdown-small"
                     nzPlaceHolder="TAG CURRENCY"
          >
            <nz-option *ngFor="let item of subsidiary.option" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="form-controller"><span class="subtitle-2">LOB  <span style="color: red">*</span></span>
        <div class="input-form-wrap">
          <nz-select style="width: 100%" [(ngModel)]="lob.value" nzShowSearch
                     class="a-dropdown-small"
                     nzPlaceHolder="TAG CURRENCY">
            <nz-option *ngFor="let item of lob.option" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </div>
      </div>
      <div class="form-controller"><span class="subtitle-2">Raised By <span style="color: red">*</span></span>
        <div class="input-form-wrap">
          <nz-select style="width: 100%" [(ngModel)]="raisedBy.value" nzShowSearch
                     class="a-dropdown-small"
                     nzPlaceHolder="TAG CURRENCY">
            <nz-option *ngFor="let item of raisedBy.option" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-control-wrap show-table">
  <h6>Division</h6>
  <p-table #kt [columns]="coverageTemplate" [value]="dataCoverage"
           [resizableColumns]="true" columnResizeMode="expand"
           [scrollable]="true" scrollHeight="340px" >
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngStyle]="{'vertical-align': col.type === 'action' ? 'middle' : 'unset'}" pResizableColumn>
          <div *ngIf="col.type !== 'action'">
            {{col.header}}
            <p-sortIcon style="position: absolute; float: right;"
                        *ngIf="col.filtered"
                        [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
            </p-sortIcon>
          </div>
          <div class="search-bar-table" *ngIf="col.filtered">
            <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
            <input pInputText type="text"
                   (input)="kt.filter($event.target.value, col.field, col.filterMatchMode)">
          </div>
          <div *ngIf="col.type === 'action'">
            <i class="icon-add_to_photos_24px" (click)="addRow()" nz-tooltip
               nzTitle="Add New Row"
               *ngIf="col.type === 'action'" style="font-size: 22px"></i>
          </div>
        </th>
      </tr>
<!--      <tr>
        <th *ngFor="let col of columns">
          <input *ngIf="col.type !== 'action' && col.field !== 'divisionNo'" style="width:100%" class="a-textfield-mini">
          <input *ngIf="col.type !== 'action' && col.field === 'divisionNo'" [ngModel]="dataCoverage.length"
                 style="width:100%" class="a-textfield-mini" disabled>

          <i class="icon-add_to_photos_24px" *ngIf="col.type === 'action'"></i>
        </th>
      </tr>-->
    </ng-template>
    <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
      <tr>
        <ng-container *ngFor="let col of columns">
          <td *ngIf="!col.edit"
            [ngClass]="{'selected-item': rowData?.selected}"
            [ngStyle]="{'background-color': rowData['AlreadyImported'] ? '#EBEEFB' : '#FFF'}">
            <div class="text-data" *ngIf="col.field === 'divisionNo'">
              <span>{{i + 1}}</span>
            </div>
            <div class="text-data"
                 *ngIf="col.type === 'date'">
              <span>{{rowData[col.field] | date:'dd/MM/yyyy'}}</span></div>
            <div *ngIf="col.type === 'action'">
              <i class="icon-trash-alt" style="font-size: 18px" (click)="deleteRow(i)"
              nz-tooltip nzTitle="Delete Row"></i>
            </div>
          </td>
          <ng-container *ngIf="col.edit">
            <td pEditableColumn *ngIf="col.field === 'principal'"
                style="background-color: #FFFFFF"
                [ngClass]="{'selected-item': rowData?.selected}">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <nz-select
                    style="width: 100%"
                    (ngModelChange)="isPrincipalSet($event, i)"
                    [ngModel]="rowData.principal" nzShowSearch
                    class="a-dropdown-small input-wrapper"
                  >
                    <nz-option nzLabel="True" [nzValue]="true"></nz-option>
                    <nz-option nzLabel="false" [nzValue]="false"></nz-option>
                  </nz-select>
                </ng-template>
                <ng-template pTemplate="output">
                  <div class="text-data highlight-temp"><span>{{rowData.principal}}</span></div>
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn *ngIf="col.field === 'lob'" style="background-color: #FFFFFF"
                [ngClass]="{'selected-item': rowData?.selected}">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="rowData.lob" nzShowSearch
                    class="a-dropdown-small input-wrapper"
                    nzPlaceHolder="TAG CURRENCY"
                  >
                    <nz-option nzLabel="Property" nzValue="Property"></nz-option>
                    <nz-option nzLabel="Construction" nzValue="Construction"></nz-option>
                  </nz-select>
                </ng-template>
                <ng-template pTemplate="output">
                  <div class="text-data highlight-temp"><span>{{rowData.lob}}</span></div>
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn *ngIf="col.field === 'coverage'"
                style="background-color: #FFFFFF"
                [ngClass]="{'selected-item': rowData?.selected}">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="rowData.coverage" nzShowSearch
                    class="a-dropdown-small input-wrapper"
                    nzPlaceHolder="TAG CURRENCY"
                  >
                    <nz-option nzLabel="BI" nzValue="BI"></nz-option>
                    <nz-option nzLabel="PD" nzValue="PD"></nz-option>
                    <nz-option nzLabel="PD,BI" nzValue="PD,BI"></nz-option>
                  </nz-select>
                </ng-template>
                <ng-template pTemplate="output">
                  <div class="text-data highlight-temp"><span>{{rowData.coverage}}</span></div>
                </ng-template>
              </p-cellEditor>
            </td>
            <td pEditableColumn *ngIf="col.field === 'currency'"
                style="background-color: #FFFFFF"
                [ngClass]="{'selected-item': rowData?.selected}">
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <nz-select
                    style="width: 100%"
                    [(ngModel)]="rowData.currency" nzShowSearch
                    class="a-dropdown-small input-wrapper"
                    nzPlaceHolder="TAG CURRENCY"
                  >
                    <nz-option nzLabel="AED" nzValue="AED"></nz-option>
                    <nz-option nzLabel="AFA" nzValue="AFA"></nz-option>
                    <nz-option nzLabel="AFN" nzValue="AFN"></nz-option>
                    <nz-option nzLabel="ALK" nzValue="ALK"></nz-option>
                    <nz-option nzLabel="ALL" nzValue="ALL"></nz-option>
                    <nz-option nzLabel="BBT" nzValue="BBT"></nz-option>
                    <nz-option nzLabel="BBL" nzValue="BBL"></nz-option>
                    <nz-option nzLabel="BMD" nzValue="BMD"></nz-option>
                    <nz-option nzLabel="MGA" nzValue="MGA"></nz-option>
                    <nz-option nzLabel="USD" nzValue="USD"></nz-option>
                    <nz-option nzLabel="XXC" nzValue="XXC"></nz-option>
                  </nz-select>
                </ng-template>
                <ng-template pTemplate="output">
                  <div class="text-data highlight-temp"><span>{{rowData.currency}}</span></div>
                </ng-template>
              </p-cellEditor>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>

<div class="form-control-wrap">
  <h6>Coverage</h6>
  <div class="form-controller new-wrap"><span class="subtitle-2">Region Peril</span>
    <div class="input-form-wrap" style="width: 75%">
      <nz-select style="width: 100%" [(ngModel)]="metaData" nzShowSearch
                 nzMode="multiple" class="a-dropdown-small"
                 nzPlaceHolder="Region Peril Selection">
        <nz-option *ngFor="let item of data" [nzLabel]="item?.regionPerilDesc + ' [' + item?.regionPerilCode + ']'"
                   [nzValue]="item?.regionPerilCode"></nz-option>
      </nz-select>
    </div>
  </div>
</div>

<div class="form-footer">
  <button (click)="submitData()" class="a-buttons-contained-mini">SUBMIT</button>
</div>
