:host {
  display: flex;
  flex-direction: column;
  padding: 25px 0 25px 40px;
  background-color: rgba(0,0,0,0.05);
  min-height: 100vh;
}

.form-wrapper {
  display: flex;
  justify-content: space-between;

  .form-controller {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
  }

  .form-right, .form-center, .form-left {
    width: 49%;
  }
}

.form-control-wrap {
  width: 80%;
  margin: 10px auto;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
  padding: 40px;
}

.form-controller {

}

.form-title {
  padding-left: 70px;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.input-form-wrap {
  width: 60%;

  input {
    width: 100%;
  }
}

.new-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
