<div class="a-app-wrapper">
  <div class="a-app-header">
    <h4>Exposures</h4>
  </div>
  <div class="app-body">

    <div class="exposures-lef-menu">
      <exposures-left-menu>

      </exposures-left-menu>
    </div>
    <div class="exposures-table-container">
      <div class="exposures-header">
        <exposures-header (actionDispatcher)="headerActionDispatcher($event)"
                          [selectedHeaderConfig]="selectedHeaderConfig"
                          [headerConfig]="headerConfig$ | async">

        </exposures-header>
      </div>

      <div class="exposures-main-table">
        <exposures-main-table (actionDispatcher)="mainTableActionDispatcher($event)"
                              [sortConfig]="sortConfig"
                              [numberConfig]="numberConfig"
                              [tableConfig]="tableConfig$ | async">
        </exposures-main-table>
      </div>
    </div>


  </div>
  <div class="exposures-right-menu">
    <exposures-right-menu (actionDispatcher)="rightMenuActionDispatcher($event)"
                          [rightMenuConfig]="rightMenuConfig$ | async">

    </exposures-right-menu>
  </div>
</div>
