:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;

  ::ng-deep submenu-inline > .ant-menu-submenu-title .ant-menu-submenu-arrow {
    padding-right: 15px !important;
  }

  ::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    //border-left: 4px solid #00c2a8;
  }
}

