<p-dialog [(visible)]="isVisible"
          [modal]="true"
          [closable]="false"
          [contentStyle]="{'overflow':'visible'}"
          [styleClass]="'m-dialog-modal-sm-f'"
          [responsive]="true"
          (onHide)="cancelCreateProject()"
          (onShow)="patchNewProject()"
>

  <p-header>
      <span style="margin-left: 10px">Create <span *ngIf="newProjectForm.controls['projectId'].value">Linked</span>
        <span *ngIf="!newProjectForm.controls['projectId'].value">New</span> Project</span>
      <span (click)="cancelCreateProject()" style="float: right; cursor: pointer;">&#10006;</span>
  </p-header>
  <div class="a-info-card">
    <div style="background: #F5B74E"
         class="project-header-icon d-flex justify-content-center align-items-center">
      <i class="icon-assignment_24px"></i>
    </div>
    <div class="a-info-card-data">
      <div class="a-info-data-left">
        <span class="a-info-title">{{workspace.cedantName}}</span>
        <span class="a-info-subtitle">{{workspace.uwYear}} - {{workspace.workspaceName}}</span>
      </div>
      <div class="a-info-data-right"><span class="a-info-caption">{{workspace.workSpaceId}}</span></div>
    </div>
  </div>
  <div class="a-form-control" [formGroup]="newProjectForm" style="margin-top: 16px;">
    <div *ngIf="newProjectForm.controls['projectId'].value" class="a-form-input-wrapper">
      <label class="label-input">Project ID</label>
      <input style="margin-bottom:15px" class="a-textfield-standard a-textfield-label" [attr.disabled]="true"
             placeholder="Project ID" formControlName="projectId"/>
    </div>
    <div class="a-form-input-wrapper">
      <label class="label-input">Project Name</label>
      <input style="margin-bottom:15px" class="a-textfield-standard a-textfield-label"
             placeholder="Insert Name" formControlName="name"/>
    </div>

    <div class="a-form-input-wrapper">
      <label class="textarea-label">Description</label>
      <textarea style="margin-bottom:15px; background-color: #f4f6fc;" rows="4" nz-input placeholder="Insert Description"
                formControlName="description"></textarea>
    </div>

    <div class="a-form-input-wrapper">
      <label class="label-input">Created By</label>
      <input class="a-textfield-standard a-textfield-label" [attr.disabled]="true" placeholder="Insert Name" formControlName="createdBy"/>
    </div>

    <div class="a-form-date-control a-datepicker-standard">
      <div class="a-form-input-wrapper">
        <label class="label-input">Reception Date</label>
        <p-calendar formControlName="receptionDate" placeholder="Select Date" [showIcon]="true"></p-calendar>
      </div>
      <div class="a-form-input-wrapper">
        <label class="label-input">Due Date</label>
        <p-calendar formControlName="dueDate" placeholder="Select Date" [showIcon]="true"></p-calendar>
      </div>
    </div>

  </div>

  <p-footer>
    <div class="a-control-buttons">
      <button class="a-button-text-cancel" (click)="cancelCreateProject()">CANCEL</button>
      <button [ngClass]="{'a-buttons-contained-disabled' : !newProjectForm.valid, 'a-buttons-contained': newProjectForm.valid}"
              [disabled]="!newProjectForm.valid" (click)="createUpdateProject()">CREATE</button>
    </div>
  </p-footer>
</p-dialog>
