:host {
  width: 100%;
  display: flex;
  background-color: #F4F6FC;

  .plt-browser-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #F4F6FC;
    width: 100%;
    height: calc(100vh - 196px);
  }

  .my-tabs {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 100%;

    .PLTs-content {
      background-color: #FFFFFF;
      padding: 0 0 4px 4px !important;
      position: relative;
      flex: 1 1 auto;
    }

    .tab-set-right {
      display: flex;
      flex-flow: column;
      align-items: stretch;
      flex: 1;
    }
  }

}

/** ==================================================
  Table Design
====================================================== **/

.epMetric-delta {
  font-size: 12px;
}

:host ::ng-deep {
  td {
    user-select: none;
  }
}

.table-design {
  ::ng-deep {
    .ant-table-thead > tr > th .ant-table-column-sorters:hover::before {
      background-color: #EFEFEF;
    }

    .ui-table-scrollable-view.ui-table-frozen-view {
      .ui-table-scrollable-header.ui-widget-header {
        overflow: visible;
      }
    }

    .ui-table-scrollable-view.ui-table-frozen-view {
      border-right: 5px solid #E3E3E3;
    }

    .icon-check {
      background-color: #0700CF;
      color: #fff;
      border-radius: 25px;
      font-size: 16px;
    }

    .ui-table-thead {
      th {
        color: rgba(0, 0, 0, 0.48) !important;
        background-color: transparent;
        outline-color: #F3F3F3;
        font-size: 12px;
        font-weight: bold;
        font-family: Rubik;
        height: 36px;
        border: none;
        padding: 0 2px !important;
        overflow: visible;

        .header-tab {
          display: flex;

          i {
            font-size: 22px;
          }
        }

        .filter-input {
          width: 100%;
          background-color: #f9f9f9;

          i {
            width: 10%;
            margin-left: 5px;
            background-color: #F5F5F5;
          }

          input {
            padding: 0px 1px 0px 1px;
            width: 63%;
            background-color: #f9f9f9;
            border: none;
            height: 25px;

            &:focus {
              outline: 0;
            }
          }
        }

        .ui-sortable-column-icon {
          color: #848484 !important;
        }

        .icon-sort-amount-down {
          font-size: 28px;
          margin-left: 2px;
          cursor: pointer;
        }
      }

      .ant-checkbox-indeterminate .ant-checkbox-inner {
        background-color: #0700cf;
        border-color: #0700cf;
      }

      .ant-checkbox-indeterminate .ant-checkbox-inner::after {
        height: 4px;
        background-color: #ffffff;
      }

      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #0700cf;
        border-color: #0700cf;
      }

      .checkBoxHead div {
        display: flex;
      }

      tr:nth-child(2n + 1) {
        th {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
      }
    }

    .ui-table-tbody {
      .ant-checkbox-checked .ant-checkbox-inner {
        background-color: #0700cf;
        border-color: #0700cf;
      }

      tr {
        background-color: #fff !important;
      }

      tr.active_plt_item {
        background-color: #fcf9d6 !important;
      }

      tr.opened_plt_item {
        background-color: #E9E9E9 !important;
      }

      tr:hover {
        background-color: #F7F8FD !important;
      }


      td {
        padding: 0px !important;
        cursor: pointer;
        font-size: 14px;
        height: 51.47px !important;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
        user-select: none;

        .text-ellipsis {
          width: 100%;
          // height: 51.47px !important;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          /*display: flex;*/
          align-items: center;
        }

        .text-ellipsis-pure {
          width: 100%;
          height: 35.47px !important;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: flex;
          align-items: center;
        }

        .td-wrapper-tags {
          padding: 4px 0px 0px 5px !important;
          position: relative;
          top: -4px;

          .tag-el {
            border-radius: 29px;
            font-size: 14px;
            margin-left: -7px;
            padding: 0px 7px 0px 7px;
            border: 2px solid white;
          }

          .tag-ellipsis {
            background-color: #0CB79B;
            border-radius: 25px;
            color: white;
            font-size: 14px;
            text-align: center;
            border: 2px solid white;
            margin-left: -7px;
          }
        }
      }

      .ui-contextmenu-selected {
        color: inherit !important;
      }

      tr.active_contract_item {
        background-color: #FCF9D6 !important;
      }

      tr.selected_contract_item {
        background-color: #E9E9E9 !important;
      }
    }
  }
}

.table-design-sp {
  ::ng-deep {
    .ui-table-thead {
      th {
        background-color: #FFFFFF;
      }
    }
  }
}
