<div class="plt-browser-wrapper">
  <div class="a-app-wrapper">
    <div class="a-app-header">
      <h4>Calibration</h4>
    </div>
    <div class="my-tabs tab-set-right table-design table-design-sp" (resized)="detectChanges()" #dtContainer>
      <app-calibration-new-table
              [wsIdentifier]="wsIdentifier"
              [data]="data"
              [epMetrics]="epMetrics"
              [adjustments]="adjustments"
              [tableConfig]="tableConfig"
              [columnsConfig]="columnsConfig"
              [constants]="constants"
              [status]="status"
              [selectedStatusFilter]="selectedStatusFilter"
              [exchangeRates]="exchangeRates"
              [tableWidth]="dtContainer.offsetWidth + 'px'"
              (actionDispatcher)="handleTableActions($event)"
      ></app-calibration-new-table>
    </div>
  </div>
</div>

<calib-col-manager
                *ngIf="isFrozenManageColumnsVisible"
               [visibleList]="(tableConfig.isExpanded) ? visibleColumns : visibleFrozenColumns"
               [availableList]="(tableConfig.isExpanded) ? availableColumns : availableFrozenColumns"
               (actionDispatcher)="handleManageColumnsActions($event)">
</calib-col-manager>

<app-adjustment-pop-up-new
  *ngIf="isAdjustmentPopUpVisible"
  [adjustment]="selectedAdjustment"
  [adjustmentTypes]="adjustmentTypes"
  [basis]="basis"
  (actionDispatcher)="handleAdjustmentPopUp($event)"
></app-adjustment-pop-up-new>

<app-return-period-pop-up
  *ngIf="isRPPopUpVisible"
  [returnPeriodConfig]="returnPeriodConfig"
  [rpValidation]="rpValidation"
  (actionDispatcher)="handleReturnPeriodPopUp($event)"
></app-return-period-pop-up>

<app-add-remove-pop-up-new
        *ngIf="isAddRemovePopUpVisible"
        [addRemovePopUpConfig]="addRemovePopUpConfig"
        [data]="data"
        (actionDispatcher)="handleAddRemovePopUp($event)"
>
</app-add-remove-pop-up-new>
