
nz-layout {
  height: 90%;

  .top-separator {
    background-color: #06B8FF;
    height: 20px;
    width: 101%;
  }

  .right-column {
    background-color: #FFFFFF;
    height: 100%;
    ::ng-deep .ant-tabs-tab {
      font-size: 10px;
      letter-spacing: 0.08px;
      line-height: 10px;
      text-align: center;
    }
    ::ng-deep .ant-tabs-tab-active{
      color: #0700CF;
    }
    ::ng-deep .ant-tabs-ink-bar{
      background-color: #0700CF;
    }
  }

  .title-section {
    color: rgba(0, 0, 0, 0.87);
    font-size: 34.54px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 41px;
    margin-top: 50px;
    h4 {
      color: rgba(0, 0, 0, 0.38);
      font-family: Rubik;
      font-size: 24.38px;
      line-height: 29px;
    }
  }

  .search-table {
    background-color: #FFFFFF;
    height: 350px;
    th {
      line-height: 5px !important;
      color: rgba(0, 0, 0, 0.38);
      font-size: 12px;
      letter-spacing: 0.08px;
      line-height: 14px;
    }
  }

  .filter-input {
    width: 100%;
    background-color: #F5F5F5;
    i {
      width: 10%;
      margin-left: 5px;
      background-color: #F5F5F5;
    }
    input {
      width: 80%;
      background-color: #F5F5F5;
      border: none;
      height: 25px;
    }
  }

}



