<nz-layout>
  <div class="row top-separator"></div>
  <div class="row" style="height: 100%; width: 100%">
    <div class="col-md-2">
      <h3 style="margin-left: 20px" class="title-section">Filters</h3>
    </div>
    <div class="col-md-7">
      <h3 class="title-section">More results</h3>
      <table class="table search-table">
        <thead>
        <tr>
          <th>ID</th>
          <th>Country</th>
          <th colspan="2">Cedant</th>
          <th>Uw Year</th>
          <th colspan="2">Workspace Context</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
          <th>
            <div class="filter-input">
              <i class="icon-search"></i>
              <input type="text">
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 right-column">

      <div class="title-section">
        <h3>Workspace detail</h3>
        <h4>Name of the workspace</h4>
      </div>

      <nz-tabset>
        <nz-tab nzTitle="Summary">

        </nz-tab>
        <nz-tab nzTitle="History Lineage">

        </nz-tab>

      </nz-tabset>

    </div>
  </div>
</nz-layout>
