<app-left-menu></app-left-menu>
<div class="app-wrapper">
  <div class="app-header">
    <h4>Clone Workspace assets</h4>
  </div>
  <div class="app-body">
    <ng-container [ngSwitch]="activeSubTitle">
      <div class="box-container" *ngSwitchCase="0" style="padding: 0 0;">
        <div class="box-item" style="background-color: #e5e9fa;width: 100%;">
          <div style="width: 812px;margin: auto;">
            <span class="subtitle-3">
              Summary of assets being cloned:
            </span>
            <div class="plts-detail-boxes">
              <div *ngFor="let summaryItem of ( cloneConfig.summary | keys ) " class="box">
                <div class="left" [ngStyle]="{ 'background-color': cloneConfig.summary[summaryItem].color }">
                  <i [ngClass]="cloneConfig.summary[summaryItem].icon"></i>
                </div>
                <div class="right">
                  <div class="regular1">{{summaryItem}}</div>
                  <span class="regular">{{cloneConfig.summary[summaryItem].value}}</span>
                </div>
              </div>
              <div *ngIf="from.wsId" class="box edit-box">
                <i class="icon-down-arrow"  (click)="editPlts()"></i>
                <span class="body-3" (click)="editPlts()">
                  Edit PLT List
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="box-item" style="width: 780px;padding-bottom: 25px;">

          <span class="subtitle-4">
            Cloning from:
          </span>
          <div style="display: flex;flex-wrap: nowrap;" [ngStyle]="{'background-color': from.detail ?  '#fff' : '#e5e9fa','justify-content': from.detail ? 'unset' : 'center' }">
            <ng-container *ngIf="from.detail">
              <div class="left-box">
                {{from.detail}}
              </div>
              <div class="right-box">
                <button class="a-buttons-contained override">
                  <i (click)="openSearchPopUp('from')" class="icon-search_24px"></i>
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="!from.detail">
              <button (click)="openSearchPopUp('from')" class="a-buttons-contained override" style="margin: 9px">
                <i class="icon-search_24px"></i>
                Select workspace
              </button>
            </ng-container>
          </div>
        </div>
        <div class="box-item" style="width: 780px;padding: 0 25px;margin: 0;">
          <div style="margin: 0 0 0 0; padding: 0 0 0 0; display: flex;justify-content: flex-end;">
            <i style="cursor:pointer;font-size:27px;color: var(--primary-1);transform: rotate(90deg);margin-right: 14px" class="icon-compare_arrows_24px" (click)="swapCloneItems()"></i>
          </div>
        </div>
        <div class="box-item" style="width: 780px;padding-top: 0;margin: 0;">
          <span class="subtitle-4">
            Cloning to:
          </span>
          <div style="display: flex;flex-wrap: nowrap;" [ngStyle]="{'background-color': to?.detail ?  '#fff' : '#e5e9fa','justify-content': to.detail ? 'unset' : 'center'}">
            <ng-container *ngIf="to.detail">
              <div class="left-box">
                {{to.detail}}
              </div>
              <div class="right-box">
                <button class="a-buttons-contained override">
                  <i (click)="openSearchPopUp('to')" class="icon-search_24px"></i>
                </button>
              </div>
            </ng-container>
            <ng-container *ngIf="!to.detail">
              <button (click)="openSearchPopUp('to')" class="a-buttons-contained override" style="margin: 9px">
                <i class="icon-search_24px"></i>
                Select workspace
              </button>
            </ng-container>
          </div>
        </div>
        <div class="box-item" style="width: 780px;">
          <div class="default-radio">
            <nz-radio-group [(ngModel)]="projectForClone">
              <label nz-radio [nzValue]="-1" class="body-2">Keep Source Project Name(s)</label>
              <label nz-radio [nzValue]="0" class="body-2" [ngClass]="{'label-border': projectForClone == 0}">
                Clone into New Project
                <div class="toHide"></div>
              </label>
              <label nz-radio [nzValue]="1" class="body-2" [ngClass]="{'label-border': projectForClone == 1}">
                Clone into Existing Project
                <div class="toHide"></div>
              </label>
            </nz-radio-group>
          </div>
          <div style="display: flex;justify-content: center">
            <div *ngIf="projectForClone == 0" class="input-group" style="position: relative;display: flex;flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 13px;
    bottom: 3px;
    z-index: 0;
    border: 3px solid var(--primary-1);
">
              <input class="a-textfield-standard" type="text" placeholder="Project name" style="margin: 0 16px;">
              <input class="a-textfield-standard" type="text" placeholder="Project description" style="margin: 0 16px;">
            </div>
            <div *ngIf="projectForClone == 1" class="input-group" style="position: relative;display: flex;flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 13px;
    bottom: 3px;
    z-index: 0;
    border: 3px solid var(--primary-1);
">
              <nz-select
                style="width: 270px;"
                nzShowSearch
                class="a-dropdown-small"
                nzPlaceHolder="Choose target workspace"
              >
                <nz-option nzLabel="17p3398" nzValue="17p3398"></nz-option>
                <nz-option nzLabel="17p3398" nzValue="17p3398"></nz-option>
                <nz-option nzLabel="17p3398" nzValue="17p3398"></nz-option>
                <nz-option nzLabel="17p3398" nzValue="17p3398"></nz-option>
                <nz-option nzLabel="17p3398" nzValue="17p3398"></nz-option>
              </nz-select>
            </div>
          </div>
        </div>
        <div class="box-item" style="width: 880px;margin: 0;padding: 0;">
          <nz-divider></nz-divider>
        </div>
        <div class="box-item" style="width: 780px;">
          <div style="margin-top: 20px; display: flex;justify-content: flex-end;">
            <button (click)="reset()" [ngClass]="{'a-button-text': activeSubTitle === 0, 'a-buttons-outlined': activeSubTitle != 0}">{{ activeSubTitle === 0 ? 'reset' : 'submit'}}</button>
            <button class="a-buttons-contained" style="margin-left: 10px;">clone</button>
            <button class="a-buttons-contained" style="margin-left: 10px;">clone AND open</button>
          </div>
        </div>
      </div>
      <div class="box-container" *ngSwitchCase="1">

      </div>
      <div class="box-container" *ngSwitchCase="2">
        target
      </div>
    </ng-container>
  </div>
</div>

<app-workspace-project-popup
  [isVisible]="searchWorkSpaceModal"
  [selectionStep]="'plt'"
  [multiSteps]="multiSteps"
  [stepConfig]="stepConfig"
  (onVisibleChange)="searchWorkSpaceModal= $event"
  (onSelectWorkspace)="setSelectedWs(cloneConfig.currentSourceOfItems,$event)"
  (onSelectItems)="setSelectedPlts(cloneConfig.currentSourceOfItems,$event)"
></app-workspace-project-popup>
