<ul nz-menu [nzMode]="'inline'"  [nzInlineCollapsed]="state.leftNavbarIsCollapsed">
  <li (click)="collapse($event)" style="text-align: right"  nz-menu-item nz-tooltip nzPlacement="right">
          <span  title>
            <i nz-icon>
              <i *ngIf="!state.leftNavbarIsCollapsed" (click)="collapse($event)" class="icon-chevron_left_24px"></i>
              <!--i *ngIf="!isCollapsed" (click)="collapse($event)" nz-icon nzType="double-left" nzTheme="outline"></i-->
              <i *ngIf="state.leftNavbarIsCollapsed" (click)="collapse($event)" class="icon-chevron_right_24px"></i>
            </i>
          </span>
  </li>
  <li nz-submenu="" nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Workspace' : ''">
          <span title>
            <i nz-icon><i class="icon-window-section"></i></i>
            <span>Workspace</span>
          </span>
    <ul>
      <li (click)="routerNavigate(null)" nz-menu-item >Projects</li>
      <li (click)="routerNavigate('Contract')" nz-menu-item>Contract</li>
      <li (click)="routerNavigate('Activity')" nz-menu-item>Activity</li>
    </ul>
  </li>
  <li (click)="routerNavigate('PltBrowser')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'PLT Manager' : ''">
          <span title>
            <i nz-icon><i class="icon-file-search-alt"></i></i>
            <span>PLT Manager</span>
          </span>
  </li>
  <!--li (click)="routerNavigate('JobManager')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Job Manager' : ''">
          <span title>
            <i nz-icon><i class="icon-bag-alt"></i></i>
            <span>Job Manager</span>
          </span>
  </li-->
  <hr class="col-xs-12">
  <li class="pr-1" nz-submenu nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Data sources Import' : ''">
          <span title>
            <i style="z-index: 99" nz-icon><i class="icon-call_merge_24px"></i></i>
            <span (click)="riskLinkImportNavigation()">Data sources Import</span>
          </span>
    <ul>
      <li (click)="routerNavigate('RiskLink')" nz-menu-item>Risk Link Import</li>
      <li (click)="routerNavigate('FileBasedImport')" nz-menu-item>File Based Import</li>
      <li (click)="routerNavigate('CloneData')" nz-menu-item>Clone Data</li>
    </ul>
  </li>
  <hr class="col-xs-12">
  <li (click)="routerNavigate('Exposures')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Exposure' : ''">
          <span title>
            <i nz-icon><i class="icon-adjust-half"></i></i>
            <span>Exposure</span>
          </span>
  </li>
  <li (click)="routerNavigate('Results')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Results' : ''">
          <span title>
            <i nz-icon><i class="icon-chart-growth"></i></i>
            <span>Results</span>
          </span>
  </li>
  <li (click)="routerNavigate('Calibration')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Calibration' : ''">
          <span title  >
            <i nz-icon><i class="icon-sitemap"></i></i>
            <span>Calibration</span>
          </span>
  </li>
  <hr class="col-xs-12">
  <li (click)="routerNavigate('Inuring')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Inuring' : ''">
          <span title>
            <i nz-icon><i class="fa fa-code-fork"></i></i>
            <span>Inuring</span>
          </span>
  </li>
  <li (click)="routerNavigate('ScopeCompleteness')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Scope Of Completeness' : ''">
          <span title>
            <i nz-icon><i class="icon-location_searching_24px"></i></i>
            <span>Scope of Completeness</span>
          </span>
  </li>
  <li (click)="routerNavigate('Accumulation')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Accumulation' : ''">
          <span title>
            <i nz-icon><i class="icon-focus-add"></i></i>
            <span>Accumulation</span>
          </span>
  </li>
</ul>
