@import "~src/assets/scss/variables";

:host {
  ::ng-deep {
    /*.ant-menu-root.ant-menu-vertical{
      padding-bottom: 40vh;
    }
    .ant-menu-root.ant-menu-inline{
      padding-bottom: 40vh;
    }*/
    .ant-menu-inline .ant-menu-item::after {
      border-right: 3px solid $color-secondary !important;
    }

    ul.ant-menu.ant-menu-root.ant-menu-light.ant-menu-inline {
      height: 100%;
    }

    hr {
      height: 1px !important;
      margin: 0;
    }

    .ant-menu-submenu > .ant-menu {
      background-color: #F4F6FC;
    }

    .ant-menu .ant-menu-root .ant-menu-light .ant-menu-inline  {
      padding-right: 0.5em;
    }

    li {
      ::ng-deep {
        i {
          font-size: 1.4rem;
          height: 22px;
          width: 25px;
        }
      }
    }
  }
}
