<ul [nzInlineCollapsed]="isCollapsed" [nzMode]="'inline'" nz-menu>
  <li (click)="collapse($event)" nz-menu-item nz-tooltip nzPlacement="right" style="text-align: right">
          <span title>
            <i nz-icon>
              <i *ngIf="!isCollapsed" class="icon-chevron_left_24px"></i>
              <!--i *ngIf="!isCollapsed" (click)="collapse($event)" nz-icon nzType="double-left" nzTheme="outline"></i-->
              <i *ngIf="isCollapsed" class="icon-chevron_right_24px"></i>
            </i>
          </span>
  </li>
  <li [nzTitle]="isCollapsed ? 'Workspace' : ''" nz-submenu="" nz-tooltip nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-window-section"></i></i>
            <span>Workspace</span>
          </span>
    <ul>
      <li (click)="routerNavigate(null)" nz-menu-item>Projects</li>
      <!--<li (click)="routerNavigate('Contract')" nz-menu-item>Contract</li>-->
      <!--<li (click)="routerNavigate('Activity')" nz-menu-item>Activity</li>-->
    </ul>
  </li>
  <!--<li (click)="routerNavigate('ScopeCompleteness')" nz-menu-item nz-tooltip nzPlacement="right"-->
      <!--[nzTitle]="isCollapsed ? 'Scope Of Completeness' : ''">-->
          <!--<span title>-->
            <!--<i nz-icon><i class="icon-location_searching_24px"></i></i>-->
            <!--<span>Scope & Completeness</span>-->
          <!--</span>-->
  <!--</li>-->

  <li (click)="routerNavigate('PltBrowser')" [nzTitle]="isCollapsed ? 'PLT Manager' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-file-search-alt"></i></i>
            <span>PLT Manager</span>
          </span>
  </li>
  <!--li (click)="routerNavigate('JobManager')" nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="state.leftNavbarIsCollapsed ? 'Job Manager' : ''">
          <span title>
            <i nz-icon><i class="icon-bag-alt"></i></i>
            <span>Job Manager</span>
          </span>
  </li-->
  <!--<hr class="col-xs-12">
  <li [nzTitle]="isCollapsed ? 'Data sources Import' : ''" class="pr-1" nz-submenu nz-tooltip nzPlacement="right">
          <span title>
            <i style="z-index: 99" (click)="riskLinkImportNavigation()" nz-icon><i class="icon-call_merge_24px"></i></i>
            <span (click)="riskLinkImportNavigation()">Data Sources Import</span>
          </span>
    <ul>
      <li (click)="routerNavigate('RiskLink')" nz-menu-item>RiskLink Import</li>
      <li (click)="routerNavigate('FileBasedImport')" nz-menu-item>File-Based Import</li>
      &lt;!&ndash;      <li (click)="routerNavigate('CloneData')" nz-menu-item>Clone Data</li>&ndash;&gt;
    </ul>
  </li>
  <hr class="col-xs-12">
  <li (click)="routerNavigate('CloneData')" [nzTitle]=" isCollapsed ? 'Clone Data' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-database"></i></i>
            <span>Clone Data</span>
          </span>
  </li>
  <li (click)="routerNavigate('Exposures')" nz-menu-item nz-tooltip nzPlacement="right"
      [nzTitle]="isCollapsed ? 'Exposure' : ''">
          <span title>
            <i nz-icon><i class="icon-adjust-half"></i></i>
            <span>Exposures</span>
          </span>
  </li>
  <li (click)="routerNavigate('Results')" [nzTitle]="isCollapsed ? 'Results' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-chart-growth"></i></i>
            <span>Results</span>
          </span>
  </li>
  <li (click)="routerNavigate('Calibration')" [nzTitle]="isCollapsed ? 'Calibration' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-sitemap"></i></i>
            <span>Calibration</span>
          </span>
  </li>
  <hr class="col-xs-12">
  <li (click)="routerNavigate('Inuring')" *ngIf="status === 'treaty'" [nzTitle]="isCollapsed ? 'Inuring' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="fa fa-code-fork"></i></i>
            <span>Inuring</span>
          </span>
  </li>
  <li (click)="routerNavigate('Accumulation')" [nzTitle]="isCollapsed ? 'Accumulation' : ''" nz-menu-item nz-tooltip
      nzPlacement="right">
          <span title>
            <i nz-icon><i class="icon-focus-add"></i></i>
            <span>Accumulation</span>
          </span>
  </li>-->
</ul>
