@import "~src/assets/scss/variables";

::ng-deep i.ant-menu-submenu-arrow{
  right: 0px !important;
}

.workspace-list-item{
  cursor: pointer;
}

.workspace-list-item:hover{
  //background-color: $color-dark-green;
}

.ws-icon{
  color: $color-secondary;
}

.ws-item{
  background-color: #FCF9D6;
  margin: 5px 0px;
  padding: 3px 5px;
}
