.divided-col {
  border-left: 8px solid #F4F6FC !important;
}

.name-grain {
  font-weight: bold;
}

.burger-menu {
  font-size: 25px;
  margin-right: 15px;
  color: cornflowerblue;
  display: none;
}

.burger-menu-visible{
  font-size: 25px;
  margin-right: 15px;
  color: cornflowerblue;
  display: block;
}

.row-hover:hover {
  background-color: #F7F8FD !important;

  .burger-menu {
    display: block;
  }
}

.center-header {
  text-align: center;
}

.arrow-key-design {
  color: #007AD9;
  font-size: 28px;
  margin-top: 4px;
}

.checkbox-override-wrap {
  text-align: center;

  .unCheckedBoxTab {
    border: 1px solid;
    font-size: 20px !important;
    color: darkgray;
  }

  .checkedBoxTab {
    background-color: #0700CF;
    color: #FFFFFF;
  }
}
