<form [formGroup]="contractFilterFormGroup">

  <nz-input-group nz-popover [nzContent]="searchDropdown" nzTrigger="click" style="z-index: 1001" [nzPrefix]="prefixIconTag"
                  [nzSuffix]="suffixIconSearch">
    <input (keydown)="filterContracts($event)" formControlName="globalKeyword"
           class="search-input" type="text" nz-input placeholder="Search">
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <!-- @TODO Update the placment -->
    <i style="cursor: pointer" class="icon-search_24px"></i>
  </ng-template>
  <ng-template #prefixIconTag>
    <i style="cursor: pointer" class="icon-pricetag-alt"></i>
  </ng-template>

  <ng-template #searchDropdown>
    <div nz-menu style="height: 300px; overflow: auto; border-radius: 10px; width: 850px">
      <nz-table [nzVirtualItemSize]="54" #basicTable [nzData]="contracts">
        <thead>
        <tr>
          <th nzShowFilter [nzFilters]="filterWorkspance" (nzFilterChange)="updateFilter($event,'workspaceId')">
            <nz-input-group [nzPrefix]="prefixIconSearch">
              <input formControlName="workspaceId" type="text" nz-input placeholder="Workspace ID">
            </nz-input-group>
          </th>
          <th>
            <nz-input-group [nzPrefix]="prefixIconSearch">
              <input formControlName="workspaceName" type="text" nz-input placeholder="Workspace Name">
            </nz-input-group>
          </th>
          <th nzShowFilter [nzFilters]="filterUwy" (nzFilterChange)="updateFilter($event,'uwYear')">
            <nz-input-group [nzPrefix]="prefixIconSearch">
              <input formControlName="uwYear" type="text" nz-input placeholder="UwYear">
            </nz-input-group>
          </th>
          <th>
            <nz-input-group [nzPrefix]="prefixIconSearch">
              <input formControlName="treatyId" type="text" nz-input placeholder="Treaty Id">
            </nz-input-group>
          </th>
          <th>
            <nz-input-group [nzPrefix]="prefixIconSearch">
              <input formControlName="cedantName" type="text" nz-input placeholder="Cedant Name">
            </nz-input-group>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td [innerHtml]="data.workspaceId | boldKeyword: contractFilterFormGroup.get('workspaceId').value"></td>
          <td [innerHtml]="data.workspaceName | boldKeyword: contractFilterFormGroup.get('workspaceName').value"></td>
          <td [innerHtml]="data.uwYear | boldKeyword: contractFilterFormGroup.get('uwYear').value"></td>
          <td [innerHtml]="data.treatyId | boldKeyword: contractFilterFormGroup.get('treatyId').value"></td>
          <td [innerHtml]="data.cedantName | boldKeyword: contractFilterFormGroup.get('cedantName').value"></td>
        </tr>
        </tbody>
      </nz-table>
      <ng-template #prefixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>
  </ng-template>
</form>
