:host {
  .search-container {
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
  }
}



.app-wrapper {
  background-color: #f5f5f5;
  border: 10px solid #06B8FF;
  border-top: 30px solid #06B8FF;
  width: 100%;
  height: calc(100vh - 59px);
  overflow: auto;

  .top-separator {
    text-align: center;
    vertical-align: middle;
    margin-top: -28px;
    line-height: 30px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;

    span {
      margin: auto;
    }
  }

  .app-header {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;

    .app-title-manager {
      display: flex;
      justify-content: space-between;
      height: 90px;
      color: rgba(0, 0, 0, 0.75);
      font-family: Rubik;
      font-size: 34.54px;
      font-weight: 200;
      letter-spacing: 0.25px;
      line-height: 41px;
      display: flex;
      padding-top: 25px;

      button {
        right: 0;
        top: 110px;
        background-color: #f5f5f5;
        font-size: 20px;
        width: 45px;
        height: 45px;
        border: 1px solid rgba(0,0,0,0.1);
      }
      ::ng-deep {
        .ant-select {
          margin-right: 70px;
        }
        .ant-select-selection {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .app-body {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
  }
}

.table-ngPrime {
  ::ng-deep {
    .ui-table-scrollable-body {
      overflow: auto;
    }

    .bordered-col{
      border-right: 5px solid #F5F5F5;
    }

    .ui-table-thead {
      th {
        padding: 15px 10px 7px 7px !important;
        font-size: 12px;
        vertical-align: top;
        color: rgba(0, 0, 0, 0.38) !important;
        background-color: #fff !important;
        font-family: Rubik;
        height: 45px;
        border: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;

        .status-border {
          padding-bottom: 20px;
          border-right: 1px solid rgba(0,0,0,0.15);
        }

        .search-bar-table {
          display: flex;
          background-color: #F5F5F5;

          input {
            width: 80%;
            background-color: #F5F5F5;
            height: 24px;
            font-size: 10px;
            border: none;

            &:focus {
              outline: 0;
            }
          }
        }

        .icon-sort-amount-down {
          font-size: 28px;
          margin-left: 2px;
          cursor: pointer;
        }
      }
    }

    .ui-table-tbody {
      tr {
        background-color: #fff !important;
      }

      td {
        padding-left: 7px !important;
        cursor: pointer;
        font-size: 12px;
        border: none !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
        user-select: none;

        .status-border {
          border-right: 1px solid rgba(0,0,0,0.15);
        }

        .td-wrapper {
          width: 100%;
          height: 40px;
          align-items: center;
        }

        .td-wrapper-append {
          height: auto !important;
        }

        .ant-progress-text {
          display: block;
        }
        .ant-progress-circle-path {
          stroke: #03DAC4;
          stroke-width: 8px;
        }

        .status-high , .status-medium, .status-low {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          margin-right: 10px;
          display: flex;
        }

        .status-high {
          background-color: #D0021B;
        }

        .status-medium {
          background-color: orange;
        }

        .status-low {
          background-color: #F8E71C;
        }

        .context-wrapper {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          padding-top: 5px;

          .context-title {

          }

          .context-subtitle {
            font-size: 10px;
            color: rgba(0,0,0,0.4);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }

      .ui-contextmenu-selected {
        color: inherit !important;
      }

      tr.active_contract_item {
        background-color: #FCF9D6 !important;
      }

      tr.selected_contract_item {
        background-color: #E9E9E9 !important;
      }
    }
  }
}

.data-append-list {
  height: auto;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  .data-append-item {
    display: flex;
    height: 35px;
    width: 100%;
    padding: 5px 15px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    .list-item-left {
      display: flex;
      align-items: center;

      .item-list-title-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        width: 70%;
        flex: 1;
        .item-list-title {
          height: 15px;
          color: rgba(0, 0, 0, 0.87);
          font-family: Rubik;
          font-size: 13px;
          letter-spacing: 0.08px;
          line-height: 24px;
        }

        .item-list-subtitle {
          height: 24px;
          color: rgba(0, 0, 0, 0.6);
          font-family: Rubik;
          font-size: 11px;
          letter-spacing: 0.08px;
          line-height: 24px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      ::ng-deep {
        .ant-progress-text {
          display: block;
          color: #03DAC4;
        }

        .ant-progress-text {
          display: none;
        }

        .ant-progress-circle-path {
          stroke: #03DAC4;
          stroke-width: 8px;
        }
      }
    }
  }
  .list-item-info {
    display: flex;
    align-items: center;

    .task-duration {
      color: rgba(0, 0, 0, 0.38);
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex: 0.9;
      white-space: nowrap;
      padding-left: 4px;
    }

    i {
      margin-left: 8px;
      font-size: 18px;
    }
  }
}

.detail-Job-wrapper {
  background-color: #fff;
  padding: 20px;
}

.detail-Job {
  padding: 25px;
  border: 1px solid rgba(0,0,0,0.1);
  .detail-Job-title {
    font-size: 18px;
    font-weight: bold;
  }
}

.pause-icon-status {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.38);
}

.dropdown-menu-selector {
  .dropdown-icons {
    font-size: 17px;
    margin-right: 8px;
  }
}

.loading-text {
  height: 20px;
  background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
  background-size: 400% 100%;
  -webkit-animation: ant-skeleton-loading 1.4s ease infinite;
  animation: ant-skeleton-loading 1.4s ease infinite;
}

.label-wrapper {
  font-size: 12px;
  margin: 9px 12px 0 0;
  font-weight: bold;
}
