<div class="app-wrapper">
  <div nz-row class="row top-separator">
    <div nz-col nzSpan=24>
      <span>
        JOB MANAGER ENVIRONMENT &nbsp; <i class="icon-close_24px" (click)="navigateBack()"></i>
      </span>
    </div>
  </div>
  <div class="app-header">
    <p-contextMenu #cm [model]="items"></p-contextMenu>
    <span class="app-title">JOB Manager 1-50 of 348 results</span>
    <p-table  [value]="listOfData" #dt
              [columns]="tableColumn" [resizableColumns]="true"
              [scrollable]="true" [scrollHeight]="'500'" [rows]="50"
              [(contextMenuSelection)]="contextSelectedItem"
              [contextMenu]="cm" class="table-ngPrime"
              [loading]="loading"
    >
<!--      [totalRecords]="12" [showLoader]="false"(onLazyLoad)="loadDataOnScroll($event)" [lazy]="true"
      (scroll)="onElementScroll($event)" [virtualScroll]="true"   [virtualRowHeight]="50"-->
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col *ngFor="let col of columns" [ngStyle]="{'width': col?.width}">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr *ngIf="!sortable">
          <th *ngFor="let col of columns" pResizableColumn>
        <span [ngStyle]="{'visibility': col?.display ? 'unset' : 'hidden'}" style="display:flex">
          {{col?.header}}
          <ng-container *ngIf="col.type === 'checkbox'">
            <label style="margin-top:20px" nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
                   [nzIndeterminate]="indeterminate"></label>
            <i (click)="sort()" style="cursor: pointer;" nz-icon nzType="down" nzTheme="outline"></i>
          </ng-container>
        </span>
            <div class="search-bar-table" *ngIf="col?.filtered">
              <i class="fa fa-search" style="margin: 6px 4px 4px 6px"></i>
              <input pInputText type="text" (input)="filterCol($event.target.value, col?.filterParam)">
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
        <tr [pContextMenuRow]="rowData" [ngClass]="{'active_contract_item': rowData?.selected, 'selected_contract_item': rowData === currentSelectedItem}">
          <ng-container *ngFor="let col of columns">
            <td *ngIf="col?.type === 'checkbox'">
              <div style="display:flex">
                <label nz-checkbox [(ngModel)]="rowData.selected" (ngModelChange)="uncheckRow()"></label>
              </div>
            </td>
            <td *ngIf="col?.type === 'text'" (click)="selectRow(rowData, i)">
              <div style="display:flex">
                <i *ngIf="col?.type === 'date'" class="icon-calendar-alt"></i>
                <span [title]="rowData[col?.field]" class="text-wrapper">{{rowData[col?.field]}}</span>
              </div>
            </td>
            <td *ngIf="col?.type === 'progress'">
              <nz-progress [nzWidth]="35" [nzPercent]="rowData[col?.field]" nzType="circle"></nz-progress>
            </td>
            <td *ngIf="col?.type === 'object'">
              <div class="context-wrapper">
                <span class="context-title">{{rowData.context.data}}</span>
                <span class="context-subtitle">{{rowData.context.year}} - {{rowData.context.program}}</span>
              </div>
            </td>
            <td *ngIf="col?.type === 'status'">
              <div style="display: flex" *ngIf="rowData[col?.field]">
                <span class="status-true"></span>
                <span>High</span>
              </div>
              <div style="display: flex" *ngIf="!rowData[col?.field]">
                <span class="status-false"></span>
                <span>Low</span>
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:34px">
          <td [ngStyle]="{'width': col?.width}" *ngFor="let col of columns">
            <div class="loading-text"></div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
