:host {
  position: relative;
  display: block;
  height: 100%;

  .demo-chart {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.uw-units {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'UW Units';
      width: fit-content;
    }
  }
}

.renewal-periode {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'Renewal Periode';
      width: fit-content;
    }
  }
}

.country {
  ::ng-deep {
    .ant-select-selection__rendered::after {
      content: 'Country';
    }
  }
}


.title-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #0700cf;
  width: 310px;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;

  .edit-dashboard-section {
    width: 100%;

    input {
      width: 100%;
      color: rgba(0, 0, 0, 0.4);
      border: none;

      &:focus {
        outline: 0;
        border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
      }

      &:hover {
        border-bottom: 2px dotted rgba(0, 0, 0, 0.25);
      }
    }
  }

  .title-wrapper-name {
    flex: 1;
    cursor: pointer;
    user-select: none;
  }
}

.missing-icon-process-none {
  height: 20px;
  width: 20px;
  background-color: #EEEEEE;
  display: block;
  border-radius: 20px;
  margin: auto;
}

.menu-right-wrapper-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  display: flex;

  .icon-wrapper {
    i {
      font-size: 28px;
      margin-right: 5px;
    }

    .tag-number {
      font-size: 11px;
      color: #FFF;
      background-color: #f5222d;
      padding: 2px 7px;
      border-radius: 8px;
      position: relative;
      top: -18px;
      right: 16px;
    }

    .selected-Filter {
      color: #0700CF;
    }
  }

  .icon-wrapper-active {
    i {
      color: #0700CF;
    }
  }
}

.tab-index {
  cursor: pointer;
  color: rgba(0,0,0,0.5);
  font-size: 26px;
  margin: 8px 10px;
}

.widget-footer {
  display: flex;

  .filter-div {
    margin: 0 10px;
    display: flex;
    align-items: center;

    .filter-label {
      margin: 0 10px;
      color: rgba(0,0,0,0.5);
      font-size: 16.22px;
      font-weight: bold;
      font-family: rubik;
    }
  }
}

.dot-marker{
  height: 10px;
  width: 10px;
  display: flex;
  border-radius: 20px;
}
