.app-body {

  .active-body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    margin: 15px 0;
    background-color: #FFFFFF;

    .body-1 {
      color: rgba(0, 0, 0, 0.87);
      margin: 4px 0;
    }

    .item-wrapper {
      display: flex;
      flex-direction: column;
      margin: 5px 0;

      .border-wrap {
        display: flex;
        width: 100%;

        .border-wrap-inner {
          display: flex;
          justify-content: space-between;
          border: 1px solid rgba(0, 0, 0, 0.15);
          border-left: none;
          padding: 15px;
          width: 100%;
          cursor: pointer;
        }

        .item-left {
          display: flex;
          align-items: center;

          i {
            padding: 7px;
            color: #FFFFFF;
            border-radius: 20px;
            margin-right: 5px;
            font-size: 17px;
          }
        }

        .item-right {
          display: flex;
          align-items: center;

          nz-tag{
            background-color: #A4A4ED;
            color: #FFFFFF;
            height: 30px;
            line-height: 30px;
            vertical-align: middle;
            border-radius: 23px;
            display: flex;
            align-items: center;
            padding-right: 15px;

            i{
              margin-top: 2px;
              color: #FFFFFF;
              margin-right: 10px;
              font-size: 20px;
            }
          }

          i {
            font-size: 17px;
            color: #0700CF;
          }
        }
      }

      .item-project-info {
        border: 1px solid rgba(0, 0, 0, 0.15);

        table {
          width: 100%;

          thead {
            th {
              padding-left: 55px;
            }
          }

          tbody {
            td {
              padding-left: 55px;
              border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            }
          }
        }
      }
    }
  }
}

:host {
  width: 100%;
  height: max-content;
  display: flex;
  min-height: 100vh;
  background-color: #F4F6FC;
}

.app-body {
  display: flex;
  height:500px;
  background-color: #fff;
}
